[2016-11-17 18:11] lduh opened #1 "Swap lines in Configuration page"
Currently, we list total subscribers(in the MC account) under Data Uploaded, I'd recommend moving it as that might be misleading.

Currently:
Account Details
Username: DinoPets
Data uploaded to MailChimp:
Total Subscribers: 7798
Total Customers: 0
Total Products: 2042
Total Orders: 0
Total Carts: 0

Change to:
Account Details
Username: DinoPets
Total Subscribers: 7798
Data uploaded to MailChimp:
T

[2016-11-17 18:21] lduh opened #2 "Change icon for MailChimp"
In the sidebar: https://cl.ly/2n1Y3r1h1H1B

[2016-11-17 19:26] #1 closed, assigned to SantiParagarino

[2017-03-16 14:35] #2 closed, assigned to gonzaloebiz

[2017-03-17 20:23] lduh opened #3 "Products not syncing"
Products are not syncing, this impedes Orders sync as well.

[2017-03-18 03:10] gonzaloebiz opened #4 "Clean error don't work"

[2017-03-18 03:11] #4 closed, assigned to gonzaloebiz

[2017-03-18 03:12] #3 closed, assigned to gonzaloebiz

[2017-03-21 20:16] gonzaloebiz opened #5 "Error in mailchimp_errors table"
Not all the errors are saved in the table
Must use a a factory

[2017-03-21 20:16] gonzaloebiz opened #6 "The reset errors button not work"
The error button don't manage stores

[2017-03-21 20:17] gonzaloebiz opened #7 "Add the mailchimp_store_id to all auxiliar tables"

[2017-03-21 20:19] gonzaloebiz opened #8 "Add the download response link to error grid"

[2017-03-22 02:16] gonzaloebiz opened #9 "The error grid don't paginate"

[2017-03-22 02:19] #6 closed, assigned to gonzaloebiz

[2017-03-22 02:21] #5 closed, assigned to gonzaloebiz

[2017-03-22 02:23] #7 closed, assigned to gonzaloebiz

[2017-03-22 13:47] #9 closed, assigned to gonzaloebiz

[2017-03-22 16:30] gonzaloebiz opened #10 "APIKey management and store creation"
When the APiKey is changed, delete the old store and create a new one
Same when change the list.
Keep in mind the scope

[2017-03-30 18:34] lduh opened #11 "Purchases made via campaign not attributed to the campaign"
Purchases made via clickthrough a campaign are not correctly attributed.

To repro:
1. connect M2 to MC
2. create a campaign that includes a product link, send
3. clear cache/cookies/go incognito
4. open product email, click through (note url includes tracking: mc_cid=6091822d5b&mc_eid=1adac90a9b)
5. add to cart
6. navigate to another part of the store, add another item
7. complete purchase
8. not

[2017-03-30 19:01] lduh opened #12 "Store information not passing to MailChimp"
Store passed to MC:

  "id": "104.131.96.113_...",
      "list_id": "....",
      "name": "104.131.96.113_....",
      "platform": "Magento",
      "domain": "",
      "is_syncing": false,
      "email_address": "",
      "currency_code": "USD",
      "money_format": "",
      "primary_locale": "",
      "timezone": "",
      "phone": "",
      "address": {
        "address1": "",
        "address

[2017-03-30 19:35] lduh opened #13 "Newly added products not synced."
Newly added product is not added to store in MailChimp.

http://104.131.96.113/furmaid.html
https://cl.ly/2K251p2c2C3j

[2017-03-30 20:10] lduh opened #14 "Support guest abandoned carts."
M2 doesn't save abandoned carts for guest checkouts, we'd need to do a workaround to get these to pass to MailChimp.

This is an M2 issue, if they don't fix it we'll need a plugin workaround down the line.

[2017-04-03 16:03] lduh opened #15 "Pass platform as "magento2""
We need a different signifier than M1.

[2017-04-03 16:44] lduh opened #16 "Update order status when paid, shipped, refunded, cancelled."
This is required to send Order Invoices via Order Notifications in MailChimp.

After invoice, financial status should be "processing", etc. Documentation is here:https://docs.google.com/document/d/1C-p3GJGVfbos-GP6VUAZExdjr2I-O_mRZOsDAI5UoV8/edit

[2017-05-03 13:44] gonzaloebiz opened #17 "Invalid product image url when the product not have any image"

[2017-05-03 18:56] ciaobeau opened #18 "Installation of MC.js pixel"
In the ecommerce/stores endpoint there is now a nested object called connected_sites which provides a javascript snippet. This snippet needs to be installed on the user's ecommerce/site (loads on every page) so that MailChimp can insert javascript for features.  The snippet url is located in the site__script / url field.

For more details, pls see this document: https://docs.google.com/document/d/

[2017-05-04 14:48] lduh opened #19 "Use "MailChimp" instead of "Mailchimp""
https://cl.ly/3E1K002v1B10

On Stores page.

[2017-05-04 14:50] lduh opened #20 "Pull all lists for dropdown when creating a store"
https://cl.ly/1G1F2L2a1f3U

It looks like we're only pulling the first 10.

[2017-05-05 14:34] gonzaloebiz opened #21 "In the MailChimp Store, the street is not saved"

[2017-05-05 14:59] lduh opened #22 "List MC account and List"
On the MailChimp Stores page currently(v1.0.9): https://cl.ly/1y0w0p0j153k
It would be more helpful if we displayed MC account and List name in this grid.

It would be helpful if we can list it on the specific store page also, since the API key and list selection dropdown dispapear after the store is first created.

[2017-05-05 15:01] lduh opened #23 "Remove old warning message on Configuration"
v1.0.9
https://cl.ly/3u1Y0j2y3R1e

Caution message is old and no loger relevant, should be removed.

[2017-05-05 19:57] lduh opened #24 "MC Account information displayed in Configuration does not change when API key is toggled."
With one store, the Configuration page correctly displays MC account info, with # products, orders, subscribers synced.

With two stores on separate API keys, it now only displays MC username and total # subscribers, no matter which key you use.
https://cl.ly/1s3T1d081l2Y

[2017-05-05 20:20] lduh opened #25 "Multiple stores not showing in Configuration dropdown"
Two stores on the MailChimp Stores page: https://cl.ly/1D3i0t322Z0U
but on Configuration, only have the option of the first store: https://cl.ly/281C0j0N071g

[2017-05-05 21:15] lduh opened #26 "Account no longer syncing"
Case: Added a second store today, now it looks like it's no longer syncing at all.

First store+list, which showed POST and GET activity yesterday, shows nothing for today, and no data from orders placed today has been synced.

[2017-05-06 00:01] gonzaloebiz opened #27 "Change the configuration to use jquery and ajax"
Change the configuration page of the extension to reload the correct data with ajax when some field changes

[2017-05-06 01:07] #25 closed, assigned to nobody

[2017-05-06 13:38] gonzaloebiz opened #28 "Autoselect store when only one exists"
In the config page, when select the apikey and only one store exists to this apikey, autoselect this store

[2017-05-08 19:29] lduh opened #29 "Enable not saving on a MailChimp store level"
Unsure if this is related to having multiple store, or recent changes to configuration.

steps to reproduce
1.add APi key to Configuration
2. create a new store, add all necessary details, enable = yes and save.
3. add a second API key on the Configuration page
4. add a second MailChimp store connected to the second API key
5. on the MailChimp stores page, edit each of the stores and not that they

[2017-05-08 19:33] #23 closed, assigned to gonzaloebiz

[2017-05-08 19:35] #21 closed, assigned to gonzaloebiz

[2017-05-08 19:42] #20 closed, assigned to gonzaloebiz

[2017-05-10 20:01] lduh opened #30 "Request: Display Sync status"
Generally, it is not clear if a APIkey and store are actually connected, which leads to a lot of confusion.
https://cl.ly/2Q3t2m0r1W11

Sync states and messaging:
**API key selected, no associated MailChimp stores**
- current: https://cl.ly/1t2Y1w2U0o1N
- add in Account Details - "This MailChimp account is not connected to Magento."
- Change MailChimp Store dropdown text to "You must create a Mail

[2017-05-10 20:02] lduh opened #31 "Request: Move MailChimp Store above Account Details on the Configuration page"
the Store selection is a precondition of the majority of the info in the Account Details page, so it would make sense to have it come first.

https://cl.ly/0u1m3B1q0J0A

[2017-05-10 20:15] lduh opened #32 "Ecomm Data uploaded to MailChimp should display if reselecting a connected store."
If a Magento is fully connected to a store and displayed by default, when the user opens the Configuration panel, we show the full set of Ecommerce Data uploaded to MailChimp. If you navigate to other API keys and back, that data does not display, and there's no way to tell that the API key+store is connected.

[2017-05-10 20:19] #22 closed, assigned to gonzaloebiz

[2017-05-10 20:20] #29 closed, assigned to gonzaloebiz

[2017-05-10 20:26] #28 closed, assigned to gonzaloebiz

[2017-05-10 20:57] lduh opened #33 "Sorting MailChimp Stores grid by email more than once causes display issues"
https://cl.ly/0i2532163J2u

Sorting stores by email more than once results in the first store displayed multiple times.

[2017-05-10 20:59] #19 closed, assigned to gonzaloebiz

[2017-05-10 21:16] #24 closed, assigned to gonzaloebiz

[2017-05-10 21:47] gonzaloebiz opened #34 "Add ACL permissions"

[2017-05-11 17:16] gonzaloebiz opened #35 "Problem when receive the response of batch"
Sometimes when receive the response of a batch, one the process cancel and response files stay in the var/Mailchimp directory and the next runs already fails
Warning: mkdir(): File exists in /var/www/html/magento/vendor/mailchimp/mc-magento2/Model/Api/Result.php on line 103
Error with a response: Warning: rmdir(/var/www/html/magento/var/Mailchimp/f605959ae8): Directory not empty in /var/www/html/m

[2017-05-11 19:40] #31 closed, assigned to gonzaloebiz

[2017-05-11 20:14] #33 closed, assigned to nobody

[2017-05-12 18:35] #26 closed, assigned to gonzaloebiz

[2017-05-12 19:57] lduh opened #36 "Use a checkbox on Checkout to determine Opt-in status."
Add a Subscribe checkbox to the Checkout process, use that to determine opt-in status.

If the user opts in via checkbox, they should be passed to MailChimp as subscribed.
If the user does not opt in via checkbox, they should be passed to MailChimp as nonsubscribed.
If the user had previously subscribed and does not check the box on a later purchase, the user should remain subscribed.
If the user

[2017-05-12 20:00] gonzaloebiz opened #37 "Review the Customer process"
A Magento customer that is not subscribed to magento newsletter, must pass to mailchimp as transactional.
And a Magento customer subcribed must pass to mailchimp as subscribed

[2017-05-17 19:38] gonzaloebiz opened #38 "Avoid error when for some reason the process cancel"
When the process runs, new registers are added to the table of syscommerce, but in some situations the process can cancel and the batch is neves synced, the register added in that table means that this registers are already processed.

[2017-05-18 19:20] gonzaloebiz opened #39 "Add webhooks"
Add webhooks for the list associated to the mailchimp store defined in the config.
Be sure to delete the webhook if none of the magento stores in this installation is linked to this list

[2017-05-18 19:21] gonzaloebiz opened #40 "Add actions to webhooks"
When a webhook is called, save the content of the call in a table, and process it with a cron job

[2017-05-22 14:02] gonzaloebiz opened #41 "Show the list in the configuration page"

[2017-05-23 20:07] #14 closed, assigned to gonzaloebiz

[2017-05-23 21:16] #38 closed, assigned to gonzaloebiz

[2017-05-24 14:34] #41 closed, assigned to gonzaloebiz

[2017-05-24 14:38] #32 closed, assigned to gonzaloebiz

[2017-05-24 14:39] #8 closed, assigned to gonzaloebiz

[2017-05-24 14:51] #27 closed, assigned to gonzaloebiz

[2017-05-24 16:01] lduh opened #42 "New customers are not added to MailChimp"
Admin created customers - no API call is seen to pass them.
Organically created customers(from "Create Account" link) - https://cl.ly/262u0z1G2J0e

[2017-05-24 20:18] lduh opened #43 "Display appropriate thumbnails for items"
Orders are displaying the same thumbnail for different variants. https://cl.ly/2R3g2E0H0v2k

Each variant is it's own item, and the correct thumbnail should be used. MailChimp is showing all thumbnails as accessible in the Content Manager. https://cl.ly/1b3O0L04210N

[2017-05-24 20:21] #34 closed, assigned to gonzaloebiz

[2017-05-25 15:06] gonzaloebiz opened #44 "Not mark the already synced element like errors"

[2017-05-31 20:35] gonzaloebiz opened #45 "Change the order # when sync"
Sync the incrementid in the order #

[2017-06-01 12:36] gonzaloebiz opened #46 "Process the webhooks in a separate cron process"

[2017-06-05 16:23] #18 closed, assigned to gonzaloebiz

[2017-06-05 16:23] #30 closed, assigned to gonzaloebiz

[2017-06-05 16:23] #35 closed, assigned to gonzaloebiz

[2017-06-05 16:23] #37 closed, assigned to gonzaloebiz

[2017-06-05 16:23] #39 closed, assigned to gonzaloebiz

[2017-06-05 16:23] #44 closed, assigned to gonzaloebiz

[2017-06-05 16:23] #45 closed, assigned to gonzaloebiz

[2017-06-05 16:23] #46 closed, assigned to gonzaloebiz

[2017-06-05 19:15] #40 closed, assigned to gonzaloebiz

[2017-06-05 19:16] #16 closed, assigned to gonzaloebiz

[2017-06-05 19:17] #15 closed, assigned to nobody

[2017-06-05 19:17] #10 closed, assigned to gonzaloebiz

[2017-06-05 19:18] #11 closed, assigned to gonzaloebiz

[2017-06-05 19:18] #12 closed, assigned to gonzaloebiz

[2017-06-05 19:18] #13 closed, assigned to nobody

[2017-06-05 19:19] #17 closed, assigned to gonzaloebiz

[2017-06-08 13:45] gonzaloebiz opened #47 "Limit the process of the webhooks"
Implements a limit in the process of the webhooks

[2017-06-08 13:50] #47 closed, assigned to gonzaloebiz

[2017-06-16 18:19] SantiParagarino opened #48 "Prevent sending customers to other store views even when they belong to the same website"

[2017-06-19 14:09] gonzaloebiz opened #49 "Invalid product url on simple products not visible"
When a simple product of a configurable product is not visible, the url is wrong.
The url must be on the form urlOfTheParent?attributecode1=value1&attributecode2=value2

[2017-06-19 14:14] #49 closed, assigned to gonzaloebiz

[2017-06-19 20:33] cmsteadman opened #50 "Error with default config allows unassociated list to be attached to a store config."
In MailChimp for Magento 2, a MailChimp store must be created before it can be selected for use in a store configuration. However, if default configuration is selected for list but not store when setting up a second store, this will return the following error:

`Something went wrong while saving this configuration: Notice: Undefined index: value in /var/www/html/magento/vendor/mailchimp/mc-magento

[2017-06-21 16:04] gonzaloebiz opened #51 "Error in mc.js when change the mailchimp store"
When change the mailchimp store in the config, the frontend points to the old mc.js and not to the new one.

[2017-06-21 16:05] #51 closed, assigned to gonzaloebiz

[2017-06-21 16:34] #48 closed, assigned to gonzaloebiz

[2017-06-22 15:15] cmsteadman opened #52 "Connected site fragment (MC.js) not updated when changing MailChimp stores in MC4M2 General config."
When creating a MailChimp store in Magento 2, the integration will add the connected site fragment as listed in the "connected_sites" array of the ecommerce/stores endpoint. On initial set up, this snippet is being added correctly. However, switching to a different MailChimp store in the Magento set up won't update. This will cause issues moving forward with future MailChimp features that require

[2017-06-22 15:15] gonzaloebiz opened #53 "Add a commit call when use a connection directly"

[2017-06-23 14:32] gonzaloebiz opened #54 "Reset the errors when no more mailchimp store are connected"
When change the mailchimp store and no magento store is connected to the old mailchimp sotre, we can reset the errors for this mailchimp store

[2017-06-23 14:33] #54 closed, assigned to gonzaloebiz

[2017-06-23 19:27] #53 closed, assigned to gonzaloebiz

[2017-06-27 18:10] #52 closed, assigned to nobody

[2017-08-04 13:00] mikehenze opened #58 "Cron error "Requested country is not available.""
Cron ebizmarts_ecommerce outputs error:
Requested country is not available.

Version: 1.0.22
Magento: 2.1.7
Multiple storefronts (languages) and multiple Mailchimp Stores (1 list for each language).

[2017-08-09 10:47] coatesjonathan opened #59 "Breaks whole website"
I have installed the extension, and immediately the website goes to a blank white screen, I get the following error in my error_log:

#0 /home/{cpanel_user}/public_html/{website_name}/vendor/magento/framework/Code/Generator.php(112): Magento\Framework\Code\Generator->tryToLoadSourceClass('\\Ebizmarts\\Mail...', Object(Magento\Framework\ObjectManager\Profiler\Code\Generator\Logger))

[2017-08-09 11:59] nickalmeida opened #60 "Class Mailchimp does not exist"
I tried to install mailchimp module for magento 2. After I put all the files in the app/code/Ebizmarts/MailChimp run the code php bin/magento module:enable Ebizmarts_MailChimp --clear-static-content and  after running php bin/magento setup:upgrade i recive the following error:

[code]

I tried with several version and for all of them i receive the same thing. I got the extenion from https://market

[2017-08-09 13:30] gonzaloebiz commented on #60
Hi @nickalmeida

see at this https://github.com/mailchimp/mc-magento2/blob/develop/composer.json#L27
You must install ebizmarts/mailchimp-lib so, run

composer require ebizmarts/mailchimp-lib

Best

[2017-08-09 13:30] #60 closed, assigned to gonzaloebiz

[2017-08-10 07:08] mamreezaa commented on #58
i have the same issue. when i run the cron.

`[Magento\Framework\Exception\NoSuchEntityException]
  Requested country is not available. `

in my case these are the country ids where this error occurred.
1. `/var/www/magento/vendor/magento/module-directory/Model/CountryInformationAcquirer.php:103:
string(2) "GB"`

2. `/var/www/magento/vendor/magento/module-directory/Model/CountryInformationAcquirer

[2017-08-10 09:06] nickalmeida opened #61 "Emails data not getting synchronising"
Hi Guys, I've installed the extension and all works fine, but I can get mailchimp to pull info my site for abandoned carts and so on, see the errors below:

[2017-08-09 23:02:34] MailChimpLogger.INFO: No wkey parameter from ip: 104.196.139.222
 [] []
[2017-08-10 01:23:59] MailChimpLogger.INFO: No such entity with email = xxxx@hiddentelevision.com, websiteId = 1
 [] []
[2017-08-10 01:23:59] MailChi

[2017-08-10 17:13] jordanbrauer opened #62 "Resubscribing a customer from Magento throws a 500 error due to Fatal Uncaught Error: "Call to a member function getStreetLine() on string""
## Preconditions:

1. Magento CE `2.1.5`
2. MailChimp for Magento 2 `1.0.21`
3. PHP 7

## Steps to reproduce:

1. Install MailChimp for Magento 2 with `composer require mailchimp/mc-magento2 1.0.21`.
2. Configure MailChimp for Magento 2 following [this guide](http://kb.mailchimp.com/integrations/e-commerce/connect-or-disconnect-mailchimp-for-magento-2).
3. Ensure that the "Enable Two Way Sync" opt

[2017-08-10 17:17] jordanbrauer commented on #59
Steps to reproduce? e.g., method of installation (commands run, etc), configuration guide(s) followed, etc

[2017-08-10 17:22] gonzaloebiz commented on #58
Thanks for the feedback.
Please see the associated commit.

Best

[2017-08-10 17:27] gonzaloebiz commented on #59
If you install the extension by copying the zip files into your magento, run

composer require ebizmarts/mailchimp-lib

Best

[2017-08-10 17:27] #59 closed, assigned to ebizmarts-keller

[2017-08-10 19:28] gonzaloebiz commented on #62
Hi @jordanbrauer

thanks for your feedback.
I follow your steps with the last version of the extension (1.0.22) and works for me.
Can you update the extension and try yourself?

For now i close the issue, if you confirm the issue with the last version, i will re open the issue.

Best

[2017-08-10 19:34] gonzaloebiz commented on #61
Hi @nickalmeida

thanks for your feedback.
Please, see the README.rd and follow the rules to report an issue.

For now i close the issue, and re open it when you update the information.

Best

[2017-08-10 19:34] #61 closed, assigned to ebizmarts-keller

[2017-08-10 21:28] jordanbrauer commented on #62
Thanks for testing it out @gonzaloebiz!

I upgraded to `1.0.22` and still have the same issue unfortunately. I think it might have something to with the `404` in update i added to my Additional Information section.

[2017-08-11 08:40] evilprophet opened #63 "Production mode"
After instalation this extension enable production mode is not possible.

`bin/magento deploy:mode:set production -vvv
Enabled maintenance mode
Starting compilation
Something went wrong while compiling generated code. See the error log for details.
Command returned non-zero exit code:
`/usr/bin/php -f /var/www/m2c/bin/magento setup:di:compile`
#0 /var/www/m2c/vendor/magento/module-deploy/Model/Fil

[2017-08-11 11:35] mikehenze commented on #58
Hi, this does not fix the "Requested country is not available".
Maybe it should also be changed in:
mc-magento2\Model\Api\Subscriber.php

[2017-08-11 12:08] gonzaloebiz commented on #63
Hi @evilprophet

thanks for your feedback.
Please, read the Issue reporting guidelines and re post your issue.

Best

[2017-08-11 12:08] #63 closed, assigned to nobody

[2017-08-11 12:33] gonzaloebiz commented on #58
Hi @mikehenze

if you have any ->getCountry() call in mc-magento2\Model\Api\Subscriber.php you must update the extension, because no calls to getCountry() in this file
Let me know

[2017-08-11 12:35] mikehenze commented on #58
I see its all commented

//                                            "country" => $address->getCountry() ? Mage::getModel('directory/country')->loadByCode($address->getCountry())->getName() : ""

[2017-08-11 12:43] evilprophet opened #64 "Unable to set production mode"
1. Magento CE 2.1.7
2. mc-magento2 1.0.22.

### Steps to reproduce:
bin/magento deploy:mode:set production

### Expected result:
Magento should be switched to production mode
### Actual result:
Now error in setup:di:compile:

`bin/magento deploy:mode:set production -vvv
Enabled maintenance mode
Starting compilation
Something went wrong while compiling generated code. See the error log for details.

[2017-08-11 12:54] gonzaloebiz opened #65 "Bad ajax call"
Hello,
   I recently installed Mailchimp for Magento 2 on a site I programmed.  First thing I noticed was that there was a 404 for an ajax request on the cart page.  I was able to fix this error, by altering this file:

/app/code/Ebizmarts/MailChimp/view/frontend/web/js/mailchimpjs.js

Changing the url of the ajax request from this:
url: 'mailchimp/script/get',

To:
url: '/mailchimp/Script/Get',

[2017-08-11 12:55] #65 closed, assigned to gonzaloebiz

[2017-08-11 13:00] gonzaloebiz commented on #62
So weird, i try and works for me.
You have any extension that modify the customer?
By the way, can you try after apply this https://github.com/mailchimp/mc-magento2/commit/c7967fb1ed05fb81429b37df2cf6525215a037e2 ? It's a fix for the ajax call issue

Best

[2017-08-11 13:12] gonzaloebiz commented on #64
Hi @evilprophet

what method you use to install the extension?

[2017-08-11 13:13] jordanbrauer commented on #62
That is strange. I will have to spin a new store up and try it there too and see what happens.

Not that I am aware of - nothing intentional at least. We've never needed to add features or make changes to the way customers are managed, especially the newsletter.

I'll give that a go right now for the AJAX fix and report back the results.

[2017-08-11 13:18] jordanbrauer commented on #64
I am able to use put my store in production mode.

It seems that you used the downloaded `.zip` installation method, no?

If so, you have to install `mailchimp-lib` separately by executing `composer require ebizmarts/mailchimp-lib` in your project root.

@gonzaloebiz I think it would be worth updating the `.zip` file download 🤔 – I see this issue pop up often when I google around for information.

[2017-08-11 13:21] evilprophet commented on #64
I used composer

[2017-08-11 13:25] gonzaloebiz commented on #64
@evilprophet

sorry, but why you think that the error comes from mailchimp-lib? I don't see any message related to mailchimp-lib

[2017-08-11 13:27] evilprophet commented on #64
@gonzaloebiz
I thinkt that sometimes I had similar issue when I tried use external lib

[2017-08-11 13:36] gonzaloebiz commented on #64
If you install the external libs with composer, you don't need any registration.
I understand your experiences, but as per your log, is nothing related to mailchimp-lib.
Please, try in a vanilla installation, and install the extension via composer.

I close the issue for now, look like your issue is not related to mc-magento2

Best

[2017-08-11 13:36] #64 closed, assigned to gonzaloebiz

[2017-08-11 13:38] gonzaloebiz commented on #42
After 5 months without feedback, i close the issue.

[2017-08-11 13:38] #42 closed

[2017-08-11 13:44] evilprophet commented on #64
This was a vanilla instalation...
I didn't modify your extension this was only a suggestion

[2017-08-11 13:55] gonzaloebiz commented on #64
Please, run

composer info

and paste the result

[2017-08-11 13:58] mikehenze commented on #65
This does not fix it.

The script now looks for:
www.example.com/checkout/mailchimp/script/get
and (I think) this should be:
www.example.com/mailchimp/script/get

[2017-08-11 14:05] gonzaloebiz commented on #65
Hi @mikehenze

please be sure that the modified mailchimpjs.js is loaded

[2017-08-11 14:09] mikehenze commented on #65
It is.
I did this after replacing the file:
rm -rf pub/static/_requirejs pub/static/adminhtml pub/static/frontend var/cache/ var/composer_home/ var/generation/ var/page_cache/ var/view_preprocessed/
php bin/magento setup:di:compile
php bin/magento setup:static-content:deploy nl_NL
redis-cli flushall

[2017-08-11 14:11] evilprophet commented on #64
Production mode now is not important, maybe something in my side but after instalation this extension on dev environment I have strange error after setup:upgrade.
Do you know something about it?

[code]

[2017-08-11 14:17] gonzaloebiz commented on #64
Hi @evilprophet

please, don't post other issues not related to the original.
By the way, i don't see any related to us in your last post

Best

[2017-08-11 14:24] gonzaloebiz commented on #65
Open yoursiteurl/pub/static/frontend/Magento/luma/en_US/Ebizmarts_MailChimp/js/mailchimpjs.js and confirm that in the ajax call you have
url: '/mailchimp/script/get',

with an / at front

[2017-08-11 14:45] mikehenze commented on #65
It seems to be not working with minified js

mailchimpjs.min.js (does not work)
`require(["jquery"],function($){$.ajax({url:'/mailchimp/script/get',type:'POST',dataType:'json',showLoader:false}).done(function(data){var imported=document.createElement('script');imported.src=data.url;document.head.appendChild(imported);});});`

mailchimpjs.js (works)
[code]

[2017-08-11 15:21] gonzaloebiz commented on #65
@mikehenze

works for me. I put magento in production mode, enabled Advanced/Developer/JavaScript Setting/Merge JavaScript Files and Advanced/Developer/JavaScript Setting/Minify JavaScript Files

rm -rf pub/static
bin/magento setup:static-content:deploy
bin/magento cache:clean

Try also only with  Advanced/Developer/JavaScript Setting/Minify JavaScript Files and works.
 Are you clear your browser

[2017-08-11 15:42] jordanbrauer commented on #62
@gonzaloebiz The `404` AJAX issue was fixed by your update. The `500` error from attempting a resubscribe to the newsletter however, was not. 😞

Any idea as to what could be happening from what callstack that I showed? In the mean time, I will dig through my Magento logs and post any relevant info.

[2017-08-11 15:56] gonzaloebiz commented on #62
So weird.
You have the webserver log? (apache or nginx) If you have a 500 for sure something in the log can help us

Best

[2017-08-11 16:25] jordanbrauer commented on #62
Here's what I could find in the server logs available to us.

**Apache Log**

[code]

Doesn't seem to give much other than the source, timestamp, method, endpoint, response code, and user agent info.

**PHP Error Log**

[code]

The PHP error log is the same as what the stack trace that the `500` error outputs to the browser with `ini_set('display_errors', 1);` in `{{ magento_dir }}/app/bootstrap.p

[2017-08-11 17:03] jordanbrauer opened #66 "MailChimp connected sites List Settings syncing seemingly forever"
## Preconditions:

1. Magento CE `2.1.5`
2. MailChimp for Magento 2 `1.0.22`
3. PHP `7.0.X`

## Steps to reproduce:

1. Install MailChimp for Magento 2 with `composer require mailchimp/mc-magento2 1.0.22`.
2. Configure MailChimp for Magento 2 following [this guide](http://kb.mailchimp.com/integrations/e-commerce/connect-or-disconnect-mailchimp-for-magento-2).
3. Ensure that the "Enable Two Way Syn

[2017-08-11 17:55] mikehenze commented on #65
According to Chrome console it is loaded the js from:
/static/_cache/merged/e07fa983f57f47d7bc4972a3710cc9ea.min.js
and there the "/" is still missing from the code.

So I guess running `redis-cli flushall` does not flush merged js/css
I flushed js from magento2 backend and now it loads the correct js and the ajax call is good.

[2017-08-11 18:24] #62 closed, assigned to gonzaloebiz

[2017-08-11 18:25] gonzaloebiz commented on #62
Hi @jordanbrauer

finally i can reproduce your issue.
Take a look at the associated commit and let me know if works for you.

Best

[2017-08-11 18:39] gonzaloebiz commented on #65
ok great

[2017-08-11 19:57] jordanbrauer commented on #62
Fantastic! It works as expected now. 😃

Thanks a bunch @gonzaloebiz.

Can we make this and the AJAX call fix you committed earlier a `1.0.23` release? Currently I've got patch files that are applied during our deployment process, but it would be nice to drop those. :)

[2017-08-13 07:20] mamreezaa commented on #58
Hi @all

I think still the problem exist. i am looking into this now. :)

[2017-08-13 09:06] mamreezaa commented on #58
@mikehenze  did you try my solution ?
i did the same fix in  Model/Api/Cart.php, Customer.php, Order.php
Now i don't see the issue.

Thanks.

[2017-08-13 09:09] mamreezaa opened #67 "Requested product doesn't exist"
I have the following error when cron runs
'[Magento\Framework\Exception\NoSuchEntityException]
  Requested product doesn't exist'

i can make sure this comes from Model/Api/Orders.php

Note : i think we need to skip the order if the product does not exist instead if breaking the process.

[2017-08-13 14:32] mikehenze commented on #58
@mamreezaa
I am having trouble implementing your fix.
Do I need to edit:
- vendor/mailchimp/mc-magento2/Model/Api/Customer.php
- vendor/mailchimp/mc-magento2/Model/Api/Cart.php
- vendor/mailchimp/mc-magento2/Model/Api/Order.php

And add:
\Magento\Directory\Model\CountryFactory $countryFactory
) {
$this->_countryFactory = $countryFactory;
}

to public function __construct
and add:
if ($address->get

[2017-08-14 13:08] mikehenze commented on #67
@mamreezaa
After implementing your changes from https://github.com/mailchimp/mc-magento2/issues/58 I actually now get the same error.

I have many orders where the product does not exist anymore.

[2017-08-15 08:51] mamreezaa commented on #67
The problem is
$productData = $this->_apiProduct->sendModifiedProduct($order, $mailchimpStoreId, $magentoStoreId); in order.php

i did try and catch this statement to make sure not to break the loop.
`try {
                    $productData = $this->_apiProduct->sendModifiedProduct($order, $mailchimpStoreId, $magentoStoreId);
                    if (count($productData)) {
                        fo

[2017-08-15 14:04] #67 closed, assigned to gonzaloebiz

[2017-08-15 14:15] mikehenze commented on #58
@gonzaloebiz Please fix this issue because we need this extension to work soon.
Thanks

[2017-08-15 17:18] ebizmarts-keller opened #68 "Website scope always taking list from default configuration"
Magento version: 2.1.7
Plugin version: 1.0.22

The website scope always loads the list configured in the default scope regardless of the store selected in the website scope, it will load the correct list when selecting it, but not when saving the configuration.

Even if the default scope is disabled this will happen, in this case it will not load any list in the website scope.

![websitescope](htt

[2017-08-15 17:27] ebizmarts-keller commented on #50
Hello @cmsteadman

This is supposed to be fixed in version 1.0.22 but let me know if this isn't the case, please make sure you are using this version of the module and if so, can you show me the content of the function **beforeSave** in vendor/mailchimp/mc-magento2/Model/Config/Backend/MonkeyStore.php ?

Thanks

[2017-08-16 10:09] mikehenze opened #69 "Wrong website ID for new subscribers"
**Preconditions**

Magento 2.1.7
Mailchimp 1.0.22
4 storeviews (languages)

**Steps to reproduce**

New customer subscribes to newsletter on frontend **without making an account**. Using the default newsletter subscribe widget.

**Actual and Expected result**

Expected result:
Customer email is added to corresponding Mailchimp list

Actual result:
Customer email is not added to corresponding (or a

[2017-08-16 12:00] mikehenze commented on #58
After implementing commit "Add store id" everything works now.

[2017-08-16 13:37] #50 closed

[2017-08-16 13:38] gonzaloebiz commented on #66
Hi @jordanbrauer

we are working on this with mailchimp

[2017-08-16 13:39] #43 closed

[2017-08-16 13:41] jordanbrauer commented on #66
Sounds good.

Thanks @gonzaloebiz.

[2017-08-18 19:03] mikehenze commented on #67
The commit does not fix this for me.
My log is filled with "Requested product doesn't exist" and the orders are not send to mailchimp.
Subscribers and products work fine.

Note: I have many orders (8000+) with products that do not exist anymore.

Edit: If i set the data to a couple of months ago it will add new orders again so I am guessing it hits a timeout error when trying to add many orders wi

[2017-08-19 18:24] mikehenze opened #71 "Campaign catcher does not work"
**Preconditions**

Magento 2.1.7
Mailchimp 1.0.22

**Steps to reproduce**

1. Send a mailing in Mailchimp
2. Clearly see visitors arriving with the mc_cid parameters (?mc_cid=xxx&mc_eid=xxx)
3. Visitor buys items

**Actual and Expected result**

Expected: Mailchimp campaign gets updated with the ecommerce results.
However this does not happen.

The ecommerce data is passing over to mailchimp but s

[2017-08-21 10:06] glutenvrijemarkt opened #72 "error after upgrade"
Hi,

With install we get this error after php bin/magento setup:upgrade

  [Magento\Framework\Exception\SessionException]
  Area code not set: Area code must be set before starting a session.

  [Magento\Framework\Exception\LocalizedException]
  Area code is not set

Magento Latest M2 Version
Ebizmarts_MailChimp version - 1.0.22

What can we do to get this module working?

[2017-08-21 14:01] gonzaloebiz commented on #72
Hi @glutenvrijemarkt

plase run bin/magento deploy:mode:show and let me know the result

Best

[2017-08-22 20:27] centerax commented on #72
"Magento Latest M2 Version" what version number specifically?

[2017-08-23 21:26] msawyers opened #73 "Magento Mailchimp Module internal server error"
Preconditions:

Magento CE 2.1.7
MailChimp for Magento 2 1.0.21
PHP 5.6

Steps to reproduce:

Install MailChimp for Magento 2 with composer require mailchimp/mc-magento2.
Create Mailchimp Store via Mailchimp module in Magento2

Expected result:

Mailchimp store to be created successfully

Actual result:
Mailchimp store to be created successfully
Internal server error thrown on Magento application

[2017-08-24 14:41] gonzaloebiz commented on #73
Hi @msawyers

you already enter your api key in the configuration of the extension?

[2017-08-24 14:43] msawyers commented on #73
Hi,
Yes I did, it also created the store in mailchimp. However the list is taking forever to synchronize also

[2017-08-28 17:24] #68 closed, assigned to gonzaloebiz

[2017-08-28 20:02] gonzaloebiz commented on #72
no news after 1 week, close the issue

[2017-08-28 20:02] #72 closed, assigned to nobody

[2017-08-29 01:34] kllee824 opened #74 "Can't enable the Mailchimp on Admin portal"
Preconditions:

Magento EE 2.0.11
MailChimp for Magento 2 1.0.22
PHP 5.6.14

Steps to reproduce:
1.Download "MailChimp For Magento2" in ebizmarts
2. Install "MailChimp for Magento2" with composer require mailchimp/mc-magento2
3. extract the contents in app/code/Ebizmarts/MailChimp
4. run setup:upgrade
5. login Admin portal and see Mailchimp icon on menu.
6. get the API key from Mailchimp and paste

[2017-08-29 03:50] gonzaloebiz commented on #74
Hi @kllee824

apache/nginx error log?

[2017-08-29 06:33] kllee824 commented on #74
apache/logs/error.log

[Tue Aug 29 14:25:19.412563 2017] [ssl:warn] [pid 16644:tid 632] AH01909: www.example.com:443:0 server certificate does NOT include an ID which matches the server name
[Tue Aug 29 14:25:19.451581 2017] [core:warn] [pid 16644:tid 632] AH00098: pid file D:/xampp/apache/logs/httpd.pid overwritten -- Unclean shutdown of previous Apache run?
[Tue Aug 29 14:25:19.575168 2017] [ssl

[2017-08-29 06:34] kllee824 commented on #74
apache/logs/access.log

127.0.0.1 - - [29/Aug/2017:14:25:28 +0800] "GET /hktshop/admin_1eunke HTTP/1.1" 503 908 "-" "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/60.0.3112.113 Safari/537.36"
127.0.0.1 - - [29/Aug/2017:14:25:29 +0800] "GET /hktshop/pub/errors/hkt/css/styles.css HTTP/1.1" 404 - "http://127.0.0.1:8080/hktshop/admin_1eunke" "Mozilla/5.0 (Wind

[2017-08-29 10:27] epson121 opened #75 "Guest subscribers issue - STOREID is null"
**Preconditions**

Magento 2.1.5
Mailchimp 1.0.22
Multiple website environment

**Steps to reproduce**

    Subscribe to a newsletter as a guest

**Actual and Expected result**

**Expected:**
	Mailchimp list gets updated with a new subscriber

**Actual:**
	Mailchimp list does not get updated with a new subscriber.

_CURL request params (email address omitted):_
	`{"status":"subscribed","email_addr

[2017-08-29 10:56] glutenvrijemarkt commented on #72
Sorry, didn't see the update

Current application mode: production. (Note: Environment variables may override this value.)
--

[2017-08-29 13:24] gonzaloebiz commented on #71
Hi @mikehenze

i just test this, and works OK.
Keep in mind, the order is not synced to mailchimp instantly, and if the order contain a bundle or grouped product is not synced.

[2017-08-29 13:37] #71 closed, assigned to nobody

[2017-08-29 14:06] gonzaloebiz commented on #74
Hi @kllee824

think your error log not corresponding with the date of your issue. Please try again and post the correct error log,

Best

[2017-08-29 14:20] gonzaloebiz commented on #73
Hi @msawyers

Why you use 1.0.21 and not 1.0.22?
Please try with the current version (1.0.22)

Best

[2017-08-29 14:27] msawyers commented on #73
Hi, sorry I am using 1.0.22.

Please check issue on my server. Let me know if you need credentials.

[2017-08-29 14:31] gonzaloebiz commented on #73
@msawyers we don't enter to the customer's server.
Double check your ApiKey
Take a look at the apache/nginx error log

Best

[2017-08-29 15:05] #75 closed, assigned to gonzaloebiz

[2017-08-29 15:08] gonzaloebiz commented on #75
Hi @epson121

see the associated commit, and define the STOREID merge tag in mailchimp

Best

[2017-08-29 15:13] gonzaloebiz commented on #69
See at https://github.com/mailchimp/mc-magento2/issues/75

[2017-08-29 15:13] #69 closed, assigned to MelissaEbizmarts

[2017-08-30 01:50] kllee824 commented on #74
Error when click Mailchimp Store:

![store_error](https://user-images.githubusercontent.com/20422500/29851716-48af52a4-8d68-11e7-9880-c91ad79adc09.PNG)

[2087982107.txt](https://github.com/mailchimp/mc-magento2/files/1262218/2087982107.txt)

[2017-08-30 02:00] kllee824 commented on #74
different time zone between apache and Magento +8, but it is take same time

Thanks

[apache_logs.zip](https://github.com/mailchimp/mc-magento2/files/1262234/apache_logs.zip)
[magento_log.zip](https://github.com/mailchimp/mc-magento2/files/1262233/magento_log.zip)

[2017-08-30 03:52] gonzaloebiz commented on #74
Hi @kllee824

think you miss some files when install the extension.
What steps you follow to install it?

[2017-08-30 06:14] kllee824 commented on #74
I follow the manual installation guide,
1. install composer
2. composer require mailchimp/mc-magento2
3. Download 'Mailchimp for Magento2'
4. extract the contents in app/code/Ebizmarts/MailChimp
5. run setup:upgrade
6. run cache:flush
7. run indexer:reindex

Result
1. vendor/ebizmarts/mailchimp-lib/* is created
2. Admin Portal ->Maichimp is created

[2017-08-30 15:40] gonzaloebiz commented on #74
Why you download M4M2? you don't need to do this, composer do it for you.
You have 2 installations of the same extension, one by composer in vendor/mailchimp/mc-magento2 and one by you in app/code/Ebizmarts/MailChimp/
Try removing app/code/Ebizmarts/MailChimp/ and re run the magento upgrade (don't miss to run setup:static-content:deploy).
And please, read how to install extensions in the magento m

[2017-08-31 04:28] kllee824 commented on #74
Hi,

Firstly, I try installed on app/code/Ebizmarts/MailChimp/, and run setup:upgrade

Then following error shown
[ReflectionException]
Class Mailchimp doest not exist

I follow Ebizmarts [semi-manual](https://store.ebizmarts.com/mailchimp4magento2.html) installation guide

Create the directory at app/code/Ebizmarts/MailChimp
Inside the downloaded package, you will find a directory named mc-magent

[2017-08-31 04:32] kllee824 commented on #74
Sorry my typo mistake
I follow the manual installation guide,

install composer
composer require mailchimp/mailchimp-lib <----------------------
Download 'Mailchimp for Magento2'
extract the contents in app/code/Ebizmarts/MailChimp
run setup:upgrade
run cache:flush
run indexer:reindex

Result
vendor\ebizmarts\mailchimp-lib
app/code/Ebizmarts/MailChimp

[2017-08-31 13:50] gonzaloebiz commented on #74
Hi @kllee824

At this point looks like a mess, i don't know what steps you followed
Please restore a backup from before all this and simply run
composer require mailchimp/mc-magento2

Remember, in magento2 the best option is always composer

[2017-08-31 14:35] kllee824 commented on #74
Hi,

OK, I will rollback to use composer to install tomorrow. Let you know the result.

Thanks
Lun

[2017-08-31 22:58] zhiyicai opened #77 "How to update the Magento 2 extension MageMonkey v3.0.8 to MailChimp 4 v1.0.22 ?"
Hey,

How to update the Magento 2 extension MageMonkey v3.0.8 to MailChimp 4 v1.0.22 ???

I have installed MageMonkey v3.0.8 with composer

Thank

[2017-09-01 06:57] epson121 commented on #50
Hi @ebizmarts-keller

this has not been fixed in 1.0.22 yet. The issue is in `beforeSave` method, and AFAICT in line 88:

`$this->oldListId = $this->_helper->getConfigValue(\Ebizmarts\MailChimp\Helper\Data::XML_PATH_LIST, $this->getScopeId());`

should be changed to

`$this->oldListId = $this->_helper->getConfigValue(\Ebizmarts\MailChimp\Helper\Data::XML_PATH_LIST, $this->getScopeCode());`

Is thi

[2017-09-01 07:43] epson121 commented on #75
Thank you for the response. Can you clarify how to define the STOREID merge tag in mailchimp, since we're still getting errors:

`MailChimpLogger.INFO: No such entity with email = xxxxxx@xxxx.xx, websiteId = 1`

[2017-09-01 11:21] c0rewell opened #78 "ajax URL error"
here `view/frontend/web/js/mailchimpjs.js` you specified relative url and it causes 404 errors on all pages except home:

[code]
The url should start with slash, i.e. `url: '/mailchimp/script/get'`

[2017-09-01 11:58] #78 closed, assigned to gonzaloebiz

[2017-09-01 12:02] gonzaloebiz commented on #75
https://kb.mailchimp.com/lists/manage-contacts/set-default-merge-values-for-a-list

[2017-09-01 12:04] gonzaloebiz commented on #50
This is already fixed and will be available in the next release.
Best

[2017-09-01 12:10] gonzaloebiz commented on #77
Hi @zhiyicai

see at http://devdocs.magento.com/guides/v2.0/install-gde/install/cli/install-cli-uninstall-mods.html

Best

[2017-09-01 12:10] #77 closed, assigned to nobody

[2017-09-01 15:13] scolandrea opened #79 "I cannot install the extension on fresh Magento"
I added the Mailchimp extension (via composer) after I performed Magento installation. Extension works fine without any problem. After that I tried the same thing but in this time the Magento wasn't installed yet. The issue appear when Magento try to enable Mailchimp extension. The message says: "[ERROR] Magento\Framework\Exception\LocalizedException: Invalid entity_type specified: customer"

I'm

[2017-09-01 15:50] gonzaloebiz commented on #79
Hi @scolandrea

take a look at https://github.com/mailchimp/mc-magento2/commit/16124cc40ecafea7658816519a62807ec810ce7c

This will be include in the next release.

Best

[2017-09-01 15:50] #79 closed, assigned to nobody

[2017-09-04 08:29] kllee824 commented on #74
Hi gonzaloebiz

I have installed mailchimp by composer on clean version EE 2.0.11 without data downloaded from Magento. Such that can eliminate any 3nd party code affect the Mailchimp configuration.

But still can't enabled on Admin portal. Please help.

Thanks
Lun

[2017-09-04 08:30] kllee824 commented on #74
![c2](https://user-images.githubusercontent.com/20422500/30018135-539841e2-918e-11e7-9714-75b9d2e77902.PNG)

[2017-09-04 22:00] msawyers commented on #73
HI,

Where is the location of the referenced log.
I reattempted an am getting the same error, no change when creating Store.
and listing continues to synchronize.

[2017-09-04 22:01] msawyers commented on #73
The API key is correct, otherwise the store would not have been created in Mailchimp

[2017-09-04 23:05] gonzaloebiz commented on #73
Typically the logs are in

/var/log/apache2 if you use a debian/ubuntu like and apache
/var/log/httpd if you use a centos like and apache
/var/log/nginx if you use nginx

But ask to your support/infrastructure team.

Best

[2017-09-05 16:06] rikardwissing opened #81 "Fatal Error: 'Uncaught Error: Call to undefined method Magento\\Customer\\Model\\Data\\Address::getStreetLine()"
I'm using version 1.0.23.

I get this when subscribing customer to Newsletter.

The issue is in _updateMergeVars() in Helper/Data.

[2017-09-05 16:10] gonzaloebiz commented on #81
Hi @rikardwissing

please, follow our [issue report guidelines](https://github.com/mailchimp/mc-magento2/wiki/Issue-reporting-guidelines)
I close the issue for now and re open it when you update the issue

Best

[2017-09-05 16:10] #81 closed, assigned to nobody

[2017-09-05 18:59] gonzaloebiz opened #82 "Incorrect image url"
the image url points to a cache image, if the admin flush the catalog images cache, in mailchimp products are linked to a non existing image.
the image in mailchimp must point to the real image, not to the cache

[2017-09-05 19:04] #82 closed, assigned to gonzaloebiz

[2017-09-05 21:01] msawyers commented on #73
Issue still exist.

screen also shows invalid api though api is correct
![api](https://user-images.githubusercontent.com/8907629/30083285-7ffb98d6-9253-11e7-9cf2-aa7047504cb2.PNG)

[2017-09-06 13:47] palvinder03 opened #83 "Exception #1 (ReflectionException): Class Mailchimp does not exist"
I have installed the extension , but it's showing
Exception #1 (ReflectionException): Class Mailchimp does not exist
can you plz quick help to sort out this
![image](https://user-images.githubusercontent.com/17448065/30115268-dc013084-9337-11e7-861b-fa56b0a0b63c.png)

[2017-09-06 13:50] gonzaloebiz commented on #83
see at this https://github.com/mailchimp/mc-magento2/issues/60

[2017-09-06 13:50] #83 closed, assigned to gonzaloebiz

[2017-09-06 13:53] palvinder03 commented on #83
Thanks @gonzaloebiz

[2017-09-06 20:59] takmonster commented on #66
Hey there,

I'm a dev at MailChimp. We've dug into this a bit and have a fix in mind that we hope to have out in the coming weeks. I'll update here once it's live.

---

On an implementation-side, this seems to happen when you create a Store via the API with `is_syncing` set to `false` and then never manipulate that value again. As long as you don't manipulate that value, the app considers the sto

[2017-09-07 17:21] gonzaloebiz opened #84 "Incorrect cart url"
When you have multiple stores, the cart url is wrong when sync, always refer to the default magento store and not to each store

[2017-09-07 17:24] #84 closed, assigned to gonzaloebiz

[2017-09-08 06:45] kllee824 commented on #74
Hi ,

Any update for EE 2.0.11?

Thanks
Lun

[2017-09-08 15:39] gonzaloebiz commented on #74
Hi @kllee824

you already run
bin/magento setup:upgrade
bin/magento setup:static-content:deploy
bin/magento cache:clean

any apache or magento log?

Best

[2017-09-11 15:54] gonzaloebiz opened #85 "Error installation when use split database"
We are using Mailchimp for our magento 2 store.

We are facing issue in installation as its throwing error .

We have split the DB of the magento 2 as given in link below for the performance.
https://firebearstudio.com/blog/magento-2-split-database.html
http://devdocs.magento.com/guides/v2.0/config-guide/multi-master/multi-master.html

![mailchimp error](https://user-images.githubusercontent.com/6

[2017-09-11 16:03] #85 closed, assigned to gonzaloebiz

[2017-09-11 17:50] Shero-Inc opened #86 "When run setup upgrade, this error appears "Connection "checkout" is not defined""
Magento CE
Magento ver. 2.1.8

How to replicate:
git clone repo to the Magento.
then run setup:upgrade

php bin/magento setup:upgrade

The error is like the following in terminal:

Module 'Ebizmarts_MailChimp':
Installing schema...

  [DomainException]
  Connection "checkout" is not defined

[2017-09-11 18:00] Shero-Inc commented on #86
Looks like the issue is happening on this connection
app/code/Ebizmarts/MailChimp/Setup/InstallSchema.php

`$connection = $this->_resource->getConnectionByName('checkout');`

What's the reason of using connection by name, instad of `$connection = $this->_resource->getConnection();`

[2017-09-11 18:24] Shero-Inc opened #87 "Adminhtml Error, when try to go to Mailchimp Options"
Magento CE
Magento ver. 2.1.8

How to replicate:

Go to admin-> mailchimp-> configuration :

![screen shot 2017-09-11 at 20 20 22](https://user-images.githubusercontent.com/29729984/30290232-ea204c54-972e-11e7-9cee-b96efec819b8.png)

The same issue for Mailchimp stores option as well.

[2017-09-11 19:20] gonzaloebiz commented on #87
composer require ebizmarts/mailchimp-lib

[2017-09-11 19:20] #87 closed, assigned to gonzaloebiz

[2017-09-11 19:22] gonzaloebiz commented on #86
Why you use a develop version of the extension?

[2017-09-11 19:23] #86 closed, assigned to gonzaloebiz

[2017-09-12 13:55] gonzaloebiz commented on #73
You already look at the logs?

[2017-09-13 15:34] timothydmahon opened #88 "Major Admin Order Grid Slowdown"
**Preconditions:**
Magento EE 2.1.7
Mailchimp for Magento v1.0.21

Filter at 200 Orders per page for full effect

**Steps to reproduce:**
1. Open the Magento 2 admin panel
2. Navigate to the Sales->Orders Section
3. Optionally, set filter to 200.

**Expected results:**
Prior to installing this extension expected load time for 200 results sat at around the 5-10s mark.
Actual results:
After installa

[2017-09-14 07:14] kllee824 commented on #74
Hi @gonzaloebiz

I can't find any related mailchimp log message in the log on 2.0.11. Please refer the logs.
BTW, I have try to install on Luma magento 2.1.18, and the installation is fine which can save the API key.

[apache_logs.zip](https://github.com/mailchimp/mc-magento2/files/1302021/apache_logs.zip)

[var_report.zip](https://github.com/mailchimp/mc-magento2/files/1302020/var_report.zip)
[Ma

[2017-09-14 09:52] springerin opened #89 "having confirmation both on account registration and newsletter subscription not working"
So currently there is a bug on magento 2 ( my current installation is 2.1.8) https://github.com/magento/magento2/issues/9787
Newsletter Subscription is cancelled automatically on Account Confirmation.

Once I solved this bug, the user receives the following mails:
1 for account confirmation request
1 for newsletter confirmation request

If the user confirms the account, he gets a second newsletter

[2017-09-14 09:53] trushangsuthartri opened #90 "Ecommerce Data is not syncying in magento 2 store and mailchimp"
Magento CE 2.1.8
Mailchimp for Magento 1.0.21

Expected results:

I have installed you MailChimp extension for Magento 2 in a store.

And I followed your instructions hho and configure correctly. And everything seems good,

I am not receiving any data in mailchimp from magento, I think customer, orders should be sync. and after new order place detail of new order shouls be in mailchimp but current

[2017-09-14 12:31] gonzaloebiz commented on #90
Hi @trushangsuthartri

you already configured your magento cron?

[2017-09-14 12:33] trushangsuthartri commented on #90
@gonzaloebiz

no

[2017-09-14 12:36] gonzaloebiz commented on #90
This is why.
The extension needs the cron system

Best

[2017-09-14 12:36] #90 closed, assigned to nobody

[2017-09-14 12:39] trushangsuthartri commented on #90
@gonzaloebiz

ok thanks

[2017-09-14 13:07] gonzaloebiz commented on #89
Hi @springerin

sorry but i don't understand.
" try to rewrite the plugin by disabling it and make a new plugin"... you disable what?
How you call this new class Bitbull\Fixes\Mailchimp\Model\Plugin\Subscriber?

[2017-09-14 13:42] springerin commented on #89
Following magento directives, my only way to change your plugin is to disable your plugin and write my own plugin to do the same things ( using the same classes you have in your plugin) with the new added code but for some reason I can't use your helper in my own module because of the error I told you up.
While isn't a must to be able to use your helper in my ( or any custom) module, maybe figure

[2017-09-14 14:00] gonzaloebiz commented on #89
Sure, you (or any) can use our helper
You already run

bin/magento setup:upgrade
bin/magento setup:static-content:deploy
bin/magento cache:clean

?

[2017-09-14 14:10] gonzaloebiz commented on #88
Hi @timothydmahon

thanks for your feedback.
I will take a look, looks like you are right

Best

[2017-09-18 14:09] ebizmarts-keller opened #91 "2 confirmation emails sent with double opt-in"
mc-magento 1.0.21, 1.0.23
Magento version 2.1.5, 2.1.8

When double opt-in is enabled in Magento, both an email from Magento and an email from Mailchimp are sent to confirm the subscription.

If double opt-in is disabled in Magento, no emails are received to confirm the subscription at all, the email is just subscribed right away (as expected)

Mandrill was installed in all cases, though this happ

[2017-09-18 17:09] #88 closed, assigned to gonzaloebiz

[2017-09-18 17:13] gonzaloebiz commented on #73
After a week without news. close the issue

[2017-09-18 17:13] #73 closed, assigned to gonzaloebiz

[2017-09-19 15:50] gonzaloebiz commented on #89
With no news, i close the issue

[2017-09-19 15:50] #89 closed, assigned to gonzaloebiz

[2017-09-25 00:44] gilbertsohal opened #92 "Magento 2.1.8 - Installation failed error"
Preconditions:

Magento CE ver. 2.1.8
MailChimp for Magento mc-magento2-1.0.24
PHP 7.0

Steps to reproduce:
1.Download "MailChimp For Magento2" in ebizmarts
2. Install "MailChimp for Magento2" with Semi-manual installation
3. extract the contents in app/code/Ebizmarts/MailChimp
4. run composer command: composer require ebizmarts/mailchimp-lib

ERROR
![screenshot](https://user-images.githubusercont

[2017-09-25 01:33] gonzaloebiz commented on #92
This is not an error of the extension, recommend to run composer with -vvv

Best

[2017-09-25 01:33] #92 closed, assigned to nobody

[2017-09-25 01:43] gilbertsohal commented on #92
@gonzaloebiz
Thanks very much for your quick reply. Could you please explain i don't understand how to run composer with -vvv

[2017-09-25 11:44] gonzaloebiz commented on #92
composer -vvv require ebizmarts/mailchimp-lib

[2017-09-25 17:59] msawyers commented on #73
Hi,
Missing JS causing API not to load on screen.
Why is it referencing a missing file?
![jsmissing](https://user-images.githubusercontent.com/8907629/30823159-e9621816-a1f0-11e7-8b62-8ccb1c0f00c7.PNG)

[2017-09-25 18:09] msawyers commented on #73
Ignore last issue, i fixed this by clearing cache

[2017-09-25 18:19] msawyers commented on #73
![apache2log](https://user-images.githubusercontent.com/8907629/30824142-2a0eccd0-a1f4-11e7-8afd-c69929acd214.PNG)

there is nothing in log to suggest an issue with server

[2017-09-25 18:21] msawyers commented on #73
I check logs and nothing suggest an issue on server
![apache2log](https://user-images.githubusercontent.com/8907629/30824210-66f8a38c-a1f4-11e7-9f2c-43e6beb41332.PNG)

[2017-09-25 18:22] msawyers commented on #73
i even used a fresh version of magento and still getting same issue

[2017-09-26 08:46] gilbertsohal commented on #92
@gonzaloebiz

Hi @gilbertsohal
This issue does not seem to be related to Magento but to the Mailchimp extension. Please report issues with third-party extensions directly to their vendors.
Thank you

[2017-09-26 14:54] gonzaloebiz commented on #92
You try run composer with -vvv?
Please paste the result

[2017-09-26 16:04] jmayoranotandil opened #93 "Performance cron ebizmarts_ecommerce"
The cron ebizmarts_ecommerce has a performance problem when the customer/subscriber table is too large. The problem isn`t visible at first, but day by day the performance of the crons degrades.

The query with problems is

`SELECT e.*, m4m.* FROM customer_entity AS e LEFT JOIN mailchimp_sync_ecommerce AS m4m ON m4m.related_id = e.entity_id and m4m.type = 'CUS' and m4m.mailchimp_store_id = 'XXXXXX'

[2017-09-27 22:58] gilbertsohal commented on #92
@gonzaloebiz Yes i run composer with -vvv. I got below error.

Error Screenshot
![mailchimp-error](https://user-images.githubusercontent.com/29964872/30941921-2cdcf3a4-a42b-11e7-8d5c-d1e607aed4b2.jpg)

[2017-09-28 12:35] gonzaloebiz commented on #92
As you can see here https://github.com/ebizmarts/mailchimp-lib/blob/master/composer.json the mailchip-lib has no dependencies.

[2017-09-28 14:30] nickalmeida commented on #66
Hey @takzilla any updates on this issue or any workaround? I am desperate to get the abandoned emails to work with no luck. Please help

[2017-09-28 22:00] takmonster commented on #66
The fix isn't live yet I'm afraid. In the mean time, would you be able to send me an email including the email address that's associated with your MailChimp account? I'd like to confirm that our fix will resolve the issue for you once it is live. If anyone else besides @nickalmeida is seeing this, feel free to send me an email with the same info as well.

[2017-10-03 08:54] wigman commented on #91
SUPER hacky/temporary fix:
I commented line 449 in file /vendor/magento/module-newsletter/Model/Subscriber.php

[code]

If I had more time on hand I would create a preference for this file and override
[code]
with this change (wrapped with a if-statement to check if mailchimp is enabled).

[2017-10-04 18:58] gonzaloebiz opened #94 "Total subscribers in admin display the total subscriber of the account"
When go to the admin of the extension, the Total Subscribers show the total subscriber of the account, that is weird and confused.
Better option is modify the Label of this field to Total Account Subscribers and a new one for Total List Subscribers

[2017-10-04 19:00] #94 closed, assigned to gonzaloebiz

[2017-10-04 21:06] #93 closed, assigned to gonzaloebiz

[2017-10-04 21:08] gonzaloebiz commented on #93
Thanks @jmayoranotandil for your contribution

[2017-10-05 15:13] ebizmarts-keller opened #95 "Module doesn't install if database uses a prefix"
Magento 2.1.8
mc-magento 2 1.0.24

Conditions: Have Magento 2 using a prefix on the database

When doing setup:upgrade after installing via composer, the following error is thrown:

![screenshot at 2017-10-05 11-32-04](https://user-images.githubusercontent.com/19838935/31233503-3516cffc-a9c3-11e7-965b-6994a96cfb44.png)

[2017-10-05 16:24] #95 closed, assigned to gonzaloebiz

[2017-10-06 12:35] sam110386 commented on #66
![image](https://user-images.githubusercontent.com/16823364/31277914-c1a0c178-aac0-11e7-82a0-e11636543530.png)
We are also facing same issue. We installed MailChimp v1.0.23. Please help if you resolved this issue.

[2017-10-06 17:42] MelissaEbizmarts opened #97 "Store is always syncing"
The value on the module configuration page is always in is syncing even if the module has already sync all the data.

[2017-10-06 18:06] #97 closed, assigned to gonzaloebiz

[2017-10-08 14:45] springerin commented on #89
Sorry I didn't see this comment, yes I did all of the commands you've suggested.
If you wish I can make a repo where you can get the code yourself and test it. @gonzaloebiz

[2017-10-11 09:05] jerryvasoya338 opened #99 "Version Related Issue"
I was latest mail chimp 1.0.24 download and install and then my web is error genrate is some choking..
my web is error genrating is "

" so you can check and new latest version uploads again plz..

[2017-10-11 11:09] EthicalErik commented on #99
Have you ran:
composer update
php bin/magento setup:upgrade
php bin/magento setup:static-content:deploy
php bin/magento setup:di:compile
php bin/magento indexer:reindex
php bin/magento cache:flush
php bin/magento cache:clean

[2017-10-11 12:04] gonzaloebiz commented on #99
that is not an issue

[2017-10-11 12:04] #99 closed, assigned to nobody

[2017-10-13 10:19] epiceye commented on #66
We are experiencing the same issue - I found the following error in the cron_schedule table - not sure if it is related. "error   | Requested country is not available. "
I am running magento V2.1.0 and PHP 7.0.x and mc-magento 1.0.24
![01](https://user-images.githubusercontent.com/8456151/31542040-cebf2372-b010-11e7-8bd8-d7cdadf5e506.png)

[2017-10-14 05:57] jerryvasoya338 commented on #60
Sorry Sir Same Issue for
 [ReflectionException]
  Class Mailchimp does not exist
But Your Solution is does not work proper because composer.json is same file you indicate also same issue genrate
Screenshot for the issue
![screenshot_1](https://user-images.githubusercontent.com/32189619/31573116-dfae5c8a-b069-11e7-93bb-8e83f3130692.png)

[2017-10-16 13:56] gonzaloebiz opened #100 "Add support for Promo Rules and Promo Codes"

[2017-10-17 10:17] ghost opened #101 "wkey parameter is invalid from ip: xxx.xxx.xxx.xxx"
Hi when we try to update the webhook in mailchimp (which got automatically generated) I get a 403 response code.
In my logs I found a lot of these:
[2017-10-17 10:07:48] MailChimpLogger.INFO: wkey parameter is invalid from ip: XXX.XXX.XXX....

Any suggestions?

[2017-10-17 17:49] ghost commented on #66
We seem to face the same issue. Everything is syncing (Customers, Products, Orders and carts) but when it was finished Mailchimp still said that the list is syncing.

[2017-10-17 19:16] jordanbrauer commented on #66
@takzilla Any update on the issue?

[2017-10-18 03:43] gonzaloebiz commented on #101
Hi @marcmayo

please read the issue reporting guidelines in the home page of the extension and re format your issue.

Best

[2017-10-18 03:43] #101 closed, assigned to nobody

[2017-10-18 06:29] ghost opened #102 "wkey parameter is invalid from ip: xxx.xxx.xxx.xxx"
1. Magento CE 2.1.6 is installed.
2. mc-magento2 1.0.24
3. I have set up multiple stores in Magento and have set up multiple stores in Mailchimp as well.
4. Mailchimp is currently syncing (finished but the status doesn't change -> see #66 )
5. It automatically created webhooks in my Mailchimp account for each list like Domain.com/index.php/mailchimp/webhook/index/wkey/905a61cdd18sia/  (changed the

[2017-10-18 12:00] gonzaloebiz commented on #102
You changed the crypt key?

[2017-10-18 12:04] ghost commented on #102
@gonzaloebiz I only changed it for the post to not make it public for all github users... Did not change anything in the system.

[2017-10-18 12:11] gonzaloebiz commented on #102
@marcmayo check the webhook for the list in mailchimp, be sure that the url include the first crypt key of your magento

[2017-10-18 12:54] ghost commented on #102
@gonzaloebiz where can I see the first crypt key of Magento? Is it the one I can generate in System -> Encryption Key? I re-generated it and it still doesn't work.
Can't seem to find another "crypt key"

[2017-10-18 12:56] gonzaloebiz commented on #102
You can find the key in the file app/etc/env.php

[2017-10-18 15:37] ghost commented on #102
@gonzaloebiz I tried this as well. Also re-created the key and tried again. Does not work.

[2017-10-18 16:27] gonzaloebiz commented on #102
Put a log after this line https://github.com/mailchimp/mc-magento2/blob/develop/Controller/WebHook/Index.php#L67 to check both values.

[2017-10-18 16:42] ghost commented on #102
@gonzaloebiz got it. The webhook key and the wkey were different.
Thanks for the tip.

[2017-10-18 17:08] gonzaloebiz commented on #102
you recognize the key in the webhook? in an old one?

[2017-10-18 20:03] ghost commented on #102
What I did was
`		$this->_helper->log(' Webhookskey is '.$this->_helper->getWebhooksKey());`

`		$this->_helper->log('get param wkey is '.$this->getRequest()->getParam('wkey'));`

both keys were different. I then changed the URL in Mailchimp to fit the key given by Magento and it worked. But they key I have now is not similiar to the key in app/etc/env.php in any way.

[2017-10-18 20:17] ghost opened #103 "Resource not found class_path:List_Instance"
1. Magento CE 2.1.6 is installed.
2. mc-magento2 1.0.24
3. I have set up multiple stores in Magento and have set up multiple stores in Mailchimp as well and it's still syncing.

I get the following code when a new user signs up on my Magento store:

`No such entity with email = xxxxxx@gmail.com, websiteId = 6`
`Resource Not Found : could not find resource for requested class_path:List_Instance`

B

[2017-10-20 12:06] maderlock opened #104 "API Key ignored if no new line"
Pre-condition
* Extension v3.0.14
* Magento 2.1.9

Steps
* Enable in config
* Copy and paste API key into list
* submit

Expected result
* Dropdown of API keys will show single API key so that we can select it

Actual result
* Dropdown is empty

In order to make the API key appear I eventually entered a new line after the end of the API key. When I did that and submitted the key appears in the dro

[2017-10-20 16:42] gonzaloebiz commented on #104
Extension v3.0.14 not exist, take a look at https://github.com/mailchimp/mc-magento2/releases

[2017-10-20 16:44] #104 closed, assigned to gonzaloebiz

[2017-10-21 17:18] nihachi opened #105 "Mailchimp Setting not showing in Admin"
Im using magento 2.1.9

[2017-10-21 17:43] #105 closed, assigned to nobody

[2017-10-23 07:11] Krupaly2k-zz opened #106 "Class Mailchimp does not exist"
Hi,

I have installed the extension and after click on Mailchimp menu in admin it shows error:

3 exception(s):
Exception #0 (Magento\Framework\Exception\LocalizedException): Invalid block type: Ebizmarts\MailChimp\Block\Adminhtml\System\Config\Fieldset\Hint
Exception #1 (ReflectionException): Class Mailchimp does not exist
Exception #2 (ReflectionException): Class Mailchimp does not exist

Please

[2017-10-23 07:42] ghost commented on #66
is there a workaround so we can set the sync to complete manually?
Really need this working as we can't sync any store at the moment

[2017-10-23 12:03] gonzaloebiz commented on #106
composer require ebizmarts/mailchimp-lib

[2017-10-23 12:03] #106 closed, assigned to nobody

[2017-10-23 14:52] takmonster commented on #66
@jordanbrauer @marcmayo

Can you both send me an email with the email address associated with your MailChimp accounts? I can take a closer look. My email contact should be visible from my profile page.

[2017-10-24 18:12] jpratt opened #107 "di compile produces Class Mailchimp does not exist"
Magento CE 2.1.9
MailChimp 1.0.24

When doing a di:compile I am getting an error:

"Class Mailchimp does not exist "

Looking for a reference for this class I am seeing in Cron\Webhook.php on lines 217 and 219 calls to const \Mailchimp::SUBSCRIBED and \Mailchimp::UNSUBSCRIBED, where are these class constants defined?

Also a possible unrelated issue on line 213 of the same file:

$subscriber->setS

[2017-10-24 18:22] gonzaloebiz commented on #107
duplicate

[2017-10-24 18:22] #107 closed, assigned to nobody

[2017-10-24 18:28] jpratt commented on #107
Should have created a separate issue. And the store ID line. Is that a typo/bug?

[2017-10-24 18:45] gonzaloebiz commented on #107
Yes is a typo, i just fixing it

[2017-10-24 23:36] #100 closed, assigned to gonzaloebiz

[2017-10-25 14:17] lgrassini commented on #66
Hello @takzilla @gonzaloebiz

We are facing the same problem here. We can't run our abandoned cart strategies since is not working.

@takzilla I'll send you my mailchimp account information in a pm.

[2017-10-25 14:31] gonzaloebiz commented on #66
Hi @lgrassini

this issue will be fixed next version when [this](https://github.com/mailchimp/mc-magento2/issues/97) applied.

Best

[2017-10-26 14:56] maderlock commented on #104
Apologies. That must be the version of the MC library. It's version 1.0.24.

Please reopen.

[2017-10-26 15:00] maderlock opened #108 "Exception when Ecommerce cron runs"
**Pre-condition**

* Extension v1.0.24
* Magento 2.1.9

**Steps**

* Enable in config and turn on ecommerce syncing
* Start cron job syncing

**Expected result**

* Sync will run multiple times, updating customers, products etc.

**Actual result**

* Sync runs multiple times, updating customers, products etc.
* Then at some point it starts crashing out and then crashes every time with this message

[2017-10-26 16:03] moneef commented on #66
Hey @gonzaloebiz thank you for the great work,
i'm having the same issue , can you tell us when will the fix will be implemented ?

[2017-10-26 19:42] gonzaloebiz commented on #108
Hi @maderlock

thanks for your feedback.
This is already fixed.

Best

[2017-10-26 19:42] #108 closed, assigned to gonzaloebiz

[2017-10-27 08:51] NiteshKuyate commented on #66
We seem to face the same issue. Everything is syncing (Customers, Products, Orders and carts) in Magento admin.
Also MailChimp > Connected Sites > List Settings > Syncing list:#### continuesly.
@gonzaloebiz When next version will launch aprox.?

[2017-10-27 09:09] KevinMace commented on #66
We're also having a very similar issue. The sync has been going for days, with only our client's product catalog actually synced and none of their customer/order/cart data.

<img width="418" alt="screen shot 2017-10-27 at 10 07 02" src="https://user-images.githubusercontent.com/1065240/32096586-cab8fd54-bafe-11e7-84f5-e8577b0f8010.png">

[2017-10-27 09:16] moneef commented on #66
@KevinMace and @NiteshKuyate ,

you can use `composer require "mailchimp/mc-magento2" "dev-develop"` to get the latest version with the fix, also you should change composer `"minimum-stability" ` to `"dev"` before using the command

**P.S i don't recommend getting the dev version**

##  **also guys if you have time i need help with mailchimp and how to manage my lists for two store-views, i read t

[2017-10-27 13:24] gonzaloebiz commented on #66
@moneef @NiteshKuyate next week i think

[2017-10-31 18:12] jpratt opened #109 "After adding MailChimp store, warning on grid."
Magento 2.1.9
1. Under "MailChimp Stores", I click to add a store.
2. I fill out information to add a store.

Result: The store appears to save but when it is redirected to the stores I get: Warning: Invalid argument supplied for foreach() in /var/www/vhosts/xxxxxxx/releases/20171027235957/vendor/magento/framework/View/Element/UiComponent/DataProvider/DataProvider.php on line 252

This is problema

[2017-10-31 18:18] gonzaloebiz commented on #109
What version of m4m you have?

[2017-10-31 18:26] jpratt commented on #109
I assume you are referring to the setup version. It is 1.0.24.

[2017-10-31 18:27] gonzaloebiz commented on #109
check if you have an invalid api key in the apikey list

[2017-10-31 18:29] jpratt commented on #109
My api key seems to work and get a list of valid lists from mailchimp.

[2017-10-31 18:34] gonzaloebiz commented on #109
OK
The issue in only when you add a new store? If you go from the magento menus to mailchimp stores this not happens?

[2017-10-31 18:47] jpratt commented on #109
Yes it does happen once one store is added and I go back to the stores list.

[2017-10-31 19:01] gonzaloebiz commented on #109
Weird, i just test it and work OK for me.
Do you have any other additional information to reproduce the issue?

[2017-10-31 23:37] jpratt commented on #109
No, just seeing this warning on the main stores grid. Does not show anything in the content except this warning.

[2017-11-01 03:20] gonzaloebiz commented on #109
We need a way to reproduce.
You try in a vanilla installation?

[2017-11-01 05:52] NiteshKuyate commented on #66
@gonzaloebiz We are waiting to make site live. Can you tell aprox or exact launching date for updated version ?

[2017-11-01 13:18] ghost commented on #66
@gonzaloebiz thanks for fixing this. @moneef You mentioned earlier that it's possible to install a developer version with the fix? Can we also apply this fix by replacing files instead of using the composer?
We are really running out of time as we want to start early bird Christmas campaigns soon etc.

[2017-11-01 15:02] gonzaloebiz opened #110 "Add mergevars"
Add mergevars in the subscriber

[2017-11-01 15:22] moneef commented on #66
@marcmayo check this out https://github.com/mailchimp/mc-magento2/commit/7f5b0b96b127783c5079dd84cef2b855e806d6ba , https://github.com/mailchimp/mc-magento2/commit/a94bf69f77bae14fd5b8a5ca89012e4c88d8e938 and https://github.com/mailchimp/mc-magento2/commit/91b7db721f204943c54e2751e844abb8604fc708

It's better to get the full version 1.0.25 from composer as I mentioned before, it has alot of improv

[2017-11-03 13:13] gonzaloebiz opened #111 "The cart url for abandoned cart not work"
When access to the cart url in the abandoned cart email not work

[2017-11-03 13:14] #111 closed, assigned to gonzaloebiz

[2017-11-06 12:05] lgrassini commented on #66
Hi guys,
Any news about when this going to be released to the stable branch?
Thanks.

@gonzaloebiz @takzilla

[2017-11-07 05:19] NiteshKuyate commented on #66
Hello ,
We have installed develop version **1.0.25** by downloading .zip from **github** then configured it to test mailchimp account having only 10 subscribers before 15 hours but still same issue exists i.e. **List Settings syncing seemingly forever.**
@takzilla @gonzaloebiz @moneef

[2017-11-07 12:22] gonzaloebiz commented on #66
Hi @NiteshKuyate

you already look at the logs?

[2017-11-07 12:22] #66 closed, assigned to takzilla, gonzaloebiz

[2017-11-07 12:53] maderlock opened #112 "Error due to customer data race condition"
Magento 2.1.9
Mailchimp module 1.0.25
Varnish 3

Checkout works fine.
When I turn on the MailChimp extension and fill in details:

Visiting the checkout I get stuck on a wait spinner. The following error is shown in the console:

    section-config.js:33 Uncaught TypeError: Cannot read property '*' of undefined
        at Object.getAffectedSections (section-config.js:33)
        at HTMLDocument.<a

[2017-11-07 17:20] maderlock commented on #104
Please reopen

[2017-11-07 19:50] kfriend opened #113 "Incomplete DB table names when using DB prefix"
When Magento is configured to use a DB prefix (e.g. `mage_`), this extension's DB scheme migrations will fail. It seems that the usage of the `getTableName()` method, when calling directly on a connection, will not include the DB prefix. This issue (https://github.com/magento/magento2/issues/6402) suggest that calling `getTableName()` directly on the resource, instead of connection, will resolve t

[2017-11-07 19:51] gonzaloebiz commented on #113
What version of m4m2 do you have?

[2017-11-07 20:05] kfriend commented on #113
Thanks @gonzaloebiz. I was using 1.0.24 from the Magento store. Just removed and installed via Composer, which gave me 1.0.25. I see the note about the DB prefix fix in 1.0.25's release notes.

Closing this issue. Sorry about wasting time 😊

[2017-11-07 20:05] #113 closed, assigned to nobody

[2017-11-08 09:44] NiteshKuyate commented on #66
@gonzaloebiz
you already look at the logs?
P.S. > Yes, nothing found in log.
Can you please tell, why this bug closed and added "Done" label ?

[2017-11-08 10:43] maderlock commented on #108
Just deployed 1.0.25 and still get the same issue. Was this fixed for the latest release?

[2017-11-08 10:54] maderlock commented on #108
Here is what I'm seeing in the cron schedule:

![screenshot 2017-11-08 10 54 17](https://user-images.githubusercontent.com/630320/32545316-34ded0aa-c473-11e7-83cf-9a4cd48d2479.png)

[2017-11-08 10:56] maderlock opened #114 "Exception when running cron"
Pre-condition

**Extension v1.0.25**
Magento 2.1.9
Steps

Enable in config and turn on ecommerce syncing
Start cron job syncing
Expected result

Sync will run multiple times, updating customers, products etc.
Actual result

Sync runs multiple times, updating customers, products etc.

Then at some point it starts crashing out and then crashes every time with this message:

[RuntimeException]
Cron-j

[2017-11-08 12:33] maderlock opened #115 "Enhancement request: coupon generation"
I have a couple of clients asking if there is any way to generate coupons for abandoned carts. Having a global one is insecure and cannot be time limited.

Uncertain how this would work given that it is Mailchimp that creates these messages. Perhaps a coupon could be created by Magento on spec and then pushed to MailChimp? Or a webhook used to tell Magento to create it?

Really interested to hear

[2017-11-08 12:34] torlokken opened #116 "Magento 2.2 compatibility"
Please add 2.2 compatibility

[2017-11-08 13:01] #114 closed, assigned to gonzaloebiz

[2017-11-08 13:09] gonzaloebiz commented on #115
That's is not possible for now, sorry

[2017-11-08 13:09] #115 closed, assigned to nobody

[2017-11-08 13:10] gonzaloebiz commented on #112
Can you share your varnish configuration?

[2017-11-08 13:20] gonzaloebiz opened #117 "Error when the webhook is created"

[2017-11-08 13:29] #117 closed, assigned to gonzaloebiz

[2017-11-08 13:30] gonzaloebiz commented on #109
No news on 1 week, close the issue

[2017-11-08 13:30] #109 closed, assigned to gonzaloebiz

[2017-11-08 14:01] maderlock commented on #112
Sure:

	import std;
	# The minimal Varnish version is 3.0.5
	# For SSL offloading, pass the following header in your proxy server or load balancer: 'X-Forwarded-Proto: https'

	backend default {
	    .host = "127.0.0.1";
	    .port = "8080";
	}
	acl purge {
	    "127.0.0.1";
	}
	sub vcl_recv {
	    # Uncomment to disable hits - always pass!!
	    return (pass);

	    if (req.restarts == 0) {

[2017-11-08 14:17] maderlock commented on #112
I will try completely bypassing varnish in case it's the use of varnish that is what is causing the issue.

[2017-11-08 18:57] gonzaloebiz opened #118 "Mark customer as modified when any data was modified"
Missing mark the customer as modified in the sync_ecommerce table when the data of the customer is modified (or address)

[2017-11-09 14:10] maderlock commented on #114
Tested with develop branch. Still having the same error. Is there any logging I could add that might help you resolve this for me?

[2017-11-09 16:03] maderlock commented on #114
I've put a try catch block around the whole cron job. Here is what I get:

	Requested product doesn't exist#0 .../web-root/vendor/mailchimp/mc-magento2/Model/Api/Product.php(128): Magento\Catalog\Model\ProductRepository->get(NULL)
	#1 .../web-root/vendor/mailchimp/mc-magento2/Cron/Ecommerce.php(169): Ebizmarts\MailChimp\Model\Api\Product->_sendProducts(1)
	#2 .../web-root/vendor/mailchimp/mc-magen

[2017-11-09 16:06] maderlock commented on #114
I wonder if this has been caused by the batch nature of product upload? If this takes a while and products are deleted during the process, could this cause the issue? Sounds plausible...

[2017-11-09 17:18] gonzaloebiz commented on #114
When an order/cart was synced, first of all, the products in the order/cart are synced. In the case of an order/cart that contains a product that was deleted no product are synced and the order/cart neither (that is because the total of the order/cart not match the lines). And the order/cart is marked as with errors to allow continues with the others orders/carts

Best

[2017-11-09 19:52] #110 closed, assigned to gonzaloebiz

[2017-11-09 19:52] #118 closed, assigned to gonzaloebiz

[2017-11-10 03:32] gonzaloebiz commented on #112
Hi @maderlock

i try with both, with POST and GET in https://github.com/mailchimp/mc-magento2/blob/develop/view/frontend/web/js/mailchimpjs.js#L4 and both works for me.
Can you identify the differences of your servers? Perhaps the version of varnish or php or both, perhaps some configuration in magento
I know , is hard to reproduce in fact i can't.
Anyway, i think you are wright, the ajax call mus

[2017-11-10 10:04] maderlock commented on #112
It's difficult, as I have virtually identical setups and on one this causes a problem and another it does not. I will delve deeper into this as soon as I can.

Thanks for making the POST->GET change. It may be that the listener causing the error only fires when varnish is in use, but this will remove one javascript error from the console so at least I can discount that.

[2017-11-10 10:08] maderlock commented on #114
Do you know why I'm getting this error unless I put the try/catch in Model/Api/Product.php? Currently I'm having to leave a modified file on the live server and exclude it from deployment. It would be good to get this fix into a release. And I'd like to know if just skipping products on line 128 is safe!

[2017-11-10 10:39] archonkulis opened #119 "No check for store id != -1 in Ecommerce.php 150th line"
Running newest version of extension ( 1.0.25 ) cron "ebizmarts_ecommerce" and receiving:

"Resource Not Found : The requested resource could not be found"

Found out that it's because there is no check on 150th line:

[code]

after foreach, there should be check:

[code]

Or something like that.

Let me know what you think.

Thanks.

[2017-11-10 11:41] maderlock opened #120 "Not seeing guest abandoned cart emails"
Setup
* 1.0.25 plus a couple of commits (35a4245f1ae63d0ecf574716c5865e13f3597a77)
* magento 2.1.9
* Varnish 3
* Default abandoned cart automation (series of 3 emails) in MailChimp
* Sync with MailChimp listed as complete - I can see recent customers listed on MailChimp and ecommerce data for recent orders

Steps
* As a guest, add items to cart and get to payment step of checkout so that email add

[2017-11-10 12:12] gonzaloebiz commented on #120
Hi @maderlock

check the table cron_schedule for the job_code ebizmarts_ecommerce.
If the table don't show errors, check the table quote and confirm that the quote you want have a customer_email and is_active and not converted.
If the quote looks OK, check the table mailchimp_sync_ecommerce with type = QUO and related_id = your quote id, if no mailchimp_sync_error on this table for this quote, the

[2017-11-10 12:23] gonzaloebiz commented on #119
Hi @archonkulis,

please follow the [guidelines](https://github.com/mailchimp/mc-magento2/wiki/Issue-reporting-guidelines) for issue reporting.

[2017-11-10 12:23] #119 closed, assigned to nobody

[2017-11-10 18:34] gonzaloebiz opened #121 "Send duplicates promo codes"

[2017-11-10 18:43] gonzaloebiz commented on #116
Hi @torlokken

we just test it in magento 2.2.1 and all works OK.
Are you already trying?

Best

[2017-11-10 19:54] #121 closed, assigned to gonzaloebiz

[2017-11-10 19:55] gonzaloebiz opened #122 "Add support for List Groups"

[2017-11-11 12:46] ghost commented on #66
@gonzaloebiz @takzilla @moneef
unfortunately we are still having the same issue. Store is syncing forever.
We are using 1.0.25 and have setup a store with only around 300 customers.
What we noticed is that the sync says

Total Customers: 384 -> There are only 306 customers in that store checking on Customers-> All Customers
Total Products: 4 -> is correct
Total Orders: 77 -> is correct
Total Carts

[2017-11-11 14:57] gonzaloebiz commented on #66
Hi @marcmayo

take a look at the cron_schedule table for job_code ebizmarts_ecommerce

[2017-11-12 04:49] dan-ding commented on #112
Seeing this too. No varnish.

[2017-11-12 17:38] archonkulis commented on #119
@gonzaloebiz This is not the usual case, where I can show how to reproduce the error - this is something I noticed when manually running the cron. Please read what I wrote in the description and you will most likely understand everything - if you need something specific, please let me know and don't close the ticket just like that without at least reading what I wrote - it shows that you don't val

[2017-11-12 18:03] Sharlyll opened #123 "mc-magento2-1.0.25 composer installation"
Hi,

can someone please tell how  mc-magento2-1.0.25 is installed on a shared server?

I am currently on magento 2.2.1
thanks!

[2017-11-13 02:04] gonzaloebiz commented on #123
use composer

[2017-11-13 02:04] #123 closed, assigned to nobody

[2017-11-13 03:11] Sharlyll commented on #123
Hi @gonzaloebiz, When I use composer, it install Ebizmart 1.0.24 which throws errors.
Can you provide the exact composer command for 1.0.25?

Thanks

[2017-11-13 08:46] Sharlyll commented on #123
@gonzaloebiz  when I run composer require mailchimp/mc-magento2, it gives memory limit errors:

Using version ^1.0 for mailchimp/mc-magento2
./composer.json has been updated
Loading composer repositories with package information
Updating dependencies (including require-dev)

mmap() failed: [12] Cannot allocate memory

mmap() failed: [12] Cannot allocate memory

Fatal error: Out of memory (allocate

[2017-11-13 12:27] gonzaloebiz commented on #123
Is not an issue from our extension.
you can try [this](https://getcomposer.org/doc/articles/troubleshooting.md#proc-open-fork-failed-errors)

[2017-11-14 08:13] archonkulis commented on #66
@gonzaloebiz

There were some problems within that table - all entries were with status "running" - looks like it encountered some errors or something like that.

Removed all entries with code `ebizmarts_ecommerce` and on the next run received "`Resource not found`" https://prnt.sc/ha7fab . Although, the data seem to be synced anyway. Probably because it first takes correct store ids.

In the file

[2017-11-15 14:36] BaberAhmed commented on #109
Good Afternoon, I am having the same issue. I get same issue, please see below steps to recreate issue:

1) Install Module
2) configure with valid account and API key
3) Go to MailChimp > MailChimp Stores (grid + filters will load normally) click Add new MailChimp Store
4) Fill in details and click Save
5) Will attempt/Save the store and reload the grid, will fail and display the following error f

[2017-11-15 14:39] BaberAhmed opened #127 "Create New MailChimp Store - Warning: Invalid Argument supplied for foreach()"
Good Afternoon, I am an issue with adding new MailChimp Store, please see below steps to recreate issue:

1) Install Module
2) configure with valid account and API key
3) Go to MailChimp > MailChimp Stores (grid + filters will load normally) click Create new MailChimp Store
4) Fill in details and click Save
5) Will attempt/Save the store and reload the grid, will fail and display the following err

[2017-11-15 14:45] gonzaloebiz commented on #127
Hi @BaberAhmed

thanks for your feedback.
How you proceed to install the extension? If you don't use composer, please double check that the extension was installed correctly.
By the way, the current version is 1.0.25, so i recommend try with this version.

Best

[2017-11-15 15:35] BaberAhmed commented on #127
Hi,

Thanks for the quick feedback, yes we used composer for install, I will take a look at upgrading the module and trying again.

I will update if it works or if the persists.

Kind Regards
Baber

[2017-11-16 05:45] aasim110 commented on #120
Hi @gonzaloebiz I can't receive any abandoned cart for both logged in user and guest users as well.

Setup

    Magento 2.1.9
    Default abandoned cart automation (series of 3 emails) in MailChimp
    Sync with MailChimp listed as complete - I can see recent customers listed on MailChimp and ecommerce data for recent orders, Total Products, Total Carts.
    Checked the table cron_schedule for the

[2017-11-16 06:34] aasim110 opened #128 "Magento 2.1.9 Mailchimp Abandoned cart not working"
I have tried following steps to setup Abandoned cart using Mailchimp module.

Setup

        Magento 2.1.9
            Default abandoned cart automation (series of 3 emails) in MailChimp
            Sync with MailChimp listed as complete - I can see recent customers listed on MailChimp and ecommerce data for recent orders, Total Products, Total Carts.
            Checked the table cron_schedule fo

[2017-11-16 12:40] gonzaloebiz commented on #128
Hi @aasim110

what version of mailchimp4magento you have?
Can you confirm via api that the cart is in the mailchimp store?

By the way, you don't need to double post your issue.

Best

[2017-11-17 05:07] aasim110 commented on #128
Hi @gonzaloebiz  I'm using mc-magento2-1.0.25 version.
How can I check cart is in the mailchimp store via API ?
I can see following in my Magento2 admin mailchimp setting.

Total Subscribers: 146492
Ecommerce Data uploaded to MailChimp
Total Customers: 2695
Total Products: 33637
Total Orders: 58
Total Carts: 50
This account is currently syncing

Best Regards,
Aasim Goriya

[2017-11-17 12:14] gonzaloebiz commented on #128
Hi @aasim110

the abandoned cart automation is not fired until the store is not completely synced.

Best

[2017-11-17 13:29] aasim110 commented on #128
Hi @gonzaloebiz  So How much time it will take to synchronize ? I have started this before 2 days and its still synchronizing.

Best Regards,
Aasim Goriya

[2017-11-17 13:54] gonzaloebiz commented on #128
I don't know, this depends on the size of your magento store, quantity of products, orders etc.

[2017-11-17 15:31] #128 closed, assigned to nobody

[2017-11-17 15:32] #127 closed, assigned to nobody

[2017-11-17 15:32] gonzaloebiz commented on #120
No news in one week

[2017-11-17 15:32] #120 closed, assigned to gonzaloebiz

[2017-11-17 15:34] #74 closed, assigned to gonzaloebiz

[2017-11-17 15:34] #102 closed, assigned to nobody

[2017-11-17 15:35] #103 closed, assigned to nobody

[2017-11-17 17:32] SantiParagarino opened #129 "Send categories in product vendor attribute"
MailChimp uses this field to trigger **Purchase product from category** Automation.

[2017-11-17 17:38] ghost opened #130 "Request: Multiple Magento Stores -> 1 MC Store"
Hi,
we are running multiple Magento Stores but they basically have all the same Products and everything is the same except the Currency and the URL's.. We use .com/ca/ for canada /au/ for australia etc. That's the only difference.
Is it possible to link all stores to one Mailchimp store and then set the URLS in the settings for each store?
This way automations and everything else would be much mor

[2017-11-17 17:52] gonzaloebiz commented on #130
If you have questions, please send an email to our support at mailchimp@ebizmarts-desk.zendesk.com

Best

[2017-11-17 17:52] #130 closed, assigned to nobody

[2017-11-18 09:06] ghost opened #131 "Undefined Promocode on cron"
Magento CE 2.16
Mailchimp 1.0.25
Stores including Customers, Orders, Carts and Products are completely synced.

Hi in our cron schedule we get:
Notice: Undefined property: Mailchimp_Ecommerce::$promoCodes in /home/cloudpanel/htdocs/www.sterntaufe-deutschland.de/app/code/Ebizmarts/MailChimp/Model/Api/PromoRules.php on line 143

I fixed it by commenting out line 141 to 153. Not sure what it does but

[2017-11-18 11:48] gonzaloebiz commented on #131
You don't update the ebizmarts/mailchimp-lib run
composer require ebizmarts/mailchimp-lib

Best

[2017-11-18 11:48] #131 closed, assigned to nobody

[2017-11-20 06:42] kp-drc opened #132 "Magento 2.1.7: Empty configuration page"
I installed your extension from this git repository recently. I am using Magento version 2.1.7 but when I click MailChimp from Stores > Configuration, empty page is displaying as per below image.
![configuration](https://user-images.githubusercontent.com/20552286/33005508-1604fa92-cdec-11e7-8bb7-0ecae9a49aa5.png)

[2017-11-20 13:57] #132 closed, assigned to nobody

[2017-11-20 16:11] BaberAhmed commented on #127
HI,

I have updated to latest version of 1.0.25 and the error is still showing, please can you advise?

Kind Regards
Baber

[2017-11-21 16:52] lstellway opened #133 "Magento Composer Repository Update"
I'm not sure how the update process works for packages hosted on the Magento 2 Composer repository, but I tried updating to the latest `1.0.25` and the latest version available on the Magento repository was `1.0.24`.

To update, I temporarily removed the Magento repository from my `composer.json` so Composer would look on `packagist.org`. Is there any hook or automation that can keep the repo up-t

[2017-11-21 17:54] lstellway opened #134 "MailChimp Lists not all pulling in Admin"
The `Ebizmarts\MailChimp\Model\Config\Source\MonkeyList` class is the source model for the `mailchimp/general/monkeylist` select menu field in the Admin configuration.

Only one list is being populated in the select menu.

[2017-11-21 18:19] #134 closed, assigned to nobody

[2017-11-21 18:31] #133 closed, assigned to nobody

[2017-11-22 00:18] lstellway opened #136 "Not all MailChimp lists are showing in Magento admin configuration"
## Preconditions

1. Using Magento `2.1.9`
2. mailchimp/mc-magento `1.0.25`
3. Configure plugin - add API key

## Steps to reproduce

1. Create multiple lists in MailChimp account
2. Navigate to MailChimp configuration
  - Stores > Configuration > MailChimp > MailChimp
3. Try to choose different lists

## Actual and Expected result

I expect to be able to choose from different lists, however only

[2017-11-22 00:59] gonzaloebiz commented on #136
Hi @loganstellway

this is not the expected result.
The list depends on the mailchimp store, once you select the mailchimp store the list can be only one, one mailchimp store has only one list associated.

Best

[2017-11-22 00:59] #136 closed, assigned to nobody

[2017-11-22 02:22] lstellway commented on #136
@gonzaloebiz
Ah! Got it - thank you

[2017-11-22 11:53] NiteshKuyate opened #138 "Customers, Products, Orders and Cart count zero."
We have installed Mailchimp for Magento 2 (1.0.25 version) and configured it by following http://wiki.ebizmarts.com/configuration-guide-m4m2 this.
Now, our store is connected with mailchimp but Customers, Products, Orders and Cart count showing is zero, which is wrong but subscribers count is right.
We are also getting **500 internal server error** you can find in below screenshot.
https://s.nimbu

[2017-11-22 13:32] palo opened #139 "SSL certificate problem Can't add stores to configuration"
Having this issue "SSL certificate problem: unable to get local issuer certificate." preventing from successfully configuring the extension.

We are able to install and configura the extension in a development "clone" of our store in ubuntu 16 setup. We tried the fixes suggested in the link bellow but none works.  https://stackoverflow.com/questions/22973701/ssl-errors-using-mailchimps-api

Also,

[2017-11-22 13:41] gonzaloebiz commented on #138
What version of ebizmarts/mailchimp-lib do you have?

[2017-11-22 13:57] gonzaloebiz commented on #139
This is not an issue with the extension, is a issue with your server.
You can get a lot of suggestions searching for "ubuntu SSL certificate problem: unable to get local issuer certificate"

Best

[2017-11-22 13:57] #139 closed, assigned to nobody

[2017-11-22 13:58] NiteshKuyate commented on #138
ebizmarts/mailchimp-lib version : 3.0.16

[2017-11-22 14:12] gonzaloebiz commented on #138
Be sure to run from your store root directory

rm -rf pub/static;php7.0 bin/magento setup:static-content:deploy;php7.0 bin/magento cache:clean

[2017-11-22 14:32] NiteshKuyate commented on #138
Right now I am unable to run this commands.
As we go in maintainance mode then I will run these commands and let you know status.

[2017-11-23 13:53] jugalpatelkrish commented on #93
Hi @jmayoranotandil  @gonzaloebiz

We have been facing a similar issue:  The query is

`SELECT `e`.*, `m4m`.* FROM `catalog_product_entity` AS `e` LEFT JOIN `mailchimp_sync_ecommerce` AS `m4m` ON m4m.related_id = e.entity_id and m4m.type = 'PRO' and m4m.mailchimp_store_id = '5545f62327622582d93dc198c9f98c9b' WHERE (m4m.mailchimp_sync_delta IS null OR (m4m.mailchimp_sync_delta > '' and m4m.mailchim

[2017-11-24 13:48] gonzaloebiz opened #140 "Put a column in the order grid to show if the order was synced"
Add a new column in the order grid with the status of the synchronization with mailchimp
They are 6 possibles statuses:
![image](https://user-images.githubusercontent.com/6222792/54032074-598c3380-418f-11e9-8c4c-99d615c66b54.png)
means that this order is from a store that is not connected with mailchimp
![image](https://user-images.githubusercontent.com/6222792/54032144-8c362c00-418f-11e9-829b-f87

[2017-11-24 17:13] BaberAhmed opened #141 "Create New MailChimp Store - Warning: Invalid Argument supplied for foreach() - part 2"
Hi,

Please can you reference - https://github.com/mailchimp/mc-magento2/issues/127

I have updated to latest version of 1.0.25 and the error is still showing, please can you advise?

Regards,
Baber

[2017-11-27 06:14] NiteshKuyate commented on #138
I run these commands now but issue still occurs.
Let us know, What steps need to do?

[2017-11-27 11:32] NiteshKuyate commented on #138
Default Store view
**Use Website** checkbox of **Mailchimp Store** was unchecked and therefore in core_config_data there were 2 entries (1 for default and 2nd for store).
Now, after re-configuration our issue solved.

[2017-11-27 11:34] #138 closed, assigned to nobody

[2017-11-28 09:56] inelukipg opened #142 "Release 1.0.25"
Hi,
When will you push Release 1.0.25 to Marketplace?¨

[2017-11-28 12:07] #142 closed, assigned to nobody

[2017-11-29 09:37] BaberAhmed commented on #141
Good Morning,

Just checking in to see if there was any feedback on the above issue please.

Kind Regards
Baber

[2017-11-29 19:16] ebizmarts-keller opened #143 "Error with webhooks when processed on a certain order"
When webhook requests on the database are on a certain order for a subscriber, the cronjob will throw an error.

**Case 1: upemail before an unsubscribe**

![screenshot at 2017-11-29 16-14-55](https://user-images.githubusercontent.com/19838935/33394263-87bdf1bc-d520-11e7-90d2-b0509c74b793.png)

![screenshot at 2017-11-29 16-09-01](https://user-images.githubusercontent.com/19838935/33394043-d4294af

[2017-11-30 11:31] avelikdusgg opened #144 "Compatibility with Magento Enterprise Edition 2.1.x"
Mailchimp 1.0.25 is not compatible with Magento Enterprise Edition 2.1.x, because
mysql error appears during synchronization of promo rules .
Cron job ebizmarts_ecommerce stopped with error message :

 LEFT JOIN `salesrule_coupon` AS `rule_coupons` ON main_table.rule_id = rule_coupons.rule_id AND rule_coupons.is_primary = 1
 LEFT JOIN `salesrule_website` AS `websites` ON main_table.rule_id = websi

[2017-12-05 08:12] trushangsuthartri opened #145 "Ecommerce Sync not working mailchimp for Magento2."
**Issue Description:**

I have installed ebizmart_mailchimp extension in my magento 2.1.8 and it has many issues. Users are not subscribing well and ecommerce tracking is not working.

While I am checking "cron_schedule" table for "ebizmarts_ecommerce" job it is showing error and cron never get success

Notice: Undefined property: Mailchimp_Ecommerce::$promoCodes in vendor/mailchimp/mc-magento2/Mo

[2017-12-05 09:30] inelukipg commented on #142
Hi,
Any news about this?

[2017-12-05 11:03] mikehenze commented on #58
Magento 2.2.1
Mailchimp 1.0.25

Still getting issue "Requested country is not available."

Please tell me what to do.

[2017-12-05 11:29] NiteshKuyate commented on #142
@inelukipg Mailchimp 1.0.25 released.

[2017-12-05 11:49] inelukipg commented on #142
@NiteshKuyate On https://marketplace.magento.com/mailchimp-mc-magento2.html#product.info.details.release_notes I can only find 1.0.24.

[2017-12-05 11:59] NiteshKuyate commented on #142
@inelukipg You can get this here [https://store.ebizmarts.com/mailchimp4magento2.html](https://store.ebizmarts.com/mailchimp4magento2.html)

[2017-12-05 12:06] inelukipg commented on #142
@NiteshKuyate Ok, thanks. But I already installed previous version via composer (from marketplace). I think that's a better way of installing and updating extensions than copying files.
Could you update the version on Marketplace?

[2017-12-05 13:18] NiteshKuyate commented on #142
@inelukipg I am not a developer at Mailchimp, I had already faced same issue then I download it from that shared link.

[2017-12-05 13:25] inelukipg commented on #142
Ok @NiteshKuyate, did you uninstall the composer installed version first?

[2017-12-05 13:36] NiteshKuyate commented on #142
@inelukipg For first and second time I used same link to download.
For second time configuration, Firstly disabled mailchimp extension then flush cache and then removed all files of Mailchimp (mailchimp-lib) of prev version then installed fresh 1.0.25 version and get mailchimp-lib using composer, then configured it, works fine for me.

[2017-12-05 13:36] ebizmarts-keller commented on #142
@inelukipg You should be able to update via composer to version 1.0.25

Just run **composer require mailchimp/mc-magento2**

Or if that doesn't work, run **composer require mailchimp/mc-magento2 1.0.25**

[2017-12-05 15:52] gonzaloebiz commented on #58
Enable all the associated countries to customer, orders, etc.
If you have any problem, please open other issue

Best

[2017-12-05 15:52] #58 closed, assigned to gonzaloebiz

[2017-12-05 17:08] gonzaloebiz commented on #145
Update the ebizmarts/mailchimp-lib

[2017-12-05 17:08] #145 closed, assigned to nobody

[2017-12-05 17:11] gonzaloebiz commented on #141
We could not replicate

[2017-12-05 17:11] #141 closed, assigned to nobody

[2017-12-05 19:20] mikehenze commented on #58
Yes that fixed it.
Can I disable the countries we have stopped shipping to after the sync has completed?

[2017-12-05 19:36] gonzaloebiz commented on #58
I think

[2017-12-05 19:43] dan-ding commented on #144
Yeah, this is definitely an issue.

[2017-12-05 19:49] dan-ding commented on #144
@gonzaloebiz it's a runtime issue - there's no actual or expected outcome or course of action; deal with it.

[2017-12-05 20:12] dan-ding commented on #145
updating doesn't fix it.

[2017-12-05 20:20] inelukipg commented on #142
Thank you @ebizmarts-keller
This worked: `composer require mailchimp/mc-magento2 1.0.25`

[2017-12-05 20:22] dan-ding opened #146 "error(s) with ee 2.1.x and 1.025, no commerce syncing"
Issue Description:
Cron logs errors about missing columns.
No ecommerce syncing occurs.

Preconditions:
install ee 2.1.x
install this extension

steps to reproduce:
install ee
install this extension
let it run and have customers buy stuff
running ee 2.1.10, mailchimp/mc-magento2 1.0.25, ebizmarts/mailchimp-lib 3.0.16

expected result:
no errors!
commerce data syncs to mailchimp!

actual result:
er

[2017-12-05 20:34] gonzaloebiz commented on #146
the issues you refer are clearly different issues.
Please, specify your error

[2017-12-05 20:41] gonzaloebiz commented on #145
What version of ebizmarts/mailchimp-lib do you have

[2017-12-05 21:09] gonzaloebiz commented on #144
until next version, change the lines
https://github.com/mailchimp/mc-magento2/blob/2e445882180a742f22227dada14251f33b972dd4/Model/Api/PromoCodes.php#L116 and https://github.com/mailchimp/mc-magento2/blob/bd0908e1708b7cc9fa1a0ed835e26faacaac43e6/Model/Api/PromoRules.php#L88
change websites.rule_id with websites.row_id

Best

[2017-12-05 23:02] dan-ding commented on #146
Well, I couldn't tell you if they are different or related.

I do know that
(a) no commerce data is being sent to mailchimp
(b) there are errors in the cron logs similar to #144 like:
[code]

[2017-12-05 23:26] dan-ding commented on #146
As to the mailchimp log, I don't see much which appears helpful:

Undefined property: Magento\Customer\Model\Data\Customer::$getDefaultShipping in vendor/mailchimp/mc-magento2/Helper/Data.php on line 610
....
Undefined property: Magento\Customer\Model\Data\Customer::$getDefaultBilling in vendor/mailchimp/mc-magento2/Helper/Data.php on line 610

[2017-12-05 23:27] #146 closed, assigned to nobody

[2017-12-05 23:29] dan-ding commented on #146
Duplicate of what?

[2017-12-05 23:55] tonytrinh206 commented on #58
@mikehenze I got the same issue. Could you please show me how to fix it? I got Magento 2.1

[2017-12-06 01:53] gonzaloebiz commented on #146
see at referred issue #144

[2017-12-06 01:56] gonzaloebiz commented on #58
@tonytrinh206 look 4 comments above

[2017-12-06 03:25] dan-ding commented on #146
Ok! Great. Do you think that fixes the commerce data as well?

[2017-12-06 03:26] dan-ding commented on #145
ee 2.1.10, mailchimp/mc-magento2 1.0.25, ebizmarts/mailchimp-lib 3.0.16

[2017-12-06 03:27] dan-ding commented on #146
Ok. I will go over to #145, thanks!

[2017-12-06 03:37] dan-ding commented on #144
I take it is lines 88 and 126 in mc-magento2/Model/Api/PromoRules.php

[2017-12-06 12:03] trushangsuthartri commented on #145
After upgrading mailchimmp library to version 3.0.16 it is giving me error "Requested country is not available." in ebizmarts_ecommerce cron. Can you please reopen ticket and check what is wrong?

I did perform
composer require ebizmarts/mailchimp-lib
composer require mailchimp/mc-magento2 dev-develop

[2017-12-06 12:08] gonzaloebiz commented on #145
@trushangsuthartri take a look at #58

[2017-12-06 12:56] trushangsuthartri commented on #145
@gonzaloebiz
We already checked that code and code is up to date as that issue is fixed in previous version and I have 1.0.25

[2017-12-06 14:39] BaberAhmed commented on #141
Good Afternoon,

Ok thought it was a bit odd, I did some more testing and the issue arises only in Magento production mode, in Dev mode the behaviour is as expected.

The steps to replicate are the same but with the additional last step is to put your dev environment to product mode and reload the admin screen for mail-chimp stores and it will show the error.

Cheers
Baber

[2017-12-06 15:42] jhruehl opened #147 "Magento 2.2.1: Changes like "unsubscribe" and "delete" to subscribers in Magento backend aren't synched"
Though the initial sync worked fine with two Mailchimp Stores configured for both store views and given lists in our Mailchimp test account, later changes made by backend users in the Magento newsletter backend section aren't synced.

### Preconditions
1. Magento 2.2.1
2. PHP 7.1.12
3. MySQL 5.5.5-10.1.23-MariaDB
4. Ebizmart_MailChimp 1.0.24 extension installed
5. MailChimp extension completely co

[2017-12-06 16:34] lgrassini commented on #91
Hi guys, Any estimation of when this is going to be fixed? Thanks.

[2017-12-06 23:10] tonytrinh206 commented on #58
Hi @gonzaloebiz, thank you for your response. Do you mean I have to allow all countries to my shipping and billing address during the first sync? I went through all of my orders and customers and they have the same US country which has already allowed on our shopping cart.

[2017-12-07 14:37] gonzaloebiz opened #149 "Intallation error in EE when the database is already splitted"
Install magento EE 2.1.8 with sample data
Split the databases prior to install m4m2
Then install m4m2 (composer require mailchimp/mc-magento2)
Run php7 bin/magento setup::upgrade

![screenshot](https://user-images.githubusercontent.com/6222792/33719471-9afca41a-db3f-11e7-875e-f5c61952ff82.png)

[2017-12-07 16:06] jhruehl commented on #140
Honestly. Why are you messing so much with the core Magento tables. Even if customers just want to use the Mailchimp sync functionality, your Magento Update script messes with other tables.

Just add another table, put your information there and reference the orders via entity_id.

[2017-12-08 10:11] jhruehl opened #150 "Sync only works, if eCommerce is enabled"
I was wondering why the sync doesn't work, if the eCommerce option is disabled. So I had to again look into your code and only found one if-clause in `www/app/code/Ebizmarts/MailChimp/Cron/Ecommerce.php`
` if ($this->_helper->getConfigValue(\Ebizmarts\MailChimp\Helper\Data::XML_PATH_ECOMMERCE_ACTIVE, $storeId))`

So. Of cource subscribers aren't synced. Please implement another if-clause to check

[2017-12-08 11:39] #149 closed, assigned to gonzaloebiz

[2017-12-08 16:42] dan-ding commented on #145
Can we get this re-opened?

[2017-12-08 16:51] gonzaloebiz commented on #145
why?

[2017-12-08 17:57] gonzaloebiz commented on #150
Thanks for your contribution @jhruehl

[2017-12-08 18:00] gonzaloebiz commented on #147
Please take a look at http://docs.magento.com/m2/ce/user_guide/magento/system-requirements.html
PHP 7.1 is not supported and mysql 5.5 neither

[2017-12-08 18:37] #116 closed, assigned to gonzaloebiz

[2017-12-09 11:28] mikehenze commented on #58
Setting the sync date to after the date that you disabled certain countries does not fix it.
It will only sync with all countries enabled that have orders.
This is a problem.

[2017-12-11 07:14] jhruehl commented on #147
This has nothing to do with the PHP version. Once the subscriber or customer id is set in the `related_id` column of the `mailchimp_ecommerce`  table, there won't be any syncing of that subscriber/customer anymore, because only subscriber entries, which aren't already related to in that table are synced according to your code.

A solution would be to add an observer to the backend/newsletter-subsc

[2017-12-11 16:21] aumayr opened #151 "Magento 2.1.9: Checkout hangs when enabling Mailchimp extension"
When enabling the Mailchimp extension, the `.checkout-loader` (spinner image) loads indefinitely on the Checkout page.

There are no JS errors or any other signs of failure, except the spinner not getting removed. When removing it "by hand" (via "Inspect element"), the checkout works correctly.

I commented-out the call of the `campaigncatcher`-JS to avoid this behaviour, which is the only change

[2017-12-11 17:18] dan-ding commented on #145
Cause we're not seeing commerce data synced? I can open a new ticket for it if you like

[2017-12-11 17:31] SantiParagarino opened #152 "Guest Abandoned Carts not associating email address at checkout"
Pre-conditions:
PHP 7.0.17
Magento 2.2.0
MailChimp For Magento 1.0.25

Steps to reproduce:
1. Add items in the cart as a guest
2. Go to the checkout process
3. Enter email address.
4. Go to next input and wait for the loading animation to finish.

Expected result:
Email address is associated to correspondent entry in the quote row.

Actual result:
Nothing happens in the quote row.

Additional Info

[2017-12-11 20:59] SantiParagarino opened #153 "Guest Abandoned Carts failing to load when accessing from automation."
Pre-conditions:
PHP 7.0.25
Magento 2.1.10
MailChimp For Magento 1.0.25

Steps to reproduce:
1. Abandon cart as a guest.
2. Once the automation email is sent click in the button to access the cart.

Expected result:
Access to the cart containing the correct items.

Actual result:
The following message is displayed:
You have no items in your shopping cart.
Click here to continue shopping.

Additiona

[2017-12-12 09:26] TimQSO commented on #151
Exact same behaviour here on 2.1.8.

[2017-12-12 11:58] gonzaloebiz commented on #151
Hi @aumayr,

check if the file campaigncatcher.min.js is in your pub directory and with the correct permissions.
Be sure to run bin/magento setup:static-content:deploy
And be sure that your webserver is configured correctly (if you use nginx, use the nginx.conf.sample file)

Best

[2017-12-13 14:52] lano-vargas commented on #65
I have installed sometime ago around Augost time and I didn't use until no!

Is there an update version with this bug fix if there is can you point to the fixed version please?

Never Mind I've checked this release: Release 1.0.25  it contains the "/" thanks.

[2017-12-13 16:54] joshdavenport commented on #58
Yes, we disable countries because we no longer ship there or support those countries to any extent. Now for a sync we have to turn them on? This just confuses users, they'll think we now ship to that country again, but we don't.

[2017-12-13 16:57] #122 closed, assigned to gonzaloebiz

[2017-12-13 21:43] aumayr commented on #151
Thanks for the quick reply!

I’ve checked your suggestions. The file is loaded in `<header>` and it has also the right permissions.
I ran the static:deploy command and my apache is correctly configured (also in pub/static folder).

Still the loader on the checkout page doesn’t disappear when the module is enabled.
If it is disabled everything works smoothly.

[2017-12-14 16:15] #153 closed, assigned to gonzaloebiz

[2017-12-14 17:41] gonzaloebiz commented on #152
Fixed in 2.2.1

[2017-12-14 17:41] #152 closed, assigned to gonzaloebiz

[2017-12-14 17:42] SantiParagarino commented on #152
Thank you very much @gonzaloebiz

[2017-12-15 15:59] dan-ding opened #154 "bad address calls for mergevars"
Am seeing quite often in logs:

Notice: Undefined property: Magento\Customer\Model\Data\Customer::$getDefaultBilling in /x/vendor/mailchimp/mc-magento2/Helper/Data.php on line 610
 [] []
Notice: Undefined property: Magento\Customer\Model\Data\Customer::$getDefaultShipping in /x/vendor/mailchimp/mc-magento2/Helper/Data.php on line 610
 [] []

ee 2.1.10, mailchimp/mc-magento2 1.0.25, ebizmarts/mailc

[2017-12-15 16:01] dan-ding commented on #145
@gonzaloebiz ?

[2017-12-15 16:39] gonzaloebiz commented on #145
Open a new ticket, in fact, you use EE not CE

[2017-12-15 16:41] gonzaloebiz commented on #154
Please follow the issue guidelines to report an issue

[2017-12-15 16:41] #154 closed, assigned to nobody

[2017-12-15 16:53] dan-ding commented on #145
ok!

[2017-12-15 16:57] dan-ding commented on #154
@gonzaloebiz seriously? it's a log file with errors being thrown by this extension.

[2017-12-15 17:32] dan-ding opened #155 "bad address calls for mergevars redux"
# description
Errors logged a multitude of times:
Undefined property: Magento\Customer\Model\Data\Customer::$getDefaultBilling in /x/vendor/mailchimp/mc-magento2/Helper/Data.php on line 610
 [] []
Undefined property: Magento\Customer\Model\Data\Customer::$getDefaultShipping in /x/vendor/mailchimp/mc-magento2/Helper/Data.php on line 610

## preconditions
ee 2.1.10, mailchimp/mc-magento2 1.0.25, ebi

[2017-12-16 10:38] balwant20 opened #156 "When user subscribes on website, Cart abandonment email is not sent to user"
when user came on website and subscribe on website.the cart abandonment mail is not shoot to thw user

[2017-12-16 15:20] #156 closed, assigned to nobody

[2017-12-18 16:39] dan-ding opened #157 "ecommerce data not sent/synced in ee"
# description
Ecommerce data does not appear to be synced/sent to mailchimp
similar to #145

not really sure what to look at for further information.

## preconditions
ee 2.1.10, mailchimp/mc-magento2 1.0.25, ebizmarts/mailchimp-lib 3.0.16

## steps to reproduce
install and use the extension
place some orders

## expected result
when an order is placed, some data goes to mailchimp;
to have ecomm d

[2017-12-18 19:39] gonzaloebiz commented on #155
I can't reproduce it.
I try with a clean magento ee 2.1.10 and no problem for me.
Can you specify how to exactly replicate?

[2017-12-18 19:39] #155 closed, assigned to nobody

[2017-12-18 19:57] gonzaloebiz commented on #157
If you have EE, comment this lines https://github.com/mailchimp/mc-magento2/blob/develop/Cron/Ecommerce.php#L177-L180 until we fix the issue with the fields names.

Best

[2017-12-18 19:57] #157 closed, assigned to nobody

[2017-12-18 22:10] dan-ding commented on #155
Are you engaging in a dialogue/question here or just closing the issue?

I have no idea how to replicate. It just occurs.
One would think the log would provide a hint.

[2017-12-18 23:24] gonzaloebiz commented on #155
We can't fix an issue that we can't replicate.
If you give us more information, such if the customer is registered or is a guest associated to an order, or something more specific to your installation/reallity
With the information that you provide, we can't replicate the issue.
Try to figure, magento is piece of software with thousand of lines of code and a lot of possibilities of configurations,

[2017-12-18 23:31] dan-ding commented on #157
Hey @gonzaloebiz I get that you think that the issue is fixed or addressed in some manner, however could you maybe not close the issue before there's a chance to try it out and reply? Closing right away comes across a bit dismissive and makes it unclear to resolving. Thanks.
Will let you know how the changes go.

[2017-12-19 09:10] evilprophet opened #158 "No newsletter confirmation email when mailchimp is installed"
After installed mc-magento2 also when extension is disabled in admin panel, Magento doesn't send a confirmation email for the new subscription.

1. Go to My Account > Newsletter Subscriptions.
2. Mark checkbox to sign to the newsletter. Save
3. Mail should be sent but this doesn't happen.
For Unsubscribe works fine.

This was because in: vendor/mailchimp/mc-magento2/Model/Plugin/Subscriber.php
one

[2017-12-19 10:30] rossworth opened #159 "Errors in API Call"
Mail chimp API call history shows
PATCH /ecommerce/stores/ | php | 0.012s | Mailchimp4Magento1.0.25 | 3.0 |

The requested method and resource are not compatible. See the Allow header for this resource's available methods.

[2017-12-19 12:59] gonzaloebiz commented on #159
Hi @rossual

sorry but really i don't understand your issue.
Pelase follow [this guidelines](https://github.com/mailchimp/mc-magento2/wiki/Issue-reporting-guidelines) to report an issue.

Best

[2017-12-19 12:59] #159 closed, assigned to nobody

[2017-12-19 13:00] gonzaloebiz commented on #158
Hi @evilprophet

can you please let us know your magento version and your m4m version?

Best

[2017-12-19 13:06] evilprophet commented on #158
Hi @gonzaloebiz

Magento 2.1.10
mailchimp/mc-magento2 1.0.25

[2017-12-19 22:34] dan-ding commented on #157
removing those lines appears to allow ecomm data to be synced on ee (along with changes https://github.com/mailchimp/mc-magento2/issues/144#issuecomment-349442207)

[2017-12-19 22:41] dan-ding commented on #155
Wha...
I have no idea under what conditions it occurs. It just does.
How about we make one up... it occurs when a customer doesn't have any addresses saved. That's my guess.

[2017-12-19 23:17] gonzaloebiz commented on #155
I try creating a new customer (only registered and nothing more), and works.

[2017-12-21 14:26] SantiParagarino opened #160 "Child product update when parent has not been sent yet"
Steps to reproduce:
Create a simple product and wait until is sent to MailChimp.
Create a new configurable product and set the previous product as a child product of the new one.
Edit the first simple product.

Expected result:
First product is updated correctly.
Second product is sent with first product associated.
No errors displayed on the error grid.

Actual result:
First product pudated corre

[2017-12-21 17:02] ghost commented on #91
Seeing this same behavior with Magento 2.2.2 CE and M4M 1.0.25.

Is this a recognized bug that is going to be fixed in the next release?

[2017-12-21 21:10] #144 closed, assigned to gonzaloebiz

[2017-12-22 08:24] sam110386 commented on #145
i was also getting same error after update ebizmarts/mailchimp-lib ,
I made a temporary fix for this at line # 143 in Ebizmarts\MailChimp\Model\Api\PromoRules.php
I replaced
` $mailchimpRule = $api->ecommerce->promoCodes->getAll($mailchimpStoreId,$ruleId);`

with following

`if(!is_object($api->ecommerce->promoCodes)){continue;}
            $mailchimpRule = $api->ecommerce->promoCodes->getAll($mai

[2017-12-22 13:16] Weltpixel opened #161 "MailChimp List field not populated in Magento 2"
MailChimp 1.0.25 with Magento 2.1.6 CE - After filling in API credentials, the Mailchimp Lists are not retrieved in Magento 2 Admin. It Just shows a selector with no options.

**Issue1**
1.Go to Magento 2 admin -> MailChimp -> Configuration -> API and add the API key.
2. Save credentials.
3. Account credentials will show up but the MailChimp List field is not populated with the lists from MailChim

[2017-12-22 14:06] gonzaloebiz commented on #161
Hi @Weltpixel

thanks for your feedback.
The first one is not an issue, the list is filled automatically when you select a MailChimp store. Keep in mind, one MailChimp store has one and only one associated list, once you define a MailChimp store you can't change the associated list. So when you select the MailChimp store the list is unique

For the second one, can you open the developer tool in yo

[2017-12-22 17:43] dsimich06 opened #162 "High MySQL CPU Usage on Ecommerce Sync"
Server Conditions
    1. Magento CE 2.1.10
    2. mc-magento2 1.0.24
    3. Production Server

Steps to reproduce
Unknown

Actual and Expected result
Expected:  The following query should complete in a reasonable time.
SELECT `main_table`.*, `m4m`.* FROM `sales_order` AS `main_table` LEFT JOIN `mailchimp_sync_ecommer

Actual:  There is currently 4 identical queries that have been running from 330

[2017-12-22 18:20] Weltpixel commented on #161
Hi @gonzaloebiz ,

Thanks for the fast reply.

Please find below the 2 errors that are shown in the console:
monkeyapikey.js Failed to load resource: the server responded with a status of 404 ()
require.js:141 Uncaught Error: Script error for: monkeyapikey
http://requirejs.org/docs/errors.html#scripterror
    at makeError (require.js:166)
    at HTMLScriptElement.onScriptError (require.js:1681)

!

[2017-12-22 19:01] gonzaloebiz commented on #161
Review if the file exists in your pub/static and if the file permission is right

Best

[2017-12-22 19:09] gonzaloebiz commented on #162
Hi @dsimich06

thanks for your feedback.
Wheel, this depends on your server size, your server configuration and the amount of data of your magento installation.
Do you have any of this information?

Best

[2017-12-27 11:14] Detzler opened #164 "script/get url path"
## URL path

Not able to fetch Mailchimp JS when Magento runs in a subfolder.
The mailchimpjs.js contains the following:

[code]

The url doesn't make usage of the base url parameter

`url: '/mailchimp/script/get',`

## Issue Description

### Preconditions

    1. Magento CE 2.2.2 without sample data is installed.
    2. mc-magento2 1.0.25.

### Steps to reproduce

    1. Open any page.

### Actua

[2017-12-27 15:16] dsimich06 commented on #162
Right now, it is on a standard single DigitalOcean 8G server.  Eventually, I will be moving the database to a separate server.  MariaDB is the database.  We receive about 30-50 orders per day, so it is a smaller Magento installation.  There are 110 products.  Does that give you the info you were looking for?

[2017-12-27 15:59] jsdupuis commented on #141
Hi. I have the exact same problem. Magento 2.1.8 with MailChmip 1.0.25. Any solution found? Data is syncing, but I can only see this error message when going into MailChimp Stores. Error happened after saving a store.

[2017-12-27 18:49] #91 closed, assigned to nobody

[2017-12-27 18:51] #150 closed, assigned to gonzaloebiz

[2017-12-27 19:34] SantiParagarino commented on #141
Hello @jsdupuis

We are not able to reproduce this locally.
I suggest you to make sure the installation was made correctly and verify the static files. Sometimes when the file permissions are not set properly the javascript files are not successfully loaded in the back end causing unexpected behavior.

[2017-12-29 06:14] jsdupuis commented on #66
Any update on this issue? Facing the same problem on Magento 2.1.8 with MailChimp 1.0.25.

[2017-12-29 13:33] SantiParagarino commented on #66
Hello @jsdupuis

We have seen all the cases fixed since version 1.0.25. I think your case is a different situation therefore I suggest you to contact our support at mailchimp@ebizmarts-desk.zendesk.com

Regards.

[2017-12-29 18:31] syzovao opened #169 "Product Images are broken in Abandoned cart emails"
### Preconditions

    1. Magento CE 2.1.9 without sample data is installed.
    2. mc-magento2 1.0.25.
    3. Test category is set up.
    4. Simple Product with image is created and assigned to the Test Category.
    5 In Mailchimp created Abandon cart Email Campaign with template where up to 2 products in cart. Use Maichimp standard block for template.

### Steps to reproduce

    1. Navigate t

[2018-01-03 14:52] tonybluebadger commented on #145
Any update on this?

[2018-01-03 14:56] duckchip opened #170 "Error on Mailchimp Stores Grid"
## Title
Error in **production environment** on the Mailchimp Stores grid

## Issue Description
When trying to go to the grid of Mailchimp stores I get following error:
`Warning: Invalid argument supplied for foreach() in /home/xxxxxxxxxx/apps/default/releases/20180103105032/vendor/magento/framework/View/Element/UiComponent/DataProvider/DataProvider.php on line 252
`
### Preconditions
    1. Magen

[2018-01-04 03:00] lstellway commented on #164
I opened a pull request ([#172](https://github.com/mailchimp/mc-magento2/pull/172)) to fix the issue.

This is essentially reverting back to the change made in [issues/51](https://github.com/mailchimp/mc-magento2/issues/51), except that now the script will be included in the `head` section.

Is there a reason this approach wouldn't work?

[2018-01-04 22:30] thaddeusmt commented on #36
This is a must-have feature. When I installed the extension today I couldn't believe this isn't part of the core functionality.

It should integrate with the core Magento Newsletter extension if possible, so the user can manage their Subscription on the user Account page "Newsletter Subscriptions", too.

[2018-01-05 13:03] springerin commented on #155
Same error on magento 2.1.10 and mailchimp 1.0.23
MailChimpLogger.INFO: Notice: Undefined property: Magento\Customer\Model\Data\Customer::$getDefaultBilling in /var/www/current/vendor/mailchimp/mc-magento2/Helper/Data.php on line 558
[] []
[2018-01-05 10:33:07] MailChimpLogger.INFO: Notice: Undefined property: Magento\Customer\Model\Data\Customer::$getDefaultShipping in /var/www/current/vendor/mai

[2018-01-08 13:53] SantiParagarino commented on #155
Hello @springerin ,

Please note the latest version is 1.0.25. I suggest you to update your extension.

Regards.

[2018-01-09 16:21] razvanmitre commented on #91
When is this planned for release?

[2018-01-09 16:23] cmsteadman opened #173 "Copy suggestions for List Group enhancement"
In https://github.com/mailchimp/mc-magento2/issues/122 - we added support for List Group. Our technical content team has some suggestions for the copy associated with this feature.

**Intro Text:** If you <a href="https://kb.mailchimp.com/lists/groups/create-a-new-list-group" target="blank" />set up groups in MailChimp,</a> include them in your checkout page so customers can choose the type of ema

[2018-01-09 17:38] SantiParagarino commented on #91
Should be available by the end of January.

[2018-01-11 21:54] Tantuss commented on #58
Ticket is closed, but issue is not solved.

Solution is written in comment by:
mamreezaa commented on 10 Aug 2017

Please apply this fix to the sources to get it working if you have disabled some countries where you was sending before to and now not anymore.

[2018-01-12 19:12] blindsight commented on #170
I'm having the same issue.

**Preconditions**
Magento: 2.1.6.
mc-magento2: 1.0.25

Same steps to reproduce and only in production as well.

[2018-01-15 16:41] #173 closed, assigned to gonzaloebiz

[2018-01-15 17:37] gonzaloebiz commented on #169
Hi @syzovao

thanks for your feedback.
Why your images are in media/ and not in pub/media?
In a vanilla installation with nginx, you can view that the media directory is not a real one, is a rule in the nginx configuration file (see at https://github.com/magento/magento2/blob/2.1/nginx.conf.sample#L123-L143)
In other hand, you can check in your installation that the pub/media directory is a real d

[2018-01-15 19:03] gonzaloebiz commented on #170
Hi @duckchip

thanks for your feedback.
I can't reproduce the issue.
Are you sure you run the setup:upgrade, setup:static-content:deploy and cache:clean after install the extension?
Please double check the permission of the files, perhaps you have a permission issue.
By the way, i don't have something like apps/default/releases/...

Best

[2018-01-15 19:05] #161 closed, assigned to nobody

[2018-01-15 19:23] gonzaloebiz commented on #170
What version of ebizmarts/mailchimp-lib do you have?

[2018-01-16 10:19] syzovao commented on #169
Hi @gonzaloebiz!

We have this issue on Staging Dev-qa Environment that is on Magento cloud. Dev-qa Environment is in production mode, so static files are automatically deployed.
Our images in pub/media. But Magento doesn't include pub/ in path for media or static files. Another example: js file in static/ not pub/static/.

This URL in email and it doesn't show image (real domain changed to http:/

[2018-01-16 13:29] duckchip commented on #170
When we deploy, all of " setup:upgrade, setup:static-content:deploy and cache:clean" are executed.
apps/default/releases/... is our own implementation, so we can keep track of different deployed versions. Sorry for the confusion.

I'm running on  3.0.16 version of ebizmarts/mailchimp-lib

[2018-01-16 13:35] gonzaloebiz commented on #170
As i said, i can't reproduce the issue.
Can you specify more about your configuration and what is your deploy procedure?

Best

[2018-01-16 15:22] blindsight commented on #170
Module is installed on local development machine, added to GIT then deployed using the magento 2 capistrano gem. (https://github.com/davidalger/capistrano-magento2)

setup:upgrade, setup:static-content:deploy and cache:clean are all ran during the deployment process.

Local Machine:
CentOS Linux release 7.3.1611 (Core)
PHP 7.0.25

Server:
CentOS release 6.9
PHP 7.0.23
MySql: 5.6.36-82.0

3.0.16 -

[2018-01-16 17:36] gonzaloebiz commented on #170
@duckchip

you also use capistrano to deploy?

@blindsight

i don't know much about capistrano, sorry.
Looks like some file is missing in your production installation, can you compare both? If the server is the same you can run
`diff --brief -r path_to_dev/vendor/mailchimp/mc-magento2/ pat_to_prod/vendor/mailchimp/mc-magento2/`

[2018-01-16 17:48] blindsight commented on #170
@duckchip

capistrano deploys (checks out GIT repo, runs set and clearing cache commands)

ran `diff --brief -r dev/mailchimp prod/mailchimp` nothing is missing.

any other ideas?

[2018-01-16 17:56] gonzaloebiz commented on #170
I think the only way is debugging the prod installation.
With a standard magento installation (without capistrano) the grid work OK in production mode, so will be useful to other capistrano users if you can debug on this.

Best

[2018-01-16 18:00] gonzaloebiz commented on #141
Hi @jsdupuis @BaberAhmed

are you using capistrano to deploy?

Best

[2018-01-17 07:09] jsdupuis commented on #141
Hi @gonzaloebiz. Not using capistrano. My first attempt was by using the "Web setup wizard" menu in the backend of Magento. Then I uninstalled everything and reinstalled using composer via SSH. I got the same problem. Uninstalled again, deleted the tables, and reinstalled by SSH. Same problem. All my e-commerce data is synching with Mailchimp. It's only that I cannot use the Mailchimp store menu.

[2018-01-17 11:49] duckchip commented on #170
@blindsight  We are using Fabric to deploy to production,
http://www.fabfile.org/

[2018-01-17 13:48] duckchip commented on #170
I've set my deploy mode to production on my local project and i got the same error.

[2018-01-17 17:47] gonzaloebiz commented on #162
You already look at the table cron_schedule for the job_code =  'ebizmarts_ecommerce'?

[2018-01-18 15:26] gonzaloebiz opened #177 "Products are not marked as modified in the sync_ecommerce table"
When save a product, the product is not marked as modified in the table mailchimp_sync_ecommerce, so the modification is not synced to MailChimp

[2018-01-18 18:27] #177 closed, assigned to gonzaloebiz

[2018-01-19 13:33] #170 closed, assigned to gonzaloebiz

[2018-01-19 20:45] dsimich06 commented on #162
When I run this search, I get 793 results.  Narrowing it down to just tasks with "running" as their status brings the total to 789, which leaves 1 "pending" and 4 "success".  I re-enabled the sync and everything seems to be running smoothly, which is bizarre.  The only change that I made in re-enabling was adding a start date, so perhaps too much data was being sent to Mailchimp.

[2018-01-22 18:04] #160 closed, assigned to gonzaloebiz

[2018-01-23 15:41] gonzaloebiz opened #181 "No product image for simple products"
when you save an existing simple products that belongs to a configurable product, and the simple has no image, the image syned must be the father image and no image was synced

[2018-01-23 16:01] maderlock opened #182 "chimpstatic script not inserted directly into head, so retargeting ads cannot be made"
Attempting to create a retarget automation in MailChimp, it fails because it cannot detect the connection with the site due to the javascript not being inserted in a standard way.

### Preconditions

    1. Magento CE 2.1.9
    2. mc-magento2 develop branch a757eb3f1ac640d3988095ee489ddf7cb0702bcc
    3. Connected and pushing data. Can see it working from both ends

### Steps to reproduce

Attempt

[2018-01-23 16:16] maderlock commented on #182
**MC**
Do you know what line the code was added in order to connect the site to MailChimp?
**Me**
It is done via requireJS, so it's not a single line of code. But I'll dig out how it's included
I think this is what does it:
var imported = document.createElement('script');
imported.src = data.url;
document.head.appendChild(imported);
And the data.url contains: "https://chimpstatic.com/mcjs-connecte

[2018-01-24 10:09] maderlock commented on #182
Further update: This has to go as the _very last thing before the end of head_ (really, MaiChimp? REally?!)

From their dev:

[2018-01-24 17:22] IsaacHoffmann commented on #182
I am running into a very similar issue with a webpack/angular setup deployed to an s3 bucket. The source code correctly forms the tags, but mailchimp seems incapable of detecting it.

[2018-01-24 21:33] #181 closed, assigned to gonzaloebiz

[2018-01-25 18:25] gonzaloebiz opened #184 "Installation error when the database has a prefix"
On version 1.0.24 an error was introduced.
When the database has a prefix, the UpdgradeData fails with

INNER JOIN `sales_order` AS `O` ON O.entity_id = G.entity_id SET `G`.`mailchimp_flag` = IF(mailchimp_abandonedcart_flag OR mailchimp_campaign_id OR mailchimp_landing_page, 1, 0)

[2018-01-25 18:31] #184 closed, assigned to gonzaloebiz

[2018-01-25 23:30] andrewkett opened #186 "Error in ebizmarts_ecommerce after upgrading to 1.0.26"
## Issue Description

Running ebizmarts_ecommerce after upgrading to 1.0.26 results in a fatal php error if DI has been compiled using setup:di:compile

`PHP Fatal error:  Uncaught TypeError: Argument 1 passed to Magento\Eav\Model\Entity\Attribute\Source\Config::__construct() must be of the type array, null given, called in /var/www/src/vendor/magento/framework/ObjectManager/Factory/AbstractFactor

[2018-01-26 09:45] maderlock commented on #182
Hold tight on this for now, as I manually inserted the code where they requested and that did not resolve the issue. I'll report back here either way, but it looks like support at MC might have been barking up the wrong tree.

[2018-01-26 14:02] gonzaloebiz commented on #186
Hi @andrewkett

thanks for your feedback.
What version of magento do you have?
I try with a clean installation of magento 2.1.10 with sample data and works OK for me.
I will try install first mc-magento2 1.0.25 and update it to 1.0.26

Best

[2018-01-26 14:23] dborishansky commented on #186
@gonzaloebiz, I can confirm the same behavior reported by @andrewkett on 2.1.10. Seeing this on Magento Cloud in the cron log:
[code]
I hope that helps a little. Thanks for looking at this.

[2018-01-26 15:03] gonzaloebiz commented on #186
Hi @andrewkett @dborishansky

i just try with a clean magento 2.1.10 installation with sample data.
First install mc-magento2 1.0.25, run setup:upgrade and then setup:di:conpile, configure the extension and sync some products in the first run of the ebizmarts_ecommerce process.
Then update the mc-magento2 extension to 1.0.26, run setup:upgrade and setup:di:compile, then wait that the process runs,

[2018-01-26 18:42] msawyers opened #187 "Error when runnning Setup:upgrade after installing when table names are prefixed"
**Issue Description**
Error received when running setup:upgrade on magento after installing version 1.0.26

**Steps to reproduce**
install mc-magento 1.0.26
run setup:upgrade
magento table names should be prefixed

**Expected Result:**
Setup:upgrade should complete successfully

**Actual Result**
Setup:upgrade fails

Installing data... Upgrading data... SQLSTATE[42S02]: Base table or view not foun

[2018-01-26 18:47] gonzaloebiz commented on #187
Please take a look at https://github.com/mailchimp/mc-magento2/issues/184

[2018-01-26 18:47] #187 closed, assigned to gonzaloebiz

[2018-01-26 18:58] msawyers commented on #187
Thanks

[2018-01-26 22:10] msawyers opened #188 "Merge Names not synching"
Issue Description
Customer Groups, Gender and Customer Birthdays not synching to mailchimp from magento

Steps to reproduce
install mc-magento 1.0.26
synch data

Expected Result:
All relevant data should synch with Magento

Actual Result
![magento2](https://user-images.githubusercontent.com/8907629/35462853-d680b4a6-02bb-11e8-83cf-c258fe014558.PNG)

![magento1](https://user-images.githubuserconten

[2018-01-27 02:48] andrewkett commented on #186
Sorry @gonzaloebiz somehow I left this info off my origin comment. I have updated it with preconditions.

[2018-01-27 03:07] gonzaloebiz commented on #188
Hi @msawyers

thanks for your feedback.
Check if ALL the mapped fields are created in MailChimp.
Also, check in the MailChimp error grid what is the error.

Best

[2018-01-27 03:08] gonzaloebiz commented on #186
@andrewkett

i will check with magento 2.2.1 and back to you

Best

[2018-01-27 06:33] andrewkett commented on #186
@gonzalobiz, I agree it's not immediately obvious that this is related to the extension but that does seem to be the case to me at the moment. After going back to 1.0.25 I don't get the issue anymore. As you said the stack trace doesn't reference the extension so it's hard to pinpoint the exact cause. When I a chance (probably won't be for a few days) I will try with PHP 7.0 and 5.6 to rule the ph

[2018-01-29 01:17] alloylab commented on #66
I am having this issue as well... with no data ever displaying in MailChimp...

Magento 2.2.1
mc-magento2 1.0.26

[2018-01-29 05:53] dborishansky commented on #186
Clearing out the `mailchimp_ecommerce_sync` table may be the secret to reproducing this issue.

Here's the trace I was able to surface by logging the exception in this `catch`: https://github.com/mailchimp/mc-magento2/blob/1.0.26/Cron/Ecommerce.php#L206, and running the `ebizmarts_ecommerce` job with n98-magerun2:

[code]

The field causing the issue in my case was `operations.item.182` which was

[2018-01-29 10:56] Detzler commented on #164
hey @loganstellway, thanks for your effort but this PR is not satisfiable. I wrote some lines at the PR:
https://github.com/mailchimp/mc-magento2/pull/172#pullrequestreview-92160155

[2018-01-29 12:42] jhruehl opened #189 "Customer account email address change isn't synched to Mailchimp/"
## Issue Description

If a customer changes the email address for his/her account and has a subscriber entry in the Magento 'newsletter_subscriber' table linked via an entry in the 'customer_id' row, the given subscriber entry gets updated in the 'newsletter_subscriber' table to the new email address, but the change isn't synced in any way to Mailchimp.

I don't know, if this doesn't happen, if th

[2018-01-29 12:59] jhruehl commented on #188
The actual problem with the syncing of the merge field is (at least in Magento 2.2.2) in the production mode, which handles fatal errors differently.

If merge fields are used, the Mailchimp extension actually creates a collection of ALL customer attributes and makes a ->getSource() call on every single entry in the collection to then get the options entries for each attribute (to get the labels f

[2018-01-29 14:03] gonzaloebiz commented on #188
Hi @jhruehl

thanks for your feedback.
In order to your point.

You can view at this https://github.com/mailchimp/mc-magento2/blob/develop/Helper/Data.php#L299 that the data is loaded only once.
I know, would be better if we detect that already loaded at https://github.com/mailchimp/mc-magento2/blob/develop/Helper/Data.php#L324 so i take note of this.

I will take a look to `is_confirmed` field

B

[2018-01-29 14:09] jhruehl commented on #188
Sorry. Just saw that it's only loaded once and then saved in a protected variable of the object, but the problem with the `getSource()` calls on attributes, which don't have a source class reference in the `eav_attribute` table, is a problem. I debugged the code to that point and then google gave me some inacceptable solutions like 'adding the reference myself to the attribute'.

But I just needed

[2018-01-29 14:44] alloylab opened #190 "Sync Issue, CronJob Stuck at Running"
## Issue Description

My store is showing up under connected sites in MailChimp site, however no data will sync.
The ebizmarts_ecommerce job in the cron_schedule table shows it is still running after two days... I am trying this in a test system with only 3products, 4 customers, and 3 subscribers. The following tables also have no data in them for some reason,
mailchimp_sync_batches
mailchimp_sync

[2018-01-29 14:44] jhruehl commented on #188
Furthmore you'll only get the error, if you run Magento 2 in production mode. It doesn't occur in the developer mode. At least not in my local environment.

[2018-01-29 17:40] gonzaloebiz commented on #186
Hi @dborishansky

this issue is looks like not the same as the original, please open a new one

Best

[2018-01-29 17:45] #186 closed, assigned to gonzaloebiz

[2018-01-29 17:45] #188 closed, assigned to gonzaloebiz

[2018-01-29 17:47] gonzaloebiz commented on #188
@msawyers @jhruehl

please, apply the associated commit.

Best

[2018-01-29 17:56] gonzaloebiz commented on #186
@andrewkett @dborishansky

apply the associate commit.

Best

[2018-01-29 18:03] gonzaloebiz commented on #190
Hi @alloylab

be sure that you have the cron configured.
Check the cron_schedule table

Best

[2018-01-29 19:21] alloylab commented on #190
@gonzaloebiz cron is configured... from my original post, "The ebizmarts_ecommerce job in the cron_schedule table shows it is still running after two days"

I am not sure I understand your statement about checking the cron_schedule table.

Thanks.

[2018-01-29 19:32] gonzaloebiz commented on #190
Take a look at cron_schedule table for job_code = ebizmarts_ecommerce

Best

[2018-01-29 21:07] alloylab commented on #190
here you go... the job is still running... with no content in mailchimp

![image](https://user-images.githubusercontent.com/1416037/35534386-fe243f40-0505-11e8-808e-21d8ddfa1f2c.png)

[2018-01-29 22:16] gonzaloebiz commented on #190
Look at the php error log in the root directory of the user that run the magento cron system.

Best

[2018-01-29 22:16] #190 closed, assigned to nobody

[2018-01-29 22:27] alloylab commented on #190
As I said originally "There have been no exceptions or php errors in the logs"... I guess I will just run xdebug and figure it out myself

[2018-01-30 00:33] andrewkett commented on #186
@gonzaloebiz what are your timeframes for the 1.0.27 release? Currently 1.0.26 isn't usable for us so would be great to have the next release with this fix in it.

[2018-01-30 12:48] gonzaloebiz commented on #186
Hi @andrewkett

can you confirm if the commit fix your issue?

Best

[2018-01-30 16:35] #129 closed, assigned to gonzaloebiz

[2018-01-30 20:00] alloylab commented on #186
this issue is the same I was having, #190

No error message are logged if ebizmarts_ecommerce cron job is already stuck at a status of running. Once I cleared the running job .... I was able to reproduce the following php error

`[30-Jan-2018 18:58:29 UTC] PHP Fatal error:  Uncaught TypeError: Argument 1 passed to Magento\Eav\Model\Entity\Attribute\Source\Config::__construct() must be of the type

[2018-01-30 21:21] andrewkett commented on #186
The #191 commit does seem to resolve the issue thanks @gonzaloebiz 👍

[2018-02-01 16:27] IsaacHoffmann commented on #182
So I did find a resolution finally. It turns out if you gzip your files it breaks the webhook. We were about to get it to work by just not zipping the index.html (were the script lives), but still zipping everything else.

[2018-02-05 17:54] gonzaloebiz opened #194 "Special price management"

[2018-02-06 10:07] MaxKonstructive commented on #147
Hey @gonzaloebiz, I am facing a similar issue, Magento 2.1.11, php 7.0.27.

Unsubscribe works both ways.
However, deleting a user in Magento will not change anything in Mailchimp.

Is there a fix planned for this?

[2018-02-06 10:33] MaxKonstructive opened #195 "Order Sync for eCommerce data fails to acknowledge and loops through orders with deleted products"
## Issue Description

The constant on the number in a batch on the Order Api is 50.
If you have over 50 test orders where the products do no exist in Magento, the sync will cycle through them without marking them as complete or failed.
Every time the job will loop through the same failed orders, not updating any order data after them.
Therefore no orders will be synced if this limit is met by test

[2018-02-06 11:01] MaxKonstructive opened #196 "Update Customer Data (names)"
## Issue Description

Magento doesn't update customers names in Mailchimp.

### Preconditions

1. Magento CE 2.1.1 linked to a Mailchimp list using mailchimp/mc-magento2 module 1.0.25
2. Have a with an account in Magento linked to an Account in Mailchimp

### Steps to reproduce

Updated first or last name of a customer in Magento admin.

### Actual and Expected result

Actual result : Mailchimp na

[2018-02-06 12:34] gonzaloebiz commented on #196
Please follow the [issue report guidelines](https://github.com/mailchimp/mc-magento2/wiki/Issue-reporting-guidelines)

[2018-02-07 14:16] ghost commented on #66
We are also having the same issues as well. Mailchimp List Settings does not get past 'syncing lists'  It has been spinning for 3 days.  No product data is displaying in mailchimp and magento's mailchimp general panel shows:

Total Subscribers: 4818
Ecommerce Data uploaded to MailChimp
Total Customers: 0
Total Products: 0
Total Orders: 0
Total Carts: 0
This account is currently syncing

Magento 2.

[2018-02-07 21:12] dmatthew opened #197 "Abandoned cart email product price has range starting at $0 when using configurable products"
## Issue Description

Same issue as https://github.com/mailchimp/mc-magento/issues/153

### Preconditions

    1. Magento CE 2.2.2.
    2. mc-magento2 1.0.27.
    3. MailChimp abandoned Cart functionality is enabled through Magento admin.
    4. Abandoned cart campaign is set up in your MailChimp account. Product prices are included in the email design.

### Steps to reproduce

    1. Add a produc

[2018-02-08 09:14] sippsolutions opened #198 "No subscription in mailchimp after customer registration in 2.2.2 B2B"
### Preconditions
    1. Magento Commerce B2B 2.2.2
    2. mc-magento2 1.0.27.

### Steps to reproduce
    1. Register as a new customer / add subscription in customer account area

### Actual and Expected result
     Expected result:
     - You receive an email asking to confirm your subscription sent by MailChimp

     Actual result:
     - You receive an email asking to confirm your subscriptio

[2018-02-08 16:25] msawyers commented on #67
Hi, any fix for this issue?

[2018-02-08 16:29] msawyers commented on #67
I am receiving same on version mc-magento 1.0.26

[2018-02-08 16:20:39] main.CRITICAL: Requested product doesn't exist {"exception":"[object] (Magento\\Framework\\Exception\\NoSuchEntityException(code: 0): Requested product doesn't exist at /home/public_html/vendor/magento/module-catalog/Model/ProductRepository.php:240)"} []

[2018-02-08 16:39] msawyers opened #199 "Requested product does not exist, synchronization to mailchimp fails to continue"
Cron ebizmarts_ecommerce outputs error:
Requested product does not exist.

Version: 1.0.23
Magento: 2.2.1
Error: [2018-02-08 16:20:39] main.CRITICAL: Requested product doesn't exist {"exception":"[object] (Magento\\Framework\\Exception\\NoSuchEntityException(code: 0): Requested product doesn't exist at /home/public_html/vendor/magento/module-catalog/Model/ProductRepository.php:240)"} []

[2018-02-08 16:44] gonzaloebiz commented on #199
Hi @msawyers

please update to the current version 1.0.27

Best

[2018-02-08 16:44] #199 closed, assigned to nobody

[2018-02-08 21:47] t-richards opened #200 "Unable to edit customer without API key"
## Preconditions

  1. PHP 7.1.11
  2. Magento CE 2.2.1 without sample data
  3. mc-magento2 1.0.27
  4. mc-magento2 module enabled but _not_ configured (no API key entered, no store connected, etc.)
  5. At least one customer account

## Steps to reproduce

  1. In the admin panel, visit Customers > All Customers
  2. Select a customer and then select the "Edit" option.

##  Expected result:

Cus

[2018-02-08 22:04] gonzaloebiz commented on #200
Hi @t-richards

thanks for your feedback, we will confirm the issue.

Best

[2018-02-09 13:41] gonzaloebiz commented on #200
Hi @t-richards

i can't replicate the issue.
I try with magento 2.1.10 and magento 2.2.1 following your steps.
If you put more information to replicate it we will re open the issue

Best

[2018-02-09 13:41] #200 closed, assigned to gonzaloebiz

[2018-02-09 18:52] gonzaloebiz opened #202 "When modify a simple product, the variant is empty"
- Modify any simple product data, p.e. the price
- save it

When the product is synced, no data for the variant is sync

[2018-02-09 19:02] #202 closed, assigned to gonzaloebiz

[2018-02-12 11:05] shinesoftware commented on #161
Set the English language in your Admin profile. There is a problem in the JS compilation code and the path of those files are wrong.

[2018-02-12 14:28] MaxKonstructive commented on #196
Hey @gonzaloebiz, is this ok?

Kind regards

[2018-02-12 17:16] gonzaloebiz opened #204 "Wrong error management"
When a product is synced, the first time in the ecommerce table the batchid contains 0, this value changes when the batch is effectively sent https://github.com/mailchimp/mc-magento2/blob/develop/Cron/Ecommerce.php#L125-L128
Then, when the cron start delete all the entries in ecommerce table who has no batchid https://github.com/mailchimp/mc-magento2/blob/develop/Cron/Ecommerce.php#L115
This metho

[2018-02-13 01:45] msawyers commented on #199
Still receive same error on version 1.0.27

[2018-02-13 01:30:34] main.CRITICAL: Requested product doesn't exist {"exception":"[object] (Magento\\Framework\\Exception\\NoSuchEntityException(code: 0): Requested product doesn't exist at /home/public_html/uat/dev/vendor/magento/module-catalog/Model/ProductRepository.php:240)"} []

[2018-02-13 15:05] msawyers opened #205 "Requested product doesn't exist Error"
Cron ebizmarts_ecommerce outputs error:
Requested product does not exist.

Version: 1.0.27
Magento: 2.2.1

[2018-02-13 01:30:34] main.CRITICAL: Requested product doesn't exist {"exception":"[object] (Magento\Framework\Exception\NoSuchEntityException(code: 0): Requested product doesn't exist at /home/public_html/uat/dev/vendor/magento/module-catalog/Model/ProductRepository.php:240)"} []

Process to

[2018-02-14 11:36] MaxKonstructive commented on #196
Hi, is there any update surrounding this issue?

Is it something you intend to fix or should we look for another solution?

[2018-02-14 13:31] gonzaloebiz commented on #196
This issue was fixed in 1.0.27

Best

[2018-02-14 13:31] #196 closed, assigned to nobody

[2018-02-14 18:04] #204 closed, assigned to gonzaloebiz

[2018-02-14 18:41] SantiParagarino opened #207 "Add get Api credentials button using oauth."

[2018-02-15 09:17] PiroozMB commented on #190
Hi. Did you ever solve this? I have exatly the same issue with the same version you mentioned.

[2018-02-15 10:35] PiroozMB commented on #190
I'm having this issue with the version 1.0.27 too.

[2018-02-15 12:08] gonzaloebiz commented on #190
Take a look at cron_schedule table for job_code = ebizmarts_ecommerce
If the job appear as "running", that generally means that the job has cancelled.
As the cron run as a php cli script, you must search for the php log (typically is in the document root directory of the use who run the cron)

Best

[2018-02-18 13:56] tanolalano opened #208 "Can't send transactional email after update to 1.0.27"
PRECONDITION

    1. Magento CE 2.2.2
    2. mc-magento2 1.0.27.
    3. Apache/2.4.29

Steps to reproduce

After update to the last version (1.0.27) transactional emails send with external provider aren't send anymore.
No error in exception.log or in apache log
The only error I get in exception.log is:
`
[2018-02-18 13:03:26] main.CRITICAL:  :  {"exception":"[object] (Mailchimp_Error(code: 0):  :

[2018-02-19 10:38] toshz opened #209 "Notice being thrown in MailChimpLogger.INFO: Notice: Undefined property"
## Issue Description
PHP notice being thrown in mail chimp log file.

### Preconditions

    1. Magento CE 2.1.5 without sample data is installed.
    2. PHP 5.6
    2. mc-magento2 1.0.24.

### Steps to reproduce

Steps for reproducing this are irrelevant.

### Actual and Expected result

PHP notices are being shown in MailChimpLogger.

### Additional information

I think the issue can be reproduc

[2018-02-19 13:39] gonzaloebiz commented on #208
Hi @tanolalano

what version of the ebizmarts/mailchimp-lib do you have?

Best

[2018-02-19 13:43] gonzaloebiz commented on #209
Hi @toshz

thanks for your feedback.
Please update the extension, this issue is already fixed.

Best

[2018-02-19 13:43] #209 closed, assigned to gonzaloebiz

[2018-02-19 13:57] gonzaloebiz opened #210 "Try to get result for not existing batch"
Put a fuse mark the batchs in the table mailchimp_sync_batches as 'canceled' when the mailchimp_store_id is not linked with the current apikey

[2018-02-19 17:46] #210 closed, assigned to gonzaloebiz

[2018-02-20 15:12] gonzaloebiz opened #212 "Modified carts are not re synced"

[2018-02-20 16:27] #197 closed, assigned to gonzaloebiz

[2018-02-20 16:27] #212 closed, assigned to gonzaloebiz

[2018-02-20 16:34] gonzaloebiz commented on #195
Hi @MaxKonstructive

can you please specify what version of magento and M4M2 do you have?

Best

[2018-02-20 16:35] gonzaloebiz commented on #189
Hi @jhruehl

can you please specify what version of magento and M4M2 do you have?

Best

[2018-02-21 07:13] jhruehl commented on #189
Right now we have the 1.0.25 version running, but it works fine with the adjustments I did, so I don't see any need to update to a newer version, because the fixes in 26 and 27 don't really matter in our store right now.

[2018-02-21 11:02] MaxKonstructive commented on #195
Hey @gonzaloebiz , this was fixed in 1.0.27!

It was this issue https://github.com/mailchimp/mc-magento2/commit/4a9a07207a2e9a6085b321620f6d2ddbbff4746a#diff-fe003b8459a9e927da04573571610777

Cheers

Max

[2018-02-21 11:02] #195 closed, assigned to gonzaloebiz

[2018-02-21 11:18] gonzaloebiz commented on #189
We strongly recommend update to 1.0.27

[2018-02-21 11:18] #189 closed, assigned to nobody

[2018-02-21 11:53] gonzaloebiz commented on #162
You mean the ecommerce first date i think.
What date you put?

[2018-02-21 14:49] gonzaloebiz commented on #182
@maderlock

can you please put a log like
`$this->log($storeData):`
after https://github.com/mailchimp/mc-magento2/blob/develop/Helper/Data.php#L805

and let me know the result?

Best

[2018-02-21 15:23] dsimich06 commented on #162
I had put in January 19.  We have again been having significant issues with this module causing the high CPU usage.  We have disabled other modules that might be adding additional information the module is trying to send over and it still causes the high usage.

Does the module send over all of the order data, or just the value, when it was placed, and whether it was a Mailchimp related transactio

[2018-02-21 16:03] gonzaloebiz commented on #162
If you enable the ecommerce, all data for orders are sent, this information is required if you want to use some MailChimp features like automations or revenue

Best

[2018-02-21 16:14] gonzaloebiz opened #214 "Not connected sites"
When you create a MailChimp store, the store is created with `connected_site` attributes, like `site_script`. This value is used to retrieve the site's js.

If you create a MailChimp store with an already used domain, this store is created as 'not connected'. Only one MailChimp store can exists for a given domain (if you want to change the MailChimp store, you must delete first the existing one)

[2018-02-21 16:16] gonzaloebiz commented on #182
I think your issue is related to https://github.com/mailchimp/mc-magento2/issues/214

[2018-02-21 17:13] #214 closed, assigned to gonzaloebiz

[2018-02-21 18:47] gonzaloebiz commented on #205
This was fixed in 1.0.26, plase be sure that you are in 1.0.27

[2018-02-21 19:51] gonzaloebiz opened #216 "Mark non existing batchs as canceled"

[2018-02-21 20:00] gonzaloebiz commented on #216
complement https://github.com/mailchimp/mc-magento2/issues/210

[2018-02-21 20:51] #216 closed, assigned to gonzaloebiz

[2018-02-22 02:40] msawyers commented on #205
HI, I upgraded from Version: 1.0.23 to 1.0.27.
How should I upgrade? should I uninstall before installing new version?
![image](https://user-images.githubusercontent.com/8907629/36517404-e9c847b0-174f-11e8-9b68-8b4967a8b140.png)

[2018-02-22 07:22] aluckyar commented on #60
Thanks @gonzaloebiz. Your solution solved my problem.

[2018-02-22 15:21] maderlock commented on #112
Still seeing this issue with Magento 2.2. Not just in the checkout now either. I'm using the latest numbered version of the extension: 1.0.27

[2018-02-22 15:30] maderlock commented on #112
I see that the change in commit 403af40 does not seem to have made it into releases. Any reason why?

[2018-02-22 15:36] gonzaloebiz commented on #112
@maderlock

no, i don't know why, surely for an error in our end.
With this modification your issue has gone?

[2018-02-22 17:46] #112 closed, assigned to gonzaloebiz

[2018-02-22 18:27] msawyers commented on #205
[2018-02-22 18:16:28] main.CRITICAL: Requested product doesn't exist {"exception":"[object] (Magento\\Framework\\Exception\\NoSuchEntityException(code: 0): Requested product doesn't exist at /home/public_html/vendor/magento/module-catalog/Model/ProductRepository.php:240)"} []

I am seeing where product number 240 exist, I do not understand this error?

![image](https://user-images.githubuserconten

[2018-02-22 18:30] gonzaloebiz commented on #205
@msawyers

i need a way to reproduce the issue.

Thanks

[2018-02-22 18:31] msawyers commented on #205
@gonzaloebiz  what is your recommendation?

[2018-02-22 18:38] gonzaloebiz commented on #205
@msawyers

240 is not the product id, 240 is the line # in the file ;)

[2018-02-22 18:39] msawyers commented on #205
@gonzaloebiz I realized that after, how do i find which product the issue is pointing to?

[2018-02-22 18:40] gonzaloebiz commented on #205
Debugging

[2018-02-22 19:44] richjord commented on #194
In magento you can have special prices, thus is a price that start in a specific date (and differ from the original price)

you can define one (and only one) special price per product, this price must have a start date, but not need to have an end date
so, we need to sync the new price when the special price start, and re sync when the special price ends

[2018-02-23 19:00] gonzaloebiz commented on #205
Close the issue until we you can provide more information

[2018-02-23 19:00] #205 closed, assigned to nobody

[2018-02-23 19:03] #162 closed, assigned to gonzaloebiz

[2018-02-26 10:36] maderlock commented on #182
I did have to delete the mailchimp store and create it from the Magento side again before the connection worked. Now it's detected on both sides and retargeting ads can be made. I've removed the frontend javascript of the module and manually inserted the sync code as the last item of <head> as they requested.

[2018-02-26 10:37] maderlock commented on #182
So quite possibly I had both this issue and #214.

In the end the only way I could make Mailchimp happy was to insert the code directly into the header template so that it bypassed anything Magento tried to do for ordering - forcing it to be the last element of  <head>. Eurgh.

[2018-02-26 10:40] maderlock commented on #164
Just a reminder that this should be a GET call, not POST. I've attempted to resurrect the ticket where this was supposed to have been changed.

[2018-02-26 11:36] maderlock opened #220 "No Abandoned Cart Data Sent"
## Issue Description

### Preconditions

1. Magento 2.1.9
2. Extension v 1.0.27
3. Store connected (can see both ends)
4. Admin says that everything is synced
5. Ecommerce data says is synced and abandoned carts turned on
6. Abandoned cart series exists and active - was working under MageMonkey

### Steps to reproduce

1. Create cart, add email, abandon cart
2. Run ebizmarts_ecommerce cron job

##

[2018-02-26 12:06] gonzaloebiz commented on #164
Take a look at this https://github.com/mailchimp/mc-magento2/issues/112

[2018-02-26 12:06] #164 closed, assigned to nobody

[2018-02-26 12:08] lucscu commented on #65
Why do you make a POST request and not a GET request?

[2018-02-26 12:10] gonzaloebiz commented on #65
Hi @LucScu

take a look at https://github.com/mailchimp/mc-magento2/issues/112

[2018-02-26 12:16] lucscu commented on #65
ok, so i fix correctly by myself changing it to GET. Do you know when the version this fix will be released?

[2018-02-26 13:04] maderlock commented on #220
I put a try catch around the getAll() request which allowed the cron to run, though I still haven't seen any quotes marked over the last 6 weeks, which is odd. I'll continue to look into the abandoned cart issue, which may or may not be related.

[2018-02-26 13:06] gonzaloebiz commented on #220
Perhaps your issue is related to the response processing
Take a look at https://github.com/mailchimp/mc-magento2/issues/216 an https://github.com/mailchimp/mc-magento2/issues/210
Apply the corresponding fixes and let me know

Best

[2018-02-26 13:07] gonzaloebiz commented on #208
One week without news. Close the issue

[2018-02-26 13:07] #208 closed, assigned to gonzaloebiz

[2018-02-26 13:09] gonzaloebiz commented on #182
Hi @maderlock you try my suggestion?

[2018-02-26 13:14] gonzaloebiz commented on #220
What version of ebizmarts/mailchimp-lib do you have?

[2018-02-26 13:30] maderlock commented on #220
Mailchimp module currently running 232db41478d1f199bccd7f4eadffbd63c726689d tracking dev-develop due to some bug fixes I needed that hadn't been in a release
ebizmarts/mailchimp-lib: 3.0.16

[2018-02-26 14:23] gonzaloebiz commented on #220
sorry but i don't understand, you have 1.0.26 modified by you or 1.0.27?

[2018-02-26 15:21] #182 closed, assigned to nobody

[2018-02-26 15:45] tanolalano commented on #208
Sorry for delay.
ebizmarts/mailchimp-lib 3.0.16

[2018-02-26 16:15] gonzaloebiz commented on #208
Can you specify how can we replicate this?

[2018-02-26 21:59] thaddeusmt commented on #36
I appears that the latest version of this extension is using the default Magento Newsletter subscription status to sync with Mailchimp - so if you have the standard Newsletter Subscribe checkbox in the checkout, it is now synced to Mailchimp as expected. Yay!

[2018-02-27 01:18] #36 closed

[2018-02-28 01:34] jeffreytu commented on #190
I had same issue with the cron job stuck at running for ebizmarts_ecommerce. I followed the advice of @gonzaloebiz in the previous post and looked at my cron logs. First, my cron logs were not being output at all, so I made sure that I had my paths correct.

http://devdocs.magento.com/guides/v2.0/config-guide/cli/config-cli-subcommands-cron.html
[code]
I specifically looked at the errors in update

[2018-02-28 20:21] #207 closed, assigned to gonzaloebiz

[2018-03-01 15:56] MaxKonstructive commented on #147
Hi @gonzaloebiz, any update?

[2018-03-01 23:19] dstana commented on #60
I'm having this same problem, I've imported the library with composer and verified it's in composer.json but it's still a problem.

[2018-03-02 12:11] deepak-netwin commented on #151
@aumayr were you able to fix this issue?

[2018-03-02 15:46] paulpartington-cti opened #223 "2.2 Error Importing Configuration"
## Issue Description

### Preconditions

1. Magento 2.2.2 installed
2. mc-magento2-1.0.27

### Steps to reproduce

1. Install the module
2. Run `bin/magento app:config:dump`
3. This should output some configuration similar to the below in config.php:
[code]
4. Run `bin/magento app:config:import`

### Actual and Expected result

Expected Result

The configuration should be applied

Action Result

A

[2018-03-05 23:01] andrewkett opened #224 "mailchimp/script/get should use GET rather than POST"
### Preconditions

    1. Magento CE 2.2.2
    2. mc-magento2 1.0.27.
    3. PHP 7.1

### Issue Description

The current approach to load in the store config is to first load `static/frontend/Mytheme/default/en_NZ/Ebizmarts_MailChimp/js/mailchimpjs.js` which then returns makes another POST request to mailchimp/script/get to load in a dynamic url. Ideally it wouldn't take 3 requests to load in the

[2018-03-05 23:03] andrewkett commented on #224
this was mentioned https://github.com/mailchimp/mc-magento2/issues/164 but I couldn't find the referenced ticket

[2018-03-05 23:07] andrewkett commented on #224
Sorry just realised this has already been changed in the develop branch. Will this be included in the next release?

[2018-03-06 12:59] #224 closed, assigned to nobody

[2018-03-06 13:00] gonzaloebiz commented on #224
Yes, the fix will be included in the next release, please see at https://github.com/mailchimp/mc-magento2/milestone/5?closed=1

[2018-03-06 13:44] gonzaloebiz opened #225 "Duplicate ids in the success page when interest group is a radio"

[2018-03-06 14:06] gonzaloebiz commented on #225
Sorry is not an issue, this feature don't work in magento 2.1

[2018-03-06 14:06] #225 closed, assigned to gonzaloebiz

[2018-03-07 09:25] aumayr commented on #151
@deepak-netwin No, unfortunately not. In the meantime we switched to a different system, not integrating Mailchimp into Magento.

I will close this issue, as it is not relevant to me anymore, but feel free to reopen if this is an issue for someone else.

[2018-03-07 09:25] #151 closed, assigned to nobody

[2018-03-07 09:59] MaxKonstructive commented on #143
Hey @ebizmarts-keller, I am seeing a similar issue with a profile/upemail change.

In Magento there is a profile webhook request that uses the new email address.

And then a upemail which is changing them.

Therefore Magento is trying to process a request on an email address which doesn't exist.

[2018-03-08 02:29] gundamkid commented on #158
I got it too,

Magento 2.2
mailchimp/mc-magento2 1.0.27

still don't know what is Import Mode.

Thank you,

[2018-03-09 13:48] rogersv opened #227 "Product update in magento admin is not passed to mailchimp"
## Issue Description
Product updates are not sent to mailchimp. Changes to price and quantity is not sent after the first sync to mailchimp.

### Steps to reproduce

    1. Create a product
    2. run cron for ebizmarts_ecommerce
    3. Check product data in mailchimp (using the api)
    4. update price or quantity for product inside magento admin.
    5. run cron for ebizmarts_ecommerce again

[2018-03-12 08:58] shenmusam commented on #60
I have the same problem, that is 'Class Mailchimp does not exist',The above answers do not work for me

[2018-03-12 10:36] gundamkid opened #228 "Revenue of subscriber sync is wrong"
I'm using **mailchimp/mc-magento2** version **1.0.27**

When I create new order and sync to Mailchimp, the revenue is always 1000 (my currency is VND) but the price on Magento is different. Please see image below

[https://i.imgur.com/Mx2IZcO.png](https://i.imgur.com/Mx2IZcO.png)

I tried to call API create new order to Mailchimp and I get wrong data return:

[code]

And this is my response that i

[2018-03-12 12:51] gonzaloebiz commented on #60
Hi @shenmusam

can you run

`composer show | grep -i mailchimp`

and paste the result?

Best

[2018-03-12 14:20] AndreyAnd commented on #208
I have it error  in magento 2.2.2
ebizmarts/mailchimp-lib  "version": "3.0.16"
PHP 7.0.22

In exception.log i have:
main.CRITICAL: Resource Not Found : The requested resource could not be found. {"exception":"[object] (Mailchimp_Error(code: 0): Resource Not Found : The requested resource could not be found. at      /vendor/ebizmarts/mailchimp-lib/src/Mailchimp.php:222)

[2018-03-12 15:52] jcolas15 commented on #169
Hi is there any update on a fix for this issue? We are also experiencing the same thing

[2018-03-12 17:01] gonzaloebiz opened #229 "Add a button to create the webhooks"

[2018-03-13 03:42] shenmusam commented on #106
I use the command to install

![image](https://user-images.githubusercontent.com/37282394/37321501-8f64049e-26b3-11e8-92d6-6fd43a3ea7a4.png)

[2018-03-13 05:18] shenmusam commented on #60
![1520917992 1](https://user-images.githubusercontent.com/37282394/37323698-6f66f748-26c0-11e8-9fd9-3529d1dbac5c.jpg)
I use it
"php bin/magento setup:upgrade

php bin/magento setup:di:compile
"
The second step has come up with the above problems,What should I do? @gonzaloebiz

[2018-03-13 05:23] dstana commented on #60
For anyone else going through this, I managed to solve this annoying problem by running "composer update".

I couldn't even remove the mailchimp extension without doing this and it prevented items from being added to the cart on the whole site.

[2018-03-13 09:23] shenmusam commented on #60
![image](https://user-images.githubusercontent.com/37282394/37332771-9d2a969a-26e2-11e8-974f-1e8d0e39b35b.png)
I used the composer to install it
"column 'address_address1' does not exist in table 'mailchilmp_stores' ". @gonzaloebiz

[2018-03-13 10:36] danharper83 opened #230 "An email address may not be changed once a customer is created."
## Issue Description
Mailchimp module is not synching anymore.

### Preconditions

   1. Magento 2.2.3 installed with my data
   2. Magento Mailchimp module 1.0.27
   3. Created mailchimp store
   4. Synched customers to mailchimp
   5. Customer changed email address (maybe this happened I'm not sure)
   6. Mailchimp stopped synching and I get the following errors in the log file.

The problem is

[2018-03-13 17:49] SantiParagarino opened #232 "MailChimp js file loaded each time the page loads"
Possible solution: Verify if the config exists before doing the API call [HERE](https://github.com/mailchimp/mc-magento2/blob/1.0.27/Helper/Data.php#L782).

[2018-03-13 18:11] gonzaloebiz commented on #229
closes with https://github.com/mailchimp/mc-magento2/commit/4b8a3580f8240c50a36f2915ffc6be0d82d67b84

[2018-03-13 18:12] #229 closed, assigned to gonzaloebiz

[2018-03-14 02:27] shenmusam opened #235 "column "address_address1" does not exist in table "mailchimp_store""
![1520994210 1](https://user-images.githubusercontent.com/37282394/37380089-e5427f94-2771-11e8-9962-c5b72d7e0a58.jpg)
I used the composer to install it，
then ,"php bin/magento setup:upgrade"，The above problems arise

[2018-03-14 06:54] tousif12 commented on #190
@jeffreytu    permission on which file I have to give ? I am facing same issue

[2018-03-14 11:29] gonzaloebiz commented on #235
Hi @shenmusam

plase follow the [Issue reporting guidelines](https://github.com/mailchimp/mc-magento2/wiki/Issue-reporting-guidelines)

Best

[2018-03-14 12:00] NiteshKuyate opened #237 "Product alerts cron warnings No such entity with customerId"
## Issue Description

### Preconditions

    1. Magento CE 2.1.5 without sample data is installed.
    2. mc-magento2 1.0.27.
    3. mailchimp-lib 3.0.16
    4. Created mailchimp store.
    5. Synched customers to mailchimp.

### Steps to reproduce

    1. Navigate to Magento admin.
    2. Open All Customers.
    3. Delete Customer.

### Actual and Expected result

Expected result:
No error messag

[2018-03-14 12:09] gonzaloebiz commented on #232
Closed by https://github.com/mailchimp/mc-magento2/pull/236

[2018-03-14 12:09] #232 closed, assigned to gonzaloebiz

[2018-03-14 17:28] stevenlavine opened #238 "Abandoned Cart customers not imported into Mailchimp"
### Preconditions
   1. Magento CE 2.2.2
    2. mc-magento2 1.0.25.
    3. Abandoned Cart enabled in backend.
    4. Abandoned Cart campaign setup in MailChimp.

We have installed the MailChimp mc-magento2 extension into our store, however the Abandoned cart functionality is not working. I can see the customer's with abandoned carts in the backend reports section, however no emails are sent to the

[2018-03-14 17:32] gonzaloebiz commented on #238
Hi @stephenmartin

are your store already completely synced?
If the store is synced you can view something like:
**Account Synced since: 2018-03-12**
in the Account details of the configuration

By the way, is recommended to update the extension to the current version (1.0.27)

Best

[2018-03-14 17:45] stevenlavine commented on #238
sorry it is 1.0.27 looked at a previous version of the extension on my dev environment

[2018-03-14 17:47] stevenlavine commented on #238
This is the info I'm getting in account details
Username: ****** *****
Total Subscribers: 3683
Ecommerce Data uploaded to MailChimp
Total Customers: 0
Total Products: 0
Total Orders: 0
Total Carts: 0
This account is currently syncing

[2018-03-14 18:36] gonzaloebiz commented on #238
The abandoned cart automation will be starting when the store ends the sync.
You case don't look as an issue, please contact our support team at mailchimp@ebizmarts-desk.zendesk.com

Best

[2018-03-14 18:36] #238 closed, assigned to nobody

[2018-03-14 19:16] tousif12 opened #239 "Not getting Abandoned cart emails."
I am not getting Abandoned cart emails.
Magento 2.1.8
Mailchimp 1.0.26

As list was not syncing on both sides so I manually ran cron job for it. Now list is sync but not getting any abandoned cart email.

Account info
Username: XXXXX
Total Subscribers: 32892
Ecommerce Data uploaded to MailChimp
Total Customers: 142
Total Products: 28
Total Orders: 7
Total Carts: 45
Account Synced since: 2018-03-14

[2018-03-14 20:00] gonzaloebiz commented on #239
Hi @tousif12

thanks for your feedback.
The webhook is not related on this.
When the customer abandon a cart, the cart is synced to MailChimp and MailChimp never ask to magento for this cart.
Keep in mind, if you create the abandoned cart automation in MailChimp after the cart was synced so this cart will not be sent, only the carts synced after the automation was created will be sent.

Best

[2018-03-14 21:22] jehunter commented on #200
I have run into this exact same issue, except my case is a bit strange in the fact that the mc-magento2 extension works fine on our development server where I performed the installation. I saw the issue when I pulled our code repo (with the extension included) to our staging server.

## Preconditions

1. PHP 7.0.25
2. Magento CE 2.1.10 without sample data
3. mc-magento2 1.0.27
4. mc-magento2 modul

[2018-03-15 06:32] tousif12 commented on #239
Hi Thanks for reply. okay then what may possible issue ?  After appearing   **Account Synced since: 2018-03-14**   .  I abandon cart 5,6 times from diff accounts but still didn't get any email .

[2018-03-15 14:04] ebizmarts-keller opened #240 "Error when attempting to edit a customer from the backend"
## Issue Description

When trying to edit a customer from the backend, will get a "Resource Not Found : The requested resource could not be found." and will not be able to edit the customer.

![editcusm2](https://user-images.githubusercontent.com/19838935/37467243-6fb9c796-283e-11e8-91c1-4325570bb40a.png)

### Preconditions

    1. Magento CE 2.2.3 without sample data is installed.
    2. mc-magen

[2018-03-15 14:55] centerax commented on #237
@NiteshKuyate Please reach MailChimp support (ecommercehelp@mailchimp.com) since this problem is on the automations system not on the Magento integration. Thanks.

[2018-03-15 15:14] tousif12 commented on #239
@gonzaloebiz   When I run cronjob manually for this module  recently abandonment cart email I got after 1 hour. But If I don't run manually I didn't get trigger :(

[2018-03-15 15:41] centerax commented on #228
there is a bug on the Mailchimp api. there is no timescale unfortunately.

[2018-03-15 15:41] #228 closed, assigned to nobody

[2018-03-15 16:35] gonzaloebiz commented on #239
Take a look at core_schedule for job_code = ebizmarts_ecommerce, and check the status, if the status remains running the most probably is that your cron is canceling, typically for the php cli configuration

Best

[2018-03-16 05:07] NiteshKuyate commented on #237
Thanks for the update.
We already did chat with mailchimp support and they suggested us to contact with you guys.
We will contact them again and let you know.

[2018-03-16 06:01] NiteshKuyate commented on #237
@centerax Just discussed with MailChimp support and they are saying The automations are not working properly because the chrons jobs that was created is causing the errors.

Here is the part of chat:
[code]

[code]

[2018-03-16 06:16] tousif12 commented on #239
@gonzaloebiz     Its in pending   like this       ` |          15 | ebizmarts_ecommerce                           | pending | NULL     | 2018-03-15 01:00:57 | 2018-03-15 01:00:00 | NULL        | NULL        |`
. Any idea what may issue ?

[2018-03-16 12:52] gonzaloebiz opened #241 "Missing argument on call to _updateSyncData()"
MailChimpLogger.INFO: Warning: Missing argument 3 for Ebizmarts\MailChimp\Model\Api\PromoRules::_updateSyncData(), called in /var/www/magento2/app/code/Ebizmarts/MailChimp/Model/Api/PromoRules.php on line 163 and defined in /var/www/magento2/app/code/Ebizmarts/MailChimp/Model/Api/PromoRules.php on line 253

[2018-03-16 12:55] gonzaloebiz opened #243 "Invalid argument supplied for foreach()"
Warning: Invalid argument supplied for foreach() in /var/www/magento2/app/code/Ebizmarts/MailChimp/Helper/Data.php on line 544

[2018-03-16 13:11] gonzaloebiz commented on #239
Hi @tousif12 typically this is memory amount issue, look at your cli php.ini and seach for memory_limit
I close the issue, because this is not an issue in the extension

Best

[2018-03-16 13:11] #239 closed, assigned to nobody

[2018-03-16 13:18] #243 closed, assigned to gonzaloebiz

[2018-03-16 13:18] #241 closed, assigned to gonzaloebiz

[2018-03-16 15:43] centerax commented on #237
Hi @NiteshKuyate, thanks for that update. We have concluded that the issue is not due to cron jobs creating errors.
That said, we have reached out to the MailChimp Support team on your behalf, and they are more than willing to take another look at this behavior.
They will be reaching out soon to investigate this matter further.

[2018-03-16 19:32] ACassiusD commented on #66
Does anyone have a solution for this yet. Same issue. Stuck on syncing. Contacted Mailchimp support and they told me that no syncing data is being passed and asked me to contact ebixzmarts support.

[2018-03-16 20:01] gonzaloebiz commented on #66
@ACassiusD

take a look at the cron_schedule table, if the jobs are with status running check your cli php configuration, generally is a insufficient memory issue (not a extension issue)

Best

[2018-03-19 05:42] NiteshKuyate commented on #237
Thanks for the update.
We have received email by mailchimp support regarding this issue.
They started investigating.

[2018-03-19 16:07] #194 closed, assigned to gonzaloebiz

[2018-03-19 17:04] gonzaloebiz opened #246 "Don't delete the batch_id when modify a register"
When save a record in mailchimp_sync_ecommerce and the modified flag is true, don't nullify the batch_id field.

[2018-03-19 17:25] #246 closed, assigned to gonzaloebiz

[2018-03-20 10:05] wojtekn opened #248 "Not necessary mailchimp/script/get requests"
Recently I reported a bug which was causing `mailchimp/script/get` script connecting to MailChimp API all the time, it is fixed at this point. With that fix this action runs much faster as it doesn't connect to MailChimp API on each request, but I see in New Relic monitoring tool that it is still responsible for about 8% of all transactions.

What is the reason to load this JavaScript using AJAX r

[2018-03-20 16:35] gonzaloebiz commented on #248
@wojtekn

thanks for your feedback.
Can you try with the change in the associated commit?

Best

[2018-03-20 17:18] gonzaloebiz commented on #235
No news in one week.
We will reopen the issue when you update it

Best

[2018-03-20 17:18] #235 closed, assigned to nobody

[2018-03-21 06:45] ecommage commented on #161
there is no file monkeyapikey.js in the source code of the extension mailchimp and in pub/static also.
I have searched where call the file monkeyapikey.js in the extension but don't see anywhere calls to that file. I just wonder why the page calls to that file and how to fix that.

[2018-03-21 08:15] tousif12 opened #250 "After installing Not sending confirmations mail to new subscribers from magento 2"
I installed mailchimp 1.0.26
Magento 2.1.8

Now after syncing lists etc , I wanted to just use mailchimp for abandon cart. all things were fine. I mistakenly started sending emails to new subscribers from mailchimp . Now I pause from there but when I tried to resume then Now I am unable to send from magento .

In cronjob   cron_scheudal   I am getting maybe somehow related to issue ? mailchimp aga

[2018-03-21 13:36] gonzaloebiz commented on #161
Hi @longnguyenmagento

take a look at https://github.com/mailchimp/mc-magento2/blob/develop/view/adminhtml/requirejs-config.js#L14 and https://github.com/mailchimp/mc-magento2/blob/develop/view/adminhtml/web/js/apikey.js

The real file is the last one, monkeyapikey is an alias for this file

Best

[2018-03-21 13:51] wojtekn commented on #248
@gonzaloebiz yes, we tried that on local and it worked fine. Please just remove that debug `echo $url;` line.

[2018-03-21 13:58] #248 closed, assigned to gonzaloebiz

[2018-03-22 00:08] alloylab commented on #250
having this same issue on magento 2.2.1 & mailchimp 1.0.27

here is full error message from the exception log,
2018-03-22 00:05:58] main.CRITICAL: "First Name" is a required value.
"First Name" length must be equal or greater than 1 characters.
"Last Name" is a required value.
"Last Name" length must be equal or greater than 1 characters. {"exception":"[object] (Magento\\Framework\\Validator\\Exce

[2018-03-22 15:07] gonzaloebiz opened #253 "Wrong product marked as modified in ecommerce table"
When a product is modified an saved in the magento backend, the marked product in the mailchimp_sync_commerce table has wrong mailchimp_store_id.

[2018-03-22 15:19] #253 closed, assigned to gonzaloebiz

[2018-03-22 17:02] gonzaloebiz opened #255 "Don't process stores with no mailchimp store"
In the config, if the extension is enabled but no mailchimp store defined, the sync try to send all the data.

[2018-03-22 22:44] gonzaloebiz opened #256 "The user can select non existing group in admin"
When the list has no groups, can select the --no data-- option, so we need to disable this option when appears

[2018-03-22 22:49] gonzaloebiz opened #257 "The instest groups are not reloaded when the list changes"
When the user in the admin changes the mailchimp store, the list can change, and the interest groups depends on the list. So we need to reload the interest group via ajax when the mailchimp store changes.

Keep in mind, we need to delete the old values on the database

[2018-03-23 06:50] rliukshyn commented on #169
Hi @gonzaloebiz
Are there any updates regarding this issue?
I experience it as well because DocumentRoot of my apache is magento_root/pub folder.
FYI, it is a common practice to set pub/ directory as a root on production environment because of security concerns. For example, if your docroot is magento_root folder and your server is not configured properly, you can open content of composer.json lik

[2018-03-23 16:17] ebizmarts-keller opened #258 "Subscriber fields not updated when Ecommerce Data not enabled"
When customer data is modified, only the customer item on the mailchimp_sync_ecommerce table is set as modified, but not the subscriber item if this customer is subscribed.

This means that when the ecommerce data is enabled, both the customer's and subscriber's fields (ie: First Name, Last Name) are updated on Mailchimp, but when ecommerce data is disabled, the subscriber information on the list

[2018-03-24 00:11] shreddieb commented on #147
Same issue here. Would expect the unsubscribe / deleted subscriber accounts on the Magento db to sync to Mailchimp list as I have "Enable Two Way Sync" set to "Yes".
I'm on Magento 2.2.3; php 7.0.28

[2018-03-27 13:57] gonzaloebiz commented on #250
Hi @tousif12 @alloylab

can you share the mailchimp_webhook_request table from your database?
Yo can send it to my personal email gonzalo at ebizmarts with a mention to this issue.

Best

[2018-03-27 16:19] #256 closed, assigned to gonzaloebiz

[2018-03-27 16:19] #257 closed, assigned to gonzaloebiz

[2018-03-27 16:19] #255 closed, assigned to gonzaloebiz

[2018-03-27 16:22] #223 closed, assigned to gonzaloebiz

[2018-03-27 17:07] michaelheredia opened #264 "Install via FTP?"
Is there anyway to install this via FTP? or what folder this needs to be installed in? For some reason my component manager never worked and all my extensions had to be installed via FTP.

Thank you for any help

[2018-03-27 17:11] gonzaloebiz commented on #264
Please contact our support team

[2018-03-27 17:11] #264 closed, assigned to nobody

[2018-03-27 19:50] dmatthew commented on #169
@syzovao and @gonzaloebiz - I believe this is a Magento bug:
https://github.com/magento/magento2/issues/9111
https://github.com/magento/magento2/issues/8868

[2018-03-28 12:03] gundamkid commented on #220
@maderlock I got same issue,

In my case, data in _mailchimp_sync_ecommerce_ table have some promotion rule that mailchimp didn't have it (i don't know why the proccess sync is corrupted).

Can you try to call Mailchimp API to get all your promotion rules, and check your database, maybe you can find something.

[2018-03-28 12:23] evilprophet commented on #198
I think that this may be the same/similar issue like here: https://github.com/mailchimp/mc-magento2/issues/158

[2018-03-29 09:55] toshz opened #266 "PHP warning in Helper/Data.php line 340"
## Issue Description
This isn't really a bug, but I see this error in MailChimp.log:
`MailChimpLogger.INFO: Warning: Invalid argument supplied for foreach() in /var/www/html/thirdman-m2/vendor/mailchimp/mc-magento2/Helper/Data.php on line 340`

### Preconditions
This happens if the config path "mailchimp/general/map_fields" doesn't exist in core_config_data or if the unserialized value isn't an ar

[2018-03-29 19:35] gonzaloebiz opened #267 "Bad registers are generated in mailchimp_sync_ecommerce table"

[2018-03-29 19:39] gonzaloebiz commented on #266
Hi @toshz

thanks for your feedback.

[2018-03-29 19:42] #266 closed, assigned to gonzaloebiz

[2018-03-29 19:42] #267 closed, assigned to gonzaloebiz

[2018-03-31 07:59] damodamo commented on #169
I am experiencing the same issue.
I have a 100% Standard/Vanilla Magento 2.2 installation and have just integrated with MailChimp.
Product images were uploaded using the standard Magento click and upload process.

Magneto displays all images correctly, so I assume this is a bug with MailChimp integration.

Any thoughts on the source of the bug or fix date?

Also, **ONE BIG ISSUE**, why does the Ma

[2018-04-02 14:58] #258 closed, assigned to gonzaloebiz

[2018-04-02 16:27] gonzaloebiz commented on #169
Hi @dmatthew

you are right, the issue is from magento, not from our extension.
The extension use a magento function to retrieve the media url (take a look at https://github.com/mailchimp/mc-magento2/blob/develop/Model/Api/Product.php#L354 and https://github.com/mailchimp/mc-magento2/blob/develop/Helper/Data.php#L511), but this return something like pub/media and not media/
For a workaround take a

[2018-04-02 16:27] #169 closed, assigned to gonzaloebiz

[2018-04-02 16:35] damodamo commented on #169
@gonzaloebiz Many thanks for the information.

Regarding the MailChimp extension also working for Guest customers, our testing shows this may not be the case. Can anyone else confirm this functionality is working as stated?

Many thanks.

[2018-04-02 17:28] gonzaloebiz commented on #240
closed by https://github.com/mailchimp/mc-magento2/pull/271

[2018-04-02 17:28] #240 closed, assigned to gonzaloebiz

[2018-04-02 17:36] gonzaloebiz commented on #227
Hi @rogersv

check it with 1.0.28 version

I will close for now, let me know if the issue persist and will re open the issue

Best

[2018-04-02 17:36] #227 closed, assigned to gonzaloebiz

[2018-04-03 15:37] chrisgan commented on #223
@gonzaloebiz
This error is actually still happening

Import failed: Notice: Undefined variable: active in /vendor/mailchimp/mc-magento2/Model/Config/Backend/ApiKey.php on line 81

As the error is in ApiKey.php file, which does not appear to have been updated in the commit referenced for the fix.

[2018-04-03 16:32] gonzaloebiz commented on #223
this issue will be fixed in the next release (1.0.29), please see the milestone associated.
You can try applying the associated PR

Best

[2018-04-05 09:58] chrisgan commented on #223
@gonzaloebiz
Yes I've tried the code from the PR and the issue is still happening. The ApiKey.php file needs updating with the same fix as MonkeyStore.php

[2018-04-05 13:56] #147 closed, assigned to gonzaloebiz

[2018-04-05 14:59] gonzaloebiz commented on #230
Take a look at this https://github.com/mailchimp/mc-magento/issues/17

[2018-04-05 15:10] danharper83 commented on #230
Thank @gonzaloebiz, I already read that but there wasn't a resolution.

I'm not proposing this as a feature I'm searching for a workaround for when it happens or at least better error reporting, I haven't been able to sync the contacts for months and not sure how to resolve it.

Cheers

[2018-04-05 21:12] #237 closed, assigned to nobody

[2018-04-05 21:13] #230 closed, assigned to nobody

[2018-04-06 15:03] gonzaloebiz commented on #220
No new since feb 26, so close the issue until we see any news

[2018-04-06 15:06] #198 closed, assigned to gonzaloebiz

[2018-04-06 15:08] gonzaloebiz commented on #250
No news since Mar 21, close the issue until we have any new

[2018-04-06 15:08] #250 closed, assigned to nobody

[2018-04-06 17:16] gonzaloebiz commented on #158
Hi @evilprophet, @gundamkid

what is your configuration in stores/newsletter/Confirmation Email Sender and in MailChimp in settings/list names and defaults/enable double opt-in

the setImportMode is to tell to magento that never send a confirmation email, if you need to send a confirmation email you must enable double opt-in in mailchimp

best

[2018-04-09 08:29] evilprophet commented on #158
@gonzaloebiz Thanks for a hint. I know that setImportMode disabling sending confirmation emails from Magento but I didn't know that this will be sent after enable double opt-in.

IMO import mode should be ignored when MailChimp is installed but disabled.
Now we temporary uninstalled MailChimp so I cannot confirm configuration but I'm almost sure that we didn't use double opt-in

Thanks.

[2018-04-09 19:38] SantiParagarino opened #273 "Problems when enabling intereset groups only at store view level"
## Description

If interest groups configured at store view level and disabled at default config level, nothing is loaded in admin customer tab when the customer is NOT subscribed.

### Preconditions

M4M2 1.0.28

### Steps to reproduce

1. Enable interest groups at store view level making sure no interest groups are selected at default config level.
2. Create new customer in the store where inter

[2018-04-10 19:10] mathijsm opened #274 "Cancelled or pending orders added to revenue in mailchimp"
# Description
When customer does not pay his order and the order is cancelled or stays in pending. the order is send to Mailchimp and added to the revenue as sold. We do a campaign on first placed order. these orders  that are still pending or canceled are seen as completed order and campaign is the send.

# Preconditions
Magento2 v. 2.2.3
mc-magento2  v. 1.0.28

# Steps to reproduce
Place order a

[2018-04-10 19:49] gonzaloebiz commented on #274
Hi @mathijsm

what is the status of the order in magento? and in mailchimp?

Best

[2018-04-11 06:34] mathijsm commented on #274
Hello @gonzaloebiz

Here you can see the magento backend of the order # 000000349
as you can see the order is canceld and not paid.

<img width="871" alt="schermafbeelding 2018-04-11 om 08 27 50" src="https://user-images.githubusercontent.com/3367373/38599942-ac5ece9c-3d62-11e8-9fe8-eb8b75b7d6ea.png">

In Mailchimp you can see that the order # 000000349  is registered as purchased.

<img width="57

[2018-04-11 17:58] #274 closed, assigned to gonzaloebiz

[2018-04-11 18:00] gonzaloebiz commented on #274
Hi @mathijsm

we found an issue with this and fix it with the associated PR.
Thanks for your contribution

[2018-04-16 09:23] MikGyv opened #276 "Magento 2.2.2 install error command line sales_order_grid"
I have tried to install Mailchimp 1.0.28 to Magento 2.2.2 with command line.
During installation command line gives error:
" SQLSTATE[42S02]: Base table or view not found: 1146 Table 'magentoinstallfolder.sales_order_grid' doesn't exist, query was: DESCRIBE `sales_order_grid` "

After this website gives error:
" There has been an error processing your request
Exception printing is disabled by defa

[2018-04-16 18:23] gundamkid opened #277 "Cron Ecommerce: cannot create batches data because update existed products in orders or carts"
My cron sync data to mailchimp is broken when I try to buy some configurable products.

**Environment**:
[code]

**Reproduce**
[code]

**Expected Result**
The cron run successfully. Batches files are create successfully on Mailchimp and we can use for next process.

**Actual Result**
I got this errors:
[code]

I add some debug and got the data before call API mailchimp:
[code]

why API update prod

[2018-04-16 19:51] ebizmarts-keller opened #278 "Webhook cronjob fails when updating customer"
Magento version: 2.1, 2.2
mc-magento 1.0.28

**Steps to reproduce:**

Make a profile update with either a First Name or Last Name with an empty value, for a subscriber that is also a customer.

**Expected result:**

Subscriber is successfully updated.

**Actual result:**

It breaks because it can't save the customer.

[2018-04-16 20:59] #278 closed, assigned to ebizmarts-keller

[2018-04-16 21:47] gregor-RW opened #280 "Exception is thrown when Promotion is marked for removal"
Looking at the code of \Ebizmarts\MailChimp\Model\Api\PromoRules::_getDeletedPromoRules
there is a bug. The collection that is created, is a syncCollection (\Ebizmarts\MailChimp\Model\ResourceModel\MailChimpSyncEcommerce\Collection). Few lines lower, $ruleId is fetched from $rule->getRuleId() and $rule is commented as \Magento\SalesRule\Model\Rule which is not true. The collection returns \Ebizmar

[2018-04-16 22:06] gregor-RW commented on #280
Attaching patch we used.
[mailchimp_promo_rules_patch.patch.txt](https://github.com/mailchimp/mc-magento2/files/1917477/mailchimp_promo_rules_patch.patch.txt)

[2018-04-16 22:25] stefanocapitanio commented on #208
Same issue, same configurations (Magento 2.2.3 CE)...

[2018-04-17 00:27] gundamkid commented on #280
Thank you @gregorRW , I got this error too :+1:

[2018-04-18 11:36] TristanCICT commented on #91
Any updates yet?

[2018-04-18 12:15] gonzaloebiz commented on #91
This issue was fixed with the pull request  https://github.com/mailchimp/mc-magento2/commit/4417b7f88a90e9d452be122f33f0561307d66c7b

[2018-04-18 14:42] #277 closed, assigned to nobody

[2018-04-18 14:52] gonzaloebiz commented on #276
Hi @MikGyv

sales_order_grid is a base magento table, so must be there. You have a db prefix? You split your database?

Best

[2018-04-18 14:53] gonzaloebiz commented on #158
No news in 9 days, so close the issue

[2018-04-18 14:53] #158 closed, assigned to gonzaloebiz

[2018-04-18 15:05] #280 closed, assigned to nobody

[2018-04-19 08:16] TristanCICT commented on #91
I'm sorry. I noticed after commenting and updated the module.

[2018-04-19 13:49] sanutryzens opened #287 "Ecommerce data sync failing if a quote contain giftcard type product"
## Description
We have one giftcard product and already have a quote including this gift card product. The issue is when sync is trying import this quote. It will try to send associated giftcard product as well.

But as per you implementation giftcard type product is not supporting, the flow will return an empty array if the product is giftcard type.

Ebizmarts\MailChimp\Model\Api\Product::_buildN

[2018-04-19 13:51] sanutryzens opened #288 "Giftcard type product support"
## Description
Can you please confirm the extension is not supporting gift card type products?
Also we are using maichimp order confirmation notification and our store having gift cards, so what happen a customer purchase a giftcard? no order conformation email?

Thanks
Sanu

[2018-04-19 14:55] gonzaloebiz commented on #287
Hi @sanutryzens

take a look at #277

Best

[2018-04-19 14:55] #287 closed, assigned to nobody

[2018-04-19 20:48] ebizmarts-keller opened #289 "Multistore with different Mailchimp accounts not saving correctly"
mc-magento 1.0.28
Magento 2.2.2

Steps to reproduce:

Have 2 websites each with its own store view
Set 1 API key (from different Mailchimp accounts) in each store view
Create 2 stores (1 store for each api key)
Configure store view 1, it will save the configuration and load the account information properly
Configure store view 2, it retrieves the correct account information at first, but when savi

[2018-04-24 09:20] triabhishek95 opened #290 "Not storing the data from custom columns from newsletter_subscriber table(only stores the data of customer attribute)."
Magento 2.2.2 (it is a live site)
Mailchimp Module version 1.0.27

We are having custom fields for our newsletter subscription & we have stored that data into custom columns in the `newsletter_subscriber` table. When we were using magemonkey it was storing the from the our custom columns to the mailchimp data base but now in Mailchimp it is accepting the extra data through the customer attribute o