[2018-04-24 13:49] gonzaloebiz commented on #290
Hi @triabhishek95

you can use an observer or a plugin for the function https://github.com/mailchimp/mc-magento2/blob/develop/Helper/Data.php#L613-L635

Best

[2018-04-24 13:49] #290 closed, assigned to gonzaloebiz

[2018-04-25 06:40] peterjaap commented on #151
We're experiencing this issue as well. It amazes me how many bugs there are in this extension, while I feel the whole running is running Maillchimp. We can't be the only ones running into this issue.

[2018-04-25 06:40] peterjaap commented on #151
We've decided to drop Mailchimp as well for now.

[2018-04-25 13:26] gonzaloebiz commented on #288
For questions, please contact our support

[2018-04-25 13:26] #288 closed, assigned to nobody

[2018-04-25 16:35] ebachmeier opened #291 "Newsletter group interests checkbox / radios don't work"
## Newsletter group interests checkbox / radios don't work

### Issue Description
When a newsletter group set to display as radio or checkboxes is created, the markup for these inputs does not allow them to be selected on the Magento frontend.

### Preconditions
1. Magento EE 2.2.3 without sample data is installed.
2. mc-magento2 1.0.28.
3. Newsletter group created with interests, set to display a

[2018-04-25 18:10] gonzaloebiz commented on #291
Hi @ebachmeier

thanks for your feedback
I just try with same version of magento and mc-magento2 with firefox and that is working OK for me. (with both, a checkboxes and radio)
Can you give more information to try to replicate?

Best

[2018-04-25 18:52] ebachmeier commented on #291
@gonzaloebiz try Chrome 63

[2018-04-25 19:06] gonzaloebiz commented on #291
I don't have chrome 63, but try with chrome Version 65.0.3325.18 on both, linux and mac and works fine.

[2018-04-26 05:44] deepak-netwin commented on #151
@peterjaap @aumayr We did the same and remove mailchimp until they release stable version.

[2018-04-26 12:33] gonzaloebiz commented on #151
Hi @peterjaap

if you share more information about, would be useful.
We have more than 40K installations and 3 reports of this.
Can you be more specific to try to replicate it?

Best

[2018-04-26 13:45] NiteshKuyate opened #292 "Why after customer deletion, mailchimp disconnect/connect need to perform?"
We had installed Mailchimp 1.0.26 to Magento 2.1.5

After deleting a customer in Magento admin, revenue statistics in mailchimp doesn't show anything after the date of customer deletion, then getting

After that we update  Mailchimp extension to 1.0.27 then above issue resolved.
But after deletion of customer again that issue appear.

We are wondering if in the future we need to delete a customer

[2018-04-26 16:12] gonzaloebiz opened #293 "Error getting interest groups"
When put the APIKey in the admin and skip to next field, must control that you have a list selected when get the insterest groups.

[2018-04-26 16:52] #293 closed, assigned to gonzaloebiz

[2018-04-26 16:53] gonzaloebiz opened #295 "In the mailchimpstore grid not all the apikeys are taken"

[2018-04-26 17:04] #295 closed, assigned to gonzaloebiz

[2018-04-26 17:06] gonzaloebiz commented on #289
Hi @ebizmarts-keller

i just try with the develop version and works fine for me.
Can you try with the develop version?

Best

[2018-04-26 18:08] #289 closed, assigned to gonzaloebiz

[2018-04-26 18:09] gonzaloebiz commented on #289
@ebizmarts-keller

can you retry with the current development version?

Best

[2018-04-29 22:51] antoniogarcia78 opened #298 "Ecommerce Sync not working and Error in cron_schedule"
Good
Before I had installed
"ebizmarts / mailchimp-lib": "^ 3.0",
-> Current: 3.0.14

"mailchimp / mc-magento2": "^ 1.0",
-> Current 1.0.27

And the following error in cron_schedule had an error
`Notice: Undefined property: Mailchimp_Ecommerce :: $ promoCodes in /var/www/vendor/mailchimp/mc-magento2/Model/Api/PromoRules.php on line 104
`
Then, seeing an old issue, I decided to update and now I hav

[2018-04-30 15:17] gonzaloebiz commented on #298
Hi @antoniogarcia78

thanks for your feedback.
Please take a look at #280

Best

[2018-04-30 15:17] #298 closed, assigned to nobody

[2018-04-30 19:33] #273 closed, assigned to gonzaloebiz

[2018-05-01 17:33] cefrigo commented on #66
Facing same issue here, Sync never ends. Both crons are now running fine after heavy debugging but sync seems to be stuck any safe way to restart it ?

[2018-05-02 15:29] gonzaloebiz commented on #292
Hi @NiteshKuyate

thanks for your feedback.
Can you be clear on how to reproduce the issue step by step.

Best

[2018-05-03 05:23] vshen-petvalu opened #299 "can't create abandoned cart batch"
**Case:  Magento 1 to magento 2, connected to existing account.**  disconnect old site and click reset ecommerce data.

newsletter subscribe works fine but abandoned cart email never send out. check log and find batch error

  "status_code":400,
      "operation_id":"PRO_1524375303_8507",
      "response":"{\"type\":\"http:\/\/developer.mailchimp.com\/documentation\/mailchimp\/guides\/error-glossa

[2018-05-03 05:23] #299 closed, assigned to nobody

[2018-05-03 05:24] curkle opened #300 "abandoned cart email didn't send"
**Case:** Magento 1 store migrate to magento 2, connected to existing account. disconnect old site and click reset ecommerce data.

newsletter subscribe works fine but abandoned cart email never send out. check log and find batch error

"status_code":400,
"operation_id":"PRO_1524375303_8507",
"response":"{"type":"http://developer.mailchimp.com/documentation/mailchimp/guides/error-glossary/","title

[2018-05-03 05:58] NiteshKuyate commented on #292
Hello @gonzaloebiz

1) Installed Mailchimp 1.0.26 to Magento 2.1.5.
2) Store sync like products, customers, orders etc complete.
3) Revenue statistics in mailchimp showing currectly.
4) Delete customer in magento store.
5) Revenue statistics in mailchimp doesn't show anything after the date of customer deletion.
6) Update Mailchimp 1.0.26 to 1.0.27.
7) Store sync like products, customers, orders e

[2018-05-03 08:00] TomsBugna commented on #66
I am facing the same issue. Magento version: CE 2.2.3. Extension version: 1.0.28. Any updates on how to fix this?

[2018-05-03 08:16] lgrassini commented on #66
Hey @Tomijs, @cefrigo and others experiencing this issue...

I contacted the Mailchimp support regarding this several weeks ago. I was able to fix the problem following this directions the Mailchimp team provided me:

"_Hey there,_

_My name is Michael and I'm an E-Commerce specialist here at MailChimp. I'm in the process of reviewing your store's connection and I noticed that MageMonkey for Magen

[2018-05-03 10:41] GideonBabu commented on #66
@gonzaloebiz @takzilla

I am using this extension v1.0.28 and Magento version is 2.2.1

I am still facing this issue. Syncing the list is never ending process. Do you guys have a workaround for this?
![screenshot-us18 admin mailchimp com-2018 05 03-16-09-07](https://user-images.githubusercontent.com/20984313/39572390-9bc74fb4-4eec-11e8-82e1-a57d601841d1.jpeg)

I am working on localhost and my cron

[2018-05-03 12:26] gonzaloebiz commented on #300
Hi @curkle

thanks for your feedback.
Sorry but the data synced in a magento1 store can't be managed in a magento2 store, you must create a new MailChimp store and re sync all the data

Best

[2018-05-03 12:26] #300 closed, assigned to nobody

[2018-05-03 12:37] gonzaloebiz commented on #66
Open a console and run

php --info | grep memory_limit

and be sure that the memory is enough to run magento

Best

[2018-05-03 12:43] TomsBugna commented on #66
I can approve that @lgrassini solution works. Just with some adjustments, for example, make sure that before installing again the extension, database tables and data are removed as well. Make sure all files are removed, etc.

Store sync finished but now there is another issue - I can see that not all of the orders are synced to the MailChimp. Some of the completed orders and its products are not a

[2018-05-03 13:18] GideonBabu commented on #66
@gonzaloebiz I have run the command and attached the screenshot for your reference.

![php --help](https://user-images.githubusercontent.com/20984313/39578730-8e619620-4f02-11e8-8dca-8509154c420e.png)

Does this extension works in localhost?

@gonzaloebiz Should we set up any cron job in the server to make the sync happen? or how does it work?

[2018-05-03 14:04] gonzaloebiz commented on #66
@GideonBabu of course, you need to [setup the magento cron system](http://devdocs.magento.com/guides/v2.2/config-guide/cli/config-cli-subcommands-cron.html)

and yes, the extension works in localhost, not fully functional (the webhooks not work), but definitively works

Best

[2018-05-03 20:03] dan-ding opened #301 "cron error column not found - at_special_from_date_default.value"
### prereq
magento 2.1.x
magento 2.2.x

a regular working store?

### Steps to reproduce

run cron
?

seems like something in vendor/mailchimp/mc-magento2/Model/Api/Product.php::__markSpecialPrices isn't generating the join tables as expected

cron error:
job_code: ebizmarts_ecommerce
messages:
[code]

[2018-05-03 20:10] dan-ding opened #302 "web_hooks error somewhere - first/last name being required"
magento 2.1.x
magento 2.2.x

not really clear where where this is firing from except it occurs during cron.
vendor/mailchimp/mc-magento2/Model/Api/Customer.php ?

in cron schedule table:
job_code: ebizmarts_webhooks
messages:
"First Name" is a required value.
 "First Name" length must be equal or greater than 1 characters.
 "Last Name" is a required value.
 "Last Name" length must be equal or grea

[2018-05-03 20:19] dan-ding commented on #302
possible dup of:
https://github.com/mailchimp/mc-magento2/issues/278

it's not clear to me.
a customer requires first/last name and that patch doesn't handle such a condition. maybe it's getting written over with a blank value?

[2018-05-04 10:54] robgt commented on #58
I am still encountering this same error in Magento 2.1.6 with MC-Magento plugin version 1.0.27.

ebizmarts_ecommerce | error | Requested country is not available

Any thoughts as to how this can be fully resolved?

[2018-05-04 14:33] antoniogarcia78 opened #303 "Ecommerce Sync not working"
Hi

I have installed the last version and apply the patch that recommended in
https://github.com/mailchimp/mc-magento2/issues/280

Now the ecommerce section in Mailchimp page still no without data and in the core_schedule we have a lot of row with this error

-- SQLSTATE[42S22]: Column not found: 1054 Unknown column 'at_special_from_date_default.value' in 'on clause', query was:

SELECT `e`.*, IF(

[2018-05-04 15:09] antoniogarcia78 commented on #303
IMHO this change is in the 1.0.28 version

[2018-05-04 15:44] gonzaloebiz commented on #303
This fix will be available in 1.0.29 (you can see it in the original issue)

Best

[2018-05-04 15:44] #303 closed, assigned to nobody

[2018-05-04 16:00] antoniogarcia78 commented on #303
Estimated date release?

[2018-05-04 16:27] gonzaloebiz commented on #303
We don't have it for now, think 2/3 weeks

[2018-05-04 17:36] ebizmarts-keller commented on #302
Hello @dan-ding

Because Magento requires for a customer to have a first and last name, is that we added the patch so that if this values are updated in Mailchimp to a null value, it doesn't attempt to update those fields on the customer in Magento (since that is what makes the cronjob fail).

If even after applying the patch you keep getting the error, perhaps something like what you have mention

[2018-05-04 17:41] gonzaloebiz commented on #301
Please take a look at #277

[2018-05-04 17:41] #301 closed, assigned to nobody

[2018-05-04 17:53] antoniogarcia78 commented on #303
Do you know what is the last stable version to install?

[2018-05-04 17:56] gonzaloebiz commented on #303
You always can see it at https://github.com/mailchimp/mc-magento2/releases
Or use composer to install it.
You can always install any branch, simply specify the branch in the composer command:
composer require mailchimp/mc-magento2:dev-develop
or you can download the zip from the "clone or download" button

Best

[2018-05-04 17:58] #302 closed, assigned to ebizmarts-keller

[2018-05-04 19:01] gonzaloebiz commented on #291
one week without response, close the issue until new data is available

[2018-05-04 19:01] #291 closed, assigned to gonzaloebiz

[2018-05-04 19:02] gonzaloebiz commented on #276
16 days without response, close the issue until new data is available

[2018-05-04 19:02] #276 closed, assigned to gonzaloebiz

[2018-05-06 10:08] caww commented on #66
Hi
Php 7.1
Magento 2.2.4
mailchimp 1.0.28
Facing Same issue in our shop
https://winesellersdirect.com.au/
please help us
name of mailchimp account is jasonborg

[2018-05-08 22:28] dmatthew opened #305 "Abandoned cart email not sent when Magento customer is not logged in to their account"
## Abandoned cart email not sent when Magento customer is not logged in to their account

## Issue Description

If a user with a Magento account abandons their cart while not logged in, then the abandoned cart email does not get sent.

It's this bit of code here which is the problem: https://github.com/mailchimp/mc-magento2/blob/develop/Model/Api/Cart.php#L243-L247

What is the reasoning for "avoi

[2018-05-09 12:23] gonzaloebiz commented on #305
Hi @dmatthew

thanks for your feedback.
This is not an issue, and this is the expected behavior.
When a customer has an account (thus is, a registered email), we can only be sure that is the real customer if is logged, otherwise anyone can pretend to be him

Best

[2018-05-09 12:23] #305 closed, assigned to gonzaloebiz

[2018-05-09 14:57] msawyers opened #306 "Column "address_address1" does not exist in table "mailchimp_stores"."
**Issue Description**: After running php bin/magento setup:upgrade error is received - Column "address_address1" does not exist in table "mailchimp_stores".

**Steps to reproduce**
install mc-magento 1.0.28
run setup:upgrade

**Expected Result:**
Setup:upgrade should complete successfully

**Actual Result**
Setup:upgrade fails

[2018-05-09 15:36] gonzaloebiz commented on #306
See #283

[2018-05-09 15:36] #306 closed, assigned to gonzaloebiz

[2018-05-10 03:46] dan-ding commented on #302
ok @ebizmarts-keller , i'll take a looksee there. Thanks!

[2018-05-11 15:19] sajidunnar commented on #208
Having same issue with Magetnto 2.2.1

[2018-05-11 00:10:04] main.CRITICAL: Resource Not Found : The requested resource could not be found. {"exception":"[object] (Mailchimp_Error(code: 0): Resource Not Found : The requested resource could not be found. at /***/vendor/ebizmarts/mailchimp-lib/src/Mailchimp.php:222)"} []

[2018-05-11 16:43] gonzaloebiz opened #307 "No image url when the product and the parent has no image"

[2018-05-11 16:51] #307 closed, assigned to gonzaloebiz

[2018-05-16 15:20] antoniogarcia78 opened #309 "Unknown column 'at_special_from_date_default.value' in 'on clause'"
Versions installed
ebizmarts/mailchimp-lib                       3.0.21
mailchimp/mc-magento2                         1.0.28

Problem: In cron_schedule and /var/www/var/log/magento.cron.log a lot de errors

SELECT `e`.*, IF(at_special_price.value_id > 0, at_special_price.value, at_special_price_default.value) AS `special_price`, `at_special_from_date`.`value` AS `special_from_date`, `at_special_to

[2018-05-16 16:08] gonzaloebiz commented on #309
Hi @antoniogarcia78

what version of magento?

Best

[2018-05-16 16:09] antoniogarcia78 commented on #309
Sorry I forgot this

Magento 2.1.4

[2018-05-16 16:16] gonzaloebiz commented on #309
ok thanks, i will test it and back to you

[2018-05-17 22:31] EthicalErik commented on #66
Same problem here. It's stuck on "This account is currently syncing" and does nothing.
Magento 2.2.3 (preparing to upgrade to 2.2.4)
Ebizmarts Mailchimp 1.0.28

I tried the solution provided by lgrassini however this did nothing for us.

[2018-05-18 13:50] gonzaloebiz commented on #66
If you have problems with this, is not an extension issue, is typically a configuration error in your server, so please contact our support team at mailchimp@ebizmarts-desk.zendesk.com

Best

[2018-05-18 15:11] NathanDayMF commented on #302
@ebizmarts-keller when can we expect 1.0.29 to be released?

[2018-05-18 15:33] gonzaloebiz commented on #302
Hi @NathanDayMF

we are in testing stage, i think 2/3 weeks

Best

[2018-05-18 23:37] dan-ding commented on #158
Can we reopen? :)
I see this a problem on 2.2.x --
mailchimp only lets you do so much. some things need to be done with magento.

magento is just as capable of doing a double optin -- no reason to restrict it to mailchimp only. Right?

one could write an beforeplugin which runs after this modules plugin to change that if desired. however I think it'd be better to either have an admin configurable

[2018-05-21 15:13] dan-ding opened #310 "reopen #158"
see #158
:)

[2018-05-23 06:38] babyasishhira opened #312 "Dom element should be created error is showing after install mailchimp"
## Dom element should be created error is showing after install this

Details of store:

    1. Magento CE 2.1.7 without sample data is installed.
    2.PHP version is 7.1

### Steps to reproduce
I download the extension and installed.

After that I am seeing error **Dom element should be created**

### Below is the error report content
a:4:{i:0;s:37:"Object DOMDocument should be created.";i:1;s:1

[2018-05-23 14:47] gonzaloebiz commented on #312
Hi @babyasishhira

can you please specify the steps you followed to install the extension?
Also, when and where you see this error?

[2018-05-23 15:21] babyasishhira commented on #312
Hi,
Steps of install -
1.Downloaded the extension then put all the files under app/code/Ebizmarts/MailChimp
2.From the ssh I run `php bin/magento module:enable Ebizmarts_MailChimp`
3.Again from ssh I run `setup:upgrade`
3.Then I did run `composer require ebizmarts/mailchimp-lib'`

And I see the error on every pages, So put the module disable for now

Please let me know for further question

[2018-05-23 15:25] gonzaloebiz commented on #312
Check the permissions.
And keep in mind, in magento 2.1 you must run

bin/magento setup:static-content:deploy

Best

[2018-05-23 16:05] gonzaloebiz opened #313 "Wrong url for a generic product of configurable producs"
Inside of a campaign when I attempt to add a product from the website, I am selecting a configurable product, which should contain no size or colour, but the links still contain two paramaters at the end e.g. ?size=87&color=77

[2018-05-23 20:22] #313 closed, assigned to gonzaloebiz

[2018-05-24 03:04] babyasishhira commented on #312
pub/static , pub/media and var folder is set to 777 permission always

And yes I also run run deploy file command

[2018-05-28 06:31] babyasishhira commented on #312
Any advice ?

[2018-05-28 12:49] gonzaloebiz opened #316 "No cron_groups.xml is defined"
Issue introduced in the pr https://github.com/mailchimp/mc-magento2/pull/282
When you define your own cron groups, you must define it in cron_groups.xml

[2018-05-28 13:16] #316 closed, assigned to gonzaloebiz

[2018-05-31 06:02] babyasishhira commented on #312
@gonzaloebiz thanks for your efforts bro. It was an issue that  lib was not installed completely that is why it was giving the error, Once I reinstalled that everything is fixed

[2018-05-31 06:02] #312 closed, assigned to gonzaloebiz

[2018-05-31 14:00] lano-vargas opened #318 "https://chimpstatic.com/mcjs-connected/js/users/..... 502 error"
We have installed mailchimp for Magento 2.2.2 and is very sporadic we have complains about not syncing  now and then we have monitored over a week and I can see in the browser console very frequently gives 502 error:

![chimpstatic com-error](https://user-images.githubusercontent.com/3495481/40786226-7905c350-64e2-11e8-91f6-bcd53848eab7.png)

I've also tested uptime using online tool https://www.u

[2018-05-31 14:24] gonzaloebiz commented on #220
Related to #208

[2018-05-31 14:30] #220 closed, assigned to gonzaloebiz

[2018-05-31 15:36] gonzaloebiz commented on #309
Hi @antoniogarcia78

sorry about the delay, we are working in new releases of both m4m1 and m4m2 these days
I check your issue in Magento 2.1.4 and 2.1.10 with sample data and i can't reproduce it.
Any other specific data of your installation? Which version of mysql do you have?

Best

[2018-05-31 15:37] gonzaloebiz commented on #318
Hi @lano-vargas

thanks for your feedback.
Sorry but this is not something that we can fix, sound like a infrastructure issue not a extension issue

Best

[2018-05-31 15:37] #318 closed, assigned to nobody

[2018-05-31 15:47] antoniogarcia78 commented on #309
Hi gonzaloebiz
We use 10.0.29-MariaDB in Ubuntu 14.0.5 LTS but we use this plugin in magento without problem before update.
I try to test in other machine.

[2018-05-31 15:54] gonzaloebiz commented on #309
OK, let me know.
We have a lot of installations of 1.0.28 and no other reports of this issue, so i think is like a mysql version issue or something like this (perhaps other magento extension)

Best

[2018-05-31 16:14] lano-vargas commented on #318
@gonzaloebiz thanks for reply .
I understand but for this reason then the extension fails to do its job can you pass this to the infrastructure department?

[2018-05-31 16:30] gonzaloebiz commented on #318
You can contact directly to MailChimp support for this.

Best

[2018-05-31 16:43] gonzaloebiz commented on #310
Hi @dan-ding

as always, thanks for your feedback.
I don't think, why someone that use MailChimp and use the extension would use the magento double optin and not the one from MailChimp?
MailChimp for sure react more quickly and securely to changes (as GDPR) than each particular magento installation, because is their business
If you use MailChimp, why not leave the logic in MailChimp?
I know, perha

[2018-05-31 18:58] dan-ding commented on #310
@gonzaloebiz
sure maybe mailchimp does some things "better". but it's still limited in what it "can" do.

by extension of your logic of "leaving things to mailchimp" -- why then, have any newsletter data in magento? why do anything at all in magento?

also setting the "setImportMode" also will disable the final success email from magento, not just the confirmation email.

this one little modificat

[2018-05-31 22:46] gonzaloebiz commented on #310
First of all, i want to say that i think this is an interesting discussion and we are open to hear arguments.

I think is not the same logic...
Maintain basic newsletter data in magento, keeps the option of the store owner to get back from MailChimp and use any other provider, in my opinion really a few users once they install the extension use magento to send newsletters (perhaps i am wrong), but

[2018-06-02 10:36] sjimenez77 commented on #240
Still facing the same issue with Magento 2.1.5 and mc-magento2 module version 1.0.29 installed.

[2018-06-04 15:38] antoniogarcia78 commented on #309
I have tried something else.
Before I had only one list for all the websites (we have 4) and when using 4 lists (one per website) it may have stopped working.
I have deleted all the settings and I have started again
Now the configuration says "This account is currently syncing" but in system.log
I have a lot of errors "main.CRITICAL: Resource Not Found: The requested resource could not be found."

[2018-06-04 17:04] gonzaloebiz commented on #309
Hi @antoniogarcia78

you can modify this line https://github.com/ebizmarts/mailchimp-lib/blob/master/src/Mailchimp.php#L222
with
[code]

We has an issue with the promo codes, but was fixed in 1.0.29 version, so i recommend update the extension

Best

[2018-06-04 18:57] zakgrindle opened #321 "Base table or view not found Magento 2.2.4"
Installed the module via composer command:

composer require mailchimp/mc-magento2

Ran setup:upgrade command:

php bin/magento setup:upgrade

Get the following error:

SQLSTATE[42S02]: Base table or view not found: 1146 Table 'XXXX.mailchimp_stores' doesn't exist, query was: DESCRIBE `mailchimp_stores`

[2018-06-04 19:55] antoniogarcia78 commented on #309
Tonight I'm going to update but I want to install clean.
Can I delete all the bd mailchimp_ * tables without losing information for the ecommerce synchronization with mailchimp?

[2018-06-05 11:51] MaxyBlack commented on #321
This module is not prepared for stores with prefix set in the database. Tables exist but UpgradeSchema is looking for a raw table name without prefix.

@gonzaloebiz
Issue is caused by
`$connection->tableColumnExists('mailchimp_stores', 'address_address1')`
method tableColumnExists is not adding prefix to table name. I suggest converting it to
`$connection->tableColumnExists($setup->getTable('mailc

[2018-06-05 13:00] gonzaloebiz commented on #321
Hi @zakgrindle @MaxyBlack

thanks for pointing that.
This issue was introduced in https://github.com/mailchimp/mc-magento2/pull/283 with a user contribution not enough tested

Best

[2018-06-05 13:45] #321 closed, assigned to gonzaloebiz

[2018-06-05 13:56] gonzaloebiz commented on #309
Well, if you delete all the mailchimp tables, a lot of errors will appear (basically already exists errors)

[2018-06-05 16:47] antoniogarcia78 commented on #309
Hi
The problem in the cron persist but now we know when fails.
In the moment we activate the Ecommerce  settings. Without this the sync of clients works ok,

[2018-06-05 16:54] gonzaloebiz commented on #309
you already make the change in the lib? if yes, take a look at the cron_schedule table

[2018-06-05 22:09] antoniogarcia78 commented on #309
Change done

[2018-06-06 07:52] zakgrindle commented on #321
When will this be fixed?

On 05/06/2018 14:00, Gonzalo Dominguez wrote:

--
*Technical Director*
T: 02921 680051
E: zak@bigeyedeers.co.uk

[2018-06-06 14:09] gonzaloebiz commented on #321
The fix is in the associated pull request https://github.com/mailchimp/mc-magento2/pull/322 and will be available in the next release (see the associated milestone)

Best

[2018-06-06 23:30] subbu1993 commented on #310
hey @gonzaloebiz

from what I understand with the Double optin feature documentation here - https://kb.mailchimp.com/lists/signup-forms/about-double-opt-in and https://kb.mailchimp.com/lists/signup-forms/single-opt-in-vs.-double-opt-in, it is designed to mimick Magento's **Require Confirmation** setting.

For some stores, a confirmation link/email is not required BUT a subscription success email i

[2018-06-07 08:19] ahmadalkaid commented on #250
Hi Guys,

I am having the same issue, this is from my mailchimp_webhook_request

a:7:{s:2:"id";s:10:"6d2522861c";s:5:"email";s:21:"CustomerEmail@gmail.com";s:10:"email_type";s:4:"html";s:6:"ip_opt";s:12:"35.178.29.44";s:6:"web_id";s:8:"74027791";s:6:"merges";a:3:{s:5:"EMAIL";s:21:"CustomerEmail@gmail.com";s:5:"FNAME";s:0:"";s:5:"LNAME";s:0:"";}s:7:"list_id";s:10:"f3e3db0fcf";}

--

Thanks,
-Kaid

[2018-06-07 12:39] gonzaloebiz commented on #250
Hi @ahmadalkaid

thanks for your feedback.
Please open a new issue with a complete description ([please see at](https://github.com/mailchimp/mc-magento2/wiki/Issue-reporting-guidelines)

Best

[2018-06-08 01:50] benfung3 commented on #205
My version 2.2.4,Same problem here.Solved it.
find this php file :
vendor/magento/module-catalog/Ui/DataProvider/Product/Form/Modifier/Related.php
find the code below

              $linkedProduct = $this->productRepository->get(
                    $linkItem->getLinkedProductSku(),
                    false,
                    $this->locator->getStore()->getId()
                );

[2018-06-08 14:54] msawyers commented on #205
Thank you , will try this out.

[2018-06-12 16:37] antoniogarcia78 commented on #309
After the change in the log I have many errors

The requested resource could not be found. url: https://us10.api.mailchimp.com/3.0/ecommerce/stores/de4e62f47aac5af43e3793e4b0aa1c7a

This is the strange thing. I have deleted all but one and still making requests to stores that do not exist anymore.

If you create a store in Magento it is created without problems in Mailchimp (checked using the api)

[2018-06-13 15:16] dan-ding commented on #310
while I agree with @subbu1993 that

however I think it's only part of the issue.  A more comprehensive solution to setting the `import_value `or not is whether a person wants to **manage the the registration actions (single or double, success, unsub, etc) in magento or in mailchimp**.

So I think looking at it as a pros/cons is misleading because I think that's not the issue. The issue is setting,

[2018-06-14 18:28] gonzaloebiz commented on #309
Hi @antoniogarcia78

do you found this MailChimp store in the core_config_data table?

Best

[2018-06-15 08:48] inelukipg commented on #309
Hi @antoniogarcia78 ,
I have the same problem:

Versions:
Magento 2.2.3
ebizmarts/mailchimp-lib 3.0.21
mailchimp/mc-magento2 1.0.29

`[2018-06-15 08:40:32] main.CRITICAL: SQLSTATE[42S22]: Column not found: 1054 Unknown column 'at_special_from_date_default.value' in 'on clause', query was: SELECT `e`.* ...,
`

[2018-06-15 09:36] antoniogarcia78 commented on #309
This SQL is in the class Product (Product.php)
I believe and this is an assumption because I am analyzing what makes the code of the module that brings prices that are in promotion.
I have all the product promotions deleted. Will this be? or is it a SQL error? I'm still investigating

[2018-06-15 13:23] gonzaloebiz commented on #309
Hi,

you can view the query here https://github.com/mailchimp/mc-magento2/blob/develop/Model/Api/Product.php#L159-L208
As you can view here https://github.com/mailchimp/mc-magento2/blob/develop/Model/Api/Product.php#L169-L174 the query filter by attribute.
Check the definition of special_from_date in eav_attribute and compare your definition with a magento vanilla installation.

Best

[2018-06-15 13:47] maderlock opened #323 "Disabling Amazon Pay in Setup Wizard breaks Checkout"
### Steps to reproduce

    1. Install 2.2.4 via composer using magento/product-community-edition
    2. Start web wizard
    3. During install choose to leave Amazon Payments disabled
    4. Add a product and enable an offline payment method
    5. Add product to cart on frontend and visit checkout

### Actual and Expected result

Expected:

To see checkout

Actual:

Following Exception:

Excepti

[2018-06-15 13:48] maderlock commented on #323
Whoops - this was supposed to be on the Magento 2 repo. Please delete.

[2018-06-15 14:03] gonzaloebiz commented on #323
No problem

[2018-06-15 14:03] #323 closed, assigned to nobody

[2018-06-17 17:44] ngocsonit9x opened #324 "Can't create webhook in admin magento EE 2.2.2"
# Can't create webhook in admin magento EE 2.2.2

I just connected magento EE 2.2.2 and synchronization successfuly  to mailchimp.
But when I set "Enable Two Way Sync" to yes and click to button "Create Webhook", I got message error, see image below.

Settings:
![untitled2](https://user-images.githubusercontent.com/40340581/41510478-8e863812-728f-11e8-87f1-66dfa97494ac.png)

Error message:
![untit

[2018-06-18 05:26] ngocsonit9x commented on #324
Confirm again.
Webhooks not working on localhost.
Webhooks created successfully on live site running, and check on mailchimp webhooks created is well. But alert error message still show same above.
And when do any action in mailchimp then magento still not update.

[2018-06-18 07:34] #324 closed, assigned to nobody

[2018-06-18 22:11] antoniogarcia78 commented on #309
Vanilla vs My Magento (both 2.14)
Two differences
1. entity_id: 79 vs 568 (I understand is not important)
2. entity_type_id: 4 vs 10. Can it be important?

[2018-06-19 20:23] ghost opened #325 "High CPU load when API not available"
Magento 2.2.1
MailChimp v1.0.25

We are running a 64GB 16 Core Server and yesterday the Mailchimp API went down and suddenly our whole shop had  a lot of 502 Bad Gateways or very long loading times.
Our PHP-FPM was 100%

Mailchimp was trying to reach the API but it couldn't therefore I quess the request was staying open and blocking the server. But I am not sure.

You can simply reproduce this by

[2018-06-19 20:30] dan-ding opened #326 "at_special_from_date_default doesn't exist"
https://github.com/mailchimp/mc-magento2/blob/729fa9613137634b97491e93d3b55d0148e26b40/Model/Api/Product.php#L183

so at_special_from_date_default.value isn't going to either

[2018-06-19 20:43] dan-ding commented on #326
dup of #309
closing

[2018-06-19 20:43] #326 closed, assigned to nobody

[2018-06-19 20:43] dan-ding commented on #309
i see this as well 2.2.4

at_special_from_date_default doesn't exist.

[2018-06-20 13:22] willwright111 opened #327 "Multistore pulling in default store url for links"
Preconditions

Magento 2.2.3
Module version 1.0.29
Steps to reproduce

Setup 1 Magento install with multiple website views
Install Mailchimp Module
Configure Mailchimp Module
Sync catalog from Magento to Mailchimp
Go to create a campaign in Mailchimp the url links to the products are for the default website not the specified website.
Expected result

Links in mailchimp to products in website 1 lin

[2018-06-20 13:25] gonzaloebiz commented on #327
Hi @willwright111

thanks for your feedback.
Are you using one MailChimp store per magento website or the same MailChimp store for all?

Best

[2018-06-20 13:29] willwright111 commented on #327
@gonzaloebiz one Mailchimp store per magento website

[2018-06-20 13:41] gonzaloebiz commented on #327
@willwright111

the MailChimp stores, has the same list or 2 different list?

Best

[2018-06-20 13:58] willwright111 commented on #327
@gonzaloebiz sorry what do you mean? What list?

[2018-06-20 14:29] gonzaloebiz commented on #327
Each MailChimp store has an associated MailChimp list

[2018-06-20 14:32] willwright111 commented on #327
2 different lists

[2018-06-20 14:58] gonzaloebiz commented on #327
Please send an email to mailchimp@ebizmarts-desk.zendesk.com mentioning the issue

[2018-06-20 17:49] gonzaloebiz commented on #325
Hi @marcmayo

thanks for your feedback.
We can't do so much to prevent this, we will try to put something like a 'ping' at the start of the cron

Best

[2018-06-21 09:14] sanutryzens opened #328 "Cron exception "Resource Not Found : The requested resource could not be found.""
The cron scheduler for ebizmart_ecommerce is throwing exception "Resource Not Found : The requested resource could not be found." and sync stopped working. There for order confirmation, abandoned cart emails, etc are not sending.

We are using latest version 1.0.29

**Step to reproduce**
There is no defined steps. We configured mailchimp around months back and everything going fine and suddenly st

[2018-06-22 08:13] lano-vargas opened #329 "Mailchimp error after creating new store"
Installed MailChimp v1.0.28 by ebizmarts on Magento 2.2.2  3 months ago at the time there were 2 stores running now we've set ip a 3 store and mailchimp is now giving exception errors:

All the stores has the same setup in mailchimp when loading any stores url the bellow error shows.

1 exception(s):
Exception #0 (Mailchimp_Error): Resource Not Found : The requested resource could not be found.

A

[2018-06-22 08:38] lano-vargas commented on #329
It should have some simple check as:

`if($id >= 0){
                return $this->master->call('ecommerce/stores/' . $id, $_params, Mailchimp::GET);
            }`

Doing this it fixes the problem But.....

But yet it doesn't help why my newly created store which id is `3` for mailchimp it thinks it's id is `-1` ?? or even mean none at all false.

[2018-06-22 10:21] lano-vargas commented on #329
This is what happened in Configuration->Mailchimp->Mailchimp General Configuration->Mailchimp Store if in `Store View:` Default Config isn't set this values it causes the warning. once I've set per store view everything was fine.

Shouldn't this be take in consideration as if it isn't set it should just load the website  without Exceptions?

Thanks.

[2018-06-25 03:30] megastormweb opened #331 "reopen #239"
Anything are working fine on Magento site, but still not receive any Abandoned cart emails.
Current MC version is: 1.0.29
Current Magento 2 version: 2.2.4
My mailchimp account is: megastormweb
https://github.com/mailchimp/mc-magento2/issues/239

[2018-06-25 13:08] gonzaloebiz commented on #331
Please follow the [issue reporting guidelines](https://github.com/mailchimp/mc-magento2/wiki/Issue-reporting-guidelines)

[2018-06-25 13:08] #331 closed, assigned to nobody

[2018-06-25 13:23] arioch1984 opened #332 "Products data does not sync with Mailchimp backoffice"
## Description
### Preconditions
We are running Magento 2.1.9 for our customer Drogheria Pedrelli with the latest version (1.0.29) of your module.
We have two environment (staging and production) each with a Mailchimp account connected (staging with a free account and production with a paid account).
Our problem is when our customer create a new product (even simple products) or edit an existing p

[2018-06-25 13:37] gonzaloebiz commented on #332
Hi @arioch1984

please, delete urgently your Api Key and generate a new one

Best

[2018-06-25 13:47] arioch1984 commented on #332
Hi @gonzaloebiz

Done :) thanks for the alert!

Please may you help us with in debugging our problem?

[2018-06-26 01:59] megastormweb opened #333 "Not getting Abandoned cart emails"
**Description**

**Preconditions**
We are running Magento 2.2.4 with the latest version (1.0.29) of your module.
We have an environment (staging) with a Mailchimp account connected (a free account).

The list is synced but not getting any abandoned cart email.
Already create the abandoned cart automation in MailChimp before the cart was synced.
My mailchimp account is: megastormweb

**Steps to rep

[2018-06-27 13:23] gonzaloebiz commented on #332
Hi @arioch1984

once the cron runs, the mailchimp_sync_modified field for this product, returns to 0? or remains in 1?

Best

[2018-06-27 13:24] gonzaloebiz commented on #333
If you create the abandoned cart email automation before the store is 100% synced, no email will be sent.

Best

[2018-06-27 13:24] #333 closed, assigned to nobody

[2018-06-27 13:30] gonzaloebiz commented on #329
Please, follow the [issue reporting guidelines](https://github.com/mailchimp/mc-magento2/wiki/Issue-reporting-guidelines)
We need specific steps to reproduce the issue.
Once you meet the issue reporting guidelines we will re open the issue

Best

[2018-06-27 13:30] #329 closed, assigned to nobody

[2018-06-27 13:36] gonzaloebiz commented on #328
There's not enough data to reproduce the issue, please follow the [issue reporting guidelines](https://github.com/mailchimp/mc-magento2/wiki/Issue-reporting-guidelines)

Best

[2018-06-27 13:36] #327 closed, assigned to nobody

[2018-06-27 15:11] arioch1984 commented on #332
Hi @gonzaloebiz

tanks for your reply!
After the cron runs the mailchimp_sync_modified remain in 1

[2018-06-27 17:52] #325 closed, assigned to gonzaloebiz

[2018-06-27 17:56] gonzaloebiz commented on #332
That's typically means that your cron not run
Take a look at the table cron_schedule for job_code = 'ebizmarts_ecommerce' if you have job with status 'running' that means that your php cli configuration has not enough memory for run the magento crons, so double check this parameter.

Best

[2018-06-27 19:01] gonzaloebiz commented on #309
@dan-ding

are you already check the definition of the attributes?

[2018-06-28 07:52] arioch1984 commented on #332
Hi @gonzaloebiz,

thanks for your quickly reply!
Unfortunately this task is correctly executed, in cron_schedule table I could see the success operation log every 15 minutes.
The VM where the production environment is running is a 16GB memory 4 CPU machine and while monitoring resources I could see the average use of memory is low because the ecommerce does not have a lot of visitors.

[2018-06-28 13:47] gonzaloebiz commented on #332
Hi @arioch1984

i just test it, and works OK for me.
Keep in mind, the memory of the machine is not relevant if you don't assign it to php, also keep in mind the magento cron runs by the php cli environment, so you can execute
php --info | grep memory_limit
to see if you meet the magento requirements
Can you please provide more specific information to replicate it.

Best

[2018-06-28 13:52] arioch1984 commented on #332
Hi @gonzaloebiz

again thanks for your help.
Here is my CLI PHP memory limit:

ubuntu@pedrelli:~$ php --info | grep memory_limit
memory_limit => -1 => -1

I'm happy to provide more detailed informations, but please may you tell me what kind of information may I tell you?

thanks again

[2018-06-28 14:14] gonzaloebiz commented on #332
You should put some debug information.

You can start with the management of the modified products there

https://github.com/mailchimp/mc-magento2/blob/develop/Model/Api/Product.php#L115-L125

Put a
[code]
after these lines and be sure that the query return your modified product.

[2018-06-29 07:34] arioch1984 commented on #332
Hi @gonzaloebiz

thanks for your reply and for your help!

I will require to my managers time for this debug, I will do and then post the result here, but I have to take some time, please may you don't close this issue meantime please?

Thanks in advance.

[2018-07-02 21:49] inelukipg commented on #309
Hi,
Any news about this issue?

[2018-07-03 10:02] aneshranjit commented on #309
@gonzaloebiz
I'm getting this exact issue when trying to execute cron job ebizmarts_ecommerce.

Magento version 2.1.9
mailchimp/mc-magento2 version 1.0.28
ebizmarts/mailchimp-lib version 3.0.21

It occurred after I upgraded mailchimp/mc-magento2 version from 1.0.25 to 1.0.28

I applied changes from
https://github.com/gundamkid/mc-magento2/commit/920cd7357bfd4703a0e0a7f3c7a4410bfc2e985a
and
https:/

[2018-07-03 13:19] gonzaloebiz commented on #309
To all with this issue, as the tags shows, we can't replicate the issue and we can't resolve it if we can't replicate.
My suggestion is (as in previous post), check the definition of the attributes, i think is an attribute definition issue (perhaps some extension is affecting this definitions)
Could be useful if each of you can attach the extensions you has (run `composer show` and attach the resu

[2018-07-03 15:15] antoniogarcia78 commented on #309
aplazame/aplazame-api-sdk                     v0.2.2         Aplazame API SDK
aplazame/magento2                             v0.8.2         Aplazame Magento 2 module
braintree/braintree_php                       3.7.0          Braintree PHP Client Library
colinmollenhour/cache-backend-file            1.4            The stock Zend_Cache_Backend_File backend has extremely poor performan...
colinmolle

[2018-07-03 16:56] gonzaloebiz opened #335 "Sending modified products in order or cart"
When processing orders/carts and detect that the product in the order/cart was modified and must be re synced, the lines
https://github.com/mailchimp/mc-magento2/blob/develop/Model/Api/Product.php#L499 and https://github.com/mailchimp/mc-magento2/blob/develop/Model/Api/Product.php#L533 are wrong.
The function _buildOldProductRequest return an array of operation and not a simple operation.

[2018-07-03 17:02] #335 closed, assigned to gonzaloebiz

[2018-07-04 19:58] SantiParagarino opened #337 "Webhook processing fails when list id does not match any list configured in Magento"
### Preconditions
    mc-magento2 1.0.29

### Steps to reproduce

    1. Set up the extension making sure to select one list.
    2. Create Webhook.
    3. Add in that MailChimp list without doing nothing in Magento.
    4. Change the configured list for the extension.

### Expected result:
   Subscriber not added to Magento and no errors thrown.

### Actual result:
   Error message thrown: **Call

[2018-07-05 06:50] i95devdivya opened #338 "The List Settings section in the Connected Sites MailChimp page syncs seemingly forever"
**1.1.	Preconditions:**
1.	Magento EE 2.1.3
2.	MailChimp for Magento 2 1.0.23
3.	PHP 7.0.X
**1.2.	Steps to reproduce:**
1.	Install MailChimp for Magento 2 with composer require mailchimp/mc-magento2 1.0.23.
2.	Configure MailChimp for Magento 2 following this guide.
3.	Ensure that the "Enable Two Way Sync" option is enabled.
4.	Wait for the Magento customers to sync to the assigned MailChimp list.

[2018-07-05 13:21] gonzaloebiz commented on #338
Hi @i95devdivya

please update the version of the extension to the current (1.0.29)

Best

[2018-07-05 13:21] #338 closed, assigned to nobody

[2018-07-05 14:32] LordHansolo opened #339 "Disabled in Admin Panel Mailchimp block Magento default newsletter flow."
## Issue Description

Even when Mailchimp module is disabled in admin panel it still block default magento email sending after subscribe to newsletter.

### Preconditions

Magento 2.2.5

### Steps to reproduce

Set all Mailchimp configurations in admin panel to "No".
Stores->Settings->Configuration->Mailchimp: All config set to "No"
Subscribe for Newsletter. Make sure you are unsubscribed before.

[2018-07-06 13:33] #339 closed, assigned to gonzaloebiz

[2018-07-06 18:00] #337 closed, assigned to gonzaloebiz

[2018-07-06 18:06] teamcrisis opened #343 "Visible section not found error message"
Magento 2.2.5, Mailchimp 1.0.29

When I try to view any of the Mailchimp configuration tabs under Ststem > Configuration > Mailchmp > Mailchimp General Configuration, I get booted out of the admin with the error message:
Visible section not found.

I tried magento cache clean/flush and it did not help.

[2018-07-06 18:14] teamcrisis opened #344 "Resource Not Found when editing customer account"
## Issue Description

### Preconditions
1. Magento 2.2.5
2. Mailchimp 1.0.29

### Steps to reproduce

1. Do not set Mailchimp Store/ Mailchimp List details in the Mailchimp General Configuration
2. Edit customer account in magento admin. Customers > All customers > edit

### Actual and Expected result

Expected result:
    To be able to edit the customer account, without error, even if Mailchimp s

[2018-07-06 18:16] teamcrisis commented on #343
Strangely this problem seems to have resolved itself after some time has passed. Possibly related to PHP Opcache but we have never had this issue with any of the other 40+ extensions we have installed.

[2018-07-06 18:23] teamcrisis commented on #344
This appears to be related: https://github.com/mailchimp/mc-magento2/issues/240

[2018-07-06 18:37] gonzaloebiz commented on #343
Hi @teamcrisis

please follow the [issue reporting guidelines](https://github.com/mailchimp/mc-magento2/wiki/Issue-reporting-guidelines)
Once you meet the requirements we will re open the issue

Best

[2018-07-06 18:37] #343 closed, assigned to nobody

[2018-07-06 18:37] gonzaloebiz commented on #344
Hi @teamcrisis

please follow the [issue reporting guidelines](https://github.com/mailchimp/mc-magento2/wiki/Issue-reporting-guidelines)
Once you meet the requirements we will re open the issue

Best

[2018-07-06 18:49] teamcrisis commented on #344
done

[2018-07-06 19:30] teamcrisis commented on #328
This is possibly related to https://github.com/mailchimp/mc-magento2/issues/344 where Mailchimp API connection failures cause other magento functionality to fail.

[2018-07-06 19:41] gonzaloebiz commented on #344
Can you please upload an image of your configuration page?

[2018-07-06 19:49] teamcrisis commented on #344
![mailchimp](https://user-images.githubusercontent.com/4693056/42397465-170583fc-8134-11e8-9d87-a5e8154a64c3.png)

[2018-07-06 19:54] gonzaloebiz commented on #344
But.. this configuration not meet your preconditions :(

[2018-07-06 19:57] #344 closed, assigned to nobody

[2018-07-06 20:01] teamcrisis commented on #344
Correct. For whatever reason, when I initially tried to setup the Mailchimp API information, it would not fetch my Store/List info from Mailchimp.

I stopped working on it for about two weeks and have now returned to the issue and find that it can now connect to mailchimp and retrieve the store/list info, despite me not changing anything in the config. Therefore, I set the store/list info to what

[2018-07-06 20:11] gonzaloebiz commented on #344
If you enable the extension in the configuration page but you don't finish the configuration (p.e. if you don't select a MailChimp store), this is a wrong configuration and not an issue of the extension.

[2018-07-06 20:18] teamcrisis commented on #344
As stated, I attempted to finish the configuration, but the extension would not connect to mailchimp despite me providing valid keys. I returned to the issue some time later and the connection problem seemed to have resolved itself. I don't know, maybe there was a mailchimp API issue at the time I was initially trying to set it up. It still doesn't change the fact that if a connection cannot be ma

[2018-07-09 15:40] gonzaloebiz commented on #328
No news in 18 days, so close the issue.
If you update the required information we will re open it

Best

[2018-07-09 15:40] #328 closed, assigned to gonzaloebiz

[2018-07-09 15:41] gonzaloebiz commented on #332
No news in 10 days, so close the issue
If you have any updated information we will re open the issue

Best

[2018-07-09 15:41] #332 closed, assigned to nobody

[2018-07-10 09:12] girishtiwari commented on #303
I am also facing the same issue and I think the problem is with "_markSpecialPrices()" function which is declared on the "/app/code/Ebizmarts/MailChimp/Model/Api/Product.php" file.

[2018-07-10 14:14] antoniogarcia78 commented on #309
At this point it would be best to uninstall the plugin completely and perform a clean installation (code and database)
Every time I have updated it has been worse.

Is there a complete guide to uninstall the plugin? Thank you very much

[2018-07-10 15:46] gonzaloebiz commented on #309
Hi @antoniogarcia78

i don't think re installing the extension is a solution on this case. The issue is with the attributes definition and reinstall don't touch it.
My approach would be
   - Install a vanilla magento
   - Install mc-magento2
   - Configure mc-magento2
   - Define some special price
   - Sync the store
   - Install your others extension 1 by 1 to try to find if someone modify the a

[2018-07-11 08:36] RidRack opened #345 "Unable to set custom Env.php API Credentials"
### Title
I'm unable to set the API credentials using the Env.php file as there is an exception in the file https://github.com/mailchimp/mc-magento2/blob/develop/Model/Config/Backend/ApiKey.php on line `81`.

The exception is:
[code]

This is caused by the `active` variable not being assigned before being used.

### Preconditions
Simply set an API key in the env.php file like follows:
[code]
and t

[2018-07-11 14:47] ebizmarts-keller opened #347 "Undefined index 'sku' warning/error"
mc-magento 1.0.29

In some installations, a warning is thrown that makes the cronjob ebizmarts_ecommerce fail (can't be reproduced on all systems, depends on server configuration)

In this line: https://github.com/mailchimp/mc-magento2/blob/1.0.29/Model/Api/Order.php#L338

[2018-07-11 14:52] gonzaloebiz commented on #347
this index MUST exists

[2018-07-11 14:52] #347 closed, assigned to ebizmarts-keller

[2018-07-11 15:56] #345 closed, assigned to gonzaloebiz

[2018-07-12 14:06] inelukipg commented on #309
@antoniogarcia78 I have the same problem. I looked at your module-list and the only module that is on my installation is:

_magepal/magento2-googletagmanager 2.2.4 Google Tag Manager (GTM) for Magento 2 with Advance Data Layer_

Maybe this module is causing the error..??

[2018-07-13 00:59] duyang79 commented on #309
Hi guys, I got a temporary solution for it and maybe someone else can make it better in the future. I will show my solution first and then explain the probable reason then.
Solution: find the file :/app/code/Ebizmarts/MailChimp/Model/Api/Product.php. Search "at_special_from_date_default" or "at_special_from_date_default", and it is up to which table your sql cannot find. It should be in an if cond

[2018-07-13 06:38] prathers opened #348 "Invalid argument supplied for foreach in Getresponse.php when requesting error response"
### Preconditions
Magento 2.2.5
mc-magento 1.0.29
Shop connected to MC

### Steps to reproduce
1. The sync between the shop and mailchimp has stopped working.
2. I look in the Mailchimp -> Error
3. There is a Bad Request: 'The requested resource could not be found.'
4. Click on link Download Response to download json report

### Expected result
The json is downloaded locally for further investigat

[2018-07-13 15:11] gonzaloebiz commented on #348
Hi @prathers

please be sure that you have the directory var/Mailchimp and have the right permission

Best

[2018-07-14 06:25] prathers commented on #348
@gonzaloebiz,
I can confirm that - the dir exists and permissions are fine. And I'm able to download other errors.
BTW: var/Mailchimp is empty..

[2018-07-14 17:40] Sam-PUMP opened #349 "ERROR: Notice: Undefined variable: active in ApiKey.php"
# Undefined variable: active

## ERROR: Notice: Undefined variable: **$active** in latest release 1.0.29

/vendor/mailchimp/mc-magento2/Model/Config/Backend/ApiKey.php

### /vendor/mailchimp/mc-magento2/Model/Config/Backend/ApiKey.php line 81
[code]

## Reported as  Invalid Transition Exception
### /vendor/magento/module-config/Model/Config/Importer.php
[code]

* Magento EE 2.2.5
* mc-magento2 1.0

[2018-07-14 17:42] Sam-PUMP commented on #349
Just saw this was already fixed here:
https://github.com/mailchimp/mc-magento2/blob/537c392add145a3680ec2bef901af376c26d9bf1/Model/Config/Backend/ApiKey.php#L73

[2018-07-14 17:42] #349 closed, assigned to nobody

[2018-07-17 09:00] peterjaap opened #350 "Offload API call for subscription to list to cron"
Subscribing to a Mailchimp list now happens in the user flow during checkout using an API call (see `Subscriber.php > beforeSubscribe() & beforeSubscribeCustomerById()`). This is dangerous because when the Mailchimp API is offline (which has happened several times during the past few weeks), the checkout process halts and the customer cannot place an order.

My suggestion would be to, for example,

[2018-07-17 13:44] gonzaloebiz commented on #350
Hi @peterjaap

please follow the [issue reporting guidelines](https://github.com/mailchimp/mc-magento2/wiki/Issue-reporting-guidelines)
We will re open the issue when you meet this requeriment

Best

[2018-07-17 14:01] peterjaap commented on #350
@gonzaloebiz i updated it.

[2018-07-17 14:41] gonzaloebiz commented on #350
Thanks @peterjaap
We will look at

[2018-07-17 15:57] gonzaloebiz commented on #350
Hi @peterjaap

just try and work OK for me.
Can you please let me know version of the extension, version of magento, what configuration do you have?

Best

[2018-07-17 16:10] peterjaap commented on #350
@gonzaloebiz how did you simulate the Mailchimp API being down?

[2018-07-17 16:25] gonzaloebiz commented on #350
I use Domain Blocker, but i don't think this really matters

[2018-07-17 17:01] gonzaloebiz opened #351 "Error downloading response from error grid when batch not exist"
Go to the error grid and click on the download response for a deleted or not existing batch.

a:4:{i:0;s:165:"Warning: Invalid argument supplied for foreach() in app/code/Ebizmarts/MailChimp/Controller/Adminhtml/Errors/Getresponse.php on line 69";i:1;s:5066:"#0 app/code/Ebizmarts/MailChimp/Controller/Adminhtml/Errors/Getresponse.php(69): Magento\Framework\App\ErrorHandler->handler(2, 'Invalid argu

[2018-07-17 17:26] #351 closed, assigned to gonzaloebiz

[2018-07-17 17:57] consultblu commented on #169
@gonzaloebiz Respectfully you are wrong.  Althought the physical image file can be found in "pub/media/catalog/product/*/*" magento does not allow you to access those original files directly.

Magento allows admins to configure where they want to allow access to these images here:
Magento Admin > Stores > Configuration > General [tab] > Web > Base URL for User Media Files => "{{unsecure_base_url}}

[2018-07-17 18:17] gonzaloebiz commented on #169
Hi @consultblu

you already see [at this?](https://github.com/magento/magento2/issues/9111#issuecomment-292002922)

[2018-07-17 18:49] consultblu commented on #169
Looking at it and found that they moved it here: <a href="https://github.com/magento/magento2/issues/8868">here</a>

Many users on that thread report that following works for accessing the images.
{{unsecure_base_url}}media/
{{secure_base_url}}media/

I'm asking you to reference this data so that your plugin can work.

[2018-07-17 19:01] gonzaloebiz commented on #169
The extension don't need to manage these values, the magento libraries do it (see the comment on Apr 2)
Changing the values of Base URL for User Media Files and Secure Base URL for User Media Files in the admin fix the issue

Best

[2018-07-17 19:35] consultblu commented on #169
Nowhere in my comments have I asked you [the mailchimp plugin] to manage these values.  I have asked you to use them instead of relying on a variable that is shown to have errors.

With regard to changing the forementioned values; I have done that, reindexed my products, and reconnected my site 3 times now. Mailchimp still has the incorrect image urls.

The mailchimp feature still does not work.

[2018-07-17 19:49] gonzaloebiz commented on #169
What do you mean with "reconnect my site"?
The easy way is
- create a new MailChimp store
- change the associated MailChimp store
- wait until resync

If you simply change these values is not enough, the products are already synced and must be re synced

[2018-07-18 07:20] springerin commented on #325
@gonzaloebiz any update on when will this be released? We're experiencing a lot of troubles because of this.

[2018-07-18 07:31] sneha-sukumaran commented on #67
Issues exists in version 1.0.29 too. When can we expect a fix for this?

[2018-07-18 07:39] sneha-sukumaran commented on #205
Tried but still the error persists

[2018-07-18 07:51] sneha-sukumaran commented on #205
Tried this but did not work.

[2018-07-18 14:07] gonzaloebiz commented on #325
Hi @springerin

we don't have an ETA for the release.
You can apply the fix for yourself or use the development version

Best

[2018-07-23 15:20] gonzaloebiz commented on #348
Hi @prathers

please see at #351

Best

[2018-07-23 15:20] #348 closed, assigned to nobody

[2018-07-24 10:54] ravinsky opened #353 "Unable to install extension: Base table or view not found"
There is a problem with installing the extension if you have custom table prefix.
`SQLSTATE[42S02]: Base table or view not found: 1146 Table 'default.mailchimp_stores' doesn't exist, query was: DESCRIBE 'mailchimp_stores'`
To fix this you need to replace this:
`$connection->tableColumnExists('mailchimp_stores'...`
with this:
`$connection->tableColumnExists($setup->getTable('mailchimp_stores')...`

[2018-07-24 12:10] gonzaloebiz commented on #353
Hi @ravinsky

please follow the [issue reporting guidelines](https://github.com/mailchimp/mc-magento2/wiki/Issue-reporting-guidelines)

Best

[2018-07-24 12:10] #353 closed, assigned to nobody

[2018-07-24 18:42] LordHansolo opened #354 "Mailchimp part configuration break store front"
## Issue Description

If we set API credentials and not choose Mailchimp Store entire store front stop work.

### Preconditions

Magento 2.2.4

### Steps to reproduce

1. Set up api credentials for mailchimp in admin panel.
2. Set "Mailchimp Store" configuration to value "Select one Mailchimp Store".
3. Go to store front.

### Actual result

Store front breaks.

![mailchimp_error](https://user-ima

[2018-07-24 18:49] gonzaloebiz commented on #354
Hi @LordHansolo

thanks for your feedback

Best

[2018-07-25 14:49] khnaim commented on #67
I have this Issues in version  1.0.28 and  1.0.29 , did you find a solution for this fix ?

[2018-07-25 14:54] khnaim commented on #205
Issues in version 1.0.28 and 1.0.29 , did you find a solution for this fix ?

[2018-07-25 14:59] khnaim commented on #114
Issues in version 1.0.28 and 1.0.29 , did you find a solution for this fix ?

[2018-07-26 03:07] tilkor-software commented on #354
I am also getting this issue after installation mailchimp on Magento 2.2.5 version. What is the solution?

[2018-07-26 12:24] alvaialex commented on #151
Im also getting the same issue on checkout page chrome browser.

Firefox is working perfectly.

[2018-07-26 12:36] gonzaloebiz commented on #354
Hi @tilkor-software

simple, select a mailchimp store.

Best

[2018-07-26 17:34] GideonBabu commented on #67
Hi @gonzaloebiz it looks like this issue still persist even after the commit code is implemented. Do we have any patch code to get this fixed in our environment also we are facing this issue?

We have migrated a website from Magento 1 to Magento 2. Many orders are with products that do not exist in the new store. So the logs are filled with **requested product doesn't exist**

If you could provide

[2018-07-26 18:00] gonzaloebiz opened #355 "Issue with coupons for free shipping"
Create a Cart Price rule with
![actions](https://user-images.githubusercontent.com/6222792/43279508-846286f6-90e4-11e8-9b0c-6b88c8f89032.png)

This rule fails and is not synced

[2018-07-26 19:22] #355 closed, assigned to gonzaloebiz

[2018-07-27 00:21] nmarquev commented on #321
Hi, Any ETA for 1.0.30 ? I need to install module and we use table prefixes...
Thanks

[2018-07-27 13:30] alepane21 opened #357 "Wrong website set on customer"
## Wrong website set on customer filter
In the following snippet, the loadByEmail is made with the storeId set as websiteId:
- https://github.com/mailchimp/mc-magento2/blob/1f3b4b7eee51b567f476088f5699a9988bb8d1bb/Model/Api/Cart.php#L221
- https://github.com/mailchimp/mc-magento2/blob/1f3b4b7eee51b567f476088f5699a9988bb8d1bb/Model/Api/Cart.php#L324

### Actual and Expected result

The loadByEmail

[2018-07-27 18:53] gonzaloebiz commented on #321
Hi @nmarquev

no, no ETA for the new version.
You can always install the devel version with
composer require mailchimp/mc-magento2:dev-develop

Best

[2018-07-30 06:12] tilkor-software commented on #354
Hi @gonzaloebiz ,

Thanks for your message.
I am not able to open frontend and admin panel after mailchimp setup. How can I select a mailchimp store?
Please suggest.

[2018-07-30 19:58] gonzaloebiz commented on #354
What version of mc-magento2 do you have?

[2018-07-31 19:44] gonzaloebiz commented on #350
Close for now until we have any new

[2018-07-31 19:44] #350 closed, assigned to gonzaloebiz

[2018-08-01 11:23] crtl opened #358 "Resource Not Found: The requested resource could not be found"
## Issue Description
When running the ebizmarts_ecommerce job the following error is ocurring:
`Resource Not Found : The requested resource could not be found.`

It is related to line 228 in ebizmarts/mailchimp-lib/src/Mailchimp.php

### Preconditions

    1. Magento CE 2.2.4
    2. mc-magento2 1.0.29.

### Steps to reproduce

Run the magento cronjob

[2018-08-01 13:49] gonzaloebiz commented on #358
Hi @crtl

thanks for your feedback.
We can't reproduce your issue with this data, we close the issue until we have more data to reproduce it.

Best

[2018-08-01 14:29] crtl commented on #358
Then could you please get into the habit of providing actual information when throwing exceptions instead of messages like "Things dont work".

[2018-08-01 18:38] ebizmarts-keller commented on #143
cannot replicate in latest version

[2018-08-01 18:38] #143 closed, assigned to ebizmarts-keller

[2018-08-01 19:40] gonzaloebiz opened #359 "Add debug information"

[2018-08-02 19:29] #359 closed, assigned to gonzaloebiz

[2018-08-02 20:06] gonzaloebiz opened #361 "Log batch totals for each run"
At the end of each run, log a resume of all the operations contained in the batch as:

[code]

[2018-08-06 03:25] duyang79 opened #362 "Sync Process seems stuck"
Hi Guys,

I am not sure if it is a bug from the extension or from my data, but I can't repeat it on my stage site (working fine on the stage but stuck on the production). I post this issue on ebizmarts forums one week ago but no one replies me, so I hope maybe someone here could give me some clues and help me figure it out.

1. Magent2 version is 2.1.8, mailchimp extension version is 1.0.29. We ha

[2018-08-06 07:35] shibinvr opened #363 "MailChimpLogger.INFO: Warning: Invalid argument"
in MailChimp, the log file contains error like,

MailChimpLogger.INFO: Warning: Invalid argument supplied for foreach() in
~/vendor/mailchimp/mc-magento2/Helper/Data.php on line 537

please give me feed back

[2018-08-06 08:27] crtl commented on #358
Ive got more output after altering some code, I have now the following information:

`curl_info($ch)`

[code]

Response:

[code]

[2018-08-06 10:46] desire-desire opened #364 "Magento 2.2.3: Checkout hangs when enabling Mailchimp extension"
We are using ebizmarts_mailchimp (version - 1.0.29) extension  in our Magento2 website (version - 2.2.3).

When enabling the Mailchimp extension, the .checkout-loader (spinner image) loads indefinitely on the Checkout page.

We have checked the server error logs and magento error logs. But there is no error related to it.

There are no JS errors or any other signs of failure, except the spinner no

[2018-08-06 12:06] PiroozMB commented on #309
I get the exact error on magento2.2.3 at my cron table. Any updates and solution for this except for duyang79  solution?

[2018-08-06 12:29] gonzaloebiz commented on #363
Hi @shibinyatnam

please follow the [issue reporting guidelines](https://github.com/mailchimp/mc-magento2/wiki/Issue-reporting-guidelines)

Best

[2018-08-06 12:29] #363 closed, assigned to nobody

[2018-08-06 13:29] gonzaloebiz commented on #362
Hi @duyang79

thanks for your feedback.
Looks like a data issue.
First of all i recommend update the ebizmarts/mailchimp-lib by running

composer requiere ebizmarts/mailchimp-lib

the new lib has some improvements to debug.
Try to put some log in https://github.com/mailchimp/mc-magento2/blob/develop/Cron/Ecommerce.php#L173-L187 to see if the extension process all the data.

Best

[2018-08-06 13:51] gonzaloebiz commented on #309
Hi @PiroozMB

do you have any more information to share and help to find the solution?

Best

[2018-08-06 14:00] gonzaloebiz commented on #358
Can you please share the definition of the price rule with id 13?

[2018-08-06 14:19] gonzaloebiz commented on #354
No news on one week, so close the issue until no news

[2018-08-06 14:19] #354 closed, assigned to gonzaloebiz

[2018-08-06 14:22] gonzaloebiz commented on #364
Hi @desire-desire

can you please send an email to our support mailchimp@ebizmarts-desk.zendesk.com

Best

[2018-08-06 14:22] #364 closed, assigned to nobody

[2018-08-06 14:34] PiroozMB commented on #309
duyang79 solution didn't work for me.
@gonzaloebiz I get this error:

SQLSTATE[42S22]: Column not found: 1054 Unknown column 'at_special_from_date.value' in 'on clause', query was: SELECT `e`.*, IF(at_special_price.value_id > 0, at_special_price.value, at_special_price_default.value) AS `special_price`, `at_special_to_date`.`value` AS `special_to_date` FROM `catalog_product_entity` AS `e`
 LEFT JO

[2018-08-06 14:38] gonzaloebiz commented on #309
Please read the comments https://github.com/mailchimp/mc-magento2/issues/309#issuecomment-402154372 and https://github.com/mailchimp/mc-magento2/issues/309#issuecomment-403871087

Best

[2018-08-06 14:41] PiroozMB commented on #309
braintree/braintree_php                          3.27.0             Braintree PHP Client Library
clerk/magento2                                   2.5.3
code4business/freeproduct2                       1.0.2              Adds a sales rule action to add a product to cart. Can be used to create sales rules to add gifts to cart.
colinmollenhour/cache-backend-file               1.4                The s

[2018-08-06 14:59] duyang79 commented on #362
Thanks @gonzaloebiz. Could you tell me what class the "$products"'s element is in [https://github.com/mailchimp/mc-magento2/blob/develop/Cron/Ecommerce.php#L173-L187](https://github.com/mailchimp/mc-magento2/blob/develop/Cron/Ecommerce.php#L173-L187)
And $customers, and $orders?

Just like $countOrders does, I can count($products), but when I tried to output the class name and class methods by
[co

[2018-08-06 15:07] duyang79 commented on #309
Hi @PiroozMB, I don't think your issue is the same as ours. The column you couldn't find was 'at_special_from_date.value' instead 'at_special_from_date_default.value'.

But I think you can use the same way like what we did to resolve it by your self:
find this file: Ebizmarts/MailChimp/Model/Api/Product.php and locate the php code that output that SQL qurey, then figure out why the 'at_special_fro

[2018-08-07 11:46] NiteshKuyate commented on #362
Hi @gonzaloebiz
We are also facing same slow sync problem.
Under MailChimp errors we are getting below 2 errors continously:

PFA for detail error info.
[2c84e35e5f.txt](https://github.com/mailchimp/mc-magento2/files/2266235/2c84e35e5f.txt)
[MailChimp.log](https://github.com/mailchimp/mc-magento2/files/2266243/MailChimp.log)

Best Regards,
Nitesh K.

[2018-08-07 14:19] bexdoggett opened #365 "Previously unsubscribed guest/customer is not resubscribed when selecting groups on success page"
## Issue Description

If a customer or guest has signed up for the newsletter and then unsubscribed, when they place a new order and land on the success page they can still see the groups block from Mailchimp. If they select a group and click update their groups are updated, but they are still unsubscribed. If a customer or guest who has never signed up to the newsletter follows the same steps the

[2018-08-07 15:29] gonzaloebiz commented on #362
Hi @NiteshKuyate

thanks for your feedback.
Your issue is definitively not the same, please open a new issue.

Best

[2018-08-07 15:32] gonzaloebiz commented on #362
Hi @duyang79

as you can see at this https://github.com/mailchimp/mc-magento2/blob/develop/Cron/Ecommerce.php#L175 or this https://github.com/mailchimp/mc-magento2/blob/develop/Cron/Ecommerce.php#L181 both are arrays

Best

[2018-08-07 17:34] gonzaloebiz opened #366 "Orders not synced when products in the order not already synced"

[2018-08-07 17:58] #366 closed, assigned to gonzaloebiz

[2018-08-08 08:35] NiteshKuyate commented on #362
Hi @gonzaloebiz ,

Is MailChimp v1.0.29 support Bundle, Grouped, Gift or Custom product types.
Please let us know which product types MailChimp v1.0.29 support.

Best Regards,
Nitesh

[2018-08-08 10:35] crtl commented on #358
What price rule do you mean?
We havent created any price rules in mailchimp.
Before seeing the erro details I didnt even know smth. like this existed.

[2018-08-08 12:19] gonzaloebiz commented on #362
Ni @NiteshKuyate

no grouped or bundle products are supported.

Best

[2018-08-08 12:21] gonzaloebiz commented on #358
Hi @crtl

not in MailChimp, in magento. See the prices rules in magento and see for that with id 13

[2018-08-08 13:07] crtl commented on #358
I have no `Cart Price Rule` nor any `Catalog Price Rule` with an id of `13`.
Ive also looked in the database and couldnt find any artifacts.
When going to the `Catalog Price Rule` Page I had the warnings that I have to `Apply Rules` because of updates issued but there werent any rules listed.
Ive applied rules which took a relative long time and will now see if the issue got resolved.

[2018-08-13 08:32] crtl commented on #358
The Issue still persists.

[2018-08-15 14:18] avaldi commented on #349
Guys, this issue is fixed since July, can we get a new release please?

[2018-08-16 11:47] NiteshKuyate commented on #362
Hi @gonzaloebiz ,

We have a quick question regarding MailChimp:
Is it possible to have bundled products live in the catalog and just have those products not sync with MailChimp? Or will having the bundles enabled even at all cause the sync of other non-bundle products in the catalog to fail?

Best Regards

[2018-08-16 12:09] gonzaloebiz commented on #362
Hi @NiteshKuyate

you can have bundle products and they are simply ignored in the MailChimp sync process.

Best

[2018-08-16 12:11] #362 closed, assigned to nobody

[2018-08-16 14:59] gonzaloebiz opened #368 "Error in the configuration when selecting other website than default"

[2018-08-16 16:33] #368 closed, assigned to gonzaloebiz

[2018-08-16 20:10] gonzaloebiz opened #370 "Promo rules are not updated"
Define 2 websites
Assign each website to a different MailChimp store
Modify a cart price rule that has assigned these 2 websites

The promo rule is modified in the first MailChimp store but not in the second.

[2018-08-16 20:12] #370 closed, assigned to gonzaloebiz

[2018-08-17 11:32] jonpday commented on #358
@crtl can you please advise how you were able to get the extra debug info? did you edit a particular file in the Mailchimp module?

[2018-08-17 11:35] crtl commented on #358
Ive directily edited ebizmarts/mailchimp-lib/src/Mailchimp.php on around line 226

[2018-08-20 13:33] kamilszewczyk commented on #349
I just encountered this issue. When can we expect new release?

[2018-08-20 14:36] gonzaloebiz commented on #349
Hi @avaldi, @kamilszewczyk

we are working in a new release for next 2 or 3 weeks.

Best

[2018-08-21 07:07] portchris commented on #239
@tousif12 When you say you manually ran a cron task, which one?

`php bin/magento cron:run --group="ebizmarts_ecommerce"`

For example?

[2018-08-21 14:43] luciaebizmarts opened #372 "Add an option to choose between send MailChimp or Magento mails"
MailChimp module blocks Magento mails by default.
We will add an option to choose between send MailChimp or Magento mails.

[2018-08-21 16:53] #372 closed, assigned to gonzaloebiz

[2018-08-21 18:25] portchris opened #374 "API Cart createBatchJson() never sends abandoned cart data"
## Ebizmarts\MailChimp\Model\Api\Cart->createBatchJson() never sends abandoned cart data

Been trying to debug an issue where a client automation report is not populating with information. As far as I am aware, the configuration is set up correctly as the client receives subscribers almost daily. Webhook is also installed and working.

Screenshot: https://snag.gy/v8OUDl.jpg

I added appropriate lo

[2018-08-21 18:30] gonzaloebiz commented on #374
Hi @portchris

thanks for your feedback.
Can you please share your magento configuration screen (with your api key blurred)

Thanks

[2018-08-21 18:40] portchris commented on #374
Yes of course, here we are: https://snag.gy/Z5KkHz.jpg

[2018-08-21 18:45] gonzaloebiz commented on #374
You already look at the cron_schedule table to see the status of the ebizmarts_ecommerce jobs? Are the status success?

[2018-08-21 20:07] portchris commented on #374
Ah, interesting. I can see it says error, some with messages, others without:

[code]

[2018-08-22 07:38] portchris commented on #374
I've been researching this issue, it looks related to [#240](https://github.com/mailchimp/mc-magento2/issues/240) but we are on the latest version v1.0.29, where I see both issues #220 and #240 are resolved. Can you think of any reason this might still be appearing?

Thanks in advance for your help on this.

[2018-08-23 09:35] darren-halo commented on #321
Instead of using a pre-release on a live environment, this can also be fixed by manually adding the empty table 'mailchimp_stores' to your database

DROP TABLE IF EXISTS `mailchimp_stores`;
CREATE TABLE `mailchimp_stores` (
  `id` int(11) unsigned NOT NULL AUTO_INCREMENT,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;

[2018-08-23 09:51] NiteshKuyate opened #375 "Magento 2 store can't syncing."
**Issue Description**

When running the ebizmarts_ecommerce job the following error is ocurring while syncing:
Note: There are many error like below

Resource Not Found : The requested resource could not be found.

    {
        "status_code": 404,
        "operation_id": "QUO_2018-08-23-00-30-08-21785800_18100",
        "response": {
            "type": "http:\/\/developer.mailchimp.com\/document

[2018-08-23 18:33] gonzaloebiz commented on #375
Hi @NiteshKuyate

thanks for your feedback.
Please take a look at https://github.com/mailchimp/mc-magento2/issues/335 this issue is already fixed and will be available on next release

Best

[2018-08-23 18:33] #375 closed, assigned to nobody

[2018-08-23 18:34] gonzaloebiz commented on #374
@portchris try to update the ebizmarts/mailchimp-lib, the last version help us to debug

Best

[2018-08-23 18:36] gonzaloebiz commented on #358
Update the ebizmarts/mailchimp-lib to the last version

Best

[2018-08-23 18:36] #358 closed, assigned to nobody

[2018-08-24 06:16] NiteshKuyate commented on #375
@gonzaloebiz Can you please tell us when new version will launch?

[2018-08-24 16:58] gonzaloebiz commented on #375
Hi @NiteshKuyate

think 2/3 weeks

Best

[2018-08-26 22:32] maximbaibakov opened #376 "Sync is not working - Schema describes object, array found instead"
## Sync is not working - Schema describes object, array found instead

The sync (ebizmarts_ecommerce) is stopped working.

## Issue Description

### Preconditions

The sync suddenly stopped working for all entities

    1. Magento CE 2.2.3
    2. mc-magento2 1.0.29

### Actual and Expected result

    Expected result:
    Data is synced with Mailchimp
    Actual result:
    Data is not synced with

[2018-08-26 22:38] maximbaibakov commented on #376
Looks like this has been resolved in https://github.com/mailchimp/mc-magento2/issues/335
Any idea when version 1.0.30 is live?

[2018-08-27 11:03] wojtekn opened #378 "MailChimp breaks order processing when it's done through CLI"
## Issue Description

### Preconditions

The issue exists with any Magento 2 version and latest mc-magento2 version.

### Steps to reproduce

It's not possible to create steps to reproduce using default Magento with sample data as it doesn't include any code which processes orders from CLI.

The issue appears when  there is used a custom module which processes orders using CLI - eg. subscription m

[2018-08-27 13:32] gonzaloebiz commented on #376
Hi @maximbaibakov

thanks for your feedback.
The new version will be available in 2/3 weeks

Best

[2018-08-27 13:32] #376 closed, assigned to nobody

[2018-08-27 14:30] gonzaloebiz commented on #378
Thanks for your feedback,
Please next time put the closes comment in the commit that closes the issue

Best

[2018-08-27 14:30] #378 closed, assigned to nobody

[2018-08-27 16:57] #361 closed, assigned to gonzaloebiz

[2018-08-28 14:16] portchris commented on #374
Okay, updated to the latest version of ebizmarts/mailchimp-lib - **3.0.17**. I've got the latest CRON errors below:

[code]

Whart other kinds of debugging information can I provide you?

[2018-08-29 20:03] #357 closed, assigned to gonzaloebiz

[2018-08-29 20:05] gonzaloebiz commented on #357
Hi @alepane21

thanks for pointing that

Best

[2018-08-29 20:12] gonzaloebiz commented on #374
3.0.17 is a really old version of ebizmarts/mailchimp-lib, please take a look at https://github.com/ebizmarts/mailchimp-lib/releases

Best

[2018-08-29 20:12] #374 closed, assigned to nobody

[2018-08-30 19:37] justin-at-bounteous opened #383 "CPU Usage Very High"
## Issue Description
Since installing this module to our Staging environment, CPU usage has increased significantly. To the point that we routinely observe mailchimp action using up more than one CPU core on its own.

The logfile is predominately populated with "**MailChimpLogger.INFO: []**". Occasionally (but still frequently) "**MailChimpLogger.INFO: no customer found**". And very rarely "**Mail

[2018-09-03 11:51] valguss opened #384 "Travis Tests"
When running magento2 through travis to run the Integration and unit tests we get the following error. I suspect that the issue is that you are using  ```tableColumnExists``` to test for a column that actually won't have been committed yet when doing a fresh installation. As it currently stands, this causes my travis checks to fail.

Version: 1.0.29
Magento2 version: 2.2.5

Thanks

[code]

[2018-09-03 12:12] valguss commented on #384
I'm going to close this down as you have actaully fixed this in your master branch. When can we expect a release though?
For those reading this, the issue it to do with travis making tables with a prefix and the code not handling prefixes during the schema upgrade.

[2018-09-03 12:12] #384 closed, assigned to nobody

[2018-09-04 07:06] portchris commented on #374
I upgraded ebizmarts/mailchimp-lib to the latest version, now I can see more useful error logging:
[code]
There was a promotion blocking further processing. I removed this entry from the database:
[code]
Since then, **status = success**
Thanks for your help on this one. Debugging messages are much clearer!

Data is still not sending to Mailchimp, but I have started getting these errors in the log:

[2018-09-04 13:28] gonzaloebiz commented on #374
Hi @portchris

you can view the errors array in the log

[2018-09-05 14:27] mikehenze commented on #309
I get this error.

Latest magento2, latest mailchimp plugin, latest lib

SQLSTATE[42S22]: Column not found: 1054 Unknown column 'at_special_to_date_default.value' in 'on clause', query was: SELECT `e`.*, IF(at_special_price.value_id > 0, at_special_price.value, at_special_price_default.value) AS `special_price`, `at_special_to_date`.`value` AS `special_to_date` FROM `catalog_product_entity` AS `e`

[2018-09-07 05:22] girishtiwari commented on #309
I had faced the same issue and it was resolved when I set the "Use Flat Catalog Product - NO" and "Use Flat Catalog Category - NO" from the stores -> configuration -> catalogue settings.

[2018-09-07 12:07] PiroozMB commented on #309
I solved this problem. I put my whole code here for those who have this problem. Just open            magento2/../mailchimp/mc-magento2/Model/Api/Product.php file and remove all the code, then copy and paste the below code instead and clear the cache.  @mikehenze

`<?php
/**
 * mc-magento2 Magento Component
 *
 * @category Ebizmarts
 * @package mc-magento2
 * @author Ebizmarts Team <info@ebizmarts

[2018-09-07 13:38] gonzaloebiz commented on #309
Hi @girishtiwari thnks for your feedback, i will try if this is the cause.
@PiroozMB thanks for you contribution, i will try your solution (are your test it in both cases?)

Best

[2018-09-07 14:04] PiroozMB commented on #309
Hi @gonzaloebiz
I've tested it. it's working. no errors anymore.

[2018-09-07 14:30] mikehenze commented on #309
When using the new code from @PiroozMB i get this error:

Resource Not Found for Api Call: https://us1.api.mailchimp.com/3.0/lists/XXXXXXX/interest-categories - The requested resource could not be found.

[2018-09-07 14:35] mikehenze commented on #309
Mailchimp errors show lots of these:
variants.item:0.price : Schema describes number, NULL found instead

[2018-09-07 14:53] PiroozMB commented on #309
@ mikehenze
Have you copied and pasted the code correctly? github has made my code in seperated parts here. The error that you gave not found api call, says that your code cannot be found. just copy all the code from <?php  until the end. Make sure, you're doing it correctly.

[2018-09-07 15:05] mikehenze commented on #309
Yes i copied it correctly:
https://paste.ofcode.org/38zSqsFuCDDpt6FP9tj9v3t

[2018-09-07 16:58] PiroozMB commented on #309
@mikehenze
That's weird. That can be another problem with another code somewhere else. I think your problem with at_special_price is solved. Now you should look for a solution for this.

[2018-09-09 12:17] mikehenze commented on #309
@PiroozMB Orders after yesterday are syncing.
Old orders are not.

Workable for me.
Thank you for your solution.

[2018-09-10 09:40] SamueleMartini opened #385 "Email for abandoned cart doesn't show the images of configurable products"
Email for abandoned cart sent by MailChimp campaigns doesn't show the images of configurable products in case the associated simple product doesn't have an own image.
If simple product doesn't have an image, the module should make a fallback on parent configurable product image and send it to MailChimp to populate the imaes in abandoned cart email.

[2018-09-10 13:07] #385 closed, assigned to nobody

[2018-09-10 13:54] SamueleMartini opened #386 "Email for abandoned cart sent by MailChimp campaign doesn't show the image of configurable products"
### Preconditions

    1. Magento CE 2.2.0
    2. mc-magento2 1.0.30.
    3. Abandoned cart option is enable
    4. Parent configurable products has images, associated children simple product doesn't have images.
    5. Campaign for abandoned cart is created in MailChimp and its design has the product grid block

### Steps to reproduce

    1. Navigate to storefront as a registered and logged user

[2018-09-10 17:51] gonzaloebiz commented on #386
Hi @SamueleMartini

thanks for your feedback.
This issue was already fixed in https://github.com/mailchimp/mc-magento2/issues/307
Try to re sync the products.

Best

[2018-09-10 17:51] #386 closed, assigned to nobody

[2018-09-11 08:57] OvalMedia opened #387 "Cronjobs stuck at pending forever"
Magento 2.2.4
mc-magento2 1.0.29

The module installation and mailchimp setup went fine. Syncs from magento to MC do work. E.g. I entered a customer account and subscribed to the newsletter. The subscription in MC gets updated.

But the subscribers status (subscribed) was not synced back to magento, the checkbox in my account stayed empty.

I checked the table mailchimp_webhook_request and found a

[2018-09-11 18:31] gonzaloebiz commented on #387
Hi @OvalMedia

thanks for your feedback.
Please be sure that you don't have an ebizmarts_ecommerce job running in the cron_schedule table, if you have it, delete the entry

Best

[2018-09-11 23:39] maximbaibakov opened #388 "Failed to open stream: No such file or directory"
## Failed to open stream: No such file or directory

## Issue Description

- MailChimp.log generates errors
- mailchimp_sync_batches batch table says that batch pending or cancelled.

### Preconditions

    1. Magento CE 2.2.3 without sample data is installed.
    2. mc-magento2 1.0.29

### Steps to reproduce

1. Install Magento CE 2.2.3
2. Install mc-magento2 1.0.29
3. Create order
4. Sync data w

[2018-09-12 01:40] maximbaibakov commented on #388
Hi there,

PR has been opened to resolve the issue https://github.com/mailchimp/mc-magento2/pull/389

Regards,
Maxim

[2018-09-12 07:26] OvalMedia commented on #387
There are just as many ebizmarts_ecommerce jobs scheduled but none of them is running. They are all pending as well. No progress. The ecommerce option is disabled btw.

[2018-09-12 09:16] OvalMedia commented on #387
Ok, weird. Module disabled and re-enabled. Now the crons are being processed.

[2018-09-12 09:16] #387 closed, assigned to nobody

[2018-09-12 16:57] #309 closed, assigned to gonzaloebiz

[2018-09-12 17:05] gonzaloebiz opened #391 "Special prices management in Magento Enterprise"
magento enterprise removed support and use of special_from_date and special_to_date entirely,
and is not meant to be used or referenced at all on enterprise
https://github.com/magento/magento2/issues/5984#issuecomment-360345397

[2018-09-12 17:12] #391 closed, assigned to gonzaloebiz

[2018-09-12 17:51] gonzaloebiz commented on #388
Hi @maximbaibakov  thanks for your contribution

[2018-09-12 17:51] #388 closed, assigned to gonzaloebiz

[2018-09-12 17:52] #383 closed, assigned to nobody

[2018-09-13 10:30] maximbaibakov opened #393 "Adding extra logging on import parts of the Cronjob"
## Execution visibility, extra logging

Sometimes some part of the process could fail to some reason without any errors.
It would be good to have a bit of extra logging around main parts of the process.
It would help to dig into problem easier.

## Issue Description

There is a bit lack of visibility around execution of the sync process.
Would be awesome to see where the sync spends more time and

[2018-09-13 11:32] gonzaloebiz commented on #393
closed by https://github.com/mailchimp/mc-magento2/pull/377

[2018-09-13 11:32] #393 closed, assigned to nobody

[2018-09-14 09:56] punkstar commented on #386
The problem solved in #307 appears to have been released in 1.0.29. The OP says that they're running 1.0.30 and I'm experiencing this issue on 1.0.29!

[2018-09-14 10:23] SamueleMartini commented on #386
@gonzaloebiz I'm runngin v1.0.30 and the bug is still present.
I have tried to resync products but this operation doesn't solve the problem.
I have tried to delete products in MailChimp and re-import all, but also this operation doesn't solve the problem for abandoned cart automation.

Regards.

[2018-09-14 15:00] punkstar commented on #386
@SamueleMartini We're still testing, but this patch looks promising for us.

[code]

[2018-09-14 15:03] SamueleMartini commented on #386
@punkstar thank you, we will try your patch and I'll give you a feedback.

[2018-09-17 18:18] gonzaloebiz opened #395 "Wrong total revenue in MailChimp"
### Preconditions

    1. Any version of Magento with sample data
    2. Any version of mc-magento2

### Steps to reproduce

    1. Configure a store with at least 2 currencies
    2. Add an order with each currency

### Actual result

The revenue mix the total of the orders, even if they have distinct currencies

![image](https://user-images.githubusercontent.com/6222792/45641422-e16c6d00-ba8b-11

[2018-09-18 06:31] alevashov commented on #161
Hi

I had almost identical issue with brand new Magento 2.2.5 install: drop-down to select store list doesn't open.

Browser dev console shows me:

[code]

Was able to resolve by disabling extension through CLI, uninstalling extension, switching Magento to developer mode and re-installing the extension with new API key from Mailchimp.

[2018-09-18 08:36] josh-carter opened #396 "Problem Syncing "Old" Products"
## Problem Syncing "Old" Products

Looks like we have an issue whenever the method Ebizmarts\MailChimp\Model\Api\Product::sendQuoteModifiedProduct() is called within Ebizmarts\MailChimp\Model\Api\Cart

It ends up creating an error in the batch JSON due to the format of the product data. We end up with something like:

[code]

The error occurs because of the array-wrapped object (PATCH request).

S

[2018-09-18 16:01] gonzaloebiz commented on #396
Hi @josh-carter

thanks for your feedback.
Can you please format your issue according to our [issue reporting guidelines](https://github.com/mailchimp/mc-magento2/wiki/Issue-reporting-guidelines)?
We will re open the issue once the format be OK

Best

[2018-09-18 16:01] #396 closed, assigned to nobody

[2018-09-21 00:09] andrewkett opened #398 "1.0.30 release?"
Sorry, I hate asking for ETAs on open source projects, but, is there an ETA on the 1.0.30 milestone? 😜 It would be awesome if it could be released soon, we are having a few different Mailchimp sync issues and I believe the next release will resolve at least some of them.

[2018-09-21 13:21] gonzaloebiz commented on #398
Probably next week

[2018-09-21 13:21] #398 closed, assigned to nobody

[2018-09-21 14:45] gonzaloebiz commented on #310
Take a look at https://github.com/mailchimp/mc-magento2/issues/372

[2018-09-21 14:45] #310 closed, assigned to gonzaloebiz

[2018-09-25 15:48] adamj88 opened #399 "Tag version 1.0.30"
Would it be possible to tag version 1.0.30? Or are we awaiting anything on it?

This has been released in https://github.com/mailchimp/mc-magento2/commit/58b1e11c624db46d2253a68fb423ec9fce8a710a but unable to install this via composer as it hasn't been tagged.

[2018-09-25 15:59] gonzaloebiz commented on #399
Please don't put questions here

[2018-09-25 15:59] #399 closed, assigned to nobody

[2018-09-27 12:02] stephan-cream opened #400 "Ecommerce cronjob stuck on customers with no address (error occurs)"
### Preconditions
1. Any Magento version.
2. Any server setup
3. Customer without an address
4. Ecommerce cronjob active

### Steps to reproduce
1. Create a customer (frontend / backend both experience this).
2. Do not add an address to the customer.
3. Add 'Default Billing Address' or 'Default Shipping Address' to the configuration 'Customer Fields Mapping' in "Stores => Configuration => Mailchim

[2018-09-28 14:22] gonzaloebiz commented on #400
Hi @stephan-cream

thanks for your feedback.
I can't reproduce your issue, i follow your steps and the customer was synced fine.
Magento version 2.2.5 with sample data
mc-magento2 version 1.0.30
You have any other extensions installed? Try with a vanilla installation

Best

[2018-09-28 14:57] davidjones6459 opened #404 "After syncing data with MailChimp the wrong products are show for my stores"
## Issue Description

After successfully syncing data to MailChimp from our Magento 2.1.9 instance, which runs 3 stores on different domains, the products shown within the Product Retargeting Notification automation setup screen are based on the whole product catalog and not the chosen website.

The websites do not share products, each product appears in only one of the stores.

### Preconditions

[2018-09-28 17:24] gonzaloebiz commented on #404
Hi @davidjones6459

thanks for your feedback.
We can confirm the issue and working in a fix

Best

[2018-09-28 17:27] #404 closed, assigned to gonzaloebiz

[2018-09-28 19:26] gonzaloebiz opened #406 "Empty data in the batch json for custom products types"
For some extension that add a new custom product type other than the default, the json of the batch include items with an empty array, that make the sync fails

[2018-09-28 19:45] #406 closed, assigned to gonzaloebiz

[2018-10-01 12:14] KM-HM opened #408 "Installation Magento 2.2.6 Setup:di:compile ReflectionException"
## Issue Description

While installing the Mail Chimp Magento 2 Module in version 1.0.30 or 1.0.29 from Magento Marketplace or Github an Exception will be thrown when you call "php bin/magento setup:di:compile"

### Preconditions
1. PHP 7.0.32-0ubuntu0.16.04.1
2. Magento 2.2.6 composer installation in developer mode
3. Mail Chimp module in version  1.0.30 or 1.0.29

### Steps to reproduce

1. Down

[2018-10-01 12:33] gonzaloebiz commented on #408
Hi @kemexyz

this is not an issue, please take a look at https://github.com/mailchimp/mc-magento2/blob/develop/composer.json#L26-L28

Best

[2018-10-01 12:33] #408 closed, assigned to nobody

[2018-10-01 12:53] KM-HM commented on #408
@gonzaloebiz

Some installation instructions would be nice. Its somewhat unusual to execute composer install in the module directory. Never had to do this before.

Edit:
Does not work for me at all.

[2018-10-01 13:04] kemexyz commented on #408
Requiring "ebizmarts/mailchimp-lib": ">=3.0.27" in the magento root directory works. Not sure how I should have known this before.

[2018-10-01 15:38] gonzaloebiz opened #409 "field [operations.item:2] : Schema describes object, array found instead"
### Preconditions

    1. Any version of Magento with sample data
    2. mc-magento2 1.0.30.

### Steps to reproduce

    Comment these lines https://github.com/mailchimp/mc-magento2/blob/develop/Cron/Ecommerce.php#L174-L177
    Go to the backend and modify a product
    Then make an order with this product

### Expected result

    The order was synced to MailChimp

### Actual result

    You can

[2018-10-01 16:40] #409 closed, assigned to gonzaloebiz

[2018-10-01 21:22] ccrothers opened #411 "Magento enterprise does not support the use of special from/to dates"
When checking whether to use special price, mailchimp extension does not properly check according to how it should be done on enterprise.
https://github.com/magento/magento2/issues/5984#issuecomment-360345397

Since special from/to dates aren't used on enterprise, having those values never caused us any problems. In addition, for enterprise users that use magento 2's versioning feature, mailchimp

[2018-10-01 21:27] ccrothers opened #412 "Store/website level prices not being pulled successfully in product sync/feed."
We current have a multi-store website, and when a price is set at the store/website level (since a product might have a different price on one site vs the other), mailchimp error table says price is null when trying to sync product. When only setting price at default store view level, product syncs properly. We have one mailchimp store set at default left, and a different mailchimp store set at st

[2018-10-02 12:57] gonzaloebiz commented on #412
Hi @ccrothers

please follow our [issue reporting guidelines](https://github.com/mailchimp/mc-magento2/wiki/Issue-reporting-guidelines)

Best

[2018-10-02 12:57] #412 closed, assigned to nobody

[2018-10-02 12:58] gonzaloebiz commented on #411
Please follow [our issue reporting guidelines](https://github.com/mailchimp/mc-magento2/wiki/Issue-reporting-guidelines)

Best

[2018-10-02 12:58] #411 closed, assigned to nobody

[2018-10-02 18:22] ccrothers opened #413 "Store/website level prices not being pulled successfully in product sync/feed."
Preconditions:
• Have at least two stores created for your magento 2 instance
• Be using Magento 2 Enterprise, version 2.1.6 (do NOT use community)
• Be using mc-magento2 version 1.0.29
• have one monkeystore set at default level from stores > config > mailchimp
• have a second monkey store set at your second store's store view from stores > config > mailchimp

Steps to Reproduce:
• create a produ

[2018-10-02 18:28] gonzaloebiz commented on #413
Hi @ccrothers

please specify which version of mc-magento2 are you using

Best

[2018-10-02 18:33] ccrothers opened #414 "Exentension uses special from/to dates, attributes which Magento enterprise does not support"
Preconditions:
• Be using Magento 2 Enterprise, version 2.1.6 (do NOT use community)
• Be using mc-magento2 version 1.0.29
Steps to Reproduce:
• create a product
• set the product to use special price
• Optional: unset the product's price
• special price is not sent to mailchimp

Expected Result: special price is used
Actual Result: the regular price (incorrect price) is used, not the special pric

[2018-10-02 18:33] ccrothers commented on #411
created new issue with updated formatting.
https://github.com/mailchimp/mc-magento2/issues/414

[2018-10-02 18:34] ccrothers commented on #412
created new issue with updated formatting.
https://github.com/mailchimp/mc-magento2/issues/413

[2018-10-02 18:36] gonzaloebiz commented on #414
Hi @ccrothers

please specify which version of mc-magento2 are you using

Best

[2018-10-02 18:37] ccrothers commented on #414
done.

[2018-10-02 18:37] ccrothers commented on #413
done.

[2018-10-02 18:39] gonzaloebiz commented on #414
Please take a look at https://github.com/mailchimp/mc-magento2/issues/391
This issue is already fixed in 1.0.30 version

[2018-10-02 18:39] #414 closed, assigned to nobody

[2018-10-02 18:40] gonzaloebiz commented on #413
Please take a look at #391
This issue is already fixed in 1.0.30 version

[2018-10-02 18:40] #413 closed, assigned to nobody

[2018-10-02 18:44] ccrothers commented on #413
this issue is unrelated to special price. this one is for regular price (when set at various store levels).

Are you certain the "special price management" commit addresses this bug too?

[2018-10-02 18:54] gonzaloebiz commented on #413
Please try with the 1.0.30 version, i'm pretty sure.
But we will be pleased to re open the issue if not

Best

[2018-10-03 08:51] stephan-cream commented on #400
My apologies, i forgot a step.
**After step 2:** Add 'Default Billing Address' or 'Default Shipping Address' to the configuration 'Customer Fields Mapping' in "Stores => Configuration => Mailchimp => Mailchimp General Configuration".
This is when the error occurs during the cronjob.
Although you could say it is required to have an address when this is set, it is obviously impossible to force this

[2018-10-04 13:21] bcmageteam opened #415 "Checkout is not loading in the production environment"
# Issue reporting guidelines

To maintain an effective bugfix workflow and make sure issues will be solved in a timely manner we kindly ask reporters to follow some simple guidelines.

Before creating an issue, please do the following:

* Make sure the behavior you are reporting is really a bug, not a feature.
* Check the existing [issues](https://github.com/mailchimp/mc-magento2/issues) to make s

[2018-10-04 16:29] gonzaloebiz commented on #415
Hi @bcmageteam

thanks for your feedback.
We can't reproduce your issue. The extension has more than 95K installations, should be impossible to use with this issue, so i think is more an issue in some of your side.
Open the developers tool in your browser and inspect the console and network tabs, perhaps you have some light there to start.

Best

[2018-10-04 16:53] bcmageteam commented on #415
Hi @gonzaloebiz
Thank you for your quick response. I understand that this extension is very popular and works perfectly. But I am using Magento 2.1.9 and have checked the multiple cases. Whenever I disable this extension then the checkout works perfectly. I have tried to set up this extension on Magento 2.2.5 and there it seems working fine. But not sure, why is not working for me. I have tried to

[2018-10-04 16:57] gonzaloebiz commented on #415
Open the developers tool in your browser and inspect the console and network tabs, perhaps you have some light there to start.

Best

[2018-10-04 16:58] bcmageteam commented on #415
I have checked but can't see any error and failure

[2018-10-04 16:59] bcmageteam commented on #415
I am using custom checkout and custom theme but I have tried to disable both of them and tried to run with default. Doesn't seem working

[2018-10-04 17:12] gonzaloebiz commented on #415
Can you please send us your store url to mailchimp@ebizmarts-desk.zendesk.com mentioning this issue, and of course leave the extension enabled

Best

[2018-10-04 17:13] bcmageteam commented on #415
Thank you. I will share the details with you by tomorrow as soon as possible.

[2018-10-05 09:10] arendarenko opened #416 "NULL price when special price is not set, but special price dates are set"
## Description
Sometimes when syncing several products Mailchimp returns an error: "variants.item:0.price Schema describes number, NULL found instead", this also causes incorrect import of orders that contains those products.

## Steps to reproduce:

Create product with price $40
Set such advanced price options:
2.1. Special price = empty field
2.2. Special price from = any past date (for example:

[2018-10-05 09:41] arendarenko opened #417 "Incorrect re-syncing modified subscribers"
## Issue description

When you're modifying subscriber status from Magento data is not sending to Mailchimp.

### Preconditions:
1. Installed Magento v2.2.5
2. mc-magento  v1.0.30

## Steps to reproduce

1. Create new customer in Magento, subscribe to newsletter
2. Wait untill subscriber will be appear in Mailchimp list
3. Unsubscribe this customer from newsletter

### Expected result
1. Subscribe

[2018-10-05 13:48] rg-raghu opened #419 "Synced products showing product url and image from different domain"
Hi

We used same Mailchimp account for both staging and production.
We created a list and tested in staging and it worked fine.
Then we deployed to production and this time we created a different list for production and when tested, the customer data got synced. But when we tried to use products in campaign the products are getting pulled from staging site (urls and images points to staging site)

[2018-10-05 14:51] #419 closed, assigned to nobody

[2018-10-05 15:54] gonzaloebiz commented on #415
Hi @bcmageteam

we only include these 2 js in the checkout page

![image](https://user-images.githubusercontent.com/6222792/46545644-45b96a00-c89d-11e8-9c84-7209c49c5a09.png)

![image](https://user-images.githubusercontent.com/6222792/46545698-67b2ec80-c89d-11e8-8469-307c8794993d.png)

you can see it in the network tab of the developer tools in your browser

In other hand, we see you have an error

[2018-10-05 16:21] gonzaloebiz commented on #416
Closed by https://github.com/mailchimp/mc-magento2/pull/403

[2018-10-05 16:21] #416 closed, assigned to nobody

[2018-10-05 17:27] bcmageteam commented on #415
Hi @gonzaloebiz

Thank you for updating me. Yes, I have checked that you are using only 2 JS files in the checkout page. Also, I have already tried with default checkout but doesn't seem working for me.

The error displaying the console is not related to that. It is coming even after disabling the extension.

Please help me out if possible. I can share the FTP and admin credentials with you.

Than

[2018-10-05 17:28] bcmageteam commented on #415
Apart from this, as per your suggestion, I have posted my concern on the email mailchimp@ebizmarts-desk.zendesk.com.

Looking forward to hearing from there also.

[2018-10-05 17:56] gonzaloebiz commented on #415
Hi @bcmageteam

as you can understand mc-magento2 is a FREE extension with more than [96K installations](https://packagist.org/packages/mailchimp/mc-magento2) and is not possible for us offer on site support.
As you can view, our 2 js are so simple.
Typically this happens because some request return an error, a 503 or some data invalid, as i can see is not your case. Or a js error, so i think you

[2018-10-05 17:56] #415 closed, assigned to nobody

[2018-10-05 19:19] ebizmarts-keller opened #420 "Total orders_count and total_spent sent incorrectly in order"
**Issue Description**

When orders are sent to Mailchimp, some customers order data is sent along with the order, this being the total count of orders and the total spent on those orders associated with each email address, the data sent doesn't represent the actual values that correspond.

**Preconditions**

Magento 2.2.3
Mailchimp for Magento 1.0.30
mailchimp-lib 3.0.28
PHP 7.0.30

**Steps to rep

[2018-10-05 20:08] #420 closed, assigned to ebizmarts-keller

[2018-10-06 10:09] bcmageteam commented on #415
Hi @gonzaloebiz
Thank you for the update. I have tried to debug the code. I found the following file which is conflicting with our system. Would you please confirm the use of this code and file?

==============
Ebizmarts/MailChimp/view/frontend/templates/catcher.phtml

======
code: <div id="monkey_campaign" style="display:none;" data-mage-init='{"campaigncatcher":{}}'>
</div>

[2018-10-06 13:06] gonzaloebiz commented on #415
Hi @bcmageteam

yes sure, you can find the file here https://github.com/mailchimp/mc-magento2/blob/develop/view/frontend/templates/catcher.phtml
This template load the js defined in https://github.com/mailchimp/mc-magento2/blob/develop/view/frontend/requirejs-config.js

Best

[2018-10-06 14:58] bcmageteam commented on #415
Hi @gonzaloebiz ,

Yes that I also have. When I am trying to debug campaigncatcher.js that doesn't allowing me. Debugger is not rendering. Also, I just wanted to know that is this JS file add some content to above template?

Thanks

[2018-10-06 15:46] gonzaloebiz commented on #415
As this line say

https://github.com/mailchimp/mc-magento2/blob/develop/view/frontend/requirejs-config.js#L14

this is the file

https://github.com/mailchimp/mc-magento2/blob/develop/view/frontend/web/js/campaigncatcher.js

Best

[2018-10-09 12:56] wojtekn opened #422 "Unexpected behavior after editing customer in the backend"
### Preconditions

1. Magento CE 2.1.15
2. mc-magento2 1.0.30.

### Steps to reproduce

There are multiple use cases which results in re-subscribing or unsubscribing customer when his account is saved by admin in the backend:

#### Use case 1
Double opt-in is disabled on Magento side, customer is subscribed on Magento and MailChimp side
* when I save customer in backend, he stays subscribed, does'

[2018-10-10 15:43] gonzaloebiz opened #423 "Add a combo in the Customer Fields Mapping with the MailChimp defined tags"
For avoiding errors, change the field for MailChimp tags for a combo with the defined tags in MC, like the Magento customer attributes

![image](https://user-images.githubusercontent.com/6222792/46748469-04083500-cc8a-11e8-9178-080ab97faec5.png)

[2018-10-10 19:55] #423 closed, assigned to gonzaloebiz

[2018-10-10 22:16] gonzaloebiz commented on #400
Hi @stephan-cream

i define this in the Customer Fields Mapping

![image](https://user-images.githubusercontent.com/6222792/46769017-b78c1c00-ccc0-11e8-88dc-9cf0f9392179.png)

(sorry but the development version include a new combo for the MC tags)
Then register a new customer without an address and the issue is not there, the customer was synced OK (with no address obviously)

Best

[2018-10-11 02:18] maximbaibakov opened #425 "Product Image does not show on abandoned cart email template / order details"
## Product Image does not show on abandoned cart email template / order details

## Issue Description

### Preconditions

There is no product image for order or abandoned cart email shown for a simple / configurable products combination in case of images are stored on configurable level.

Example:

    1. Magento CE 2.2.3 without sample data is installed.
    2. mc-magento2 1.0.29

### Steps to re

[2018-10-11 10:04] arendarenko opened #427 "Subscriber which was added in MailChimp doesn't have storeId in Magento2"
### Preconditions

When enabled Two-way sync and you create new subscriber in List which is connected to Magento2 website, after syncing newly added to Magento2 subscriber didn't have any storeId. Which means that if there is a registrated customer for current website, it wouldn't be synced with this subscriber

    1. Magento 2.2.5 is installed
    2. mc-magento2 1.0.30.

### Steps to reproduce

[2018-10-11 11:44] crtl opened #429 "Collissions with mailchimp cookies"
## Collissions with mailchimp cookies

We have to somehow import orders from third party systems into our magento2 system. We are using 3rd party modules for that. But during development we had multiple issues with mailchimp trying to set cookies and causing exceptions because headers are already sent etc.

Good example would be:

## Issue Description

Mailchimp tries to set cookies in Mailchimp\O

[2018-10-11 13:25] #429 closed, assigned to gonzaloebiz

[2018-10-12 12:18] gonzaloebiz commented on #427
Closed by https://github.com/mailchimp/mc-magento2/pull/428

[2018-10-12 12:18] #427 closed, assigned to nobody

[2018-10-12 13:35] #417 closed, assigned to nobody

[2018-10-12 14:46] gonzaloebiz commented on #425
Hi @maximbaibakov

thanks for your feedback.
I followed your steps and can't reproduce your issue. The images are there, for both the configurable and all the simples. (the configurable has the image of the first simple)

Best

[2018-10-15 10:04] stephan-cream commented on #400
I tried the module in a clean Magento 2.2.5 install.
The issue still persists.
Furthermore after checking the code based on the error i found out that there is an error in the logic.

`/vendor/magento/module-cron/Observer/ProcessCronQueueObserver.php:324, TypeError(code: 0): Argument 1 passed to Ebizmarts\\MailChimp\\Helper Data::_getAddressValues() must be an instance of Magento\\Customer\\Model\

[2018-10-15 16:27] AndyJAllen commented on #60
This module needs some serious TLC... Why does it even install into the vendor folder and with two separate directories???

[2018-10-17 06:34] syedsaleem086 opened #431 "Abandoned cart email queue in Mailchimp dashboard not getting reset on placing the order"
## Abandoned cart emails only sent who abandoned the cart

### Steps to reproduce
#Step1: Install the latest extension using composer on Magento2.2.5 and PHP7.0
#Step2: Configure the MailChimp for abandoned cart emails set every one hour
#Step3: Configure the Magento extension to send abandoned cart emails
#Step3: Add items to cart and place the order
#Step4: Added items are synced to the abandone

[2018-10-17 20:15] TimQSO commented on #400
@gonzaloebiz were you able to reproduce it now?

[2018-10-17 20:21] TimQSO commented on #400
@stephan-cream @alexeya-ven  supplied a fix as far as I can see?

[2018-10-19 10:33] adamj88 commented on #425
@gonzaloebiz we're seeing the same issue - unsure of the steps to replicate it, but we're seeing all simple products in Mailchimp without imagery where as their parent products do.

If there's any more information I can provide please let me know.

[2018-10-19 17:50] gonzaloebiz opened #432 "Wrong parent id in the cart"
When you add a configurable product in the cart, product_id and product_variant_id are the same (the simple product), and this is wrong.
The product_id must be the configurable and the product_variant_id must be the simple

[2018-10-19 17:52] #432 closed, assigned to gonzaloebiz

[2018-10-19 17:55] gonzaloebiz commented on #425
Hi @adamj88

we need a way to reproduce the issue, as you know the possibilities are really a lot. We can't fix something we can't reproduce.

Best

[2018-10-19 19:12] #431 closed, assigned to gonzaloebiz

[2018-10-20 12:53] nirajketan opened #435 "Store Configration page for Mailchimp went blank due to "map_fields" Field"
After installing module and mailchimp-lib i tried to go to mailchimp -> Configuration but page is blank when i open it

I debugged it and found its due to map_fields field

![image](https://user-images.githubusercontent.com/12871321/47255918-30dff780-d495-11e8-90f4-7c9e5d047557.png)

After I comment that field page loads well

Can you try give it try on latest and fresh magento 2.2.5 ?

[2018-10-20 16:37] gonzaloebiz commented on #435
Hi @ngagestudios

thanks for your feedback, please follow the [issue reporting guidelines](https://github.com/mailchimp/mc-magento2/wiki/Issue-reporting-guidelines)
Yes of course, we test it before release each new version

[2018-10-20 16:37] #435 closed, assigned to nobody

[2018-10-22 00:16] maximbaibakov commented on #425
Hi @gonzaloebiz

Probably a bit detailed steps would help.

**Precondition:**
Magento 2.2.3 or latest
Mailchimp 1.0.30
Test set of products must not exist in Mailchimp

**Steps to reproduce**
1. Create a configurable product based on size
2. Create 5 simple products and assign them to the configurable. DO NOT ADD ANY IMAGES.
3. Add images on configurable product
4. Wait 15-20 minutes to sync every

[2018-10-22 18:28] #425 closed, assigned to nobody

[2018-10-23 13:46] arendarenko opened #438 "Vulnerability issues in module"
I found that module has such vulnerability issues:

1. Unescaped values in templates (example: https://github.com/mailchimp/mc-magento2/blob/develop/view/frontend/templates/mailchimpjs.phtml#L4,
2. Unescaped values in SQL-queries in Models/Helpers/Cron-files (example: https://github.com/mailchimp/mc-magento2/blob/develop/Model/Api/Cart.php#L139)

Those vulnerabilities may contain risks for website

[2018-10-23 14:30] TimQSO commented on #400
Any updates on this @gonzaloebiz

[2018-10-23 15:25] gonzaloebiz commented on #400
Hi @GuiltyNL

no, we can't reproduce this issue

Best

[2018-10-23 17:33] gonzaloebiz commented on #438
Hi @alexeya-ven

thanks for your feedback.
You are right in the first point, we will review this changes.
In order to the second point, i think this is not necessary. In your example, the value of $mailchimpStoreId is returned by this line https://github.com/mailchimp/mc-magento2/blob/develop/Cron/Ecommerce.php#L118 and is an int value.
Really i don't find a reason to escape this value or the mail

[2018-10-24 03:01] gonzaloebiz opened #442 "main.CRITICAL: API Key Missing for Api Call: https://usxx.api.mailchimp.com/3.0/lists//merge-fields - Your request did not include an API key."

[2018-10-24 06:53] arendarenko commented on #438
hi @gonzaloebiz
module retrieves mailchimpStoreId from core_config_data which can be affected by another modules, so it can cause sql-injections. Maybe I've chose the wrong way to escape, and it should be done like this: https://github.com/mailchimp/mc-magento2/blob/develop/Model/ResourceModel/MailChimpInterestGroup.php#L32

[2018-10-24 11:44] stephan-cream commented on #400
It is impossible that this is not reproducible with the current master branch...

**public function getPrimaryAddress($attributeCode) { ... }**
// magento/module-customer/Model/Customer.php # 629~634
`return $primaryAddress ? $primaryAddress : false;`
It clearly shows that if there is no address it returns false.
As my steps to reproduce state there should be an customer without an address while t

[2018-10-24 13:01] #442 closed, assigned to gonzaloebiz

[2018-10-25 13:14] gonzaloebiz opened #445 "Send the product id in the order when is a configurable"
When the product is a configurable, the simple product was sent in both product_id and product_variant_id, and must be
product_id = configurable product id
product_variant_id = simple product id

[2018-10-25 13:17] #445 closed, assigned to gonzaloebiz

[2018-10-26 12:53] inelukipg opened #447 "Error in cron ebizmarts_webhooks"
### Preconditions

    1. Magento CE 2.2.3
    2. mc-magento2 1.0.30

### Steps to reproduce

    1. Add store
    2. Start sync with mailchimp

### Actual and Expected result
Error in cron logs and webhook doesnt't seem to work:
Notice: unserialize(): Error at offset 48 of 111 bytes in /www/magento2/vendor/mailchimp/mc-magento2/Cron/Webhook.php on line 82

    Expected result:
 No errors in cron-

[2018-10-26 13:03] gonzaloebiz commented on #447
Hi @inelukipg

thanks for your feedback.
The webhook cron process events that happens in MC, and are sent to magento. We need to know what do you do in MC to try to replicate.
You can see the these events in the table mailchimp_webhook_request

Best

[2018-10-26 14:39] inelukipg commented on #447
Hi again,
I think all of the types throws errors?
Types: subscrible, profile, campaign all got processed=0.

![mailchimp_webhook](https://user-images.githubusercontent.com/23335844/47573272-3463fa80-d93d-11e8-871a-6a684eebec94.jpg)

[2018-10-26 16:32] gonzaloebiz commented on #447
Hi @inelukipg

can you please send me a dump of this table to our support email mentioning the issue number? mailchimp@ebizmarts-desk.zendesk.com

Best

[2018-10-27 09:50] gabrieljadeau commented on #108
Hi,

Having the same problem here. I have 1000 instance of ebizmarts_ecommerce running in the crontab. Why is the cron running if another instance is already? Do you need me to provide you some more data in order to get it fixed ?

Thanks in avance for your help, that's quite urgent.

[2018-10-29 15:55] cclohman commented on #67
@gonzaloebiz Same here for us @GideonBabu.  We've been working extensively with Pablo @ ebizmarts customer support on several issues and now that we are updated to 1.0.30, we are seeing our cron table fill with this error as well.  We are on Mage 2.2.1, Mailchimp 4 Magento 1.0.30, Mailchimp Lib 3.0.28.

[2018-10-30 17:00] ihor-sviziev commented on #438
Hi @gonzaloebiz,
About 2nd point - any data retrieved both from customer or from DB - should be escaped **if possible**, here it's actually possible.

Vulnerabilities might be not really obvious, sometimes malware might be even in DB: [example](https://gwillem.gitlab.io/2017/02/14/triggered-malware/).

[2018-10-30 20:06] gonzaloebiz opened #448 "Error when a product has SKU = null"
In magento2, the sku is required, but you can go to stores/products/attributes and search for sku and put it like not required

![image](https://user-images.githubusercontent.com/6222792/47746663-3ee80200-dc65-11e8-9248-15722e9211a8.png)

If you go to the product, you have no way to set the SKU as null, so you must edit directly the table catalog_product_entity and put a null in the corresponding

[2018-10-30 20:08] #448 closed, assigned to gonzaloebiz

[2018-10-31 11:37] ihor-sviziev commented on #438
@gonzaloebiz also in this module quite a lot of places where unserialize function is used.
Potentially [PHP Object Injection](https://www.owasp.org/index.php/PHP_Object_Injection) might be used.

It's better to convert everything to JSON format and use magento framework for serialization: https://github.com/magento/magento2/blob/2.2/lib/internal/Magento/Framework/Serialize/README.md

[2018-10-31 18:07] gonzaloebiz opened #451 "Don't use serialize function directly"
Thanks @ihor-sviziev for note that
https://github.com/mailchimp/mc-magento2/issues/438#issuecomment-434654731

[2018-10-31 19:30] gonzaloebiz commented on #451
https://github.com/mailchimp/mc-magento2/commit/a6159df0b5e1e83a3fb334e1aa928af5eef19b81

[2018-10-31 19:40] ihor-sviziev commented on #451
Hi @gonzaloebiz,
It's not enough, in DB we still have serialized data, we have to covert it to JSON format

[2018-10-31 19:50] gonzaloebiz commented on #451
i know, the issue is not closed, we are working on, don't worry about we know what we do

[2018-11-02 14:23] #451 closed, assigned to gonzaloebiz

[2018-11-02 15:08] toddvalentine commented on #422
Any thoughts here?

[2018-11-02 15:34] gonzaloebiz opened #455 "Error of serialization when processing webhook data"
Mark the registers with bad serialized data as with error and continue processing

[2018-11-02 15:37] #455 closed, assigned to gonzaloebiz

[2018-11-03 09:29] ihor-sviziev opened #457 "Setup upgrade works more than 15 minutes during installing module"
## Issue Description

### Preconditions

    1. Magento CE 2.2.6 with ~1 million of existing orders + the ~2 millions of quotes in quotes table
    2. mc-magento2 1.0.30

### Steps to reproduce

    1. Install module
    2. run `php bin/magento setup:upgrade`
### Actual and Expected result

Setup upgrade process should run just few minutes

### Additional information

This issue appears because du

[2018-11-05 01:20] iamgeert commented on #169
Adding a rewrite rule to your nginx configuration might solve the issue:
rewrite ^/pub(.*)$ $1 last;

[2018-11-05 13:48] gonzaloebiz commented on #457
Thanks

[2018-11-05 19:55] gonzaloebiz commented on #400
Sorry but i can't reproduce

Define the merge tag in mailchimp

![image](https://user-images.githubusercontent.com/6222792/48022822-e90ad280-e11a-11e8-99cf-ff798619394b.png)

Then assign the merge tag to the extension configuration

![image](https://user-images.githubusercontent.com/6222792/48022889-15beea00-e11b-11e8-900e-bac101d34f98.png)

Then register a new customer without an address and wait

[2018-11-06 07:21] ihor-sviziev commented on #409
Hi @gonzaloebiz,
After applying Pull Request #410  as a patch - we still have this issue, but we didn't commented that  lines that you listed in "steps to reproduce"

In json that listed below this error I see following issue - empty array between two orders data, it's in the middle of the json:
[code]

I checked both orders - order 1000717580 contains "E-Gift card" product type, that is not suppo

[2018-11-06 11:21] arendarenko opened #459 "Error: MailChimpLogger.INFO: Resource Not Found for Api Call: https://us11.api.mailchimp.com/3.0/lists//interest-categories using method [GET]"
### Preconditions

Example:

    1. Magento CE 2.2.6 without sample data is installed.
    2. mc-magento2 1.0.30.
    3. Interests are not set
    ...

### Steps to reproduce

1. Setup mailchimp module without setting interests settings
2. Add new subscribers in Magento2
3. Run module cronjobs

### Expected result:

1. Subscribers will be sent to MailChimp successfully without any error

### Actua

[2018-11-06 14:59] sduif commented on #422
These 2 Magento core issues might be related:
https://github.com/magento/magento2/issues/17954
https://github.com/magento/magento2/issues/15218

Both have fixes available that'll be included in future releases of the core. For now these also seem to solve the issues that we are having.

[2018-11-06 15:47] gonzaloebiz commented on #409
@ihor-sviziev please see at https://github.com/mailchimp/mc-magento2/issues/406

[2018-11-08 01:51] cjbelo commented on #67
I am also getting this error "Requested product doesn't exist" with my Magento 2.1.7 & MailChimp 1.0.27. Any update regarding this? Thanks!

[2018-11-08 02:22] gonzaloebiz commented on #67
Hi @cjbelo

yes sure, update the extension to the current version

Best

[2018-11-08 16:28] snirouk commented on #151
We are having same problem. Any solution to this issue?

[2018-11-08 16:34] snirouk opened #465 "Enabling the Mailchimp extension, the .checkout-loader (spinner image) loads indefinitely on the Checkout page."
When enabling the Mailchimp extension, the .checkout-loader (spinner image) loads indefinitely on the Checkout page.

There are no JS errors or any other signs of failure, except the spinner not getting removed. When removing it "by hand" (via "Inspect element"), the checkout works correctly.

Did anyone else experience this issue on the Checkout page before?

Magento ver. 2.1.8
MailChimp v1.0.30

[2018-11-08 17:20] Kershrew opened #467 "Abandoned carts not sending"
## Title
Abandoned carts not sending

## Issue Description

### Preconditions

1. Magento CE 2.2.6
2. mc-magento 1.0.30
3. Mailchimp account setup correctly

### Steps to reproduce

1. Sync store with Mailchimp
2. Setup abandoned cart automation in Mailchimp
3. Go to checkout with a product on store and leave site

### Actual and Expected result

Expected result:
Receive abandoned cart email 1 hou

[2018-11-08 18:01] gonzaloebiz commented on #467
Hi @Kershrew

please take  a look at https://github.com/mailchimp/mc-magento2/issues/409
That's why "mc-magento latest version" has no sense, you MUST specify the version that you have

Best

[2018-11-08 18:01] #467 closed, assigned to nobody

[2018-11-08 18:02] gonzaloebiz commented on #465
Already has a ticket

[2018-11-08 18:02] #465 closed, assigned to nobody

[2018-11-08 18:28] Kershrew commented on #467
Thanks, I have updated with the correct version number that is no reason to close my issue off though...

[2018-11-08 18:36] gonzaloebiz commented on #467
Update to the current version, today we released a new one

[2018-11-08 19:25] Kershrew commented on #467
Will just updating suffice or do I need to perform any other actions?
I have just updated and waiting to see results.

Also, my issue is still closed and I have not had confirmation that a resolution has been reached....

[2018-11-08 19:33] gonzaloebiz commented on #467
update the extension is enough to fix it

[2018-11-08 20:44] Kershrew commented on #467
I have had abandoned carts since updating and nothing is going through still.

[2018-11-09 12:17] ihor-sviziev opened #468 "Avoid getByEmail calls when sending Orders and Carts to Mailchimp"
## Issue Description

### Preconditions

    1. Magento CE 2.2.6 without sample data is installed.
    2. mc-magento2 1.0.30.
    3. ~100k orders that we want to sync to Mailchimp

### Steps to reproduce
N/A

### Actual and Expected result

Right now cron job ebizmart_ecommerce runs every 5 minutes and took ~4 minutes for me. Preparing orders info takes ~3.5 minutes of that time

### Additional in

[2018-11-09 12:32] gonzaloebiz commented on #468
Hi @ihor-sviziev

thanks for your feedback.
We are open to PR

Best

[2018-11-09 12:42] gonzaloebiz commented on #447
Hi @inelukipg

the new version 1.0.32 fix this, you can take a look at this https://github.com/mailchimp/mc-magento2/issues/451 and this https://github.com/mailchimp/mc-magento2/issues/455

Best

[2018-11-09 12:42] #447 closed, assigned to nobody

[2018-11-09 12:54] ihor-sviziev opened #469 "Setup some CI for running static tests"
Would be great to add some CI for running tests, adding at lease static tests will significantly improve code style in the module.

Here is some CI tools that are free for open source projects:
https://travis-ci.org/
https://circleci.com/

You can start running https://github.com/magento/marketplace-eqp.

Also would be great to add some tool for validating supported php versions. Example: https://

[2018-11-09 13:01] gonzaloebiz commented on #469
We know, thanks

[2018-11-09 13:01] #469 closed, assigned to nobody

[2018-11-09 13:10] Kershrew commented on #467
Hello??
This is still an issue they ARE NOT sending and my issue remains closed??

[2018-11-09 13:13] gonzaloebiz commented on #467
Please share your complete configuration screen hiding sensible data like your API key

Best

[2018-11-09 13:16] Kershrew commented on #467
![www hervia com_admin_1ti3x1_admin_system_config_edit_section_mailchimp_key_3aadee8762cb103ddca4c6d7e3dda5d8af8a5d240baacb3272730e955a371b6d_](https://user-images.githubusercontent.com/5272683/48264499-9f273280-e421-11e8-90dc-f09f6ff660cb.png)

[2018-11-09 13:17] Kershrew commented on #467
![admin_system_config_edit_section_mailchimp_key_3aadee8762cb103ddca4c6d7e3dda5d8af8a5d240baacb3272730e955a371b6d_](https://user-images.githubusercontent.com/5272683/48264548-c251e200-e421-11e8-84aa-3451a8c671fc.png)

[2018-11-09 13:17] Kershrew commented on #467
![admin_system_config_edit_section_mailchimp_key_3aadee8762cb103ddca4c6d7e3dda5d8af8a5d240baacb3272730e955a371b6d_](https://user-images.githubusercontent.com/5272683/48264574-dac1fc80-e421-11e8-88a3-4810c5f24d17.png)

[2018-11-09 13:21] gonzaloebiz commented on #467
As i can see 9 carts was synced.
If you have problems with the abandoned cart automation, please send an email to our support and we will be pleased to help you.

Best

[2018-11-09 13:23] Kershrew commented on #467
Those 9 carts were synced 2 months ago when we tested this on our staging environment, since then I have removed the store from Mailchimp and removed the api keys from Magento then set the store back up with Mailchimp and Magento with new API keys and then set up the new automation which has never worked.

How do I contact support?

Just because you can see that 9 carts were synced it does not mea

[2018-11-09 13:35] gonzaloebiz commented on #467
@Kershrew

when you remove an store, all the data from this store was deleted, included the carts, when you define a new mailchimp store this has no data (so no carts). So, this 9 carts are synced since you define this new mailchimp store.
Each time that the cron process runs, you can view in the log a summary of the synced object on this run

If you read the home page of this repo, you can find h

[2018-11-09 13:39] Kershrew commented on #467
Hi @gonzaloebiz

I 100% removed the stores both from Magento and Mailchimp and it pulled this data back in after I did that.

All I can see in the log now is dozens of entries that look like this:
[code]
Looks like there's around 60 entries that have this and that's all that has been listed since updating yesterday

[2018-11-12 09:27] inelukipg commented on #447
HI @gonzaloebiz
Webhooks seems to work now without errors in version 1.0.32!
Thank you! Great work!

[2018-11-13 04:21] eddieturks opened #471 "multi-site Customer Fields Mapping not syncing correctly"
'Customer Field Mapping' under Mailchimp>configuration uses Mailchimp field values are not set correctly per Website and Connected Store. Default Level Configuration is used.

### Preconditions

    1. Magento CE 2.2.4
    2. mc-magento2 1.0.32.
    3. Multiple Websites Configured
    4. Multiple Mailchimp Stores Connected to respective websites

### Steps to reproduce

In M2 admin Goto Mailchimp

[2018-11-13 19:17] gonzaloebiz commented on #471
Hi @eddieturks

thanks for your feedback.
Con you please share each store configuration? Your stores has the same domain?

Best

[2018-11-14 03:34] eddieturks commented on #471
hi @gonzaloebiz

Store config is as follows:

Default Config
--Website 1
----Website 1 view
------Website 1 store
--Website 2
----Website 2 view
------Website 2 store
--Website 3
----Website 3 view
------Website 3 store
--Website 4
----Website 4 view
------Website 4 store

Each Website is on a separate domain so www.website1.com, www.website2.com, www.website3.com, and www.website4.com .

Let me k

[2018-11-15 01:13] teamcrisis commented on #205
I'm having this issue as well on v1.0.30. Has anyone find a solution?

[2018-11-15 10:03] raveinfo opened #472 "This MailChimp account is not connected to Magento 2.2.5 for newsletter subscribers"
Hello Support team,
In magento 2.2.5 version, i have installed our extension. I set all settings but they show error message at admin panel mailchimp setting page "This MailChimp account is not connected to Magento".
Please suggest me how can i fix this.
Thank you

[2018-11-15 12:08] #472 closed, assigned to nobody

[2018-11-15 13:31] gonzaloebiz opened #473 ""Unable to unserialize value " when run the ecommerce cron process"

[2018-11-15 13:50] gonzaloebiz commented on #473
For Magento 2.1 apply commit https://github.com/mailchimp/mc-magento2/commit/edcb010b61b02910368019297960942cba717dea

For Magento 2.2 apply commit https://github.com/mailchimp/mc-magento2/commit/645a10d087d77b2fc0876aa7c2ef84b2cde544d4

[2018-11-15 13:50] #473 closed, assigned to nobody

[2018-11-15 17:05] simonrl opened #476 "Fake email error shows success message to customer"
I have checked the current issues and have not found that behaviour there.

## Issue Description

### Preconditions

    1. Magento CE 2.1.14 with production data in production mode
    2. mc-magento2 1.1.32
    3. "newsletter/subsciber/confirm" is set to "0" in global scope, but "1" in website & store view
    4. "Always use Magento to send mails" is set to "No"
    5. The MailChimp list is GDPR

[2018-11-16 07:48] simonrl opened #477 "Undefined Index image_url in Ebizmarts\MailChimp\Model\Api\Product on line 299"
## Issue Description

### Preconditions

1. Magento CE 2.1.14 with production data in production mode
2. mc-magento2 1.1.32
3. maybe relevant: we use configurable products, and some children are set to "Not visible individually", while some children are set to "Visible in Search".

### Steps to reproduce

You can see it in the code, explained below.
The error message occurs on cron run.

### Actua

[2018-11-16 13:13] thisisme opened #478 "Unable to unserialize value in customer view if $interestGroup->getGroupdata() is null"
Magento 2.2.6
Customers in place and working
Install mailchimp with composer
Select any customer under Customers->All customers
Result: 'Unable to unserialize value.'
Result of $interestGroup->getGroupdata() is NULL in vendor/mailchimp/mc-magento2/Helper/Data.php::getSubscriberInterest

[2018-11-16 13:18] gonzaloebiz commented on #478
Please see at https://github.com/mailchimp/mc-magento2/issues/473

[2018-11-16 13:18] #478 closed, assigned to nobody

[2018-11-21 07:40] inelukipg opened #479 "Not activated subscribers are pushed to mailchimp"
## Issue Description

### Preconditions

    1. Magento CE 2.2.3
    2. mc-magento2 1.0.32
    3. Stores / Configuration / Newsletter / Subscription Options / Need to Confirm = YES

### Steps to reproduce

Add a new customer that signs up for newsletter

### Actual and Expected result

Customers e-mail is pushed to mailschimp right away.

Expected result:
Only confirmed e-mail adresses should be p

[2018-11-21 08:28] ihor-sviziev opened #480 "Ask for confirmation when removing mailchimp store"
## Issue Description

### Preconditions
    1. Magento 2.2.6
    2. mc-magento2 1.0.30.

### Steps to reproduce

1. Go to Admin >> Mailchimp >> Configuration >> "Ecommerce Configuration" section
2. Click on the left side of "Reset Errors" button
3. Click on the list side of "Delete Store" button

### Actual and Expected result

**Actual result:**
- Errors were removed without any confirmation, loa

[2018-11-22 01:22] lstellway commented on #169
Hmm .. we are trying to implement product recommendations within a MailChimp email and I'm seeing many of the product images are broken. I believe I will need to re-sync with a new MailChimp store.

--

Regarding the images issue, I just use a symbolic link in the `pub` directory. You can run the following command from within the directory:
[code]

[2018-11-22 12:43] duckchip commented on #459
Hi there!
Is there any progress on this issue? :)

[2018-11-22 13:12] ebizmarts-keller opened #481 "Add option to not send Promo Codes and Promo Rules"
Add a setting in the configuration to not send Promo Codes and Promo Rules with the Ecommerce data.

[2018-11-22 14:44] ghost opened #482 "Installation Issue: sales_order_grid table not found"
Hello,

I am posting this issue with reference of the issues(#276, #184) that are already posted but did not got any solution from there.

I am facing issue while installing mailchimp. When I execute setup upgrade command after installing mailchimp I get following error and stops the upgrade there so site also stops working:

This table was there before we install mailchimp and ran setup upgrade c

[2018-11-22 16:04] gonzaloebiz commented on #482
I just try with magento 2.2.6 with database prefix m2_

![image](https://user-images.githubusercontent.com/6222792/48913042-10b9a480-ee56-11e8-9845-bc266754ad2e.png)

 and install mc-magento2 version 1.0.30

![image](https://user-images.githubusercontent.com/6222792/48912921-ad2f7700-ee55-11e8-9029-f40ee504cd78.png)

run the corresponding bin/magento setup:upgrade and no problem, the sales_order_g

[2018-11-22 16:04] #482 closed, assigned to nobody

[2018-11-22 16:07] gonzaloebiz commented on #459
Hi @duckchip

please read at https://github.com/mailchimp/mc-magento2/pull/460

Best

[2018-11-22 16:07] #459 closed, assigned to nobody

[2018-11-22 18:27] gonzaloebiz commented on #481
For magento 2.1 apply commit https://github.com/mailchimp/mc-magento2/commit/df27cd43186773d5cfc49dd5e7110f89d8d58a7a
For magento 2.2 apply commit https://github.com/mailchimp/mc-magento2/commit/05cab67e7ae6de208f5feb0a23965d7a0e7ac1b4

[2018-11-22 18:27] #481 closed, assigned to gonzaloebiz

[2018-11-23 07:38] ghost commented on #482
Hello,

We are facing this error with all the above versions I mentioned.

I missed out one scenario that we have uninstalled Magemonkey and than installed this mailchimp and getting this error.

Let me know if this cause the above issue and provide me with solution if that is the case.

[2018-11-23 12:16] gonzaloebiz commented on #482
Hi @NirmalRaval

please let me know the steps your follow to uninstall Magemonkey

Best

[2018-11-23 15:19] ghost commented on #482
Hello,

We have removed the Magemonkey extension from app/code folder and ran the setup upgrade command.

Let us know if we need to take care of anything else to uninstall that.

[2018-11-23 15:44] gonzaloebiz commented on #482
Sorry, can you let me know step by step how to reproduce your issue. Please follow the [Issue reportig guidelines](https://github.com/mailchimp/mc-magento2/wiki/Issue-reporting-guidelines)

- What is your magento version
- What steps you follow to install Magemonkey, which version you install
- What steps you follow to uninstall it
- What steps your follow to install mc-magento2

Neither of the tw

[2018-11-23 17:41] heldchen opened #485 "marketplace version (1.1.32) doesn't install on fresh instances"
## Title

`composer require mailchimp/mc-magento2` fails on fresh installations

## Issue Description

### Preconditions

1. Magento CE 2.2.6 without sample data is installed
2. composer is up to date
3. no mailchimp package is installed

### Steps to reproduce

1. `composer require mailchimp/mc-magento2`

### Actual and Expected result

Expected Result:
Package is installed

Actual result:
Packag

[2018-11-23 18:00] gonzaloebiz commented on #485
Hi @heldchen

you must specify which version you want to install, p.e.

composer require mailchimp/mc-magento2:1.0.32

best

[2018-11-23 18:00] #485 closed, assigned to nobody

[2018-11-23 18:11] heldchen commented on #485
not according to setup docs floating around (f.e. http://wiki.ebizmarts.com/installation-guide-m4m2). can't you have magento remove the bogus 1.1.32 from the marketplace?

[2018-11-23 18:16] gonzaloebiz commented on #485
Sorry, i don't understand the mention to the 1.1.32 version, this version as you can see there https://github.com/mailchimp/mc-magento2/releases is for magento 2.1

[2018-11-23 18:19] heldchen commented on #485
~the magento marketplace composer (repo.magento.com)~ packagist still contains the broken 1.1.32 version:
[code]
and as this is the currently highest version number, this is the target for new installations (without explicitly specifying the version)

edit: hmm ok I get it. 1.1.x is for magento 2.1, and 1.0.x for magento 2.2. this is unfortunate for those that are installing your extension on mage

[2018-11-23 19:27] gonzaloebiz commented on #485
This is the way that composer work, always try to get the last released version, we can't do it nothing about

[2018-11-23 20:21] gonzaloebiz opened #486 "Clean the table mailchimp_webhook_request"
Once the request is processed and it has one month since received, delete their register from the table

[2018-11-23 21:24] heldchen commented on #485
well, you could make sure that an older magento release (here: 2.1) not suddenly has a newer extension version (here: 1.1.32) than the most recent magento release (2.2 / 1.0.32). I understand the reasoning behind it, but in the long run, it will cause confusions. especially as there's currently nowhere in the mailchimp.com installation steps noted anything about this particular versioning.

 in an

[2018-11-24 06:24] ghost commented on #482
Here are the details:

- Magento version is 2.2.6
- We have downloaded the extension and added in code and executed Setup Upgrade command to install the extension. Magemonkey version was 3.0.7
- We have deleted the code of Magemonkey extension from project and executed Setup Upgrade command to uninstall the extension.
- We have first installed mc-magento2 using composer but faced above error while

[2018-11-26 11:00] Codmic commented on #471
We also have the same issue with version 1.0.32 on Magento Commerce 2.2.6. For now we downgraded to 1.0.30 so we can manually edit the Mailchimp fields in the configuration (since in older versions these are text inputs).

After downgrading you need to revert the version of the module in setup_module from 1.0.32 to 1.0.30 and also possible change the record(s) in the core_config table with path "m

[2018-11-26 20:24] #471 closed, assigned to gonzaloebiz

[2018-11-26 20:25] #486 closed, assigned to gonzaloebiz

[2018-11-27 15:23] elisongit opened #491 "Products data not sync"
# Description

### Preconditions

- Magento version 2.1.9
- Mailchimp module version 1.0.30 (we not install new version 1.0.32 because not compatible with our version of Magento)
- 2 environment (staging and production), each with a Mailchimp account connected

### Problems

When we edit an existing product or add new product they will not be synced to his Mailchimp backoffice.

### Step to reprod

[2018-11-27 15:39] gonzaloebiz commented on #491
Hi @elisongit

please contact our support team.

Best

[2018-11-27 15:39] #491 closed, assigned to nobody

[2018-11-27 16:18] simonrl commented on #476
Could we get feedback on this please? Thanks!

[2018-11-27 16:18] simonrl commented on #477
Could we get feedback on this please? Thanks!

[2018-11-27 19:37] #480 closed, assigned to gonzaloebiz

[2018-11-27 20:09] gonzaloebiz commented on #476
@simonrl

the fake email control is made by mailchimp, if you add a fake email as a subscriber in magento we don't have how to know that is a fake, so the natural process of magento is add the email to the list but never confirmed

Best

[2018-11-27 20:09] #476 closed, assigned to nobody

[2018-11-27 21:11] gonzaloebiz commented on #479
Hi @inelukipg

thanks for your feedback, what is the configuration of the field "Magento always manage emails"?

Best

[2018-11-28 00:07] andrewkett commented on #471
Is it possible to get an indication of when the 1.0.33 milestone might be released? This is quite a major issue for us right now and it would be good to at least have a ballpark, if it is going to be a while we'll need to roll out a patch in the mean time.

[2018-11-28 07:18] ihor-sviziev commented on #479
Hi @gonzaloebiz,
Issue was created not by me, so probably you wanted to ask @inelukipg the same question 🙂

[2018-11-28 12:26] gonzaloebiz commented on #471
Sorry but we don't have an ETA

[2018-11-28 13:54] inelukipg commented on #479
HI @gonzaloebiz
The setting is: No

I don´t really understand the meaning of that setting.

[2018-11-28 15:10] gonzaloebiz commented on #477
Hi @simonrl

i try defining a new configurable product without image, and some simple childrens all without  image, and define some childrens as visible and other as not visible, but i can't reproduce your issue. The products are synced without problem
How you define your products?

Best

[2018-12-02 07:31] crankycyclops opened #495 "v1.0.32: Abandoned carts not deleted from Mailchimp after conversion"
I'm currently using the Abandoned cart feature of the module, but have noticed on more than one occasion that when a cart is at first abandoned, then later converts, that subscriber is never removed from my abandoned cart automation. I've confirmed that the abandoned cart is removed from Magento by looking at the abandoned cart report, but that doesn't appear to be syncing to Mailchimp.

Steps to

[2018-12-03 16:36] t-richards opened #496 "Timeout when editing a customer in the admin panel"
## Issue Description

### Preconditions

    1. Magento CE 2.2.6, NO sample data.
    2. mc-magento2 1.0.32.
    3. At least one customer with a newsletter subscription.
    4. Mailchimp service DOWN / API calls timing out

### Steps to reproduce

    1. As an admin user, visit Customers > All Customers.
    2. Select the "Edit" action link for a single customer.

### Actual and Expected result

[2018-12-03 16:53] gonzaloebiz commented on #496
Hi @t-richards

thanks for your feedback.
Update the ebizmarts/mailchimp-lib library
Run `composer require ebizmarts/mailchimp-lib` and be sure that the version installed is 3.0.29

Best

[2018-12-03 16:53] #496 closed, assigned to nobody

[2018-12-05 16:52] gonzaloebiz commented on #495
Hi @crankycyclops

thanks for your feedback.
Are you waiting until your receive the first email and then modify the cart? or modify it before receive the first email?

Best

[2018-12-06 01:33] dmatthew opened #497 "Unable to unserialize value in cron"
## Unable to unserialize value in cron

### Preconditions

MailChimp Version 1.0.32
Magento version 2.2.7

### Steps to reproduce

Run the cron

### Actual and Expected result

report.CRITICAL: Unable to unserialize value. {"exception":"[object] (InvalidArgumentException(code: 0): Unable to unserialize value.

report.ERROR: Cron Job ebizmarts_ecommerce has an error: Unable to unserialize value.

[2018-12-06 01:35] #497 closed, assigned to nobody

[2018-12-06 01:35] gonzaloebiz opened #498 "Cart not updated in a Abandoned Cart Series"
When define an Abandoned Cart Series and a cart is abandoned, wait until receive the first email and then try to modify the cart, this cause that the cart was deleted in Mailchimp and then a new cart is added.

As for updating the cart: The DELETE call for a cart removes the subscriber from the automation.  The DELETE call for cart #1 would need to come through _before_ the POST call for cart #2.

[2018-12-06 01:35] dmatthew commented on #497
Will this fix be in 1.0.33?

[2018-12-06 01:38] gonzaloebiz commented on #497
Look at https://github.com/mailchimp/mc-magento2/milestone/9?closed=1

[2018-12-06 13:28] #498 closed, assigned to gonzaloebiz

[2018-12-06 14:34] crankycyclops commented on #495
Hi @gonzaloebiz, thanks for the reply. I'm modifying the cart before receiving the email. As an example, I had the abandoned cart email setup in Mailchimp for 6 hours, and the cart was modified about 30 minutes after it was abandoned. The email still got sent out after the 6 hour mark, even though the abandoned cart was deleted in Magento.

[2018-12-06 14:51] gonzaloebiz opened #502 "Sync performance in large stores"
We are using your Magento 2 Mailchimp extension (1.0.30) for a relatively large client who receives ~1800 orders per day. I just thought I'd let you know that there look to be a couple of performance issues with the queries the extension is issuing. Please see below the queries that have popped up in the MySQL slow log. There don't appear to any indexes that cover these queries and as the mailchim

[2018-12-06 14:56] gonzaloebiz commented on #495
Hi @crankycyclops

i checked this use case yesterday, and works OK. See what value do you have in the column ```is_active``` in the table ```quote``` of your database for this specific quote

Best

[2018-12-06 15:23] #502 closed, assigned to gonzaloebiz

[2018-12-06 16:07] crankycyclops commented on #495
I'm testing this again on a fresh email address. I've just abandoned a cart and am waiting for Mailchimp to pick up on it and add the user to the automation's queue. How long should I wait for that to sync? Once I see my email address in the queue, I'll log back in and complete checkout, check to see if the user is eventually removed from the queue before the email gets sent and let you know what

[2018-12-06 16:34] captainarmchair commented on #161
Tried above solution to reinstall the mailchimp extension and also keep server in dev mode. Not successful the lists does not get updated and it is not possible to create a new store.

[2018-12-07 07:36] shreddieb commented on #274
Hi @gonzaloebiz,
I'm having a similar issue where canceled magento orders are showing up as revenue/purchased items on customer profile pages in mailchimp. And not sure if it's related, but my total store revenue shown on the mailchimp dashboard is not including all of the revenue amounts and days.

preconditions:
Magento 2.2.4
mc-magento2 v. 1.0.32
mailchimp-lib v. 3.0.29
php v. 7.0.32

I "was" s

[2018-12-07 09:14] crankycyclops commented on #495
Now, I seem to be having another issue where I don't receive an abandoned cart email at all, so I'll have to dig more into that before I can provide more on this issue.

[2018-12-10 15:10] gonzaloebiz commented on #479
Hi @inelukipg

can you specify if you subscribe the customer in the same page that you create the customer
![image](https://user-images.githubusercontent.com/6222792/49741162-8e621a80-fc74-11e8-9ca0-f42b5457a7a0.png)

or first your create the customer, and then subscribe like
![image](https://user-images.githubusercontent.com/6222792/49741048-522eba00-fc74-11e8-8eb4-f7d3252cb2d2.png)

[2018-12-10 15:35] gonzaloebiz commented on #477
close the issue until we have news

[2018-12-10 15:35] #477 closed, assigned to nobody

[2018-12-10 15:48] gonzaloebiz commented on #495
Let me know if have more info and we will re open the issue

[2018-12-10 15:48] #495 closed, assigned to gonzaloebiz

[2018-12-10 16:12] gonzaloebiz commented on #422
Hi @wojtekn

**Use case 2**
this is the expected behavior.
If a customer has not responded to the opt-in confirmation email, they will not have much visible information in the Mailchimp App. This is because they are set to pending at the /members endpoint. We confirm this behavior with Mailchimp

**Use case 3**
**Use case 4**
If you don't enable the two way sync, this is the expected result

Best

[2018-12-10 16:12] #422 closed, assigned to nobody

[2018-12-10 19:20] shreddieb opened #509 "Inaccurate numbers on Mailchimp Dashboard (Total store revenue, # of orders , transaction dates)"
## Issue Description
After installing Mailchimp for Magento, I "was" seeing an ebizmarts_ecommerce cron_schedule table error "Unable to unserialize value." But then I applied a fix noted on commit 645a10d that fixed the cron error (I now get ebizmarts_ecommerce cron status as "success" each time). Unfortunately though when viewing the Mailchimp dashboard, the dashboard info shown in Mailchimp does

[2018-12-10 19:49] gonzaloebiz commented on #509
Hi @shreddieb,

thanks for your feedback.
As you can see, in the last image you have orders from 12/03 thru 12/09, so you must check the same period in magento. Also keep in mind, the items "Revenues from Mailchimp", "From campaigns" and "From automations" refers to orders made thanks a Mailchimp campaign or automation (p.e. an abandoned cart email), so only those order are included (you can see i

[2018-12-10 19:54] #365 closed, assigned to gonzaloebiz

[2018-12-11 00:50] lstellway commented on #116
Hi @gonzaloebiz,

I see an update `1.1.32` which I believe includes a fix for an issue I'm experiencing. The update specifies a dependency for `magento/framework: 100.1.*` - is this intentional? The previous version was dependent on `101.0.*`.

I am on Magento `2.2.6`, which utilizes `magento/framework:101.0.6`, and cannot update the module.

[2018-12-11 02:43] shreddieb commented on #509
Hi @gonzaloebiz.
Thank you for your info. I didn't realize that it wasn't all data. I appreciate the clarification. Unfortunately, though, the numbers are still not accurate for me, but your input has given me new info to dig deeper...

I now see that my Mailchimp dashboard revenue is showing transactions as of the evening of December 5th PST moving forward.....
6 "canceled" transactions that occu

[2018-12-11 11:32] wizardeh opened #510 "[Magento 2, v2.3] mailchimp/mc-magento2 framework error"
Hi,

We're running a fresh M2 2.3 installation. Trying to install this module outputs the following framework related errors.

[code]

Any fix to this?

[2018-12-11 12:23] gonzaloebiz commented on #116
Look at https://github.com/mailchimp/mc-magento2/releases, you must specify which version you want to install

Best

[2018-12-11 12:24] gonzaloebiz commented on #510
Look at https://github.com/mailchimp/mc-magento2/releases, you must specify which version you want to install

Best

[2018-12-11 12:24] #510 closed, assigned to nobody

[2018-12-11 14:43] gonzaloebiz commented on #509
Hi @shreddieb

thanks for your detailed feedback.
The issue with the canceled orders is a know issue, and we are working with mailchimp to find a fix. The issue depends on how mailchimp show the results, not on the extension.

[2018-12-11 17:11] shreddieb commented on #509
@gonzaloebiz

Ok, thank you for the info on the canceled order issue. Do you by chance have an ETA on when a fix might happen?

Also, in re-reading the thread, I'm realizing I was confusing the Mailchimp Dashboard revenue totals....
"Total store revenue" is only showing transactions (which includes canceled transactions as you know) since December 6, even though we have sales beginning November 29

[2018-12-13 08:24] duckchip opened #511 "Multiple storeviews / multiple mailchimp stores, status 'not connected'"
## Multiple storeviews / multiple mailchimp stores, status 'not connected'

Hi guys,

On our magento2 store, we currently have over 10 storeviews. Each with an own mailchimp store.
We noticed that most of the e-commerce data is not being synced and that a lot of the stores have status 'not connected'

Currently we have the following set-up:
- Magento 2.1.11
- mc-magento2 module on version 1.1.32

[2018-12-13 12:15] gonzaloebiz commented on #511
Please contact our support team

[2018-12-13 12:15] #511 closed, assigned to nobody

[2018-12-13 14:24] gonzaloebiz opened #512 "No timezone saved when create a new Mailchimp store"
When you create a new Mailchimp store and select some timezone p.e. America/Indiana/Indianapolis and the timezone is not saved in magento

The column timezone in the table mailchimp_stores has 20 chars and must have 32

[2018-12-13 16:40] shreddieb commented on #509
Hi @gonzaloebiz,
My assumption above that only new data is being tallied in the dashboard is incorrect. Another order (mailchimp order) came in yesterday, which properly displays the data on the mailchimp customer profile but the results didn't add to the dashboard. The dashboard remains at the $1105.30 total with no new purchase showing for December 12. Magento properly shows the monkey icon next

[2018-12-13 19:19] gonzaloebiz opened #513 "Incorrect price in configurable product"
When have a configurable product, the first variant is the self configurable, but the price is always 0, this cause that when you select the configurable in a campaign the range of price start at 0.
The solution is find the min price of all the simples, and assign it to the first variant

[2018-12-13 19:30] #513 closed, assigned to gonzaloebiz

[2018-12-13 20:09] #512 closed, assigned to gonzaloebiz

[2018-12-14 09:36] meetvora69 commented on #482
Hello,

We have faced the same issue.
We have used Magento version 2.1.7 .

Thanks,

[2018-12-17 13:56] Axel29 opened #521 "Invalid version number packagist"
## Impossible to install package via composer

## Issue Description

When using PHP 7.1, it is impossible to install the package with composer.
In fact, the repository on packagist.org has a version "1.1.32" that requires "magento/framework: 100.1.*", which doesn't support PHP 7.1, whereas the version 1.0.32 requires "magento/framework: 100.1.*", which does.

I'm guessing that "1.1.32" version is

[2018-12-17 14:01] gonzaloebiz commented on #521
Please read https://github.com/mailchimp/mc-magento2/releases
You must install 1.1.32, so specify the version you want to install

Best

[2018-12-17 14:01] #521 closed, assigned to nobody

[2018-12-17 14:06] michelve opened #522 "Mailchimp blank page in admin"
I currently have:

mailchimp 1.0.32
magento 2.2.7

issue: when i try to open mailchimp settings page is all blank (see attachment)

![screen shot 2018-12-17 at 9 05 12 am](https://user-images.githubusercontent.com/4137743/50092048-08495500-01db-11e9-8201-a7a0da9bafb5.png)

[2018-12-17 14:09] gonzaloebiz commented on #522
Hi @michelve

thanks for your feedback.
Please take a look at the logs, typically this errors are in apache/nginx error log

Best

[2018-12-17 15:43] gonzaloebiz opened #523 "Could not resolve host: xx.api.mailchimp.com"
Configure somes store views normally, but disable the extension in the default store view

[2018-12-17 17:04] #523 closed, assigned to gonzaloebiz

[2018-12-17 17:55] #522 closed, assigned to nobody

[2018-12-17 18:52] shreddieb commented on #509
Hi @gonzaloebiz, I wanted to check in on the issue noted. Do you feel this Dashboard problem I'm seeing is a bug?

[2018-12-17 21:07] michelve commented on #522
i check the log file and i dont see any errors,  i also see a Release 1.1.32 can this be installed in Magento 2.2.7

[2018-12-17 22:07] michelve opened #527 "Blank page on configuration - admin"
when i get to the admin and i open the configuration page i get the below error

[code]

[2018-12-17 22:07] michelve commented on #522
`1 exception(s):
Exception #0 (InvalidArgumentException): Unable to unserialize value.

Exception #0 (InvalidArgumentException): Unable to unserialize value.
#0 /var/www/html/vendor/mailchimp/mc-magento2/Helper/VarsMap.php(114): Magento\Framework\Serialize\Serializer\Json->unserialize('a:3:{i:9;s:5:"E...')
#1 /var/www/html/vendor/mailchimp/mc-magento2/Helper/VarsMap.php(49): Ebizmarts\MailChimp\He

[2018-12-18 11:17] duckchip commented on #473
@gonzaloebiz Is there a reason why you are not fixing this in a new version?

[2018-12-18 12:02] brideo opened #528 "`ebizmarts_ecommerce` cron causing errors"
"mailchimp/mc-magento2": "dev-develop-2.2"

In cron_schedule table:

[code]

In exception.log:

[code]

[2018-12-18 12:22] gonzaloebiz commented on #522
Look at https://github.com/mailchimp/mc-magento2/issues/473

[2018-12-18 12:22] duckchip commented on #67
@gonzaloebiz I still have this issue with 1.1.32 and Magento 2.1.11

[2018-12-18 12:51] gonzaloebiz commented on #473
If you install the dev branch for your magento version you can see it fixed

[2018-12-18 12:52] gonzaloebiz commented on #67
@duckchip if you have an issue, please open a new issue with all the corresponding data

Best

[2018-12-18 13:13] michelve commented on #522
issue fixed with dev branch - thank you

[2018-12-18 17:00] gonzaloebiz commented on #528
Hi @brideo

search for registers with sku == null in the products table

`select * from catalog_product_entity where sky is null`

then, go to the product grid and try to edit one of these product, same error will be thrown. (even if you go to the product attributes and put the sku as not required)

We try putting a try/catch in the process when load the product, but can't catch this error

So, th

[2018-12-18 17:00] #528 closed, assigned to nobody

[2018-12-18 23:25] yaronuliel commented on #473
Is there any expected release date for the milestone that includes this fix (1.0.33)?
We are currently using `develop-2.2` - but I'd really prefer not to deploy development branch to live sites..
Thanks a lot!

[2018-12-19 06:55] rajupndt6 opened #529 "Magento2 - Setup Compile Error - Class does not exist"
## Issue Description
I upgraded from Magento 2.2.6 to 2.3.0  Community version successfully. Getting an error during compilation.
### Steps to reproduce
Now when I try to upgrade the setup I get the error "Please re-run Magento compile command".

So i run the compile command - magento setup:di:compile

but I am getting the following error:
![selection_089](https://user-images.githubusercontent.com

[2018-12-19 13:10] gonzaloebiz commented on #529
Hi @rajupndt6

run `composer show | grep mailchimp`

and let me know the result

[2018-12-19 13:21] rajupndt6 commented on #529
Hi @gonzaloebiz

Get result-
![selection_093](https://user-images.githubusercontent.com/37099970/50222645-ec9ea400-03be-11e9-8e86-cc23d0ad156e.png)

[2018-12-19 14:49] gonzaloebiz commented on #529
Hi @rajupndt6

so, your magento expect that the mailchimp extension is installed but is not.
run

` composer require mailchimp/mc-magento2:dev-develop-2.3`

as we don't have a magento 2.3 release yet, you must install the develop-2.3 branch

Best

[2018-12-19 14:49] #529 closed, assigned to nobody

[2018-12-19 16:34] kudja opened #530 "Error when attempting to edit a customer from the backend"
### Issue Description
When trying to edit a customer from the backend, will get a "Unable to unserialize value." and will not be able to edit the customer.

![image](https://user-images.githubusercontent.com/8101375/50232787-f62a0b00-03c2-11e9-92b4-2ae4301a2081.png)

### Preconditions
1. Magento CE 2.2.5
2. mc-magento2 1.0.32
3. Magento migrated from 1.9 (not sure if it can affect)

### Steps to r

[2018-12-19 19:19] gonzaloebiz commented on #530
Hi @Kudja

thanks for your feedback.
This issue is already fixed, replace the file https://github.com/mailchimp/mc-magento2/blob/develop-2.2/Helper/Data.php

Best

[2018-12-19 19:19] #530 closed, assigned to nobody

[2018-12-19 21:01] bawinstead commented on #509
Hello @shreddieb . I am with Mailchimp and see that you were having issues with your dashboard and canceled orders. In regards to the canceled items, those will show up under the subscriber profiles and the revenue will remain in the system as @gonzaloebiz mentioned.

Our engineers are aware of several dashboard data discrepancies that can affect some of our users. It appears you are being affecte

[2018-12-20 00:29] shreddieb commented on #509
@bawinstead ... Thank you! I would definitely appreciate updates as you get them.

[2018-12-20 08:07] ghost opened #531 "Unable to unserialize group data of interestgroup"
**Preconditions:**
1. Magento CE 2.2.7 without sample data is installed
2. mc-magento2 1.0.32
3. Developer mode

**Steps to reproduce:**
1. Create a customer
2. Return to the customer, an error appears: Unable to unserialize value

The error comes from the following file:
`vendor/magento/framework/Serialize/Serializer/Json.php:39`
And is called in:
`vendor/mailchimp/mc-magento2/Helper/Data.php:102

[2018-12-20 08:32] ghost commented on #531
To fix the problem, I created the following plugin:

**adminhtml/di.xml:**
[code]

**Vendor\Module\Plugin\MailChimp\Helper\Data:**
[code]

[2018-12-20 12:15] gonzaloebiz commented on #531
The issue is already fixed

[2018-12-20 12:15] #531 closed, assigned to nobody

[2018-12-20 17:56] gonzaloebiz opened #532 "Add possibility to send the product's price including taxes"

[2018-12-20 19:49] #532 closed, assigned to gonzaloebiz

[2018-12-20 20:49] gonzaloebiz opened #537 "Re sync the parent product when modifiy a child one"

[2018-12-21 14:22] #537 closed, assigned to gonzaloebiz

[2018-12-21 16:04] #479 closed, assigned to nobody

[2018-12-21 16:04] #527 closed, assigned to nobody

[2018-12-21 19:08] gonzaloebiz opened #541 "Customers generate entries in the mailchimp_sycn_ecommerce with related_id = null"

[2018-12-21 20:26] #541 closed, assigned to nobody

[2018-12-22 01:50] aligent-lturner opened #545 "Ecommerce cron job fails when customer has no interest group data"
## Ecommerce cron job fails when customer has no interest group data

## Issue Description
When at least one customer exists with no interest group data, the Ecommerce cron job fails with the following error:
[code]

### Preconditions

    1. Magento EE 2.2.2 (though will happen for any version)
    2. mc-magento2 1.0.31.

### Steps to reproduce

    1. Create two customer accounts via front-end o

[2018-12-22 13:38] crankycyclops commented on #473
@yaronuliel, I'd like to ask the same question :) I'm having the same issue with my configuration and also need this fix. No rush, just wondering what the ETA will be on 1.0.33. Thank you!

[2018-12-23 02:52] crankycyclops commented on #495
I've finally had time to go back and resolve the other issue I was having (caused by the bug that was fixed in this commit: https://github.com/mailchimp/mc-magento2/commit/645a10d087d77b2fc0876aa7c2ef84b2cde544d4). Abandoned carts are syncing again, so I'm going to test this again soon and report back if the original issue is still a problem.

[2018-12-24 15:49] gonzaloebiz commented on #545
This issue is already fixed

[2018-12-24 15:49] #545 closed, assigned to nobody

[2018-12-28 13:57] beechyrb opened #547 "Feature Suggestion: Add Customer Group Name Mapping"
I would like to suggest adding a **Customer Group Name** mapping to the available "Customer Field Mapping" to map to Mailchimp merge fields. Currently it only maps **Customer Group ID** which is not helpful to map to Mailchimp as no one references ID's.

![unnamed](https://user-images.githubusercontent.com/7995987/50517421-50d7fc80-0a7e-11e9-9f1f-34be260d47cd.png)

[2018-12-28 16:28] wildrness opened #548 "Magento sync not working with mailchimp"
Sync is not working

The sync (ebizmarts_ecommerce) does not sync

Issue Description

Preconditions

The sync not working for all entities

1. Magento CE 2.2.5
2. mc-magento2 1.0.31
Actual and Expected result

Expected result:
Data is synced with Mailchimp
Actual result:
Data is not synced with Mailchimp
Additional information

errors

 [] []
[2018-12-28 16:21:44] MailChimpLogger.INFO: API Key Inv

[2018-12-30 20:45] InishowenLabs commented on #473
Just tried deploying this using the 2.3-develop branch and still getting the error:

`[2018-12-30 20:05:13] main.ERROR: Cron Job ebizmarts_ecommerce has an error: Unable to unserialize value.. Statistics: {"sum":0,"count":1,"realmem":0,"emalloc":0,"realmem_start":48496640,"emalloc_start":47697072} [] []`

Other Mailchimp cron jobs work with no issue

[2019-01-01 12:14] wcladesh opened #549 "Notice: unserialize(): Error at offset 0 of 251 bytes in when upgrade version 1.0.32"
Hello Team,

We have upgraded module version from 1.0.30 to 1.0.32 and then run upgrade command

php bin/magento setup:upgrade  and it stops to upgrade data after

Module 'Ebizmarts_MailChimp':
Installing data... Upgrading data...

Further, we have check MailChimp log file and found that it throws error continuous

[2019-01-01 09:42:58] MailChimpLogger.INFO: Notice: unserialize(): Error at offset

[2019-01-03 07:24] wcladesh commented on #549
Hello MailChimp Team,

Any update on this?

[2019-01-03 12:37] gonzaloebiz commented on #549
Look at https://github.com/mailchimp/mc-magento2/milestone/9?closed=1

[2019-01-03 12:37] #549 closed, assigned to nobody

[2019-01-07 10:15] Mandrino opened #550 "Compatibility with Magento 2.3"
Hello,

when will this extension be compatible with Magento 2.3?

Thanks

[2019-01-07 11:08] Lukas-G21 commented on #550
What errors did you encounter?

[2019-01-07 11:10] Mandrino commented on #550
None, as the plug-in is not available for 2.3, as per magento marketplace:
https://marketplace.magento.com/mailchimp-mc-magento2.html

[2019-01-09 00:56] vDeggial opened #551 "Mailchimp plugin vanished with Magento 2.2.7 update"
Hi there

Magento version: 2.2.7 CE
Mailchimp plugin version: 1.0.32
Malchimp: lib: 3.0.29

We have a client we setup magento store for and mailchimp integration was working fine, but ever since magento update to 2.2.7 on dec 11 2018 apparently mailchimp plugin just vanished from system (not in dashboard anymore) and attempts to reinstall it using system:upgrade with newest files in the file syste

[2019-01-09 13:31] SantiParagarino commented on #551
Hello @shinoamakusa
This is not something that happens in normal installations. Please contact us via mailchimp@ebizmarts-desk.zendesk.com in order to handle this specific problem in a more personalized manner.

In case we learn this to be a bug we can re-open this issue.

Kind Regards.

[2019-01-09 13:31] #551 closed, assigned to nobody

[2019-01-09 14:13] OvalMedia opened #552 "Event after successful subscription"
I have a module that automatically creates a coupon (5% discount) after an initial newsletter subscription.
This module uses a plugin to execute it's action before magento sends a confimation email to the subscriber.
Now that I am also using mailchimp, this function never gets executed as mailchimp takes care of the confirmation itself.

So I would like to fix this by creating my own plugin but am

[2019-01-09 15:50] sucicf1 commented on #548
on magento ce 2.2.6. and mc-magento2 1.0.32 we have the same problem

[2019-01-09 18:07] gonzaloebiz commented on #552
Hi @OvalMedia

thanks for your feedback.
When mailchimp confirm the subscriber, this code is executed https://github.com/mailchimp/mc-magento2/blob/develop/Cron/Webhook.php#L120-L150 you can start there

Best

[2019-01-09 18:07] #552 closed, assigned to nobody

[2019-01-09 19:00] gonzaloebiz commented on #550
Please see the branch develop-2.3

[2019-01-09 19:00] #550 closed, assigned to nobody

[2019-01-10 02:43] jbokhari commented on #473
@gonzaloebiz Pardon the ignorance, but can you elaborate on "apply commit ..." or "install the dev branch", I'm not sure how this is done. I have [installed using composer](http://wiki.ebizmarts.com/installation-guide-m4m2) and I've been waiting for a fix on the main branch.

Would either of these choices cause an issue updating later?

[2019-01-10 08:17] simonrl commented on #530
We are also having this issue in Magento 2.1.14. The linked fix does not work there because it uses `\Magento\Framework\Serialize\Serializer\Json` which does not exist in that version. Any ideas?

[2019-01-10 12:45] ThisIsRuddy commented on #548
Hey @wildrness, I had a similar problem on 2.1 so I switched to the develop-2.1 branch and it fixed everything.

Are/have you tried the develop-2.2 branch?

[2019-01-10 15:10] gonzaloebiz commented on #473
you can install any branch with

composer require mailchimp/mc-magento2:dev-develop-2.2

you can use : to specify the branch

Best

[2019-01-10 15:23] gonzaloebiz commented on #548
This typically is an issue with the configuration, double check if you have any store with the extension enable but no mailchimp store assigned.
Any way the issue is fixed in the develop branch.

Best

[2019-01-10 15:23] #548 closed, assigned to nobody

[2019-01-10 15:59] sucicf1 commented on #548
i tried the develop branch and it didn't help

[2019-01-14 17:54] luciaebizmarts opened #553 "Missing Customer Fields Mapping"
'Customer Field Mapping' under Mailchimp>configuration uses Mailchimp field values are not set correctly, no more than 10 fields are synced.

Preconditions
1. Any version of Magento
2. mc-magento2 1.0.32
3. More than 10 merge fields in the list associated to that mailchimp store

Steps to reproduce
Access to the list in Mailchimp account, create more than 10 merge fields, then go to the magento ad

[2019-01-15 20:15] gonzaloebiz commented on #547
Hi @beechyrb

thanks for your suggestion.
This is not possible, because the management of this is generic.
You can segment the list in mailchimp for the id, even you can define the group in mailchimp as a dropdown and map the values to a label

Best

[2019-01-15 20:15] #547 closed, assigned to nobody

[2019-01-15 20:35] gonzaloebiz opened #554 "No campaign assigned to orders"
- No campaign id is detected for abandoned cart email, when click in the email link to restore the cart
- The cookies for campaign id is not deleted when the order is completed

[2019-01-18 16:46] #554 closed, assigned to gonzaloebiz

[2019-01-19 19:44] aboutzahurul opened #559 "Error while update mc-magento2 from 1.0.30 to 1.0.32 by Composer in Magento CE 2.1.9"
We are getting this error on our production mirror site while trying to update. Then we try after setup fresh Magento CE 2.1.9 with sample data still getting the error.

### Preconditions
1. Magento CE 2.1.9 with sample data
2. mc-magento2 1.0.30 installed by composer

### Steps to reproduce
1. Update mc-magento2 1.0.30 to 1.0.32 by composer
2. Run magento upgrade command `php bin/magento setup:up

[2019-01-20 14:07] gonzaloebiz commented on #559
Please see at https://github.com/mailchimp/mc-magento2/issues/473

[2019-01-20 14:07] #559 closed, assigned to nobody

[2019-01-20 15:48] aboutzahurul commented on #559
https://github.com/mailchimp/mc-magento2/issues/473#issuecomment-453129047

@gonzaloebiz Do you suggest us to install develop version on our production server? Please explain a bit how to solve it. Thanks

[2019-01-20 16:26] gonzaloebiz commented on #559
We are testing the develop version to release a new version soon, so i think the better is to wait for this new release.

Best

[2019-01-21 11:14] Hexmage opened #560 "Resubscribing doesn't work"
Magento 2.1.10
Mailchimp module 1.0.29
Enable Two Way Sync - Yes
Ecommerce configuratie - Disabled

Steps to Reproduce:
- Subscribe for Newsletter through Magento.
- Unsubscribe for Newsletter through Magento.
- Subscribe again for Newsletter through Magento.

Expected result:
I'm subscribed in both Magento and Mailchimp.
Actual result:
I'm subscribed in Magento and I'm not subscribed in Mailchimp

[2019-01-22 13:58] arendarenko opened #561 "Error during sync: "A campaign with the provided ID does not exist in the account for this list.""
## Issue Description

As a customer, I can be subscribed on a different subscribers lists which is related to one website.
For example: "general subscribers" list, and "season sale subscribers" list. But website administrator can configure module to work only with one subscribers list for one website.

When customer follows link from letter which was sended for "season sale subscribers" list and m

[2019-01-22 14:10] gonzaloebiz commented on #561
Hi @alexeya-ven

thanks for your feedback.
One magento store can be linked to only one mailchimp store. A mailchimp store can be linked to only one mailchimp list (and the list can't be changed once you create the store).
If you wish to segment your list, use the mailchimp segments and not a new list.
If you use a list that is linked to a wrong magento store or not linked to any magento store, whe

[2019-01-22 14:36] ihor-sviziev commented on #561
Hi @gonzaloebiz,
Issue itself that customer could go to our website from partner's email (for example), that also using Mailchimp.

In this case I can't control their lists and I can't give access to partners.

I think best option - in case of such error - send such orders to Mailchimp without link to campaign

[2019-01-22 18:26] gonzaloebiz commented on #561
Hi @ihor-sviziev

i see what the issue is.
I just commit a fix, but i'm not sure that is legal sent a campaign mentioning other store, i'm asking to mailchimp about.
Any way, try the fix

[2019-01-22 19:06] #561 closed, assigned to gonzaloebiz

[2019-01-23 08:05] ihor-sviziev commented on #561
@gonzaloebiz Thank you!

[2019-01-23 09:03] simonrl commented on #68
Still having this issue with Magento 2.1.14 and Mailchimp 1.1.32. Any idea why this still happens?

[2019-01-23 19:57] gonzaloebiz commented on #560
Hi @Hexmage

thanks for your feed back, please update the extension to the current version

Best

[2019-01-23 19:57] #560 closed, assigned to nobody

[2019-01-24 20:18] gonzaloebiz opened #565 "Change all mentions from MailChimp to Mailchimp and change the menu icon to the new one"

[2019-01-25 17:43] #565 closed, assigned to gonzaloebiz

[2019-01-29 11:24] krombel commented on #550
Are there any known issues in that branch right now?

//EDIT: For others who want to try that branch with their composer setup:
[code]

[2019-01-30 03:12] tinh-ngo-niteco opened #573 "Install MailChimp error in magento v2.3.0"
# Install MailChimp error in magento v2.3.0
Don't install mailchimp in magento v2.3.0
Environment: ubuntu 18.04, nginx, php7.2
## Issue Description
1, I clone code in github and copy to project
2, I run command line: ``` php bin/magento module:enable Ebizmarts_MailChimp ``` -> Response successfuly
[code]
3, I run command line: ``` php bin/magento setup:upgrade ```

Show error:
[code]

### Precondi

[2019-01-30 11:43] lewis-dan commented on #106
Inside your composer.json file update the following lines -
"require" : {
    "ebizmarts/mailchimp-lib": "3.0.*"
  }

[2019-01-30 11:44] lewis-dan commented on #60
Inside your composer.json file update the following lines -

_"require" : {
"ebizmarts/mailchimp-lib": "3.0.*"
}_

Magento Marketplace guys did not even check the Module, before publishing that. Such an awful service!

[2019-01-30 12:32] gonzaloebiz commented on #60
Hi @lewis-dan

i don't understand your comment.
If you see, this dependency is there https://github.com/mailchimp/mc-magento2/blob/develop-2.2/composer.json#L28 since the first version, you don't need to do this

Best

[2019-01-30 12:32] gonzaloebiz commented on #106
Hi @lewis-dan

i don't understand your comment.
If you see, this dependency is there https://github.com/mailchimp/mc-magento2/blob/develop-2.2/composer.json#L28 since the first version, you don't need to do this

Best

[2019-01-30 12:37] gonzaloebiz commented on #573
Hi @tinh-ngo-niteco

thanks for your feddback.
Please see at https://github.com/mailchimp/mc-magento2/blob/develop-2.3/composer.json#L28
As you can see, the extension depends on ebizmarts/mailchimp-lib
The best option is install the extension via composer:

composer require mailchimp/mc-magento2:dev-develop-2.3

until we have a released version for magento 2.3

Best

[2019-01-30 12:37] #573 closed, assigned to nobody

[2019-01-30 12:43] lewis-dan commented on #60
Hi @gonzaloebiz

Today I download the MailChimp from Magento Marketplace and getting the same issue "Class Mailchimp does not exist" during setup:upgrade.
The solution is simple - need to use -
_composer require ebizmarts/mailchimp-lib_
Hope you can understand my point.

Cheers

[2019-01-30 13:25] gonzaloebiz commented on #60
Really? The market place don't follow the require directive?
This is a serious issue in the market place!!! We will talk with the market place guys
Thanks

[2019-01-30 14:05] gonzaloebiz commented on #60
@lewis-dan

can i ask what version of magento do you have?

[2019-01-30 17:43] #553 closed, assigned to luciaebizmarts

[2019-01-30 18:21] brian-ebizmarts opened #574 "Spelling error in order status sent to mailchimp"
### Preconditions
    1. Mailchimp for Magento v1.0.32 and v1.1.32
    2. Any magento version

### Steps to reproduce

    1. Enable ecommerce data
    2. Place an order
    3. Partially ship the order

### Actual result
    1. order status "parially_shipped"

### Expected result:
    1. Order status sent to mailchimp "partially_shipped"

[2019-01-30 19:34] gonzaloebiz commented on #60
@lewis-dan

i just try with Magento 2.5 and works like a charm.
Perhaps you don't have the magento cron configured? Please take a look at https://docs.magento.com/marketplace/user_guide/buyers/install-extension.html

Best

[2019-01-31 02:48] jundat95 commented on #573
thank, I try 👍

[2019-01-31 02:49] tinh-ngo-niteco commented on #573
Thank, I try 👍

[2019-01-31 03:14] tinh-ngo-niteco commented on #573
I try to install MailChimp with command line: composer require mailchimp/mc-magento2:dev-develop-2.3
I run command line: php bin/magento setup:upgrade -> response error
[code]
Check database, don't see table of mailchip
![screenshot from 2019-01-31 10-12-52](https://user-images.githubusercontent.com/38058535/52028233-de58b180-2540-11e9-92a1-cb8c6eacbaf1.png)

[2019-01-31 17:10] #574 closed, assigned to brian-ebizmarts

[2019-01-31 21:59] thetrybe commented on #197
This is happening again in the latest version 1.0.32

![download 1](https://user-images.githubusercontent.com/47203732/52088282-9056b300-25ff-11e9-8ed9-95d6c6a60115.png)
![download](https://user-images.githubusercontent.com/47203732/52088283-90ef4980-25ff-11e9-9684-799e26f8d2c2.png)

[2019-01-31 22:40] gonzaloebiz commented on #197
Hi @thetrybe

please take a look at https://github.com/mailchimp/mc-magento2/issues/513

Best

[2019-02-01 04:32] henkka01 commented on #551
The exactly same thing happened to us yesterday, which I noticed today when I wanted to work with mailchimp. Is there a way to solve this ?

[2019-02-01 04:54] vDeggial commented on #551
Had to reinstall the plugin through composer on local server and reupload whole thing to live server

[2019-02-04 14:13] arendarenko opened #578 "Orders with incorrect customer email is not marked as errors"
## Issue Description
I found that amount of orders which was synced successfully + orders which wasn't synced because of  errors is not equal no total synced orders which I can see in Configuration. So I investigated it and found that at least one issue when orders isn't syncing and it's not reported into mailchimp_errors table.

### Preconditions

Describing preconditions is a great start, provid

[2019-02-04 14:44] gonzaloebiz commented on #578
Hi @alexeya-ven

I try a new order with a fake email

![image](https://user-images.githubusercontent.com/6222792/52215019-e894eb80-2871-11e9-9ec8-3b2bc9677534.png)

And the error is there in the error grid

![image](https://user-images.githubusercontent.com/6222792/52215054-006c6f80-2872-11e9-9d27-76945fd5aa6b.png)

I close the issue until we have more info to replicate it

Best

[2019-02-04 14:44] #578 closed, assigned to nobody

[2019-02-04 14:55] arendarenko commented on #578
Please try to remake or re-order this order

[2019-02-04 15:41] gonzaloebiz commented on #578
Same result

![image](https://user-images.githubusercontent.com/6222792/52218786-20079600-287a-11e9-9d2d-8638254639b0.png)

[2019-02-04 16:33] luciaebizmarts opened #579 "Undefined index: category"
## Undefined index: category

### Preconditions
1. mc-magento2 v1.0.32 and v1.1.32
2. Magento any version.

### Steps to reproduce
1. Create an interest group in my Mailchimp account, then deleted all the categories there in Mailchimp account.
2. Access to the configuration settings of the extension and click on the button 'Save Config'.

### Expected result
Everything works fine.

### Actual resu

[2019-02-06 14:49] richardmcauleywed2b opened #580 "Magento 2.2 - Mailchimp not letting Magento Orders know they have been sent"
We disabled Magento Order E-mails, so that Mailchimp Order E-mails would be sent instead.

We have recently enabled the Magento Order E-mails again, however we get a batch of backlog e-mails that Magento has not sent (but mailchimp has sent).

These e-mails then get sent, even though the Mailchimp e-mails have already been sent.

[2019-02-06 14:59] gonzaloebiz commented on #580
Hi @richardmcauleywed2b

please follow the issue format

Best

[2019-02-06 14:59] #580 closed, assigned to nobody

[2019-02-06 15:11] richardmcauleywed2b opened #581 "Mailchimp not letting Magento Orders know they have been sent"
## Issue Description

### Preconditions

1) We are using Magneto 2.2.2.
2) We are using a dev site.
3) We enabled the Mailchimp extension on our Magento 2 site last Semptember.
4) We disabled the Magento Out of the Box e-mails last september, to allow Mailchimp to handle the e-mails.

### Steps to reproduce

    1. Disable Magento Sale Emails (Stores > Sales > Sales Emails). Set all of the tabs be

[2019-02-06 16:09] gonzaloebiz commented on #581
Hi @richardmcauleywed2b

what version of mc-magento2 do you have?

[2019-02-06 16:11] richardmcauleywed2b commented on #581
Hi @gonzaloebiz - We are on MailChimp v1.0.28. Let me know if you need anything else.

[2019-02-06 16:22] gonzaloebiz commented on #581
Please update the extension

[2019-02-06 16:28] richardmcauleywed2b commented on #581
Sure thing. The most up to date extension is 1.0.32 correct?

[2019-02-06 16:36] gonzaloebiz commented on #581
yes, we are close to release a new version this week, so you can wait it.
Please confirm the issue in the updated version and i will re open the issue

Thanks

[2019-02-06 16:36] #581 closed, assigned to nobody

[2019-02-06 16:52] gvlasov opened #582 "Mailchimp fields not showing in Customer Fields Mapping"
[code]

I expect Mailchimp field contain something like this (from #423):

![image](https://user-images.githubusercontent.com/4467948/52358125-43d50280-2a59-11e9-822f-a1dbc39df623.png)

but instead I'm getting this:

![image](https://user-images.githubusercontent.com/4467948/52357642-4f73f980-2a58-11e9-81c6-96c2aad1f966.png)

The mailchimp select is empty.

[2019-02-06 17:07] gonzaloebiz commented on #582
Hi @gvlasov

the mailchimp select show the list fields and merge tags you has already defined in your mailchimp list

![image](https://user-images.githubusercontent.com/6222792/52359361-89251000-2a18-11e9-8f5d-747c62fb5ba9.png)

Confirm that you have it

[2019-02-06 17:28] gvlasov commented on #582
I had only the default email field. When I add a test field, it does show up:

![image](https://user-images.githubusercontent.com/4467948/52360389-b5af4b00-2a5d-11e9-8c4e-c83d1104f40a.png)
<hr>

![image](https://user-images.githubusercontent.com/4467948/52360646-5b62ba00-2a5e-11e9-8bd9-74ed7bf9f90e.png)

I guess I'm not supposed to link the email field this way, is that so?

[2019-02-06 17:39] gonzaloebiz commented on #582
you don't need to map the email address, the email always is synced

Best

[2019-02-06 17:39] #582 closed, assigned to nobody

[2019-02-07 15:31] drazulay opened #583 "BadMethodCallException on first run of bin/magento setup:install: 'Missing required argument $name of Ezbizmarts\MailChimp\Model\Logger.'"
### Preconditions

[code]

### Steps to reproduce

[code]

### Expected result

Magento setup completing without issue.

### Actual result

A BadMethodCallException:

[code]

### Additional information

I was able to fix the issue by overriding the constructor in `Ebizmarts\MailChimp\Model\Logger\Logger` with:

[code]

Here, I have changed the required argument `$name` into an optional argument by

[2019-02-09 01:57] crankycyclops opened #589 "Is this module still maintained?"
There hasn't been a new release in quite a while, even though there are a lot of bug fixes that were included in the 1.0.33 milestone, and the last commit was 3 months ago. I just wanted to check in and see if this module is still being maintained. Thanks!

**EDIT:** I just went back through the various branches and can see very recent commits to develop-2.1, develop-2.2, and develop-2.3, so I can

[2019-02-09 02:12] #589 closed, assigned to nobody

[2019-02-14 06:25] RedAtRareCandy opened #591 "Mailchimp doesn't sync deleted products to Mailchimp > Content > Products page"
## Title

Mailchimp doesn't sync deleted products to Mailchimp>Content>Products page

## Issue Description

Products can be updated but deleting Products leaves them in the Mailchimp.com's Content > Products section.

### Preconditions

    1. Magento CE 2.3.0 without sample data installed.
    2. mc-magento2 dev-develop-2.3.

### Steps to reproduce

    1. Navigate to storefront's admin backend a

[2019-02-15 11:00] wdttilburg opened #592 "Magento shows no list"
## Title
Magento show no lists in create store module in Mailchimp plugin

## Issue Description
When we create a connection with the API key between Magento 2.2.3 and Mailchimp and want to create a store we don't get any lists retreivel from Mailchimp.

### Steps to reproduce

1. - Connect Magento with mailchimp
2. - Create a shop with a API
3. - Select a list

### Actual and Expected result
Load

[2019-02-15 12:18] gonzaloebiz commented on #592
Please follow the issue format

[2019-02-15 12:39] wdttilburg commented on #592
Done.

[2019-02-15 14:33] gonzaloebiz commented on #592
Please specify magento and mc-magento2 versions

[2019-02-15 14:43] brian-ebizmarts opened #593 "Subscriber not sent if country state is empty."
## Subscriber not sent if country state is empty.

## Issue Description

Subscribers are not sent to mailchimp if the country don't have state (example oman)

### Preconditions

    1. Magento 2 any versions
    2. Mailchimp for Magento **1.1.33**, **1.2.33**, **1.3.33**

### Steps to reproduce

    1. Configure the extension
    2. Add a merge field of type **ADDRESS**
    3. Add new subscriber f

[2019-02-15 16:34] gonzaloebiz commented on #592
I try witn magento 2.2.3 and mc-magento 1.2.33 and works perfect for me

[2019-02-15 17:52] #592 closed, assigned to nobody

[2019-02-18 08:04] CharanjeetE opened #597 "Is this compatible with magento 2.3.0"
# Issue reporting guidelines
I want to use mailchimp on my magento 2.3.0 store. So please let me know if it is compatible with M 2.3.0.

[2019-02-18 12:21] #597 closed, assigned to nobody

[2019-02-18 17:01] #593 closed, assigned to brian-ebizmarts

[2019-02-18 19:48] luciaebizmarts commented on #579
Fixed on the version 1.x.33

[2019-02-18 19:48] #579 closed, assigned to roberto-ebizmarts

[2019-02-19 13:31] gonzaloebiz commented on #597
look at https://github.com/mailchimp/mc-magento2/releases

[2019-02-19 14:34] gonzaloebiz opened #598 "Clean the maichimp_sync_batches table"
Make a process to clean the old processed batches.

1.  add a new column in the table to save the modified date

2. save the modified date in the table

3. add a process to delete the registers older than 1 month

[2019-02-20 15:30] gonzaloebiz commented on #591
Hi @RedAtRareCandy

thanks for your feedback.
You are right, we never delete the products in mailchimp, but this is because if we delete the product when you see the order in mailchimp, the deleted product appear with no description and no image, so we must decide which is the better option, and we think the better option is no delete the product.
We also try putting the product as not visible in

[2019-02-20 15:31] #591 closed, assigned to nobody

[2019-02-20 16:17] gonzaloebiz commented on #583
Hi @drazulay

thanks for your feedback.
Sorry but we can't replicate your issue.
Here the output of your steps

![image](https://user-images.githubusercontent.com/6222792/53106217-577c7080-3511-11e9-8cd9-1a9f627e8504.png)

If i run the rigth install command like

`php7.2 bin/magento setup:install --base-url=http://issue583.local.com --db-host=localhost --db-name=issue587 --db-user=dbuser --db-pass

[2019-02-20 16:17] #583 closed, assigned to nobody

[2019-02-21 10:54] wdttilburg commented on #592
Would you like to check on our environment?

[2019-02-21 12:46] gonzaloebiz commented on #592
Yes sure, if you have more info to try to replicate your issue we will try

[2019-02-21 17:02] gonzaloebiz opened #602 "Add some other logs"
Add a log to show that the current process doesn't have anything to sync
Add the storeid to the summary.

[2019-02-21 20:49] #602 closed, assigned to gonzaloebiz

[2019-02-21 20:49] #598 closed, assigned to brian-ebizmarts

[2019-02-22 16:20] #468 closed, assigned to gonzaloebiz

[2019-02-22 17:14] gonzaloebiz opened #609 "No first and lastname when the order is from a guest"
When the order is made with a guest customer, the customer in mailchimp has no firstname and lastname, it must be taken from the billing address because magento2 don't save this data in the order.

[2019-02-22 17:22] #609 closed, assigned to gonzaloebiz

[2019-02-26 11:50] wdttilburg commented on #592
I could give you the information about the website and credentials.

[2019-02-26 12:47] gonzaloebiz commented on #592
Hi @wdttilburg

sorry but we don't do this kind of services.

Best

[2019-03-01 12:45] vijaymagento1 opened #616 "Mailchimp module- 1.3.33 issues on Magento 2.3 version"
Hello MailChimp Support team,
I have installed the "mc-magento2-1.3.33" on our Latest "Magento 2.3.0" version then I am getting installation issues when run the command "php bin/magento setup:upgrade"

**Installing data... Class Mailchimp does not exist**

Also when I run the compile command(php bin/magento setup:di:compile) then it's giving following error.

**In ClassReader.php line 35:
 Class M

[2019-03-01 13:00] gonzaloebiz commented on #616
Hi @vijaymagento1

this is not an issue at our end. If you install the extension manually, you must install the dependencies.

Best

[2019-03-01 13:00] #616 closed, assigned to nobody

[2019-03-01 13:05] vijaymagento1 commented on #616
Can you please let us know what dependencies are required?

[2019-03-01 13:09] gonzaloebiz commented on #616
Take a look at https://github.com/mailchimp/mc-magento2/blob/develop-2.3/composer.json#L26-L29

[2019-03-01 14:12] gonzaloebiz commented on #140
We are waiting for the icons from Mailchimp

[2019-03-01 14:12] #140 closed, assigned to gonzaloebiz

[2019-03-04 18:39] gonzaloebiz opened #626 "Delete the Cart register in the sync_commerce table when confirm the order"

[2019-03-04 19:18] #626 closed, assigned to gonzaloebiz

[2019-03-05 17:43] mike-diff commented on #509
@bawinstead we are also having issues with revenue data. Has this issue been updated yet? Please let us know the status of the fix on Mail Chimp side. Thank you

[2019-03-05 17:46] mike-diff commented on #395
We are not seeing any revenue data in our Mail Chimp campaigns from our connected Magento 2 store. Can we please get an update on the bug fix?

[2019-03-05 18:11] gonzaloebiz opened #630 "Defer the load of the mailchimp js"

[2019-03-05 18:22] #630 closed, assigned to gonzaloebiz

[2019-03-08 14:18] gonzaloebiz opened #636 "Not send the carts until the store is completely synced"
Today when the store is synced, the carts are synced with the products/orders, that is wrong.
Keep in mind, the abandoned cart automation works ONLY since the store is completely synced, all the cart synced previously are not taken.
So, we must defer the sync of the carts until the store is synced 100%

[2019-03-08 15:53] gonzaloebiz opened #641 "Add link to Terms of service"

[2019-03-08 16:29] #636 closed, assigned to gonzaloebiz

[2019-03-08 16:53] #641 closed, assigned to gonzaloebiz

[2019-03-08 18:57] gonzaloebiz opened #645 "Save the email in the quote only with the agreement from the customer"
Saving customer's email to the quote without agreement from the customer leads to GDPR non-compliance. By this pull request, I'm going to add a store level configuration about saving email to the quote. By default, it is enabled. if you want to be GDPR compliant you should disable saving customer identity information to the database without agreement from the customer. (original pr is https://gith

[2019-03-08 19:30] #645 closed, assigned to gonzaloebiz

[2019-03-08 22:14] bawinstead commented on #509
@3daddict Hello! This particular issue is going to require some changes in logic to our e-commerce integrations. At this time, we do have this on our roadmap.

[2019-03-09 23:43] mike-diff commented on #509
@bawinstead Thanks for the update. This is critical information we need to we will be eagerly anticipating a fix release.

[2019-03-12 15:44] gonzaloebiz opened #649 "Change the version numeration to meet the magento marketplace requirements"
The magento marketplace requires different major version to allow upload versions for each magento version.

We will use:

100.1.* for magento 2.1
101.2.* for magento 2.2
102.3.* for magento 2.3

[2019-03-12 16:55] #649 closed, assigned to gonzaloebiz

[2019-03-12 19:39] #400 closed, assigned to gonzaloebiz

[2019-03-20 08:28] gabrieljadeau opened #653 "Hi,"
# Issue reporting guidelines

To maintain an effective bugfix workflow and make sure issues will be solved in a timely manner we kindly ask reporters to follow some simple guidelines.

Before creating an issue, please do the following:

* Make sure the behavior you are reporting is really a bug, not a feature.
* Check the existing [issues](https://github.com/mailchimp/mc-magento2/issues) to make s

[2019-03-20 08:28] gabrieljadeau opened #654 "Hi,"
# Issue reporting guidelines

To maintain an effective bugfix workflow and make sure issues will be solved in a timely manner we kindly ask reporters to follow some simple guidelines.

Before creating an issue, please do the following:

* Make sure the behavior you are reporting is really a bug, not a feature.
* Check the existing [issues](https://github.com/mailchimp/mc-magento2/issues) to make s

[2019-03-20 08:28] gabrieljadeau opened #655 "Hi,"
# Issue reporting guidelines

To maintain an effective bugfix workflow and make sure issues will be solved in a timely manner we kindly ask reporters to follow some simple guidelines.

Before creating an issue, please do the following:

* Make sure the behavior you are reporting is really a bug, not a feature.
* Check the existing [issues](https://github.com/mailchimp/mc-magento2/issues) to make s

[2019-03-20 08:28] gabrieljadeau opened #656 "Hi,"
# Issue reporting guidelines

To maintain an effective bugfix workflow and make sure issues will be solved in a timely manner we kindly ask reporters to follow some simple guidelines.

Before creating an issue, please do the following:

* Make sure the behavior you are reporting is really a bug, not a feature.
* Check the existing [issues](https://github.com/mailchimp/mc-magento2/issues) to make s

[2019-03-20 08:28] gabrieljadeau opened #657 "Hi,"
# Issue reporting guidelines

To maintain an effective bugfix workflow and make sure issues will be solved in a timely manner we kindly ask reporters to follow some simple guidelines.

Before creating an issue, please do the following:

* Make sure the behavior you are reporting is really a bug, not a feature.
* Check the existing [issues](https://github.com/mailchimp/mc-magento2/issues) to make s

[2019-03-20 08:29] gabrieljadeau opened #658 "Abandonned cart email sent without images"
# Abandonned cart email sent without images

Hi, I am using Magento ver. 2.1.8 with the Mailchimp Module  MailChimp v1.0.30 by Ebizmarts, have a abandonned campaign setup in Mailchimp but the emails sent don't have an img.

I have added a log at the end of the function \Ebizmarts\MailChimp\Model\Api\Product::_buildProductData in order to see what is sent to Mailchimp when syncing and the informati

[2019-03-20 08:40] #657 closed, assigned to nobody

[2019-03-20 08:40] #653 closed, assigned to nobody

[2019-03-20 08:40] #654 closed, assigned to nobody

[2019-03-20 08:40] #655 closed, assigned to nobody

[2019-03-20 08:40] #656 closed, assigned to nobody

[2019-03-26 12:58] ktsixit opened #662 "Exception "Unable to unserialize value""
## Issue Description
In customer account menu (frontend), when clicking on 'My Newsletter Subscriptions' menu, I'm getting error
[code]

### Preconditions

    1. Magento CE 2.2.5
    2. mc-magento2 1.0.21.
    3. Logged in customer in frontend

### Steps to reproduce

    1. Navigate to storefront as a logged in customer.
    2. Go to 'My account' page
    3. Click "My Newsletter Subscriptions" o