[2019-03-26 13:26] SantiParagarino commented on #662
Hello @ktsixit

Please update to the latest error for Magento 2.2. (Currently 101.2.34)
That should solve your problem.

In case the error persist we can reopen this issue.

Kind Regards.

[2019-03-26 13:26] #662 closed, assigned to nobody

[2019-03-26 16:40] robbie-thompson opened #663 "First and last name not being sent to MC for new customers"
## Issue Description

When a new users registers and subscribes to the newsletter, they are added as a subscriber to the MC list - however their first and last name is missing.

I'm not sure if this is a bug, or if this feature just hasn't been implemented.

Pre-conditions:

    1. Magento CE 2.2.6 without sample data is installed.
    2. mc-magento2 101.2.34

Steps to reproduce issue:

    1. Fil

[2019-03-26 16:56] gonzaloebiz commented on #663
Hi @robbie-thompson

thanks for your feedback.
Please update the issue with an step by step to reproduce the issue.

Best

[2019-03-26 17:06] robbie-thompson commented on #663
@gonzaloebiz Done

[2019-03-26 17:07] gonzaloebiz commented on #663
Thanks, we will check it

[2019-03-29 12:20] alexalisov opened #664 "MySQL error during setup:upgrade after module install (with split database Magento EE feature enabled)"
## MySQL error during _setup:upgrade_ after module install

### Preconditions

    1. Magento EE 2.3.1 without sample data is installed.
    2. mc-magento2 102.3.34.
    3. Split database performance solution is enabled (3 databases: main, sales, quotes).

[Split database documentation](https://devdocs.magento.com/guides/v2.3/config-guide/multi-master/multi-master_masterdb.html)

### Steps to repr

[2019-03-29 20:17] #664 closed, assigned to gonzaloebiz

[2019-04-04 05:50] Abdulkadiragoliya opened #668 "Magento2.3.1 Unable to unserialize value. Error: Syntax error"
# Unable to unserialize value. Error: Syntax error
 PHP 7.2
 Magento 2.3.1
 Emabizmarts_Mailchimp102.3.34 (mc-magento2)

## Issue Description

When i go to admin section Mailchimp -> Configuration

### Steps to reproduce
##
     1. Login to Admin
    2. Click on Menu Mailchimp - > Configuration.

### Actual and Expected result

Expected result:
Configuration Page should display without any error

[2019-04-04 12:34] gonzaloebiz commented on #668
Hi @Abdulkadiragoliya

we can't reproduce your issue, please give us more information to try.
Are you migrating from a prior version of magento or mc-magento2?

Best

[2019-04-10 05:16] CharanjeetE opened #669 "Need image in Recent Rss posts in Mailchimp"
# Issue reporting guidelines

To maintain an effective bugfix workflow and make sure issues will be solved in a timely manner we kindly ask reporters to follow some simple guidelines.

Before creating an issue, please do the following:

* Make sure the behavior you are reporting is really a bug, not a feature.
* Check the existing [issues](https://github.com/mailchimp/mc-magento2/issues) to make s

[2019-04-10 12:12] #669 closed, assigned to nobody

[2019-04-10 12:13] gonzaloebiz commented on #669
Please follow the issue format

[2019-04-10 20:00] grudado commented on #668
Check your composer.json.
I had this problem too. Solved after install some missing modules in composer.json
        "friendsofphp/php-cs-fixer": "~2.13.0",
        "lusitanian/oauth": "~0.8.10",
        "magento/magento2-functional-testing-framework": "~2.3.13",
        "pdepend/pdepend": "2.5.2",
        "phpmd/phpmd": "@stable",
        "phpunit/phpunit": "~6.5.0",
        "sebastian/phpcpd": "

[2019-04-10 20:09] gonzaloebiz commented on #668
Hi @tratta

sorry but i don't understand your comment, can you clarify

Best

[2019-04-12 08:11] anatolij-p commented on #668
Try deleting/checking mailchimp/general/map_fields(or something like that) value.
I had something weird there and once i've deleted that field value it all worked fine.

[2019-04-12 12:43] #668 closed, assigned to gonzaloebiz

[2019-04-12 13:36] wakar commented on #60
Thanks @gonzaloebiz. Your solution solved my problem too.

[2019-04-16 10:13] luca-emmecubo opened #670 "Webhooks cron job missed - Customers not sync"
### Issue Description

**Preconditions**

1. Magento CE 2.2.6
2. mc-magento2 1.0.32
3. Stores / Configuration / Newsletter / Subscription Options / Need to Confirm = YES
4. Magento always manage emails = NO
5. Enable Two Way Sync = YES

**Steps to reproduce**

Subscribe to newsletter into new customer registration form OR subscribe to newsletter with Magento_Newsletter input form.

**Actual and Ex

[2019-04-16 12:40] gonzaloebiz commented on #670
Hi @luca-emmecubo

thanks for using our extension.
Can you please let me know your crontab configuration? (run crontab -l)

Best

[2019-04-16 13:07] luca-emmecubo commented on #670
Hi @gonzaloebiz
this is the crontab part of project related to this ticket.
Our server has 10 Magento progects.

Do you need the entire crontab ?

[2019-04-16 13:46] gonzaloebiz commented on #670
Please take  a look at https://devdocs.magento.com/guides/v2.2/config-guide/cli/config-cli-subcommands-cron.html specifically to the minute's expression, the right expression is * * * * *

Best

[2019-04-16 13:46] #670 closed, assigned to nobody

[2019-04-16 17:03] luciaebizmarts opened #671 "Multiple confirmation email"
## Multiple confirmation email

### Preconditions
1. Mailchimp for Magento 2 10x.x.34
2. Magento any version.

### Steps to reproduce

1. Enable double opt-in option in Magento and Mailchimp.
2. Enable the option 'Use Magento emails' at the configuration settings of the extension.
3. Enable Mandrill.
4. Subscribe a new email to the newsletter.

### Expected result:

1. Receive an email from Magent

[2019-04-19 14:57] Garde85 opened #674 "Multistore with different Mailchimp account wrong synchronization on customer delete/unsubcribe from magento admin"
## Wrong syncronization Magento 2 - Mailchimp on delete/unsubscribe from admin

## Issue Description

### Preconditions
    1. Magento Open source 2.3.1 with sample data installed.
    2. mc-magento2 102.3.34.
    3. Magento installation include multiwebsite www.website1.com & www.website2.com
    4. Every website is associated to a different mailchimp account
    5. Mailchimp configuration is set

[2019-04-22 14:17] luciaebizmarts commented on #674
Hi @Garde85,

Thanks for your feedback.
Seems that you are right, we will look into this.

Best regards.

[2019-04-24 15:41] gonzaloebiz opened #678 "Order is not marked to resync when the shipment comes via magento API"
Make an order.
Try to ship the order via magento API
Can do this calling the url http://yourstore.com/index.php/rest/V1/order/yourorderid/ship and pass
`{
  "tracks": [
    {
      "track_number": "1Y-9876543210",
      "title": "United Parcel Service",
      "carrier_code": "ups"
    }
  ]
}`

the order should be marked as modified in the mailchimp_sync_ecommerce table but is not marked.

[2019-04-24 16:47] gonzaloebiz opened #682 "Order is not marked to resync when the invoice comes via magento API"
Make an order.
Try to invoice the order via magento API
Can do this calling the url http://yourstore.com/index.php/rest/V1/order/yourorderid/invoice and pass
`{
  "capture": true,
  "notify": true
}`

the order should be marked as modified in the mailchimp_sync_ecommerce table but is not marked.

[2019-04-24 17:03] #678 closed, assigned to gonzaloebiz

[2019-04-24 17:03] #682 closed, assigned to gonzaloebiz

[2019-04-25 08:56] simonrl commented on #511
Having the same issue, can you please give me the contact information of your support team or tell me how to resolve this? Thanks!

[2019-04-25 13:45] SantiParagarino commented on #511
Hello @simonrl
Our contact email for this extension is mailchimp@ebizmarts-desk.zendesk.com.

Kind Regards.

[2019-04-25 13:53] simonrl commented on #511
Hi, I have already sent you an email after talking to the mailchimp support, thanks.

[2019-04-25 16:39] gonzaloebiz opened #687 "Order is not marked to resync when the credit memo comes via magento API"
Make an order.
Try to make a credit memo via magento API
Can do this calling the url http://yourstore.com/index.php/rest/V1/order/yourorderid/refund and pass
`{
  "capture": true,
  "notify": true
}`

the order should be marked as modified in the mailchimp_sync_ecommerce table but is not marked.

[2019-04-25 17:04] #687 closed, assigned to gonzaloebiz

[2019-04-26 11:56] #674 closed, assigned to luciaebizmarts

[2019-04-26 13:21] dodiya-divyarajsinh opened #691 "Uncaught Error: Call to a member function count() on null"
## Issue Description

### Preconditions

I have Magento ver. 2.1.6 on our live site.

Example:

    1. Magento CE 2.1.6 without sample data is installed we have our own products.
    2. Ebizmarts_MailChimp 1.0.27
    ...

### Steps to reproduce

When user registered, Place order, or Newsletter subscription not any email is come to user email address. When we check in log file it will show below co

[2019-04-26 13:28] gonzaloebiz commented on #691
Please follow the issue format

[2019-04-26 13:28] #691 closed, assigned to nobody

[2019-04-26 13:44] dodiya-divyarajsinh commented on #691
@gonzaloebiz  I have update issue comment.

[2019-04-26 13:57] gonzaloebiz commented on #691
If you have mc-magento2 1.0.27 please update it to the current version

Best

[2019-04-30 13:47] robbie-thompson commented on #663
@gonzaloebiz Did you manage to reproduce this issue?

[2019-04-30 19:20] gonzaloebiz commented on #663
Hi @robbie-thompson

no, i try it but works OK for me

![image](https://user-images.githubusercontent.com/6222792/56987277-5bf18500-6b63-11e9-8c69-e0709f1d6216.png)

![image](https://user-images.githubusercontent.com/6222792/56987448-d6220980-6b63-11e9-8ec9-1f2fceecf911.png)

[2019-05-05 23:34] hugoruivo commented on #161
Hi,

I had this issue with a fresh Magento 2.3 install. The problem was with the curl call to retrieve the list, it was giving a SSL error. You can fix it by downloading: http://curl.haxx.se/ca/cacert.pem

Then updating / editing you php.ini file:

[code]

[2019-05-06 10:48] goctoi92 commented on #228
if your order 3350000 then you set is 3350. mailchimp regulations order no more than 1000 $

[2019-05-07 15:02] luciaebizmarts opened #692 "Customer and subscriber with same email sent to mailchimp with different id"
### Preconditions
1. Mailchimp for Magento 1.1.16
2. Magento any version
### Steps to reproduce
1. Create a new customer account in Magento.
2. Subscribe to the newsletter as logged user.
### Expected result
1. The customer and subscriber should send to Mailchimp with the same id because have the same email.
### Actual result
1. Customer and subscriber are send to Mailchimp with different id.

[2019-05-07 16:27] #692 closed, assigned to gonzaloebiz

[2019-05-07 17:33] #663 closed, assigned to gonzaloebiz

[2019-05-07 19:16] luciaebizmarts opened #696 "Success unsubscription, if subscribe again doesn't send confirm subscription emails"
## Success unsubscription, if subscribe again doesn't send confirm subscription emails

### Preconditions
    1. Magento CE 2.2.x with sample data is installed.
    2. mc-magento2 101.2.34

### Steps to reproduce

    1. Enable double opt-in in Magento and Mailchimp.
    2. Disable the option use Magento emails at the configuration settings of the extension.
    3. Create a new user account in the

[2019-05-08 13:38] luciaebizmarts commented on #671
The issue is not an issue it's a miss configuration of the extension, if you have enabled double opt-in it's not correct that you enable the option Magento always manage emails, because for Mailchimp the most important is know if the subscribers gave their permission for the subscription to the newsletter

[2019-05-08 13:38] #671 closed, assigned to nobody

[2019-05-09 16:04] vDeggial opened #699 "Sync guest newsletter subscribers to Mailchimp list"
Magento 2.2.8 CE
Mailchimp module: Version 101.2.34

When somebody subscribes to a newsletter as a guest via our client's Magento store they are not added to Mailchimp's list, if they create account and then subscribe to newsletter they do
get synced with Mailchimp and are sent the Welcome email

Is there a way for guests who just enter email address in the form for newsletter to be added to Mailc

[2019-05-09 16:32] gonzaloebiz commented on #699
Hi @shinoamakusa

if you subscribe p.e. in the bottom of the page

![image](https://user-images.githubusercontent.com/6222792/57470254-c3dc5580-725e-11e9-9afb-1810bdeb6c0b.png)

works perfectly
Enable the extension logs and take a look at var/log/Mailchimp.log

Best

[2019-05-09 17:53] SantiParagarino opened #700 "Some exceptions are not added into logs, making it hard to find the error message."
## Issue Description

### Preconditions

1. Mailchimp for Magento 2 10x.x.34
2. Any Magento version

### Steps to reproduce
One example is when an order contains a product that was deleted from Magento. The error message: "The requested product doesn't exist" is only saved in the database table mailchimp_sync_ecommerce making it hard for a normal user to read it.

### Actual and Expected result

A

[2019-05-09 20:03] brian-ebizmarts opened #701 "Encrypt sensitive data"
### Preconditions

1. Magento 2 any version
2. Mailchimp for magento 2 any version

### Expected result

1. API key stored in a encrypted format
2. in the extension settings hide the API key using field type password(*) and hide the API keys in the list of API key.

### Actual result
1. API key is stored in a readable format

[2019-05-13 16:18] gonzaloebiz opened #702 "Add a button to re sync customers"
When adding a new map field, would be useful if we have a button to resync all the customer to send this new field

[2019-05-14 18:17] #702 closed, assigned to gonzaloebiz

[2019-05-16 18:49] gonzaloebiz opened #706 "Don't delete the cart from ecommerce table when the order is made"
In the issue #626 we delete the cart, that's wrong. If the cart is deleted from this table then never deleted from mailchimp.

[2019-05-16 18:59] #706 closed, assigned to gonzaloebiz

[2019-05-17 18:02] luciaebizmarts opened #710 "Wrong error message in order grid"
## Wrong error message in order grid

### Preconditions

1. Mailchimp for Magento 2
2. Magento 2 any version.

### Steps to reproduce

1. Create an order.
2. Delete the product from the order before sync the order with Mailchimp
3. The extension won't add the order to the collection to send to Mailchimp

### Actual result

At the orders grid of Magento will appear that order with the syncing icon

[2019-05-21 15:49] gonzaloebiz opened #715 "Error message 'Resource Not Found' on creating new customers"
### Preconditions

    1. All version of magento
    2. Enable the logs in the mc-magento2 extension

### Steps to reproduce

    1. Try to add a new customer
    2. You can view the error in the var/log/Mailchimp.log file

The error happens because Magento call to unsubscribeCustomerById even if the customer is not subscribed

[2019-05-21 16:40] #715 closed, assigned to gonzaloebiz

[2019-05-22 12:30] #710 closed, assigned to luciaebizmarts

[2019-05-22 12:40] luciaebizmarts opened #719 "Remove error message when resend an item with error"
## Remove error message when resend an item with error

### Preconditions

1. Mailchimp for Magento 2 10x.x.34
2. Magento any version

### Steps to reproduce

1. Create a product that don't sync with Mailchimp e.g don't set the description of the product
2. The product will try send to Mailchimp but will throw an error
3. Add the description to the product and save it, the product will be marked a

[2019-05-23 16:25] vDeggial opened #720 "Mailchimp Sync and Mageplaza Gift Card product"
Magento 2.2.8
Mailchimp version: 101.2.34
Mageplaza Gift Card plugin

There seems to be issue with Mailchimp Sync (in order to send order confirmation and invoice emails) when Gift Card type product (which is using Mageplaza Gift Card plugin)

Mailchimp log shows:

`MailChimpLogger.INFO: "Something went wrong when retreiving product information."`

Not sure if it is an issue with Mailchimp plugin

[2019-05-23 16:46] gonzaloebiz commented on #720
Hi @shinoamakusa

since Mageplaza Gift Card is a paid extension, we can't access to it, sorry, we can't help you on this

Best

[2019-05-23 16:46] #720 closed, assigned to nobody

[2019-05-24 17:32] vDeggial commented on #720
1) Mageplaza Gift Card products are of type mpgiftcard whcih is counted as custom type and ignored by mailchimp sync
2) Problem seems to be in GeneratePOSTPayload method which returns empty

[2019-05-24 19:19] #701 closed, assigned to nobody

[2019-05-24 19:20] gonzaloebiz commented on #699
No news in 15 days

[2019-05-24 19:20] #699 closed, assigned to nobody

[2019-05-27 10:11] ktsixit opened #725 "Receiving two newsletter subscription confirmation emails, after subscribing through checkout"
## Issue Description
I have installed Mailchimp extension in my Magento website. I am using default magento checkout and set mailchimp setting "Magento always manage emails" to "Yes".

Subscribing to Newsletter via standard magento newsletter form, works ok. In this case I'm receing the magento Subscription Confirmation email.

Subscribing to Newsletter via checkout proccess has an issue though. I

[2019-05-27 12:12] gnikolopoulos opened #726 "Magento 2.28 installation via composer, Unknown mdoule(s)"
Hi,

I am trying to install this on a fresh installation, but I am facing issue when trying to enable the module.
I have the required entries in my composer.json file and I can confirm that files are being downloaded by composer during update/install. The required library is also there.
Running
[code]
Does not seem to do anything since the module is not even detected, so the following command

[co

[2019-05-27 12:13] gonzaloebiz commented on #725
Hi @ktsixit

thanks for your feedback,
What is the double opt-in configuration in MailChimp for this audience?

Best

[2019-05-27 12:17] gonzaloebiz commented on #726
Hi @gnikolopoulos

if you have issues installing the extension, contact our support team at mailchimp@ebizmarts-desk.zendesk.com.

Best

[2019-05-27 12:17] #726 closed, assigned to nobody

[2019-05-27 13:25] ktsixit commented on #725
Hi @gonzaloebiz ,
Double opt-in is **disabled** for this audience

[2019-05-27 13:46] ktsixit commented on #725
I have also checked
https://github.com/mailchimp/mc-magento2/issues/91
https://github.com/mailchimp/mc-magento2/commit/4417b7f88a90e9d452be122f33f0561307d66c7b

and the code is similar to the fix suggested.

I also tried to convert:
[code]
to
`$subscriber->setImportMode(true);`
but I still receive two emails for confirmation.

[2019-05-27 15:41] gonzaloebiz commented on #725
Can you please share your checkout screens?

Best

[2019-05-27 17:17] #719 closed, assigned to gonzaloebiz

[2019-05-27 17:49] #700 closed, assigned to gonzaloebiz

[2019-05-28 06:20] ktsixit commented on #725
Some screenshots below:
https://ibb.co/4ZqgR7L
https://ibb.co/zmXDfkG
https://ibb.co/DrvWgzt

[2019-05-28 13:01] gonzaloebiz commented on #725
Hi @ktsixit

but this

![image](https://user-images.githubusercontent.com/6222792/58479873-80735980-812f-11e9-8934-87ff1c289005.png)

is not part of the magento default checkout

[2019-05-28 13:27] ktsixit commented on #725
@gonzaloebiz
You're right, this was added to checkout proccess, using an extension. I disabled that extension but I can see the the same issue is happening to the standard newsletter subscription form. I'm receicing two emails.

What's the part of code that triggers sending that email from mailchimp and what's the factor/variable that prevents mailchimp from sending these emails?
Please provide so

[2019-05-28 15:32] gonzaloebiz commented on #725
If you set the need to confirm in magento,

![image](https://user-images.githubusercontent.com/6222792/58490932-6abc5f00-8144-11e9-8e8f-301ba3bc5eec.png)

you must put NO in

![image](https://user-images.githubusercontent.com/6222792/58491008-8de70e80-8144-11e9-802a-40a5a13b63c3.png)

And mailchimp manage the double opt-in

Best

[2019-05-28 15:32] #725 closed, assigned to nobody

[2019-05-29 08:44] ktsixit commented on #725
But I don't want mailchimp to handle the confirmation. I want **magento** to handle confirmation and prevent mailchimp to send any email that has to do with subscription or unsubscription.
That's the point of "Magento always manage emails" setting, right?

[2019-05-29 15:12] gonzaloebiz commented on #725
Sorry but no, if you enable the double opt-in, mailchimp manage the situation

[2019-05-29 15:18] gonzaloebiz commented on #658
Try with the current version.
If you have the same issue, we will re open the issue

Best

[2019-05-29 15:18] #658 closed, assigned to nobody

[2019-05-30 09:39] ktsixit commented on #725
The way I see it, this is misleading.

Whether double-opt in is enabled ir not, the extension should allow synching magento subscribers with mailchimp subscribers, but let magento handle the subscription/unsubscription proccess.
OR if "Magento always manage emails" is NO, then all magento emails should be disabled and let mailchimp handle the subscription/unsubscription proccess.

Can I request th

[2019-05-30 13:34] daveblake commented on #477
Hi,

We have also just experienced this error.

[code]

We're also using a configurable product which doesn't have an image for any parents or child products.

Have spent a bit of time debugging the code and $this->_parentImage is never set.

[2019-05-30 16:08] gonzaloebiz commented on #477
Hi @daveblake

if you have an issue with this, please open a new issue.

Best

[2019-05-30 17:05] gonzaloebiz commented on #725
Hi @ktsixit

i don't think. I can't imagine why you want that Magento sends the double opt-in email. In the other hand, i can give you some reasons why MailChimp is the best option.

[2019-05-31 13:12] gonzaloebiz commented on #720
This is right when the order contains an unsupported product, the product is skipped and not added to the order to sync, and if the order has no product, the order is skipped and the message 'Something went wrong when retrieving product information.'  is saved in the log.

Best

[2019-05-31 17:29] gonzaloebiz opened #740 "Show the amount of list subscribers"
Today only show the total subscribers of the whole mailchimp account

[2019-06-03 12:42] #740 closed, assigned to gonzaloebiz

[2019-06-04 18:59] #696 closed, assigned to gonzaloebiz

[2019-06-09 13:04] s00071609 commented on #348
In magento 2.3.1 cron shows error and nothing gets synced with mailchimp. I have the latest version of mailchimp and lib - i used composer to install the extension

ERROR:

Warning: Invalid argument supplied for foreach() in /........../public_html/vendor/mailchimp/mc-magento2/Helper/Data.php on line 1028

I guess this issue was there in previous versions and was supposed to be fixed but its still

[2019-06-09 13:05] s00071609 commented on #531
In magento 2.3.1 cron shows error and nothing gets synced with mailchimp. I have the latest version of mailchimp and lib - i used composer to install the extension

ERROR:

Warning: Invalid argument supplied for foreach() in /........../public_html/vendor/mailchimp/mc-magento2/Helper/Data.php on line 1028

I guess this issue was there in previous versions and was supposed to be fixed but its still

[2019-06-10 14:42] s00071609 commented on #266
This issue seems to have reappeared in magento 2.3.1. Not sure if mailchimp fixes these issues. I am getting cron errors
warning: Invalid argument supplied for foreach() in /mailchimp/mc-magento2/Helper/Data.php on line 1028

[2019-06-10 14:56] gonzaloebiz commented on #266
Please open a new issue with all the data to replicate

Best

[2019-06-10 21:02] s00071609 opened #753 "Mailchim Magento 2.3.1 Possible Bug - Data Not Syncing"
**### Steps to reproduce**

- Install mailchimp using composer to magento 2.3.1
- Connect the store as per the mailchimp userguide

**Expected Result**
Data syncs to Mailchimp

**Actual**

Magento cron errors
Webhook cron works but the cron related to ecommerce does shows error

warning: Invalid argument supplied for foreach() in /mailchimp/mc-magento2/Helper/Data.php on line 1028
![image](https:/

[2019-06-10 23:04] gonzaloebiz commented on #753
What version of mc-magento2 do you have?
Are you using the sample data?
What version of php do you have?
Can you please copy screenshots of your configuration? (please hide your ApiKey and other sensible data)

Best

[2019-06-10 23:10] s00071609 commented on #753
PHP 7.1
No Sample Data

See the version details from composer file:

 "description": "Connect MailChimp with Magento",
  "type": "magento2-module",
  "version": "102.3.34",
  "authors": [
    {
      "name": "Ebizmarts Corp",
      "email": "mailchimp@ebizmarts-desk.zendesk.com",
      "homepage": "http://ebizmarts.com"
    }
  ],
  "license": [
    "OSL-3.0",
    "AFL-3.0"
  ],
  "support": {

[2019-06-11 06:33] miteshdhaduk commented on #668
I have the same problem in Magento 2.3.1. Error: `main.CRITICAL: Unable to unserialize value. Error: Syntax error [] []`

[2019-06-11 08:24] mathijsm opened #754 "Abandoned cart email still send after successful purchase"
## Abandoned cart still send after successful purchase

When a new client place a successful order they still receive an abandoned cart mail.

## Issue Description

### Preconditions

    1. Magento CE 2.2.8
    2. mailchimp-lib 3.0.30.
    3. mc-magento2 101.2.34

### Steps to reproduce

1. Make a purchase with a new client
2. Let the Mailchimp module sync.
3. Receive a abandoned cart email
<img

[2019-06-11 13:02] gonzaloebiz commented on #754
Take a look at https://github.com/mailchimp/mc-magento2/issues/706
The issue will be available in the next release (i think this week)

Best

[2019-06-11 13:02] #754 closed, assigned to nobody

[2019-06-11 14:03] gonzaloebiz commented on #753
do you have groups for this audience?
Can you please copy a screenshot of the groups?

[2019-06-11 14:06] s00071609 commented on #753
I am not sure about groups? Where do i look for it. Its a new mailchimp account and i dont think i have any group.

Let me know where i can look for it

[2019-06-11 14:09] gonzaloebiz commented on #753
In mailchimp, go to your audience and select manage contacts/groups

![image](https://user-images.githubusercontent.com/6222792/59278911-5777bc00-8c39-11e9-8d95-71481e3dd2fd.png)

[2019-06-11 14:11] s00071609 commented on #753
ok groups seems to be categorizing audience. I dont have any group. Actuall i tried in test version and live site, it did not work in either case. Same problem. because the cron is failing, its not syncing

![image](https://user-images.githubusercontent.com/19631643/59279023-8b3cfb00-8ca6-11e9-8d8b-8fd0a3785d60.png)

[2019-06-11 15:21] gonzaloebiz commented on #753
@s00071609

i try as per your description and i can't replicate the issue

![image](https://user-images.githubusercontent.com/6222792/59284388-8c3c4100-8c42-11e9-9038-63f51b3c46fb.png)

![image](https://user-images.githubusercontent.com/6222792/59284420-9b22f380-8c42-11e9-8fda-fe8fcd0f4b22.png)

![image](https://user-images.githubusercontent.com/6222792/59284564-d6bdbd80-8c42-11e9-8faa-8cecc69fdab

[2019-06-11 16:43] s00071609 commented on #753
do you think it might be due to PHP setting. Does it require stuffs like proc_open, etc. These are disabled by host

[2019-06-11 17:36] gonzaloebiz commented on #753
Really i don't know.
Try to put a line before this line https://github.com/mailchimp/mc-magento2/blob/develop-2.3/Helper/Data.php#L1035 that looks like

`$this->log($allInterest);`

and then take a look at the var/log/Mailchimp.log file once the cron job runs

Best

[2019-06-12 07:58] s00071609 commented on #753
I added the above but the mailchimp log shows nothing

![image](https://user-images.githubusercontent.com/19631643/59333463-b887b880-8d3b-11e9-8451-4aa5654701ae.png)

[2019-06-12 11:34] gonzaloebiz commented on #753
The getInterest should look like

![image](https://user-images.githubusercontent.com/6222792/59348133-bf3b0f00-8cec-11e9-8157-5006f73aef37.png)

[2019-06-12 16:17] s00071609 commented on #753
i copied the whole code from github for Data file. Now its giving this error - Warning: curl_setopt(): Curl option contains invalid characters (\0) in /home/......../public_html/vendor/ebizmarts/mailchimp-lib/src/Mailchimp.php on line 180

How come installation from composer has different code than this??

[2019-06-13 08:35] s00071609 commented on #753
And i havent got any log so far

[2019-06-13 18:00] gonzaloebiz commented on #753
Hi @s00071609

are you using some opcode cache like APC or xcache or accelerator?

Best

[2019-06-13 23:32] s00071609 commented on #753
I am using cloudflare and litespeed cache

[2019-06-13 23:33] s00071609 commented on #753
if you want you can check https://jostechecig.com.au/ as i am unsure about the above cache being used.

[2019-06-14 09:00] tzyganu opened #758 "Unhandled `Magento\Framework\Serialize\Serializer\Json::(un)serialize` calls"
## All calls to `Magento\Framework\Serialize\Serializer\Json::unserialize` and `serialize` are not wrapped in a `try-catch` block

Module version: 1.0.32.
The magento `Magento\Framework\Serialize\Serializer\Json::unserialize` and `serialize` methods throw an `\InvalidArgumentException` exception if for some reason `json_encode` or `json_decode` fail.
The mailchimp module does not handle these erro

[2019-06-14 12:51] gonzaloebiz opened #759 "Take the version from the composer.json"
Today we take the version to show in the configuration screen from https://github.com/mailchimp/mc-magento2/blob/develop-2.2/etc/module.xml#L14
This cause that we need to change this version every time that we release a new version and must run setup:upgrade
Taking the version from https://github.com/mailchimp/mc-magento2/blob/develop-2.2/composer.json#L9 is the right way and this way avoid to run

[2019-06-14 14:14] #759 closed, assigned to gonzaloebiz

[2019-06-15 10:20] s00071609 commented on #753
I am getting this error in log now. I updated to latest version -

[2019-06-15 10:14:12] MailChimpLogger.INFO: User Disabled for Api Call: [https://us12.api.mailchimp.com/3.0/lists/506bfaac8c/merge-fields?count=100] using method [GET]
	Detail: [This account has been deactivated.]
	Params:
		{"count":100}

[2019-06-15 11:02] s00071609 commented on #753
This is also from log:

2019-06-15 10:05:19] MailChimpLogger.INFO: Resource Not Found for Api Call: [https://us3.api.mailchimp.com/3.0/lists//interest-categories] using method [GET]
	Detail: [The requested resource could not be found.]

 [] []
[2019-06-15 10:05:19] MailChimpLogger.INFO: Resource Not Found for Api Call: [https://us3.api.mailchimp.com/3.0/lists//merge-fields?count=100] using method

[2019-06-18 22:04] vDeggial opened #766 "Merge field on old customers"
Magento CE 2.2.8
Mailchimp v101.2.36

I have recently setup a new merge field in Mailchimp for the audience list linked in the plugin and mapped Group field from Magento to it in the plugin config. After that I did customer resync, but the field is not being mapped.

Do I need to change customers' group for it to map sync? Like switch all users from General group to other one, wait for sync, then

[2019-06-19 15:47] vDeggial commented on #766
Even on new customers, it looks like it is syncing the Customer Group field only if they also subscribe to newsletter or something ...

[2019-06-19 16:57] gonzaloebiz commented on #766
Hi @shinoamakusa

can you share your magento and mailchimp configuration for these fields? A screenshot of the magento mapfields and the definition of the merge field in mailchimp

Best

[2019-06-19 16:59] vDeggial commented on #766
Magento:
![image](https://user-images.githubusercontent.com/9992759/59785066-c330d900-9278-11e9-9bd1-31dd5d0554df.png)

Mailchimp:
![image](https://user-images.githubusercontent.com/9992759/59785108-d6dc3f80-9278-11e9-9c67-3835a6be2e81.png)

[2019-06-19 17:01] gonzaloebiz commented on #766
The customer group is an integer, try with a number

[2019-06-19 17:03] vDeggial commented on #766
But on few customers it seemed to have worked:
![image](https://user-images.githubusercontent.com/9992759/59785376-78fc2780-9279-11e9-9ddb-251e290c906f.png)

[2019-06-19 18:14] gonzaloebiz commented on #766
Ok we will check the case and update the issue

[2019-06-19 18:15] vDeggial commented on #766
Thank you in advance :)

[2019-06-19 18:47] gonzaloebiz commented on #766
OK, the point is... in mailchimp only subscribers have merge fields, and in magento only customer have customer group... so only those subscribers who are customers too will have a group in mailchimp. So the button to resync customers should be to resync subscribers
Try modifying the `mailchimp_sync_modified` = 1  for all the registers with type = 'SUB' in the mailchimp_sync_ecommerce table

Best

[2019-06-19 19:15] vDeggial commented on #766
If that is the case, how do the customers get synced to Mailchimp. From what I can tell merge fields like FNAME & LNAME get synced for customers who dont subscribe for newsletter.

I will try and do the sql change you advised, but we would like to be able to sync the Customer Group to Mailchimp so later on we can target certain group(s) with segments when we implement membership feature in our sto

[2019-06-19 19:44] vDeggial commented on #766
Just for a bit of clarification here is what our client would like to happen:

In preparation for introducing Membership feature in the store (which will be in few weeks) we would like to be able to reflect the Groups of Magento store customers (regardless of newsletter subscription) in the Mailchimp list so that later on once membership feature is rolled out and customer groups in the store refle

[2019-06-19 20:13] gonzaloebiz commented on #766
Take a look at https://developer.mailchimp.com/documentation/mailchimp/reference/ecommerce/stores/customers/

[2019-06-19 20:13] #766 closed, assigned to gonzaloebiz

[2019-06-19 20:27] vDeggial commented on #766
Ok, I see that now. Next question is why only 2 of customers who subscribed to newsletter have been synced with the Group merge tag when there is way more
![image](https://user-images.githubusercontent.com/9992759/59798004-f6ce2c00-9295-11e9-9584-0fbaa2643664.png)

[2019-06-19 20:32] gonzaloebiz commented on #766
Because we need to fix the button to re sync subscribers, no customers

[2019-06-19 20:35] vDeggial commented on #766
Oh ... makes sense :) Any ETA on the patch? ( I would imagine not a release just for one fix)

[2019-06-19 20:41] gonzaloebiz commented on #766
next week surely we will have a fix

[2019-06-19 20:51] vDeggial commented on #766
sounds like a plan :)

[2019-06-20 00:24] vDeggial opened #767 "ebizmarts_ecommerce has an error"
Magento 2.2.8
Mailchimp: v101.2.36
For last few hours this has been happening and nothing is synced to Mailchimp:
[code]
The problem indicates that issue is around the lines of:
[code]
which maybe tells that there is an issue with API ... or the plugin (which have not been changed in any way)

[2019-06-20 14:09] gonzaloebiz opened #768 "Change the Resync Customers button"
Must resync the subscribers, not the customers.
The idea here is re-sync the data to sync the customer field maps, but only the subscribers have merge field (not the customer, take a look at https://developer.mailchimp.com/documentation/mailchimp/reference/ecommerce/stores/customers/)

[2019-06-20 14:34] vDeggial commented on #767
It seems that only Orders sync is affected, Subscribers seem to be syncing fine ...

[2019-06-20 17:31] gonzaloebiz commented on #766
@shinoamakusa

the fix for magento 2.2 is here https://github.com/mailchimp/mc-magento2/pull/770

Best

[2019-06-20 17:48] vDeggial commented on #766
thanks :) applying now

[2019-06-20 18:15] vDeggial commented on #766
sync doesnt work ... must be related to #767

[2019-06-20 18:47] #768 closed, assigned to gonzaloebiz

[2019-06-20 19:03] gonzaloebiz commented on #767
Try to put the foreach that way:

[code]

[2019-06-20 19:07] vDeggial commented on #767
That gives a new error:
[code]

[2019-06-20 19:25] gonzaloebiz commented on #767
Is so weird, what if you use curl from the command line like say here?

https://developer.mailchimp.com/documentation/mailchimp/reference/lists/interest-categories/#read-get_lists_list_id_interest_categories

specifying your list of course

[2019-06-20 19:40] vDeggial commented on #767
![image](https://user-images.githubusercontent.com/9992759/59876428-7cb2ab80-9358-11e9-8d86-4ac3dc704984.png)

![image](https://user-images.githubusercontent.com/9992759/59876477-9ce26a80-9358-11e9-9842-172b1f657827.png)

[2019-06-20 19:48] gonzaloebiz commented on #767
perhaps a cache issue?
Change this line https://github.com/ebizmarts/mailchimp-lib/blob/master/src/Mailchimp.php#L226 for this

`        curl_setopt($ch, CURLOPT_HTTPHEADER, array('Content-Type: application/json','Cache-Control: no-cache'));
`

[2019-06-20 20:11] vDeggial commented on #767
still same error after that change :( Could it be related to Godaddy VPS screwing things up again (they did before with dif issue and we had to rebuild the server as they didnt want to help)? It just randomly started yesterday afternoon ...

[2019-06-20 22:54] vDeggial commented on #767
I commented out that code in Data.php that gave errors (it relates to list intersts anyways which we dont have) and all syncing fine now lol

[code]

[2019-06-21 14:30] gonzaloebiz commented on #753
Can i ask what hosting service do you use? Godaddy perhaps?

[2019-06-21 14:31] gonzaloebiz opened #773 "Error when select a website scope in config"
All versions of magento
When select a website scope and there are not any storeview with the same id throws

[2019-06-21 14:40] #773 closed, assigned to gonzaloebiz

[2019-06-28 16:18] vDeggial commented on #767
upon upgrade to Magento 2.2.9 and reinstalling the plugin all works fine without the modification ... weird :(

[2019-06-28 19:41] gonzaloebiz commented on #767
Weird!!!
I close the issue, i will re open if you have any problem

Best

[2019-06-28 19:42] #767 closed, assigned to gonzaloebiz

[2019-06-28 19:50] gonzaloebiz commented on #753
Close the issue until news

[2019-06-28 19:50] #753 closed, assigned to nobody

[2019-07-05 14:10] sreenathnr opened #777 "Mailchimp not working in Magento 2.3.2"
# Mailchimp creates an error in compilation on Magento 2.3.2

## Compilation Problems
* Compilation breaks in Magento 2.3.2 and got the error Class Ebizmarts\MailChimp\Helper\Data does not exist

## Issue Description

### Preconditions

   1. Magento CE 2.3.2 without sample data is installed.
   2. Call MailChimp helper in the constructor

`public function __construct(
        \Magento\Backend\Blo

[2019-07-05 14:34] gonzaloebiz commented on #777
Please, specify what version of the extension are you trying

[2019-07-05 14:34] #777 closed, assigned to nobody

[2019-07-05 14:40] sreenathnr commented on #777
@gonzaloebiz I tried using the Mailchimp versions **102.3.34**  and **102.3.36** *. Both have the same errors in the compilation.

[2019-07-05 14:41] gonzaloebiz commented on #777
run

composer show | grep mailchimp and let me know the result

Best

[2019-07-05 14:42] sreenathnr commented on #777
It shows the result
[code]

[2019-07-05 14:48] sreenathnr commented on #777
@gonzaloebiz
composer show | grep mailchimp shows the result
[code]

[2019-07-05 14:49] gonzaloebiz commented on #777
Please don't use a develop version

[2019-07-05 14:50] gonzaloebiz commented on #777
As you can see

![image](https://user-images.githubusercontent.com/6222792/60730248-11053c80-9f1b-11e9-8a0f-f24ecd24f970.png)

compiles without problems

[2019-07-05 14:54] sreenathnr commented on #777
Thanks, @gonzaloebiz. I replaced develop version with Master that resolves my issue.

[2019-07-05 14:55] gonzaloebiz commented on #777
You are welcome

[2019-07-05 16:49] gonzaloebiz opened #778 "Don't add the "Mailchimp sync" column to the order grid if the ecommerce is disable"

[2019-07-08 14:26] gonzaloebiz opened #782 "Use always the md5 of the customer email to identify the customer"

[2019-07-08 14:39] #782 closed, assigned to gonzaloebiz

[2019-07-08 17:23] gonzaloebiz opened #786 "Re sync the subscriber when the customer is modified"

[2019-07-08 17:30] #786 closed, assigned to gonzaloebiz

[2019-07-09 16:04] gonzaloebiz opened #790 "Send the merge_fields for customers"
When a customer is created in mailchimp, also a subscriber with status transactional is created in the associated audience.
So, we can send the merge fields to this subscriber.
This will cause that the customer in mailchimp will have all the merge fields even if is not a subscriber

[2019-07-09 17:36] #790 closed, assigned to gonzaloebiz

[2019-07-15 09:01] Garde85 commented on #674
Hi.... when this fix will be merged into master branch? Or could you tell me which branch/tags I have to insert in my composer.json?

Thank you

[2019-07-15 12:18] gonzaloebiz commented on #674
The fix is already merged in the develop branches, depending on the magento version

[2019-07-15 14:11] gonzaloebiz commented on #758
Hi @tzyganu

thanks for your feedback.
On this case https://github.com/mailchimp/mc-magento2/blob/develop-2.2/Controller/Checkout/Success.php#L82 you can view that is inside a try https://github.com/mailchimp/mc-magento2/blob/develop-2.2/Controller/Checkout/Success.php#L75-L99
Same case for https://github.com/mailchimp/mc-magento2/blob/develop-2.2/Controller/Checkout/Success.php#L93
Same case for

[2019-07-15 16:45] #758 closed, assigned to gonzaloebiz

[2019-07-19 13:32] gonzaloebiz opened #797 "Orders with no products are not marked as synced"
When an order has only grouped, bundled or custom products, the order is not synced because these products are not supported in mailchimp. But we need to mark the order in the eCommerce table, another way the cronjob try to sync always the same orders

[2019-07-23 18:27] gonzaloebiz opened #801 "Rename delete customer account option"
The Webhooks Delete action configuration setting has two options

Unsubscribe customers
Delete customer account
The second option is misleading because it doesn't acutally delete the customer account. instead it removes the newsletter subscriber record.

I recommend it be renamed to something like

Remove newsletter subscribers

[2019-07-24 15:23] #801 closed, assigned to gonzaloebiz

[2019-07-26 13:48] #797 closed, assigned to gonzaloebiz

[2019-07-26 13:49] gonzaloebiz opened #805 "Bad way to test if the json_encode fails"

[2019-07-30 18:11] #805 closed, assigned to gonzaloebiz

[2019-07-31 11:38] potticus commented on #161
I had the exact same issue.

monkeyapikey.js didnt exist anywhere on the server.

However, simply deleting my browser history / cache solved the problem.

You should always do this after installing new plugins to save you pulling your hair out for hours.

Remember, if something seems illogical, its nearly always a cache issue.

[2019-07-31 21:31] mafredas opened #809 "Magento 2.3.1 Issue - Blank Configuration Page"
Hi,

I would like to report an issue. I have been installed the extension without any error but when i am trying to visit the Configuration page, the page is blank. My store version is 2.3.1 which migrated from M1 via Magento Migration Tool. At M1 we have been installed the mailchimp extension too. We check all logs files on apache and ngnix but there is any error.
Do you know what could be happen

[2019-08-01 09:11] mafredas commented on #809
Hi again, i found the solution. I deleted all rows from core_config_data_table and all works fine. Thanks

[2019-08-01 09:11] #809 closed, assigned to nobody

[2019-08-05 15:32] gonzaloebiz opened #810 "Add alt text to the order grid in the mailchimp sync image"
In the order grid, when the sync fails, we have 2 situations

The first, when an order has any error before sync, and the order will never syncs, this situation is identified by this icon
![never](https://user-images.githubusercontent.com/6222792/62476016-9a0ece00-b77c-11e9-90f5-fb7cc4a19d9a.png)

The second one, is when an order is synced to mailchimp, but mailchip return an error, this situation

[2019-08-05 18:52] #810 closed, assigned to gonzaloebiz

[2019-08-06 14:59] gonzaloebiz opened #817 "Bad batches management"
When we change the mailchimp store in the configuration, all the batches for this store are marked as canceled, this cause that if we return to configure this mailchimp store we can't return the batches to pending
Only the pending batches must be marked as canceled, and when we change the mailchimp store must put the canceled batches as pending

[2019-08-06 17:25] #817 closed, assigned to gonzaloebiz

[2019-08-06 19:37] gonzaloebiz opened #821 "Bad management of old batches"
When the response file for a batch is not available, typically after a certain period mailchimp deletes the responses from their servers, we must mark the batch in the batches table but also delete all the entries in the eCommerce table to re-send the objects

[2019-08-07 16:43] #821 closed, assigned to gonzaloebiz

[2019-08-08 16:48] panthar1 opened #825 "Can't access configuration page in Magento 2.2.7 throws an exception"
I was looking through the other issues on here, and I see one that mentions a blank page, however, what we are seeing is a exception when I go to the mailchimp admin configuration. The module.xml shows module name="Ebizmarts_MailChimp" setup_version="101.2.34" for the version of the extension we are trying to setup, it was installed via composer. We are running magento 2.2.7. Any idea/help on how

[2019-08-08 17:15] gonzaloebiz commented on #825
Hi @panthar1

are you updating from a previous version?

[2019-08-08 17:21] panthar1 commented on #825
No, but we did do a migration from M1 to M2, during that process, we encountered this error https://community.magento.com/t5/Magento-2-x-Technical-Issues/The-requested-component-quot-datetime-quot-is-not-found-Before/td-p/66297 which I guess is some leftover artifacts the migration-tool created on the M2 site, that were wrong.

If you think that is related to this problem, do you know how we can c

[2019-08-08 17:24] gonzaloebiz commented on #825
If you are migrating from m1 to m2, remove all the entries in the core_config_data for path like 'mailchimp%'

Best

[2019-08-08 17:30] panthar1 commented on #825
Ahh! You are awesome, looks like deleting those old values in core_config fixed the exception. Thanks a ton!

[2019-08-08 17:32] gonzaloebiz commented on #825
you are welcome

[2019-08-08 17:32] #825 closed, assigned to nobody

[2019-08-16 14:20] mesnitu opened #835 "Warning: Invalid argument supplied for foreach() in mailchimp/mc-magento2/Helper/Data.php on line 1035"
Hi
Magento 2.3.1 , php 7.2, Mailchimp v102.3.36

On cron run I get :
`2019-08-16 14:10:31] main.CRITICAL: Warning: Invalid argument supplied for foreach() in /home/mage2/public_html/vendor/mailchimp/mc-magento2/Helper/Data.php on line 1036 {"exception":"[object] (Exception(code: 0): Warning: Invalid argument supplied for foreach() in /home/mage2/public_html/vendor/mailchimp/mc-magento2/Helper/Data

[2019-08-16 14:33] gonzaloebiz commented on #835
Take a look at https://github.com/mailchimp/mc-magento2/blob/develop-2.3/Helper/Data.php#L1038-L1070

[2019-08-16 14:33] #835 closed, assigned to nobody

[2019-08-16 15:46] mesnitu commented on #835
Now I got this:
I've replaced that function as you mentioned

`
2019-08-16 15:30:31] main.ERROR: Cron Job ebizmarts_ecommerce has an error: Warning: array_key_exists() expects parameter 2 to be array, null given in /home/mage2/public_html/vendor/mailchimp/mc-magento2/Helper/Data.php on line 1035. Statistics: {"sum":0,"count":1,"realmem":0,"emalloc":0,"realmem_start":56885248,"emalloc_start":553771

[2019-08-16 15:49] gonzaloebiz commented on #835
replace this line https://github.com/mailchimp/mc-magento2/blob/develop-2.3/Helper/Data.php#L1051 with

`if (is_array($allInterest)&&array_key_exists('categories',$allInterest) && is_array($allInterest['categories'])) {`

[2019-08-20 10:51] mesnitu opened #839 "MailChimpLogger.INFO: The product that was requested doesn't exist."
Hi
I'm getting this mailchimp log on a magento 2.3.1 with Mailchimp v102.3.36

[2019-08-20 10:30:33] MailChimpLogger.INFO: 4
 [] []
[2019-08-20 10:30:33] MailChimpLogger.INFO: 4
 [] []
[2019-08-20 10:30:33] MailChimpLogger.INFO: Generate Products payload
 [] []
[2019-08-20 10:30:35] MailChimpLogger.INFO: Generate Customers payload
 [] []
[2019-08-20 10:30:36] MailChimpLogger.INFO: Generate Orders

[2019-08-20 18:43] gonzaloebiz commented on #839
Hi @mesnitu

i can't replicate the issue.
Looks like you have some issue when loading the order, take a look at
https://github.com/mailchimp/mc-magento2/blob/develop-2.3/Model/Api/Order.php#L163 and
https://github.com/mailchimp/mc-magento2/blob/develop-2.3/Model/Api/Order.php#L239

Best

[2019-08-21 13:01] ihor-sviziev opened #840 "PayPal Express orders sync fails - Last name is NULL"
### Preconditions

    1. Magento OS 2.3.2
    2. mc-magento2 102.3.36.

### Steps to reproduce

    1. Add to cart any product
    2. Place order using PayPal Express

### Actual and Expected result

**Actual result**
Some orders fails with error
![image](https://user-images.githubusercontent.com/1873745/63433903-b3767200-c42c-11e9-885d-0126030a2ce3.png)

[code]

**Expected result**
All orders sh

[2019-08-21 15:20] gonzaloebiz opened #841 "Mark orders with error to not try to re-sync"
Mark the order when GeneratePOSTPayload fails.

[2019-08-21 15:38] #841 closed, assigned to gonzaloebiz

[2019-08-21 15:39] gonzaloebiz commented on #840
Hi @ihor-sviziev

thanks for your feedback.
I think this happens only for guest customers, right?

[2019-08-21 15:40] ihor-sviziev commented on #840
Yes

On Wed, Aug 21, 2019 at 18:39 Gonzalo Dominguez <notifications@github.com>
wrote:

[2019-08-21 16:44] gonzaloebiz commented on #840
thanks @ihor-sviziev just fixed and released in the new version

[2019-08-21 16:44] #840 closed, assigned to gonzaloebiz

[2019-08-22 07:22] k94pro opened #848 "Mailchimp configuration not working in magento 2 Error when istalled?"
1 exception(s):
Exception #0 (Exception): Notice: Undefined index: id in /home/ploma/public_html/vendor/magento/module-config/Model/Config/Structure/Element/Iterator.php on line 63

Exception #0 (Exception): Notice: Undefined index: id in /home/ploma/public_html/vendor/magento/module-config/Model/Config/Structure/Element/Iterator.php on line 63
<pre>#1 Magento\Config\Model\Config\Structure\Element

[2019-08-22 12:05] gonzaloebiz commented on #848
Please follow the [issue reporting guidelines](https://github.com/mailchimp/mc-magento2/wiki/Issue-reporting-guidelines)

[2019-08-22 12:05] #848 closed, assigned to nobody

[2019-08-22 16:15] gonzaloebiz opened #849 "Make strong check for the API key"
In the configuration page and in the new malchimp store, check if the API key is valid, if not show an alert

[2019-08-23 13:00] #849 closed, assigned to gonzaloebiz

[2019-08-29 14:52] ihor-sviziev opened #857 "Not all batches are saved when multi store enabled"
### Preconditions
    1. Magento 2.3.2
    2. mc-magento2 102.3.36.
    3. Two or more store views configured to be synced with Mailchimp

### Steps to reproduce

    1. Disable cron jobs
    2. Create 2 orders, on store view 1 and on Store view 2
    3. Enable cron jobs
    4. See Mailchimp log and in mailchimp_sync_batches table
### Actual

1. In logs we have following
[code]

2. In batches tabl

[2019-08-29 15:01] ihor-sviziev opened #858 "Order trying to sync again and again when product wasn't found"
### Preconditions
    1. Magento 2.3.2
    2. mc-magento2 102.3.36.

### Steps to reproduce

    1. Disable cron jobs
    2. Place an order
    3. Delete product that you just bought
    4. Enable cron jobs

### Actual
1. On each cron run in logs we have something like this:
[code]
2. In order grid order status is "Syncing"

### Expected result
1. **Only on first run** we should have message in lo

[2019-08-29 15:29] gonzaloebiz commented on #858
Hi @ihor-sviziev

take a look at https://github.com/mailchimp/mc-magento2/issues/797 think this fix your issue

Best

[2019-08-29 15:43] ihor-sviziev commented on #858
Yeah, looks you’re right.

Duplicate of #797

[2019-08-29 15:43] #858 closed, assigned to nobody

[2019-08-29 17:04] gonzaloebiz commented on #857
Hi @ihor-sviziev

try applying https://github.com/mailchimp/mc-magento2/commit/87abecd6f69afbfbc47ba7177bb28fc67726cd77

[2019-08-30 01:18] amarroni commented on #60
Following this recommendation worked like a charm with mc 2.2.4
Thank you @gonzaloebiz!

[2019-08-30 05:53] ihor-sviziev commented on #857
In general looks good. I added few my comments for this commit, something like this https://github.com/ihor-sviziev/mc-magento2/commit/52ab068f3c7994a8653bb3843a931bfecd3f2235

[2019-08-30 09:49] ihor-sviziev commented on #857
@gonzaloebiz,
I just tested - it works fine.

[2019-09-02 14:39] #857 closed, assigned to gonzaloebiz

[2019-09-02 14:49] gonzaloebiz opened #862 "Made sure a missing "simple_sku" won't break the entire sync"

[2019-09-02 19:20] #862 closed, assigned to gonzaloebiz

[2019-09-02 19:28] #839 closed, assigned to nobody

[2019-09-04 10:13] ihor-sviziev opened #866 "Do not add anything to frontend if module disabled"
### Preconditions

1. Magento OS 2.3.2
2. mc-magento2 102.3.36
3. Remove all configuration related to Mailchimp module from code_config_data table & flush cache
[code]

### Steps to reproduce

1. Go to home page
2. View content

### Actual result
- In head we have `<script type="text/javascript" src="" defer></script>` that was added by Mailchimp module.
- It actually adds one more request to home

[2019-09-04 17:37] #866 closed, assigned to gonzaloebiz

[2019-09-04 17:47] ihor-sviziev commented on #866
Thank you!

[2019-09-05 15:09] Ashnetn opened #871 "error occured when creating a new page in magento 2.3.2"
Unable to unserialize value. Error: Control character error, possibly incorrectly encoded

Error log record number: 873206708532

[2019-09-05 15:27] #871 closed, assigned to nobody

[2019-09-05 18:34] vDeggial opened #872 "ebizmarts_commerce cron jub gets stuck on running"
Magento 2.3.2
Plugin version 102..2.36

Ever since sometime last night no orders are getting synced to Mailchimp, no news log entries in Mailchimp.log and cron seems to get stuck in "running" state:

![image](https://user-images.githubusercontent.com/9992759/64369367-13dee500-cfd1-11e9-8230-3600d888a798.png)

Was all fine just before the issue started around 6:15pm PDT it seems ...

[2019-09-05 18:50] vDeggial commented on #872
it seems to be fine now ....

[2019-09-10 17:46] Flipmediaco opened #873 "Upgrading Magento 2.2.9 - Segmentation fault: 11"
## Title

Upgrading Magento 2.2.9 - Segmentation fault: 11

Segmentation fault: 11 returned when running:  php -d memory_limit=-1 ./bin/magento setup:upgrade

"Module 'Ebizmarts_MailChimp':
Installing data... Upgrading data... Segmentation fault: 11"

## Issue Description

Having upgraded from Magento 2.2.7, when running upgrade "Segmentation fault: 11" is returned.

I have completely removed Mail

[2019-09-12 16:29] gonzaloebiz opened #874 "Fix catching campaign with enabled Varnish FPC"
### Description
After applying changes from https://github.com/magento/magento2/pull/21818 - I got an issue - campaign IDs is always empty when customer went from Mailchimp.

Motivation for this fix was following - all marketing get params should be removed on Varnish in order to improve using Full Page Cache.

In order to fix this issue - we're sending `mc_cid` not as get parameter `mailchimp/cam

[2019-09-16 14:30] gonzaloebiz commented on #873
Hi @Flipmediaco

thanks for your feedback.
What method do you use to update from magento 2.2.7 to magento 2.2.9?

Best

[2019-09-16 14:36] Flipmediaco commented on #873
Hi

I via CLI, see below...

php -d memory_limit=-1 ./bin/magento maintenance:enable
composer require magento/product-community-edition 2.2.9 --no-update
composer update --no-dev
rm -rf var/page_cache/* var/di/* var/view_process/* var/cache/* var/generation/*
rm -rf pub/static/adminhtml pub/static/deployed_version.txt pub/static/_requirejs pub/static/frontend
php -d memory_limit=-1 ./bin/magento s

[2019-09-16 15:19] gonzaloebiz commented on #873
Hi @Flipmediaco

i just try and works like a charm for me.

1. Install magento 2.2.7 with sample data
2. Install mc-magento2 (composer require mailchimp/mc-magento2:101.2.36)
3. Run setup:upgrade to ends the mc-magento2 installation
4. Upgrade magento from 2.2.7 to 2.2.9 per your instructions

Best

[2019-09-16 15:25] Flipmediaco commented on #873
Hi

I suspect the issue relates to our data mc versions.

The 2.2.7 instance has mailchimp/mc-magento2 1.2.33 installed.

I will attempt and upgrade of mailchimp/mc-magento2 before upgrading:

composer require mailchimp/mc-magento2:101.2.36

Thanks Laurie

[2019-09-16 15:31] gonzaloebiz commented on #873
OK, let me know if works.
For now we close the issue

[2019-09-16 15:31] #873 closed, assigned to nobody

[2019-09-16 22:02] vDeggial commented on #872
and the same issue is back again :(

[2019-09-17 14:07] gonzaloebiz commented on #872
Hi @shinoamakusa

thanks for your feedback.
Not looking like an issue in the extension, looks more an issue in your installation, please contact to our support and we are pleased to help you.

Best

[2019-09-17 14:07] #872 closed, assigned to nobody

[2019-09-18 08:19] vkapsitsolutions commented on #777
I am new in Magento and I have set up MailChimp for my website and having the latest version but that is not working for me so Can you please help me to know how you solve this issue using commands.

Looking for your reply

[2019-09-18 14:47] gonzaloebiz commented on #777
Hi @futuretech123

contact our support team

Best

[2019-09-21 13:17] SOScott84 opened #875 "Magento 2 Bug - Subcribed then Unsubscribed During Account Register"
I am experiencing a problem with the mailchimp module in Magento 2.  Whenever I register a customer in Magento, on the frontend, and check "Sign up for newsletter" it creates an account in Mailchimp as unsubscribed, and in Magento, I am unsubscribed from the newsletter.

Upon further investigation vendor/magento/module-newsletter/Model/Plugin/CustomerPlugin.php's afterSave is ran 3 times during cu

[2019-09-21 15:24] #875 closed, assigned to nobody

[2019-09-21 15:25] gonzaloebiz commented on #875
Please follow the issue format

Best

[2019-09-22 20:08] Daniel304 opened #876 "After install with composer table not found"
After running composer require mailchimp/mc-magento2
I ran setup:upgrade during the run it throws an error:
Upgrading schema.. SQLSTATE[42S02]: Base table or view not found: 1146 Table 'brickfever.mailchimp_sync_ecommerce' doesn't exist, query was: DESCRIBE `mailchimp_sync_ecommerce`

It is magento 2.3.2

[2019-09-23 12:30] gonzaloebiz commented on #876
Please take a look at https://github.com/mailchimp/mc-magento2/issues/664

Best

[2019-09-23 12:30] #876 closed, assigned to nobody

[2019-09-24 15:33] Flipmediaco commented on #873
Hi

I have repeated the upgrade without error using your advise and ensuring I removed the old version prior as I couldn't recall when it was originally installed.

Installing the most recent mailchimp/mc-magento2 for M2.2 before upgrading was at the core of the solution.

Thanks

[2019-09-29 22:23] onepack commented on #457
This is not fixed.
After install the whole site is not responding for a long time and I also see the quote and order table altered by the MC module!
mailchimp_abandonedcart_flag, mailchimp_campaign_id, mailchimp_flag and mailchimp_landing_page are added.

[2019-09-29 22:46] onepack commented on #457
@ihor-sviziev, can it be you installed via composer? There is a general bug that updating via composer can disable all cache types. This will make the shop malfunction.
After using composer I nowadays always check the cache:status.
This was my problem in this case after installing mailchimp.

[2019-09-30 03:29] ihor-sviziev commented on #457
Hi @onepack,
You just descrived two issues - issue that mailchimp module updating quite big tables - orders and quotes that causes long downtime, this is what should be fixed in mailchimp module. Second issue - following https://github.com/magento/magento2/issues/17634, it’s magento issue and it have to be fixed separately

[2019-09-30 08:37] luuksuijkerbuijk opened #880 "mailchimp_webhook_request table is increasing real fast"
## mailchimp_webhook_request table is increasing real fast.

On our live environment the mailchimp_webhook_request table is increasing really fast. Currently this table contains over 40 million records. We already dropped the whole table, but after the sync with MailChimp all the records are back again.

### Preconditions
    1. Magento CE 2.2.5
    2. mc-magento2 101.2.36

I don't know how this h

[2019-09-30 12:23] gonzaloebiz commented on #880
Hi @luuksuijkerbuijk

thanks for your feedback.
Please take a look at https://github.com/mailchimp/mc-magento2/issues/598 as you can view there https://github.com/mailchimp/mc-magento2/commit/14a6259d8a2ef1488b81e783e881efab7e50334f we remove the processed registers with one month age.
Check if the cron job ebizmarts_clean_batches is running

Best

[2019-09-30 12:23] #880 closed, assigned to nobody

[2019-10-02 08:50] luuksuijkerbuijk commented on #880
Hi @gonzaloebiz,

This cron is running with no problems.
Also, I'm talking about the mailchimp_webhook_request table, but also the ebizmarts_clean_webhooks is running successfully.

[2019-10-02 11:12] Anxiro commented on #862
Why not credit @sicet7 for finding and fixing this issue?

[2019-10-02 20:32] gonzaloebiz opened #881 "Make changes to pass code sniffer"

[2019-10-03 13:54] #881 closed, assigned to gonzaloebiz

[2019-10-03 13:54] #874 closed, assigned to gonzaloebiz

[2019-10-03 14:30] gonzaloebiz opened #887 "Error in cron when split databases"
When split the databases in 3

magento for default
magento_sales for sales
magento_quote

Looks like magento is not capable to do a join from tables from different databases.

Cron Job ebizmarts_ecommerce has an error: SQLSTATE[42S02]: Base table or view not found: 1146 Table 'magento23ee_sales.mailchimp_sync_ecommerce' doesn't exist, query was: SELECT `main_table`.*, `m4m`.* FROM `sales_order` AS

[2019-10-03 15:02] #887 closed, assigned to gonzaloebiz

[2019-10-11 07:54] amiddio opened #892 "Exception: Unable to unserialize value. Error: Syntax error"
In customer account menu on frontend, when clicking on 'Newsletter Subscriptions' menu, I'm getting error:

### Preconditions

1. Magento CE 2.3.2
2. mc-magento2 1.0.32.
3. Logged in customer in frontend

### Steps to reproduce

1. Navigate to storefront as a logged in customer.
2. Go to 'My account' page
3. Click "Newsletter Subscriptions" on the customer account sidebar menu.

### Additional inf

[2019-10-11 12:31] gonzaloebiz commented on #892
Hi @amiddio

thanks for choosing our extension.
Please uptade the extension to the current version (102.3.37)

Best

[2019-10-11 12:31] #892 closed, assigned to nobody

[2019-10-11 12:56] ambrose40 opened #894 "Mailchimp blank page in admin (duplicate in Magento 2.3.2-p2)"
### Preconditions

Describing preconditions is a great start, provide information on system configuration settings you have changed, detailed information on entities created (Products, Customers, etc), Magento and mc-magento versions. Basically, everything that would help developer set up the same environment as you have.

    1. Magento CE 2.3.2-p2 without sample data is installed.
    2. mailchi

[2019-10-11 12:57] ambrose40 commented on #894
Duplicate of #522

[2019-10-11 13:06] ambrose40 commented on #894
Please help me sort out this issue. Any help is kindly appreciated.

[2019-10-11 13:11] gonzaloebiz commented on #894
Hi @bl82

thanks for choosing our extension.
This looks like not an issue of the extension, looks like an installation issue, please contact our support team.

Best

[2019-10-11 13:11] #894 closed, assigned to nobody

[2019-10-11 14:27] gonzaloebiz opened #895 "Optimize MailChimp JS block"
Avoid initialization of all classes via Magento DI if JS URL has been already cached.

(for magento 2.3 look at https://github.com/mailchimp/mc-magento2/pull/891)

[2019-10-11 15:02] #895 closed, assigned to gonzaloebiz

[2019-10-14 16:28] thedarrenpeters opened #898 "Unable to sync with mailchimp"
Preconditions
1. Magento 2.3.2 without sample data
2. Mailchimp v102.3.34
3. Follow install procedures at https://mailchimp.com/help/connect-or-disconnect-mailchimp-for-magento-2/

Expected Result
1. Magento syncs with mailchimp

Actual Results
1. No syncing occurs, cron job errors out with following error

Warning: Invalid argument supplied for foreach() in .../vendor/mailchimp/mc-magento2/Helper

[2019-10-14 17:03] gonzaloebiz commented on #898
Hi @thedarrenpeters

thanks for choosing our extension.
Please install the current version

Best

[2019-10-14 17:03] #898 closed, assigned to nobody

[2019-10-14 17:15] thedarrenpeters commented on #898
What is current version?

[2019-10-14 17:56] gonzaloebiz commented on #898
You can find it at https://github.com/mailchimp/mc-magento2/releases

Best

[2019-10-15 06:28] vinoth-selvi commented on #894
@bl82 Did you found the solution. I'm also facing same problem.

[2019-10-15 07:39] ambrose40 commented on #894
@vinoth-selvi
Delete all mailchimp settings in core_config_data, flush magento cache and go to Mailchimp settings page:
`delete from core_config_data where path like "mailchimp%";`

[2019-10-15 08:28] amiddio opened #899 "API Key Invalid for Api Call"
Lost configuration settings after browser refresh.

I've entered valid API Key and clicked "Save config":
![Screenshot_1](https://user-images.githubusercontent.com/2463233/66814056-03624880-ef47-11e9-9d51-f01e3de3d6ea.png)

Then I've refreshed the page, and API Key lost:
![Screenshot_2](https://user-images.githubusercontent.com/2463233/66814058-03624880-ef47-11e9-8235-457c56fbaa41.png)

In MailChi

[2019-10-15 14:13] gonzaloebiz commented on #899
Are you using chrome?
Try with firefox, of with an incognito window

Best

[2019-10-15 14:54] amiddio commented on #899
No, I use Firefox.
Checked again via an incognito window:
- deleted all cache data from browser
- deleted cookies and cache storage

The same result: lost key after refresh.

[2019-10-15 16:45] gonzaloebiz commented on #899
Hi @amiddio

i check in both, chrome and firefox and works OK
Are you using some kind of password manager like lastpass or something like? Think that tour browser is auto-filling this field for you.
Try in a different pc in a browser without extensions

[2019-10-16 07:49] amiddio commented on #899
Thank you @gonzaloebiz,
it was related with config. I found solution for me here https://magento.stackexchange.com/questions/223978/magento2-2-3-admin-store-configuration-is-save-but-not-display-in-admin-panel

[2019-10-16 07:50] #899 closed, assigned to nobody

[2019-10-17 13:42] gonzaloebiz opened #900 "Typo in Ecommerce cron when mark an object with error"

[2019-10-18 06:41] ihor-sviziev opened #904 "Abandon Carts automation deletes First Name"
### Preconditions

- Have some integration with Mailchimp that could sync First name, for instance [Picreel](https://www.picreel.com/)
- Magento 2.3.2
- MC Magento2 102.3.36

### Steps to reproduce

1. Sign up to a newsletter through Picreel (including First Name)
2. Go to Mailchimp and see that both Email and First Name exist on your user
3. Add a product to Cart
4. Go to checkout page, fill up y

[2019-10-18 14:46] gonzaloebiz commented on #904
Hi @ihor-sviziev

thanks for your feedback.
Looks like an error in the mailchimp API
As i can view, the request for the new quote is

`    {
        "method": "POST",
        "path": "\/ecommerce\/stores\/xxxxxxxxxxxxxxx\/carts",
        "operation_id": "QUO_2019-10-18-14-40-06-93196500_13",
        "body": "{\"id\":\"13\",\"customer\":{\"id\":\"c8336fcb75ea89d78b543d1026bb4316\",\"email_address\"

[2019-10-18 16:12] ihor-sviziev commented on #904
@gonzaloebiz thank you!

[2019-10-21 15:49] pmathbliss commented on #459
#459 rereferences this issue.

[2019-10-23 03:25] swleighton opened #905 "Invalid ForEach Error when displaying MailChimp Stores"
After creating a MailChimp store the following error is shown on the MailChimp Store List Page /mailchimp/stores/
`Warning: Invalid argument supplied for foreach() in /app/vendor/magento/framework/View/Element/UiComponent/DataProvider/DataProvider.php on line 250`

No errors are shown in the MailChimp error logs. Data sync is working as expected.

### Preconditions
1. Magento Cloud 3.3.2
2. mc-mag

[2019-10-23 09:04] gonzaloebiz commented on #905
Hi @swleighton

are you migrating your magento and/or our extension for a previous version?
We test this use case with a magento 2.3.2 and 2.3.3 and works OK (we don't test it in the cloud)
Are you sure that your run a setup:static-content:deploy and setup:di:compile?

Best

[2019-10-23 18:59] brian-ebizmarts opened #906 "Invalid API key error when attempting to update settings."
### Preconditions
    1. Magento 2 any version
    2. mc-magento2 any version

### Steps to reproduce

- Turn on offer to save passwords in the browser settings and accept to remember some password on the same domain shared with Magento.
- Set up the extension and attempt to save the settings, the error "Invalid API key" is returned by Mailchimp.

[2019-10-23 20:59] swleighton commented on #905
Hi @gonzaloebiz,

We're not migrating, it's a new build. I've also found the following issue experiencing the same problem a couple of years ago https://github.com/mailchimp/mc-magento2/issues/127.

I'll feedback the possible fix to the team to investigate plus check file permissions.

Appreciate your help.

Simon

[2019-10-28 22:10] panthar1 opened #911 "Cron_sceduler shows errors on cron"
We are running magento 2.2.10 and having issues getting this module to work since update from 2.2.7. We are running 101.2.37 version of mc-magento2. I can see the cron(s) are not running successfully; please see the bottom for what is in the cron_scheduler table for the cron job(s). Additionally, our synchronization with mailchimp is not completing successfully, and we suspect it's related to thes

[2019-10-29 08:03] gonzaloebiz commented on #911
Hi @panthar1

please contact our support team, we will be glad to help you.

Best

[2019-10-29 08:03] #911 closed, assigned to nobody

[2019-11-01 12:11] ihor-sviziev opened #912 "JS error on product page with slow internet"
### Preconditions
1. Magento 2.3.2
2. Mailchimp module 102.3.36

### Steps to reproduce
1. Open  Google Chrome in incognito mode
2. Enable Developer tools > Network > Select "Slow 3g" connection
3. Navigate to product page
4. See console logs

### Actual result
We have JS error, can't add product to cart
![image](https://user-images.githubusercontent.com/1873745/68023901-4e9f8980-fcb1-11e9-9058-4d

[2019-11-01 13:57] gonzaloebiz commented on #912
Hi @ihor-sviziev

really thanks for find this.

[2019-11-01 14:12] ihor-sviziev commented on #912
@gonzaloebiz I also looked for the same issue in other files and found:

https://github.com/mailchimp/mc-magento2/blob/a057ea114eb65a306b473b0b6dee7c938317ff62/view/adminhtml/web/js/apikey.js#L18

https://github.com/mailchimp/mc-magento2/blob/a057ea114eb65a306b473b0b6dee7c938317ff62/view/adminhtml/web/js/configapikey.js#L18

In these files we also don't have dependency. I think would be great to f

[2019-11-01 14:29] gonzaloebiz commented on #912
I will take a look at all the js.

Tanks

[2019-11-01 15:25] gonzaloebiz commented on #912
@ihor-sviziev

think all the js are fixed, thanks

[2019-11-01 15:25] #912 closed, assigned to gonzaloebiz

[2019-11-08 14:28] brian-ebizmarts opened #919 "Cron job unhandled exception type (InvalidArgumentException)"
### Preconditions
1. Magento any version
2. Mailchimp for Magento 2 any version

### Steps to reproduce
1. Configure the extension and enable the ecommerce data.
### Expected result
Orders synced to mailchimp.
### Actual result
Cronjob ebizmarts_ecommerce fails and the store is not synced:
[code]

[2019-11-11 14:53] gonzaloebiz opened #920 "Uncaught TypeError: strpos() expects parameter 1 to be string, null given in vendor/magento/module-theme/Controller/Result/JsFooterPlugin.php:44 in Magento 2.3.3"
When trying to execute the webhook in magento 2.3.3

[2019-11-11 14:58] #920 closed, assigned to gonzaloebiz

[2019-11-11 17:17] gonzaloebiz opened #922 "Error grid, bad data when try to sort for one field 3 times"
Go to the error grid.
Select any field and click to sort by this field 3 times, you can see that all the rows have the same data.

[2019-11-11 17:52] #922 closed, assigned to gonzaloebiz

[2019-11-12 16:41] #905 closed, assigned to nobody

[2019-11-15 13:42] gonzaloebiz opened #926 "Bad management of the groups in the webhooks"
When processing the webhooks, if the webhook include a change in the subscription to the groups, these changes are not processed

[2019-11-15 14:47] #926 closed, assigned to gonzaloebiz

[2019-11-15 14:49] #900 closed, assigned to gonzaloebiz

[2019-11-19 18:26] Flipmediaco opened #930 "Mailchimp sync no longer syncing"
All orders since upgrade to Magento 2.3.3 & mailchimp/mc-magento2 102.3.37 remain with the label "Syncing" in Mailchimp sync column on order grid

## Issue Description

### Preconditions

Syncing prior to upgrade was working correctly, order data was confirmed as being sent to Mailchimp via green tick icon in Mailchimp sync column, since upgrading all orders remain with the status "Syncing" with a

[2019-11-19 18:52] gonzaloebiz commented on #930
Hi @Flipmediaco

can you please let us know from what version of magento and mc-magento2 you come?

From what version of magento and mc-magento2 you come?

[2019-11-19 23:40] Flipmediaco commented on #930
Prior Version Combinations:-
magento/magento2-base 2.2.7 - mailchimp/mc-magento2 1.0.32
magento/magento2-base 2.2.9 - mailchimp/mc-magento2 101.2.36
magento/magento2-base 2.3.3 - mailchimp/mc-magento2 102.3.37

[2019-11-20 11:31] Flipmediaco commented on #930
The error returned on attempting to "Save" via create new mailchimp store:-

[code]

Thanks

[2019-11-20 12:33] #438 closed, assigned to nobody

[2019-11-20 13:39] gonzaloebiz commented on #930
Hi @Flipmediaco

i just try installing magento 2.2.9 and mailchimp 101.2.36 and then upgrade to magento 2.3.3 and mailchimp 102.3.37 and works OK for me
Also search all the code, and we never use helper->getUrl function

What method did you use to install the extension?
Check the file permission

Best

[2019-11-20 14:12] Flipmediaco commented on #930
Installed via module composer:

`composer require mailchimp/mc-magento2 --no-update`

_I was able to get past 500 error creating mailchimp store by reseting permissions - sorry I should have checked._

**At this point our instance is still not syncing with mailchimp, having reset the API and deleted / recreated the mailchimp store. All orders in range of "Ecommerce Configuration" "First Date" are

[2019-11-20 15:09] gonzaloebiz commented on #930
Check the mailchimp_sync_ecommerce table for theses orders.
For this, select type = 'ORD' and related_id = theidofyourorder
Look for the batch_id column and then search this batch in the mailchimp_sync_batches table and look at the status of the batch.
What status has the batch?

[2019-11-20 18:30] Flipmediaco commented on #930
I have traced the batch for a couple of orders, these all shows as complete in mailchimp_sync_batches. In fact everything looks in order... But I would appreciate your feedback. In the following example the icon and feedback in the mailchimp sync column remains the red cross in the circle labeled as "Syncing", the data is as follows.

Example:

Order: 000009102 (order_id/**7285**)
--
mailchimp_syn

[2019-11-21 14:23] gonzaloebiz commented on #930
Take a look at https://github.com/mailchimp/mc-magento2/issues/140
As you can see, the + symbol means that your order was never synced, but... you have registers in the mailchimp_sync_ecommerce table for this order (as your order is modified, should have
![image](https://user-images.githubusercontent.com/6222792/69346212-32a85b80-0c51-11ea-8f5d-51d962f5279c.png) icon)
... so are you sure that the

[2019-11-21 14:51] Flipmediaco commented on #930
Thanks for taking the time. I removed all configuration and rebuilt. I can see that orders are now being cued for syncing and have the "waiting" icon as per your prior message. I suspect an issue between our staging instance and production instance was at fault it. Hopefully I will be able to report normal operation once orders advance to "Syncd".

[2019-11-21 15:05] gonzaloebiz commented on #930
OK, i close the issue now, if you need further help, contact our support.

Best

[2019-11-21 15:05] #930 closed, assigned to nobody

[2019-12-03 19:03] brian-ebizmarts opened #931 "Take the first date value from storeview scope."
### Preconditions

    1. Magento 2
    2. mc-magento any version

### Steps to reproduce
    1. Set up the extension
    2. Set a first date in Default config scope.
    3. Set a first date in Store view config scope.

### Actual and Expected result
Always taking the first date value from Default config scope.

[2019-12-04 17:29] gonzaloebiz opened #932 "Strong check for interest groups"

[2019-12-04 17:43] #932 closed, assigned to gonzaloebiz

[2019-12-04 18:06] #931 closed, assigned to gonzaloebiz

[2019-12-09 17:20] #906 closed, assigned to gonzaloebiz

[2019-12-14 11:29] xpoback commented on #400
You say you can't reproduce it and then provide information on a workaround for this bug in the code.
 :+1: :fist_right:  :-1:

[2019-12-17 08:43] IvanChepurnyi opened #939 "[Performance Issue] HTTP calls to mailchimp on every page request and config cache flush"
The module does HTTP calls on every page when the extension is just installed and not yet all JS URLs are fetched. The code behind a problem is this helper [method](https://github.com/mailchimp/mc-magento2/blob/develop/Helper/Data.php#L840).

This URL retrieval for JS should have been done via cronjob and storing URL should be done in an own database table. Updating store configuration triggers a

[2019-12-17 18:00] brian-ebizmarts opened #940 "Loading screen stuck when attempting to save the API key."
### Preconditions
    1. Magento 2
    2. mc-magento2 102.3.37, 101.2.37, 100.1.37

### Steps to reproduce
Set up the extension using a Mailchimp account with at least one mailchimp store created in Magento 1 but not having any one created in Magento 2.

[2019-12-18 12:20] #940 closed, assigned to gonzaloebiz

[2019-12-18 13:42] gonzaloebiz commented on #939
Hi @IvanChepurnyi

thanks for your feedback.
Please take a look at https://github.com/mailchimp/mc-magento2/pull/891 this is already fixed and will be available on next release

Best

[2019-12-18 16:11] IvanChepurnyi commented on #939
The mentioned pull request does not address main issue with configuration cache wipe out on frontend and update of `core_config_data` table.

[2019-12-23 10:09] swimmer-zone opened #944 "Can't save API Key"
## Issue Description

If I try to save the API Key in Mailchimp > Configuration, I get the following error in the console: `data.stores is undefined`, because the corresponding AJAX call just returns `{"valid":1}`, which seems right, because I haven't created any Mailchimp Stores yet.

However, if I try to create a Mailchimp Store, I can't save that, because I haven't saved the API-key.

### Preco

[2019-12-23 13:32] viniciusfabri opened #945 "Subscriber "Not activated" in Magento even after email confirmation"
## Issue Description

### Preconditions

    1. Magento EE 2.3.3 is installed
    2. mc-magento2 102.3.37
    3. Double opt-in is enabled in MAilchimp (and * Magento always manage emails* is *No*)
    4. *Enable Two Way Sync: Yes*

### Steps to reproduce

    1. Navigate to homepage as a guest.
    2. Try to subscribe
    3. You get the confirmation email, click on the confirmation link

### Actua

[2019-12-23 15:52] gonzaloebiz commented on #945
Hi @viniciusfabri

sorry but i don't understand. The expected and actual results are the same?
The confirmation of the subscription when you click in the email is made via webhook, look at https://github.com/mailchimp/mc-magento2/blob/develop-2.3/Controller/WebHook/Index.php
Once the webhook is received is saved in a table and processed via cron on this https://github.com/mailchimp/mc-magento2/blo

[2019-12-23 16:03] viniciusfabri commented on #945
Hi @viniciusfabri ,
My bad, updated the description

As for webhooks, if the site has HTTP basic auth (as it has in our case), is there a way to work around it? The site is not yet ready to be live but we want to test this functionality before going live

[2019-12-23 16:29] gonzaloebiz commented on #945
No, the site must be open to make the webhooks works, sorry

[2019-12-23 16:29] #945 closed, assigned to nobody

[2019-12-26 13:45] gonzaloebiz commented on #944
Hi @Yupsie

please take a look at https://github.com/mailchimp/mc-magento2/issues/940

Best

[2019-12-26 13:45] #944 closed, assigned to nobody

[2019-12-27 14:48] #939 closed, assigned to gonzaloebiz

[2020-01-03 10:24] viniciusfabri opened #949 "New release for 2.3.x?"
Hi,

We were facing #920 on our site and since this ticket is not on a new release yet, I tried to apply a patch for that PR, but it seems the code is behind by some commits and I'd have to apply quite a few patches for it to work. I was wondering if there were any plans of generating a new release from develop-2.3 with these new fixes, since the last one is from September?

We are using Magento E

[2020-01-03 12:51] gonzaloebiz commented on #949
Hi @viniciusfabri

we are trying to release a new version this month

Best

[2020-01-03 12:51] #949 closed, assigned to nobody

[2020-01-04 12:09] onlyapproved opened #950 "Connecting with API Key : Uncaught TypeError: Cannot read property 'length' of undefined"
Hey Guys.

We are seing some issues when connecting the module with mailchimp.

the site we are working on is currently in "Dev" but, i dont believe this is the case for it not working. Imidiatly after entering the API key, the module starts populating, but throws an error in the console.

Uncaught TypeError: Cannot read property 'length' of undefined
    at Object.<anonymous> (configapikey.js:108

[2020-01-04 12:17] #950 closed, assigned to nobody

[2020-01-08 05:11] bizlift commented on #949
Is develop-2.3 branch safe to use temporarily until next release?

[2020-01-08 11:14] viniciusfabri commented on #949
@bizlift I noticed a bug when creating a webhook and showing the success message, but it created the webhook successfully. The subscription flow seems to be working fine (testing is still in progress), and we are only using this feature, so I can't say for sure about the other functionalities, you might want to do a full regression on your end too

For reference we are on commit b68ad51eea6045a895

[2020-01-09 07:56] arvin-narvaez opened #951 "getting credential key"
Hi,

i have issue when i get credential key after i paste the key is only loading and i see the console have issue. see the image below.

![image](https://user-images.githubusercontent.com/58678342/72048695-548c9900-32f8-11ea-9181-6b29283e3c4e.png)

[2020-01-09 08:30] arvin-narvaez commented on #74
same issue i can't save the API key any fix?

[2020-01-09 13:01] gonzaloebiz commented on #951
Hi @arvin-narvaez

please follow the [issue reporting guidelines](https://github.com/mailchimp/mc-magento2/wiki/Issue-reporting-guidelines)

Best

[2020-01-09 13:01] #951 closed, assigned to nobody

[2020-01-10 18:49] onepack commented on #511
This doesn't help. I have the same issue for a customer. Just write down what the solution is.

[2020-01-10 18:54] onepack opened #955 "Magento2 and Mailchimp: This MailChimp account is not connected to Magento."
A customer is using:
Magento2.3
Mailchimp v1.3.33 by ebizmarts.

Magento is one website and multistore.

I enabled the list etc. for one storeview.
All info is visible but the status remains:
This MailChimp account is not connected to Magento.

Please advice why this happens.

[2020-01-10 18:56] gonzaloebiz commented on #955
Hi @onepack

you must enable the ecommerce option

Best

[2020-01-10 18:56] #955 closed, assigned to nobody

[2020-01-10 19:05] onepack commented on #955
Ok, thank you for your fast reply. It seems to do the trick! I don't know why this e-commerce option is needed for the subscribers to sync buy hey, it works so I'm happy.

[2020-01-29 03:21] olivercastro opened #956 "Update required dependency for those using magento/product-community-edition"
###  Issue Description
Module installation using composer would throw an error due to required dependency for **magento/framework 102.0.***

### Preconditions
Installed Magento 2.2.10 using composer. Added the Mailchimp module by executing
`composer require mailchimp/mc-magento2 `

### Actual Result

` - Installation request for magento/product-community-edition 2.2.10 -> satisfiable by magento/pr

[2020-01-29 14:04] SantiParagarino commented on #956
Hello @olivercastro
Thanks for reaching us.
You are installing the wrong version, we have one per each Magento (2.1.x, 2.2.x, 2.3.x)
Please note we have an explanation on which version of Mailchimp for Magento can be installed in which Magento version as well as the commands required for it to be installed at https://github.com/mailchimp/mc-magento2/releases

[2020-01-29 14:05] #956 closed, assigned to nobody

[2020-01-29 16:19] potticus commented on #753
I solved this very issue by removing these lines from /vendor/mailchimp/mc-magento2/Helper/Data.php on line 1029

`            foreach ($allInterest['categories'] as $item) {
                if (in_array($item['id'], $interest)) {
                    $rc[$item['id']]['interest'] = ['id' => $item['id'], 'title' => $item['title'], 'type' => $item['type']];
                }
            }

[2020-02-02 05:07] chenghuili opened #957 "it seems couldn't compatible with magento 2.3.3"
I installed the latest mailchimp and I didn't install any the third party of extension.
the is not API Key list field, only API Key field. and when I type api key, it always notice API Key Invalid.
and I also couldn't create mailchimp store.

[2020-02-03 13:08] SantiParagarino commented on #957
Hello @chenghuili
Please read our doc on how to install the extension.
Each github release includes an explanation on how to install each version.

Kind Regards,
Santiago Paragarino

[2020-02-03 13:08] #957 closed, assigned to nobody

[2020-02-04 14:28] giorello opened #958 "Subscribe checkbox not appearing in success page."
**System Versions**
1. Magento CE 2.3.x with sample data installed.
2. mc-magento2 v102.3.37

### Steps to reproduce

1. Navigate to storefront
2. Add products to cart and go to checkout
3. Login as customer or guest customer but with email address.
3. Place the order.

### Actual and Expected result
**Expected result**
Order created and visible checkbox to subscribe to newsletter.

**Actual resul

[2020-02-04 14:35] #958 closed, assigned to nobody

[2020-02-04 21:16] jproffer commented on #906
I have this issue with the current version of the plugin (102.3.37).  When I add the API key I get a blank error popup,  and going to stores, the dropdown says 'invalid api key'.

[2020-02-05 03:20] jproffer commented on #940
when will this be merged into master? I installed this extension from the marketplace, and it's still 102.3.37.

[2020-02-05 13:11] SantiParagarino commented on #906
Hello @jproffer

Please make sure your API Key is currently working. As soon as you add it in the API Key field, when you click outside of the field, do you see your account details show in the box below?
You can get the API Key by clicking the **GET API CREDENTIALS** button.
If that API Key does not work you can also create a new one at https://mailchimp.com/help/about-api-keys/

If you still hav

[2020-02-05 13:14] SantiParagarino commented on #940
Hello @jproffer
You can see the latest releases at https://github.com/mailchimp/mc-magento2/releases
Please note this issue only happens when there are no audiences in your Mailchimp account. You can easily get around it by creating an audience.
With new accounts, this problem does not happen because there is always a default list. You have to specifically delete it to experience this.

[2020-02-05 13:35] jproffer commented on #940
this IS a new account.  Everything was setup brand new - magento2 setup,
plugin & mailchimp account.

On Wed, Feb 5, 2020 at 7:14 AM Santiagoebizmarts <notifications@github.com>
wrote:

[2020-02-05 16:07] SantiParagarino commented on #940
@jproffer
In that case you should already have an Audience, if you don't create one and this will not be a problem anymore.

Kind Regards.

[2020-02-07 15:08] SantiParagarino opened #959 "Problems when installing Magento extensions with "composer install -o""
## Issue Description
Ref.: https://ebizmarts-desk.zendesk.com/agent/tickets/29987

### Preconditions
Tested with Magento 2.3.3 installed manualy and Mailchimp for Magento 102.3.37 installed via composer.

### Steps to reproduce
1. Install Mailchimp for Magento version 102.3.37
2. run composer install -o on Magento root folder.

### Expected result
Magento works without issues.

### Actual result
W

[2020-02-07 19:17] SantiParagarino commented on #959
Should be tested with Magento 2.1 and 2.2

[2020-02-10 09:33] olivercastro opened #961 "Customer DOB doesn't include the year."
###  Issue Description
Customer DOB only gets the first 3 characters of the date format

### Additional information

The offending code can be found on line line 632 of class vendor/mailchimp/mc-magento2/Helper/Data.php

https://imgur.com/a/KPq1zmI

[2020-02-10 13:56] gonzaloebiz commented on #961
Hi @olivercastro

the DOB in mailchimp doesn't include the year, this is why.
Look the mailchimp form
![image](https://user-images.githubusercontent.com/6222792/74155868-0834c180-4bf4-11ea-8b64-e54f8eace1f8.png)

[2020-02-10 13:56] #961 closed, assigned to nobody

[2020-02-12 22:00] shreddieb commented on #145
@gonzaloebiz I know this is an old / closed ticket, but I am experiencing what appears to be the same or very similar ebizmarts_ecommerce sync error now with newer releases:
Warning: Invalid argument supplied for foreach()
vendor/mailchimp/mc-magento2/Model/Api/PromoRules.php on line 154

![ebizmarts_ecommerce-error](https://user-images.githubusercontent.com/7809650/74381140-c8aad880-4d9f-11ea-981

[2020-02-13 20:23] andrewkett commented on #583
I was seeing this error while running `bin/magento setup:upgrade --keep-generated` on an existing install. After running `bin/magento setup:di:compile` I no longer saw the issue. I hindsight I think running `bin/magento setup:upgrade` without the `--keep-generated` would have also worked.

[2020-02-13 23:46] BreezeMaxWeb-NS opened #962 "Sales Mailchimp Column Not Filterable Or Exportable"
When you go to Sales -> Orders in Magento 2 you can see 2 columns, Mailchimp and Mailchimp Sync, but they have the following issues:

- If you click on them you can't sort the orders,
- If you go to filters you are unable to show only Mailchimp orders.
- If you click export CSV there is a Mailchimp column in the export file, but there is never any data populated.

These issues make it very hard to

[2020-02-14 18:30] gonzaloebiz opened #963 "The street line 3 is not synced in orders"

[2020-02-14 18:46] #963 closed, assigned to gonzaloebiz

[2020-02-19 10:54] tarasyyyk opened #967 "Cannot load All Customers in Admin panel if module disabled"
## Issue Description
An error occurred when trying to load Customer grid in Admin panel with disabled module.
Error is: `Error occurred when creating object: Magento\\Eav\\Model\\Entity\\Attribute\\Source\\Config`.

## Preconditions
Tested with Magento Community Edition 2.3.2, module installed via composer (v.102.3.37).

## Steps to reproduce
Install and enable module _Ebizmarts_MailChimp_.
Run `s

[2020-02-19 12:18] gonzaloebiz commented on #967
Hi @tarasyyyk

can you please specify version of magento and mc-magento2?

[2020-02-19 13:29] tarasyyyk commented on #967
Hi @gonzaloebiz . Updated issue description according to guidelines.

[2020-02-20 14:40] killday opened #968 "Wrong product image path"
## Issue Description

### Preconditions

    1. Magento CE 2.2.0
    2. mc-magento2 1.2.33.

### Steps to reproduce
Magento root directory is set to /pub as per recommendations by https://devdocs.magento.com/guides/v2.3/install-gde/tutorials/change-docroot-to-pub.html

Sync products to mailchimp.
### Actual
Images not showing in mailchimp as their URL includes /pub directory in URL like https://ww

[2020-02-20 15:14] gonzaloebiz commented on #968
Please look at https://github.com/mailchimp/mc-magento2/issues/169

[2020-02-20 15:14] #968 closed, assigned to nobody

[2020-02-21 10:18] killday commented on #968
I can confirm that this solved the problem:
Many users on that thread report that following works for accessing the images.
{{unsecure_base_url}}media/
{{secure_base_url}}media/

Just need to delete the store, create new one and resync data.
Thanks.

[2020-02-22 07:11] techguysourav commented on #60
Hi Guys,
I fixed same issue with composer command.
`composer require ebizmarts/mailchimp-lib`

You can download zip folder of library.
**https://api.github.com/repos/ebizmarts/mailchimp-lib/zipball/293960203ff1d834af5b2f2726f03063494a2265**

[2020-02-23 16:57] aqdennis opened #969 "Installation error: database prefix incorrect"
Magento 2.3.2

Trying to install develop version of Mailchhimp (102.3.37):

- composer require mailchimp/mc-magento2:dev-develop-2.3
- php bin/magento setup:upgrade

Error received:

Magento installation uses mg2 as prefix, so table name is mg2_catalogrule_product_price_replica. It somehow assues and extra "mg_" in the table name.

[2020-02-24 08:44] aqdennis commented on #969
Uninstalled Mailchimp extension and still got the problem. I also noticed that Installatron has messed up my Magento database.....so I presume this is causing the error rather than the Mailchimp extension.
Hence, I will close the issue.

[2020-02-24 08:44] #969 closed, assigned to nobody

[2020-02-24 15:13] gonzaloebiz commented on #967
Hi @tarasyyyk

i can't replicate your issue.
Please try to give more info to replicate

Best

[2020-02-24 15:13] #967 closed, assigned to nobody

[2020-02-26 10:59] loekvangool opened #970 "Chrome wrongly autofills Magento admin passwords in API field"
## Issue Description

### Preconditions

1. Magento CE 2.3.4 without sample data is installed.
2. mc-magento2 102.3.37 configured with a valid API key

### Steps to reproduce

1. Configure the extension as usual
2. Open the extension admin in Chrome
3. Chrome will prefill the admin password in the API field, causing an error every time and sending the password to Mailchimp's API endpoint.

### Act

[2020-02-26 12:11] gonzaloebiz commented on #970
Hi @loekvangool

this is a known issue with chrome.
Chrome auto-fill the field, we already try various fixes and chrome ignore the autocomplete, take a look at https://stackoverflow.com/questions/15738259/disabling-chrome-autofill

Best

[2020-02-26 12:11] #970 closed, assigned to nobody

[2020-02-29 10:43] killday opened #971 "Multiple emails for order confirmation"
## Issue Description
### Preconditions

Example:

    1. Magento CE 2.2.0 without sample data is installed.
    2. mc-magento2 1.2.33
    3. Magento always manage emails

### Steps to reproduce

    1. User or Admin create order

### Actual and Expected result

   Expected result:
   Send One confirmation email.
    Actual result:
    Sends 3 confirmation emails.

### Additional information

Start

[2020-02-29 13:34] aeu opened #972 "Question about migrating from Magento 1"
Hi,

We are migrating from a Magento 1 to a Magento 2 store, and the migration tool is giving us errors as follows:

[2020-02-29 13:20:01][ERROR]: Source fields are not mapped. Document: newsletter_subscriber. Fields: subscriber_firstname,subscriber_lastname,mailchimp_sync_delta,mailchimp_sync_error,mailchimp_sync_modified
[2020-02-29 13:20:01][ERROR]: Source fields are not mapped. Document: sales

[2020-03-02 14:43] gonzaloebiz commented on #971
Hi @killday

please update the extension to the current version (101.2.37)

Best

[2020-03-02 14:43] #971 closed, assigned to nobody

[2020-03-02 14:45] gonzaloebiz commented on #972
If you have questions, please contact our support team

[2020-03-02 14:45] #972 closed, assigned to nobody

[2020-03-03 20:14] bizlift commented on #949
Just checking in on estimated release.  It's been 2 months now.

[2020-03-04 11:28] killday commented on #971
Hi @gonzaloebiz

That doesn't help. Now there been 4 emails.

[2020-03-04 13:48] gonzaloebiz commented on #971
Hi @killday

we test your case, and work ok, we need more info to try to replicate

[2020-03-05 14:37] killday commented on #971
What info you need ?

[2020-03-05 15:46] gonzaloebiz commented on #971
I don't know, with the replication steps that you provide we can't replicate it.
I don't know your email configuration, or if you have some extension to manage the emails

[2020-03-07 06:46] tanolalano opened #974 "Add Phone Number to Customer Fields Mapping"
Hi all,
this is a feature request about Customer Fields Mapping.
Magento stores Account information in 'customer_entity' table that is shown on dropdown Magento in Customer Fields Mapping of Mailchimp general configuration. (see attached img)
![Schermata 2020-03-07 alle 07 36 08](https://user-images.githubusercontent.com/4384863/76138248-5ba8fc80-6046-11ea-8a40-919989442f7d.png)
Because Phone numb

[2020-03-07 09:22] chenghuili opened #975 "API Key list field missed"
I have tried many times to installed mailchimp via composer on magento 2.3, but it always missed API Key list field, I don't know where is mistake.
![1583560332206](https://user-images.githubusercontent.com/14212956/76140738-72783f00-6098-11ea-89ae-4b30a3d76d21.jpg)
![apiKeyList](https://user-images.githubusercontent.com/14212956/76140752-7dcb6a80-6098-11ea-824b-15b660c78afd.png)

[2020-03-09 12:56] gonzaloebiz commented on #975
The API Key list changes a couple of versions before (you can search in the changelog) and is not there anymore.

[2020-03-09 12:56] #975 closed, assigned to nobody

[2020-03-10 13:50] gonzaloebiz opened #976 "Incorrect import in Webhook controller"
As part of https://github.com/mailchimp/mc-magento2/issues/921 was fixed issue, but imported incorrect interface. Imported `Zend\Db\Adapter\Driver\ResultInterface` while code
https://github.com/mailchimp/mc-magento2/blob/244adc13cde4e2ed79e50858a637d61f7d8516e4/Controller/WebHook/Index.php#L84
will return instance of `Magento\Framework\Controller\ResultInterface`.

This does not introduce any issu

[2020-03-10 13:59] #976 closed, assigned to gonzaloebiz

[2020-03-12 03:50] LiamKarlMitchell opened #977 "Config Valid API Key has JS error Cannot read property 'length' of undefined "stores"."
Please wait... and spins forever. There is a JS Error when attempting to configure valid API Key.
Valid response does not have stores array?

### Preconditions

Preconditions:
1. Magento CE 2.3.2 is installed without sample data.
2. Installed mc-magento 102.3.37
3. I am using a Mailchimp login that was invited to the project on Mailchimp as an Admin.

### Steps to reproduce

Steps to reproduce:
1.

[2020-03-12 04:04] LiamKarlMitchell commented on #977
Sorry, further searching I came across more duplicates.
https://github.com/mailchimp/mc-magento2/issues/944
https://github.com/mailchimp/mc-magento2/issues/940

@Santiagoebizmarts  said the problem is no audience on the Mailchimp Account.
To create one and this will not be a problem anymore?

The JS code should tell the user this helpful information.
[code]
etc..

Only problem still remains becaus

[2020-03-12 04:15] LiamKarlMitchell commented on #977
I found under the top right menu on Mailchimp site.

Connected Sites.
It is already connected to the current Magento 1 website, I am developing a Magento 2 site to replace it due to the EOL.

When I click to add Magento 2  I am taken to the marketplace Mailchimp extension page, which is where I got the extension from yesterday.

I see that the Current Version on marketplace is 102.3.37 and the lat

[2020-03-12 04:23] LiamKarlMitchell commented on #977
Confirmed that https://github.com/mailchimp/mc-magento2/pull/952/commits/a8fa10c62ec4235f383b11ca9934c0709102d780 patch fixes it.

Thanks.

[2020-03-12 05:22] LiamKarlMitchell opened #978 "Customer Fields Mapping boxes have a tiny height/font-size?"
### Preconditions

1. Magento CE 2.3.2 is installed without sample data.
2. Installed mc-magento 102.3.37
3. I am using a Mailchimp login that was invited to the project on Mailchimp as an Admin.
4. Configured API Key and Store, subscriber shows up but name not set/mapped.

### Steps to reproduce
1. Login to Magento admin area and goto Mailchimp general config.
2. Attempt to configure Customer Fie

[2020-03-12 13:45] #977 closed, assigned to nobody

[2020-03-13 15:43] killday commented on #971
Hi @gonzaloebiz
The only extension for emails we use is mageplaza smtp.
I've made a test and disabled mc-magento2, make an order and receive only one confirmation email as normal.

[2020-03-17 16:56] samuelmafra opened #979 "Abandoned cart e-mail - wrong product name language store id"
We have multi-website stores in different domains, languages and currencies. The emails sent from the abandoned cart show the currency and image correctly, but the language of the product name is incorrect (show default product name). Someone experiencing the same problem?

[2020-03-17 17:14] gonzaloebiz commented on #979
Are you using a mailchimp store for each magento store?

[2020-03-17 17:31] samuelmafra commented on #979
Yes, each magento store use different mailchimp store.

[2020-03-17 17:32] gonzaloebiz commented on #979
What version of the extension are you using?

[2020-03-17 17:35] samuelmafra commented on #979
1.0.29

[2020-03-17 17:38] gonzaloebiz commented on #979
This is a really old version of the extension, please update it

[2020-03-17 17:38] #979 closed, assigned to nobody

[2020-03-17 17:39] samuelmafra commented on #979
Thank you

[2020-03-24 15:04] gonzaloebiz commented on #978
Hi @LiamKarlMitchell

what browser are you using?

[2020-03-25 13:24] rajshan2990 opened #980 "magento issue"
magento 2.1.x
magento 2.2.x

not really clear where where this is firing from except it occurs during cron.
vendor/mailchimp/mc-magento2/Model/Api/Customer.php ?

in cron schedule table:
job_code: ebizmarts_webhooks
messages:
"First Name" is a required value.
"First Name" length must be equal or greater than 1 characters.
"Last Name" is a required value.
"Last Name" length must be equal or greater

[2020-03-26 11:29] killday opened #981 "Requested country is not available."
### Preconditions
Magento 2.2.0
Mailchimp v101.2.37

### Steps to reproduce
Disable the extension for 30 days - in that period there been new orders and customers all from the same country.
Enable the extension and add new products.

Expected result:
All new products, customers and orders sync in.

 Actual result:
No sync.
Error:
Requested country is not available error message in the cronjob tabl

[2020-03-27 08:53] 4irm commented on #919
Same issue here. On our M2.2.10 CE test instance no issue. However on M2.2.11 CE we get the same cron job error...any update on this?

[2020-03-27 11:11] killday commented on #981
Update:
1. Delete and recreate store. Same result.
2. Enable all countries. ecommerce cronjob success. No data in Mailchimp

[2020-03-27 15:28] gonzaloebiz commented on #981
Typically this happens when you import orders, look at the country id for these orders(keep in mind, the country id is the ISO 3166 ALPHA-2)

best

[2020-03-27 15:28] #981 closed, assigned to nobody

[2020-03-27 17:29] killday commented on #981
So what is the solution here ? I need the products not the orders.

[2020-03-27 20:20] gonzaloebiz commented on #981
Fix the country id in the orders

[2020-03-28 10:20] killday commented on #981
I haven't import any orders.

[2020-04-01 15:17] samsteele opened #982 "Completed orders sometimes receiving abandoned cart emails - associated quotes failing to sync with "Resource Not Found : The requested resource could not be found""
We're seeing abandoned cart emails being sent out to customers that have completed their orders. For these orders, the `ebizmarts_ecommerce` cron containing the quote completes succesfully but there are entries in the `mailchimp_errors` table stating that the associated quote failed to sync with a 404 "The requested resource could not be found" error.

### Preconditions

- magento/product-communit

[2020-04-15 14:23] carlos-reynosa commented on #583
I'm also getting this error.

[2020-04-15 14:37] gonzaloebiz commented on #583
hi @carlos-reynosa

this not add any relevant information.

Best

[2020-04-15 18:14] carlos-reynosa commented on #583
@gonzaloebiz ,

My apologies. Here is more info:

My Environment:

* Magento Version: 2.3.3-p1 Enterprise
* Module Version:  102.3.38

Error during setup:
![image](https://user-images.githubusercontent.com/926773/79371866-ea444f80-7f09-11ea-8418-aa13054f6c65.png)

I tried to create an instance of the logger in magerun and in that case, the error is not thrown:

![image](https://user-images.githubu

[2020-04-15 18:15] carlos-reynosa commented on #583
I retried the process with a completely new install and I'm still getting that error.

[2020-04-15 19:36] gonzaloebiz commented on #583
Soy, but the version 202.3.38 not exists, can you please double check your version

Best

[2020-04-16 00:43] carlos-reynosa commented on #583
Whoops! The correct module version is: 102.3.38

[2020-04-16 11:53] gonzaloebiz commented on #583
What steps you follow to install and setup the extension?

Best

[2020-04-17 19:26] vDeggial opened #987 "Issue syncing DOB merge field"
## Issue Description

### Preconditions

Magento CE 2.3.2-p2
Mailchimp Plugin version 102.3.38

### Steps to reproduce

- Add Date of Birth as merge field in the config
- Wait for sync

### Expected result

Customers and Subscribers sync fine

### Actual Result
Mailchimp error:
"status_code": 400,
        "operation_id": "CUS_1587148268_2021_SUB",
        "response": {
            "type": "http:\/

[2020-04-17 21:19] vDeggial commented on #987
It appears that the Date of Birth is not being formatted to MM/DD but the actual value of YYYY-MM-DD is being sent and thus rejected by API

[2020-04-17 21:34] vDeggial commented on #987
Upon looking further it seems that Date of Birth is not being designated as IsDate and change in getCustomerAtts() method in last version

from
[code]
to

[code]

seems to be the issue

[2020-04-20 17:13] #987 closed, assigned to gonzaloebiz

[2020-04-20 17:17] gonzaloebiz commented on #987
Hi @vDeggial

thanks for your feedback.
Please take a look at the associated PR

Best

[2020-04-21 02:49] vDeggial opened #989 "Syncing customer group changed some customers group id to 0"
## Issue Description

### Preconditions

Magento 2.3.2-p2
Mailchimp Plugin: 102.3.38
### Steps to reproduce

Customer Group is added as Sync variable

### Expected result

Syncing correctly

### Actual result

Plugin keeps on finding "modified" Customer and Subscribers on each run and changing their Group ID from 1 to 0 in Magento DB tables thus removing them from group and marking them as pseudo

[2020-04-21 02:55] vDeggial commented on #989
It still finds "modified" customers on each run but at least doesnt touch customer groups now
![image](https://user-images.githubusercontent.com/9992759/79820321-d309c580-8340-11ea-98b3-5cfc262f95fa.png)

[2020-04-21 17:34] vDeggial commented on #989
Also same thing with sync of Date of Birth, it changes DoB in magento to be in the year 2020 as Mailchimp doesnt have the year in DoB

[2020-04-21 17:37] vDeggial commented on #989
Basically if the value of the merge field in Mailchimp is different from field in magento it changes value in Magento to the one in Mailchimp and not vice versa as it should be

[2020-04-21 18:13] vDeggial commented on #989
Found the issue in Webhook.php under Cron:

Line 311:
[code]

No need to sync DoB and Group Id back from Mailchimp as DoB in MC doesn't have year and Group Id changes group Id in Magento so that line should be like :

[code]

[2020-04-21 21:03] vDeggial commented on #987
@gonzaloebiz anytime :) glad to help :)

[2020-04-23 15:00] roberto-ebizmarts opened #990 "Eternal Spinning gif after invalid API key has been entered in the configuration"
## Eternal Spinning gif after invalid API key has been entered in the configuration

## Issue Description

### Preconditions
    1. Magento CE 2.3
    2. mc-magento2 102.3.38

### Steps to reproduce

    1. Navigate to Mailchimp for Magento configuration.
    2. Enable the extension.
    3. Type an invalid API key in the **API Key** field
    4. Click outside the  **API Key** field

### Actual and

[2020-04-23 17:26] gitbjorn commented on #990
This also seems to happen with a valid key after clicking 'Resync Subscribers'. The javascript console shows:

configapikey.js:66 Uncaught TypeError: alert is not a function
    at Object.<anonymous> (configapikey.js:66)
    at fire (jquery.js:3238)
    at Object.fireWith [as resolveWith] (jquery.js:3368)
    at done (jquery.js:9846)
    at XMLHttpRequest.callback (jquery.js:10317)

[2020-04-29 14:27] PMGroupJohn commented on #511
Like onepack said, we too are having the same issue where you have multiple stores sharing the same domain, identified with a country variation ie. /en /de

Could the resolution not just be posted here?

[2020-04-29 14:51] gonzaloebiz commented on #511
Hi @PMGroupJohn

mailchimp don't support more than 1 store for the same domain, the stores yourstore.com/en and yourstore.com/de have the same domain (yourstore.com)
You must use subdomains, en.yourstore.com and de.yourstore.com.
Is not an issue in the extension, is a MailChimp limitation

Best

[2020-04-29 15:02] PMGroupJohn commented on #511
Hi @gonzaloebiz

Thank you for confirming this, I thought this was the case.

Many thanks,

John

[2020-04-29 16:09] gonzaloebiz commented on #511
you are welcome @PMGroupJohn

[2020-04-30 22:58] jonaschen623 opened #994 "Can't create webhook in admin with Magento Cloud Staging Environment"
Try create webhook in admin, receive error message as below.
![image](https://user-images.githubusercontent.com/1915539/80766048-99cf2200-8b98-11ea-92ca-8b2120d348e8.png)
![image](https://user-images.githubusercontent.com/1915539/80766086-aeabb580-8b98-11ea-95dd-0282db6b5b2d.png)

And on MailChimp, no webhook is generated.
![image](https://user-images.githubusercontent.com/1915539/80766215-fcc0b90

[2020-05-02 03:39] jonaschen623 commented on #994
Magento Cloud Team has fixed this issue, so close now.

[2020-05-02 03:39] #994 closed, assigned to nobody

[2020-05-04 13:12] SantiParagarino opened #995 "Allow Mailchimp for Magento 1 store deletion"
Add option to delete Mailchimp for Magento 1 stores in the grid.

This will allow people to maintain the M1 store until the M2 stores is fully synced.

[2020-05-06 01:29] tschirmer opened #996 "Licensing?"
I don't see a licensing document within the code, which license is this under?

[2020-05-07 22:30] vDeggial commented on #989
I was wondering if there is any update on this? Not really sure if my "fix" is really a true fix lol

[2020-05-14 11:49] pauldonnelly commented on #990
I am having the same issue on 2.3.4. When will this fix be released? it's not in Version 102.3.38

[2020-05-14 12:13] gonzaloebiz commented on #990
look at https://github.com/mailchimp/mc-magento2/pull/991

[2020-05-14 12:13] #990 closed, assigned to roberto-ebizmarts

[2020-05-22 12:46] giorello opened #998 "MapFields not getting synced when configured in storeView."
## Issue Description

Configuring MapFields in storeviews and not in default doesn't seems to be working right. The customers doesn't get those fields synced.

### Preconditions

    1. Magento CE 2.3
    2. mc-magento2 102.3.38.

### Steps to reproduce

    1. Create a custom map field in one storeview.
    2. Edit a customer or do any action to sync that customer again.
    3. Check map field va

[2020-05-27 17:31] #998 closed, assigned to gonzaloebiz

[2020-05-27 18:42] #978 closed, assigned to gonzaloebiz

[2020-05-27 18:43] #904 closed, assigned to nobody

[2020-05-27 18:44] #980 closed, assigned to nobody

[2020-05-27 18:45] ihor-sviziev commented on #904
Hi @gonzaloebiz,
Could you explain why this issue was closed without any comments?

[2020-05-27 18:51] gonzaloebiz opened #1002 "Improper call to interest-categories in the webhook processing"
When processing the webhook, must control if the extension is enabled prior to the call to get all interest categories via MailChimp API.

[2020-05-27 19:01] #1002 closed, assigned to gonzaloebiz

[2020-05-27 19:14] gonzaloebiz commented on #904
Sure, because we can't do anything to fix it since is an error in the MailChimp end

[2020-05-28 13:11] #996 closed, assigned to gonzaloebiz

[2020-05-28 14:28] gonzaloebiz commented on #959
This is not an issue with the extension, it is a bad use of composer.
For use the -o parameter you need to do this:

- composer -o require mailchimp/mc-magento2:xxx.x.xx
- composer dump-autoload -o
- bin/magento setup:upgrade

Best

[2020-05-28 14:29] #959 closed, assigned to gonzaloebiz

[2020-05-29 18:51] gonzaloebiz opened #1009 "The mailchimp groups are not shown correctly in the customer account"
Assign some mailchimp groups to the customer
The groups are saved OK, but no group are shown

[2020-05-29 18:59] #1009 closed, assigned to gonzaloebiz

[2020-06-17 13:34] JelleGroenendal opened #1013 "E commerce Order data not sent when "Magento always manage emails" is Yes"
We have several store views connected to Mailchimp. With that connection we also configured the E commerce settings to get the automation and products on Mailchimp its side to work. What we notice is that when we set "Magento manage emails" on "Yes" the magento order data is not sent to Mailchimp.
When we set the same setting on "No" then the order data is sent to Mailchimp but not the new newslet

[2020-06-19 13:33] ninjacoder30 opened #1014 "Issue on Setup Upgrade"
After Execution of Setup Upgrade getting below error
....
Module 'Ebizmarts_MailChimp':
Installing data... Class Mailchimp does not exist

Plugin Version:   "version": "102.3.37"

Magento :2.3.4

Please note i have copied : https://github.com/ebizmarts/mailchimp-lib
inside vendor folder

[2020-06-19 17:45] gonzaloebiz commented on #1014
Hi @ninjacoder30

try installing via composer

[2020-06-19 17:45] #1014 closed, assigned to nobody

[2020-06-25 19:41] lfolco commented on #955
What if we don't want to use the e-commerce functionality?

[2020-06-26 16:17] gonzaloebiz commented on #955
Hi @lfolco,

the subscribers are synced if you enable the integration in your store, you don't need to enable the e-commerce, but the message refers to the connection between your magento and your MailChimp store

Best

[2020-06-26 16:17] lfolco commented on #955
Okay, thank you!

[2020-06-26 16:21] gonzaloebiz commented on #1013
Hi @JelleGroenendal,

can you share the Account Details for both cases? This one
![image](https://user-images.githubusercontent.com/6222792/85878949-e8232a80-b7af-11ea-8689-7cb5f844bc65.png)

[2020-07-01 18:41] christianbookpwood opened #1015 "Typo in campaigncatcher.js causing Javascript error"
### Preconditions

    1. Magento CE 2.3.4
    2. mailchimp/mc-magento2 102.3.38

### Steps to reproduce

1. Send campaign via MailChimp.
2. Click on link in campaign and land on Magento site.
3. View JavaScript console in browser to verify error is present.

### Actual and Expected result

Actual result: Javascript error produced on landing page prevents Javascript from firing cleanly:

campaignc

[2020-07-02 12:16] #989 closed, assigned to gonzaloebiz

[2020-07-02 13:06] #1015 closed, assigned to gonzaloebiz

[2020-07-27 10:34] dtamajon opened #1025 "Create custom field mapping"
Hi!

I have configured the MailChimp module on M2, and I have mapped custom fields created on MailChimp to existing fields in Magento2.

Now, I want to add some more specific fields, like Country or Zip code which are in the shipping address, but I don't want to sync full shipping address.

Is it some way to map only parts of the address? Otherwise, I will really appereciate any tip about how modi

[2020-07-29 18:35] gonzaloebiz opened #1027 "Add magento 2.4 compatibility"

[2020-07-29 18:52] #1027 closed, assigned to gonzaloebiz

[2020-07-30 05:41] Swiftless opened #1029 "Send Coupon Codes (Promo Codes) to Mailchimp With Order Data"
## Issue Description

### Preconditions

    1. Magento OS 2.3.3 installed
    2. mc-magento2 v102.3.37.
    3. Store is connected to Mailchimp
    4. Promo codes and orders syncing to Mailchimp
    5. Campaign draft ready in Mailchimp

### Steps to reproduce

    1. Send campaign email in Mailchimp
    2. Follow link in campaign email to Magento store
    3. Place an order using a coupon code

[2020-07-30 12:14] gonzaloebiz commented on #1029
Please follow the [issue guidelines](https://github.com/mailchimp/mc-magento2/wiki/Issue-reporting-guidelines)

[2020-07-30 12:15] #1029 closed, assigned to nobody

[2020-07-30 12:16] gonzaloebiz commented on #1025
Hi @dtamajon

thanks for your feedback.
No, this is not possible

Best

[2020-07-30 23:42] Swiftless commented on #1029
Hi @gonzaloebiz I'll reword the issue, bear with me.

[2020-07-30 23:49] Swiftless commented on #1029
@gonzaloebiz done, please let me know if you need me to do anything else to have this addressed.

[2020-07-31 22:46] duffner opened #1031 "Magento 2.4 support?"
As this is more of a question rather than an actual bug, I chose not to use the full bug format.  When will 2.4 support become available?

[2020-08-03 07:13] Swiftless commented on #1031
Hope it's ok for me to respond - the latest release states Magento 2.4 compatibility

[2020-08-03 12:09] gonzaloebiz commented on #1031
Hi,

take look at https://github.com/mailchimp/mc-magento2/releases/tag/102.3.40

Best

[2020-08-03 12:09] #1031 closed, assigned to nobody

[2020-08-04 01:24] Swiftless opened #1032 "Coupon Codes (Promo Codes) Do Not Send to Mailchimp With Order Data"
## Issue Description

### Preconditions

    1. Magento OS 2.3.3 installed
    2. mc-magento2 v102.3.37.
    3. Store is connected to Mailchimp
    4. Promo codes and orders syncing to Mailchimp
    5. Campaign draft ready in Mailchimp

### Steps to reproduce

    1. Send campaign email in Mailchimp
    2. Follow link in campaign email to Magento store
    3. Place an order using a coupon code

[2020-08-05 19:25] KevinEbizmarts opened #1033 "Abandoned Cart revenue not showing on Mailchimp account"
## Issue Description

### Preconditions

    1. Magento CE 2.3.5 with sample data.
    2. mc-magento2 102.3.39
    3. Have ecommerca and abandoned carts enabled.

### Steps to reproduce

    1. Create an user and log in
    2. Make a cart
    3. Abandon the cart
    4. Wait for the abandoned cart email
    5. Recover the cart with the link in the mail
    6. Finish the order

### Actual and Expect

[2020-08-06 09:20] samy-m-dev opened #1034 "Fallback to JQueryUI Compat activated."
In  vendor/mailchimp/mc-magento2/view/frontend/web/js/campaigncatcher.js

There's dependency to **'jquery/ui'**

That will produce a warning/error on frontend as it's not recommended:

`Fallback to JQueryUI Compat activated. Your store is missing a dependency for a jQueryUI widget. Identifying and addressing the dependency will drastically improve the performance of your site.`

The dependency can

[2020-08-07 15:36] Quazz commented on #1034
Relevant PR https://github.com/mailchimp/mc-magento2/pull/997

[2020-08-07 18:24] roberto-ebizmarts opened #1035 ""Unable to unserialize value." issue avoids ecommerce syncing. This happens some times when "Send Promo Codes and Promo Rules" is enabled"
## "Unable to unserialize value." issue avoids ecommerce syncing. This happens some times when "Send Promo Codes and Promo Rules" is enabled.

## Issue Description
This error message "Unable to unserialize value." was appearing in every single row of cron_schedule table and was avoiding ecommerce syncing. When I disabled "Send Promo Codes and Promo Rules" option, the syncing started successfully.

[2020-08-25 09:26] Krapulat opened #1036 "Problem after installing"
I installed the module directly downloading in app/code/. Then I deleted the directory and installed via composer.

But, doing it this way, I got this errors:

When I go to Order > Sales I get:
Notice: Undefined index: mailchimp_flag in /vendor/mailchimp/mc-magento2/Ui/Component/Listing/Column/Monkey.php on line 102

When I got to Mailchimp > Mailchimp Stores I get:
Table \"mailchimp_stores\" does

[2020-08-26 06:27] Krapulat commented on #1036
Solved after deleting from setup_module and reinstalling.

[2020-08-26 06:27] #1036 closed, assigned to nobody

[2020-08-27 16:08] #1033 closed, assigned to gonzaloebiz

[2020-08-27 17:22] #1034 closed, assigned to gonzaloebiz

[2020-08-28 12:31] gonzaloebiz commented on #1013
We close the issue after 2 months without responses

[2020-08-28 12:31] #1013 closed, assigned to gonzaloebiz

[2020-08-28 12:33] gonzaloebiz commented on #919
Please see issue #1035

[2020-08-28 12:33] #919 closed, assigned to nobody

[2020-08-28 13:08] #1035 closed, assigned to gonzaloebiz

[2020-08-28 15:39] #1032 closed, assigned to gonzaloebiz

[2020-08-31 22:35] Swiftless commented on #1032
Thank you @gonzaloebiz

[2020-09-03 08:24] JoostWan opened #1055 "Multistore product sync wrong name"
### Preconditions

    1. Magento CE 2.3.5-p2
    2. mc-magento2  102.3.39

### Problem

The product sync to Mailchimp for Ecommerce data synces the wrong name. It should be sync to name of the product for that specific store ID but it uses the name from default store (ID 1). The url and the image are correct but only name not.

[code]

[code]

[2020-09-03 08:57] JoostWan commented on #1055
When i added `$storeId` to this request the values are correct;

https://github.com/mailchimp/mc-magento2/blob/develop-2.3/Model/Api/Product.php#L145
https://github.com/mailchimp/mc-magento2/blob/develop-2.3/Model/Api/Product.php#L559
https://github.com/mailchimp/mc-magento2/blob/develop-2.3/Model/Api/Product.php#L600

[2020-09-04 00:00] pmonosolo commented on #395
Have you ever been able to figure this out? Having the same issue on 2.3

[2020-09-11 12:57] #1055 closed, assigned to gonzaloebiz

[2020-09-11 12:59] gonzaloebiz commented on #1055
Thanks @JoostWan for your contribution

Best

[2020-09-16 14:52] roberto-ebizmarts opened #1059 "Notice: Undefined index: image_url Model/Api/Product.php"
## Notice: Undefined index: image_url Model/Api/Product.php

## Issue Description
Message: **_Notice: Undefined index: image_url Model/Api/Product.php_** appears in cron_schedule table for ebizmarts_ecommerce cron job, refrencing 330 in **_buildOldProductRequest()** method. Sometimes **image_url** index doesn't come from **_buildProductData()** method as index of the returned array. This affects t

[2020-09-17 15:06] #1059 closed, assigned to gonzaloebiz

[2020-09-29 12:50] kkazadi opened #1063 "Unable to use Two Way Sync"
### Preconditions

The Two Way Sync in Magento does not seem to be working, I have successfully setup a Magento 2 store to sync to Mailchimp and vice versa but it appears Customers and Subscribers are only syncing from Magento to Mailchimp and not the other way around even though I have enabled "Two Way Sync". Any changes made to Subscribers within Mailchimp does not reflect on Magento side

1. AP

[2020-09-29 12:56] gonzaloebiz commented on #1063
Hi @kkazadi is your store a public store? If your store is a local or protected URL the 2way doesn't work (this is because Mailchimp can't access to your store).
Also, be sure that your magento crons are running (take a look at https://devdocs.magento.com/guides/v2.4/config-guide/cli/config-cli-subcommands-cron.html)

Best

[2020-09-29 13:25] kkazadi commented on #1063
Hi @gonzaloebiz, Yes the store is public and I have checked Crons are running. Could there be any other reason why this wouldn't work?

[2020-09-30 13:01] gonzaloebiz commented on #1063
I see that you don't have customers, products, etc, so I think that you have another problem, please drop us an email to our support team to help you

Best

[2020-09-30 13:01] #1063 closed, assigned to nobody

[2020-10-06 15:26] dtamajon opened #1064 "Address field not synced"
I have created an Address field in Mailchimp account, on "Audience fields and *|MERGE|* tags". Then I have mapped it on Magento 2 with Default Shipping Address.

When I create or force a user sync, the user appears on Mailchimp, but addres information is never shown.

{"id":"0b27e1c696","email":"sample@gmail.com","email_type":"html","web_id":"196643476","merges":{"EMAIL":"sample@gmail.com","FNAME"

[2020-10-06 16:08] gonzaloebiz commented on #1064
Hi @dtamajon

please follow the [issue reporting guidelines](https://github.com/mailchimp/mc-magento2/wiki/Issue-reporting-guidelines)

Best

[2020-10-06 17:30] dtamajon commented on #1064
Sorry, I forgot to update to latest version where issue is solved

[2020-10-06 17:30] #1064 closed, assigned to nobody

[2020-10-07 04:13] tano8753 opened #1065 "Unable to capture the order for a campaign"
Hello,

Environment:
- Magento CE 2.3.5 (Migrated from Magento CE 1.9.3)
- mc-magento2 102.3.41 (installed via composer)

Steps to reproduce
1. Click the campaign link from the email.
2. Buy the product from the link.
3. Wait the schedule sync the order to Mailchimp.
4. The order show synced on Magento.
5. But It's show no orders on Mailchimp Campaign pape.

I also checked the database: mailchimp_

[2020-10-07 09:11] dtamajon commented on #1025
Hi @gonzaloebiz

I have created a fork and added address fields available for mapping. You can check here:
https://github.com/dtamajon/mc-magento2/commit/d1dbd1d87a78e81cd0d547a686edbc81987b0d98

If you think they are worth for the module, I will ask for a pull request.

Of course, let me know if I can afford any improvement on code to be valid on the main branch... I didn't use much time on it!

[2020-10-07 17:12] gonzaloebiz opened #1066 "Invalid date format when use mysql 8"
the cron finish with an invalid date format when use MySQL 8
This issue is valid only for magento 2.4, if you are experimenting this issue and have a version of magento < 2.4, take a look at https://devdocs.magento.com/guides/v2.3/install-gde/system-requirements-tech.html#database only 2.4 support MySQL 8

[2020-10-07 18:13] #1066 closed, assigned to gonzaloebiz

[2020-10-07 18:14] gonzaloebiz commented on #1025
Hi @dtamajon

i will try it and back to you

[2020-10-12 14:38] #1065 closed, assigned to gonzaloebiz

[2020-10-12 18:12] gonzaloebiz commented on #974
Hi @tanolalano

please take a look at https://github.com/mailchimp/mc-magento2/issues/1025

Best

[2020-10-13 19:33] gonzaloebiz commented on #1025
Hi @dtamajon

we use your code as a base for fixing this issue.

thanks

[2020-10-13 19:43] #1025 closed, assigned to gonzaloebiz

[2020-10-13 20:14] dtamajon commented on #1025
Glad to help!

[2020-10-16 10:46] itekke commented on #60
@sourav88

Hi,
Can you please share how to install this library using this **[folder](https://api.github.com/repos/ebizmarts/mailchimp-lib/zipball/293960203ff1d834af5b2f2726f03063494a2265)**? In magento 2.2.6, which folder should I upload this folder?
What are the steps?

Thanks in advance!

[2020-10-16 10:52] techguysourav commented on #60
This is ebizmart lib

On Fri, Oct 16, 2020 at 4:16 PM itekke <notifications@github.com> wrote:

[2020-10-16 10:56] itekke commented on #60
How will I install that into my magento 2.2.6V?

[2020-10-16 11:01] itekke commented on #60
So can you please let me know how to install it by uploading this folder..?

[2020-10-16 11:04] techguysourav commented on #60
which country do you belong to?

On Fri, Oct 16, 2020 at 4:31 PM itekke <notifications@github.com> wrote:

[2020-10-16 11:06] itekke commented on #60
india

[2020-10-16 11:11] techguysourav commented on #60
[image: image.png]

On Fri, Oct 16, 2020 at 4:36 PM itekke <notifications@github.com> wrote:

[2020-10-16 11:16] itekke commented on #60
The image didn't come through..

[2020-10-21 04:03] PivitParkour94 commented on #753
We're getting the same issue when trying to sync data. Found an error log at that says
[code]

Note the double slash between the `lists/` and `/interest-categories` which seems like maybe some data is missing in the data that is used to build up that API call...

In our case we are using the Magento 2 sample data, with a custom product type. Seems that all the orders sync except for orders with th

[2020-10-26 17:03] kf202020 opened #1075 "Composer problem with mc-magento2:102.3.41"
Hello,
I'm experiencing some trouble trying to install mailchimp via composer.

Using magento 2.4 and when I go with

`composer require mailchimp/mc-magento2:102.3.41`

This is what I Got

[code]

Any idea?

[2020-10-26 18:31] gonzaloebiz commented on #1075
Hi @kf202020

can you please run this command and let me know the result?

composer show | grep framework

Best

[2020-10-28 13:20] mdlonline opened #1076 "Unsubscribing users in Mailchimp will not sync with Magento2"
Using Mailchimp mc-magento2 version 102.3.40 and Magento 2.4.0 i am getting the following issue:
I have enabled the e-commerce setting.

Subscribing a customer in Magento to the newsletter -> Email is added to Mailchimp
Unsubscribing a customer in Mailchimp -> no change in Magento

I am receiving a webhook call from mailchimp however it seems that Magento is not doing anything with it.
I expect it

[2020-10-28 15:11] gonzaloebiz commented on #1076
Hi @mdlonline

thanks for your feedback.
You already have the magento cron configured and running? Please take a look at https://devdocs.magento.com/guides/v2.4/config-guide/cli/config-cli-subcommands-cron.html

Best

[2020-10-28 15:15] mdlonline commented on #1076
Hi @gonzaloebiz ,

yes, this is a live site with the cron running.

Thanks

[2020-10-28 15:19] mdlonline commented on #1076
Here is my cron history:
![chrome_2020-10-28_16-18-08](https://user-images.githubusercontent.com/5389528/97456598-4ff1a980-1939-11eb-80c0-622a80d15038.png)

[2020-10-28 15:48] gonzaloebiz commented on #1076
What about the mailchimp_webhook_request table?

[2020-10-29 16:17] wigman commented on #1066
Leaving this comment as a reference for people encountering the same SQL error, which this change solved:

[code]

[2020-11-03 10:53] mdlonline commented on #1076
There is info in this, however it does not seem te reflect in my account (screenshot is only showing my email but there are more)
![chrome_2020-11-03_11-51-16](https://user-images.githubusercontent.com/5389528/97976429-fa028300-1dca-11eb-91dc-f4f8d1437756.png)

[2020-11-04 08:54] r4pt0s opened #1077 "Change Mailchimp Store on Website Scope"
## Change Mailchimp Store on Website Scope

## Issue Description

### Preconditions

    1. Magento CE 2.3.5-p2 without sample data is installed.
    2. mc-magento2 v102.3.41
    3. Multistore, Multishop Magento Shop
    4. API key is set up and working

### Steps to reproduce

    1. Change scope in configuration from Default to other Website.
    2. Go to Mailchimp configuration.
    3. remove U

[2020-11-04 18:20] gonzaloebiz commented on #1076
Hi @mdlonline

i just check your issue using magento 2.4 and mc-magento2 102.3.41 version of the extension and works like a charm
Can you please give us more info to try to replicate?

[2020-11-04 18:21] gonzaloebiz commented on #1075
no news in one week, i close the issue waiting for more info

[2020-11-04 18:21] #1075 closed, assigned to nobody

[2020-11-05 09:04] mdlonline commented on #1076
Is there a way to debug the webhook function that changes the customer data in Magento?

[2020-11-05 16:58] gonzaloebiz commented on #1076
You can use the log function of the helper, like this https://github.com/mailchimp/mc-magento2/blob/develop-2.3/Cron/Webhook.php#L190
This function logs in the var/log/MailChimp.log file

Best

[2020-11-06 14:36] gonzaloebiz commented on #1077
Hi @r4pt0s

thanks for your feedback.
I test your issue and works OK for me.
Do you have any other settings in your configuration page? p.e. customer fields maps or available groups
Or any other information that you can give us to try to replicate your issue

Best

[2020-11-11 10:41] LucasMDL opened #1078 "Subscribing for a second time does not work."
Using Mailchimp mc-magento2 version 102.3.40 and Magento 2.4.0.

I am getting the following issue:

When a customer has subscribed and unsubscribed once before, the 'subscribe' webhook is not fired. Just the 'profile' webhook'. After this, Mailchimp states that the customer is only eligible for transactional emails.

Steps to reproduce:
1. Create new customer
2. Subscribe to newsletter from accoun

[2020-11-11 11:11] gonzaloebiz commented on #1078
Please follow the[issue format guidelines](https://github.com/mailchimp/mc-magento2/wiki/Issue-reporting-guidelines)

[2020-11-12 15:35] LucasMDL commented on #1078
I have updated the description.

[2020-11-13 05:58] kf202020 commented on #1075
Sorry for late response.
@gonzaloebiz it was a corrupted magento!!!
Thanks for your support!

[2020-11-13 12:09] gonzaloebiz commented on #1075
OK thanks for back to us.

Best

[2020-11-14 01:39] Jackcar commented on #994
I am having this same issue, but I am not in the Magento Cloud. How can I fix it? Thanks.

[2020-11-16 09:53] WisRadarsoft opened #1079 "How to integrate mailchimp account with 2 audience and Magento 2 with 2 storeviews"
I am using Mailchimp magento2 version 102.3.41 and Magento 2.3.0

For ex:

audience A sync with store A
audience B sync with store B

[2020-11-16 11:28] gonzaloebiz commented on #1079
Hi @WisRadarsoft

if you have doubts about the extension, please contact our support team.

Best

[2020-11-16 11:28] #1079 closed, assigned to nobody

[2020-11-17 14:37] #1078 closed, assigned to gonzaloebiz

[2020-11-17 14:38] gonzaloebiz commented on #1077
No news in 11 days, close the issue until we have more info

[2020-11-17 14:38] #1077 closed, assigned to nobody

[2020-11-17 14:39] gonzaloebiz commented on #1076
Close the issue until having any new

[2020-11-17 14:39] #1076 closed, assigned to nobody

[2020-11-19 08:32] stennkool opened #1083 "Cron error "Requested country is not available.""

[2020-11-19 08:32] #1083 closed, assigned to nobody

[2020-11-19 08:42] stennkool opened #1084 "Ecommerce Cron error "Requested country is not available.""
Cron ebizmarts_ecommerce outputs error:
Requested country is not available.

Version: 102.3.41
Magento: 2.3.4
Multiple storefronts (languages) and multiple Mailchimp Stores (1 list for each language).

In issue #58 this has already been fixed for other e-commerce jobs but the issue still persists when the country is attached to the address.

In the _getAddressValues method in the Ebizmarts\MailChi

[2020-11-24 09:55] LucasMDL commented on #1078
This solution is not working. The subscriber always has the 'unsubscribed' status.

[2020-11-25 15:01] LucasMDL opened #1086 "Subscribing for a second time does not work #2"
Same issue as #1078. The provided fix doesn't solve the problem. The added function always has the unsubscribed status.

Using Mailchimp mc-magento2 version 102.3.40 and Magento 2.4.0.

I am getting the following issue:

When a customer has subscribed and unsubscribed once before, the 'subscribe' webhook is not fired. Just the 'profile' webhook'. After this, Mailchimp states that the customer is o

[2020-11-30 11:41] jaimiedijstra commented on #459
Just come across this error on my site too, Magento 2.3.5p2 and Mailchimp v102.3.41. Just wanted to check this here with the devs as this issue loop references issue #460 so no clear answer.
On my cron time and logs this issue just crops up now and again (only twice in the last 24 hours, no load issues on my server or other issues), but then works fine again, is this just connectivity Mailchimp si

[2020-12-21 18:34] lightbyte opened #1087 "Installing data... Class Mailchimp does not exist"
## Issue Description

### Preconditions

    1. Magento CE 2.4
    2. mc-magento2 102.3.41

### Steps to reproduce

    1. Download the zip file from git
    2. Unzip it and copy it to app/code/Ebizmarts
    3. Rename copied folder to MailChimp
    4. In command line exec composer dump-autoload
    5. Run bin/magento setup:upgrade
    6. And it ends with:

[code]

### Actual and Expected result

G

[2020-12-21 19:42] gonzaloebiz commented on #1087
Hi @lightbyte

the extension needs this https://github.com/ebizmarts/mailchimp-lib if you install the extension via composer like is recommended this lib will be installed automatically.

Best

[2020-12-21 19:42] #1087 closed, assigned to nobody

[2021-01-06 04:44] ufairiya opened #1088 "Magento2.4.x support"
Tried to install the extension for Magento 2.4.1
But could not find a compatible version and the versions available are for M2.3.x
Will there be any issue when I install this for Magento 2.4.1 ?

[2021-01-06 11:24] gonzaloebiz commented on #1088
Take a look at https://github.com/mailchimp/mc-magento2/releases

Best

[2021-01-06 11:24] #1088 closed, assigned to nobody

[2021-01-07 06:25] ufairiya commented on #1088
Thanks for the info. will check on this and get back to you.

[2021-01-11 09:53] sedax90 opened #1089 "The confirmation email is sent twice because the getImportMode () method cannot be honored"
### Preconditions

    1. Magento CE 2.4.1 without sample data is installed.
    2. mc-magento2 102.3.41
    3. Mailchimp double Opt In is activated
    4. Magento Config --> Mailchimp --> Magento always manage emails --> NO
    5. Magento Config --> Customer --> Newsletter --> Confirmation required --> YES

### Steps to reproduce
Subscribe to newsletter.

### Actual and Expected result
You will g

[2021-01-13 15:25] Garde85 opened #1090 "Infinite loop on customer account creation if email present in newsletter subscribers list"
## Infinite loop generated on customer account creation if email present in newsletter subscribers list

## Issue Description

### Preconditions

    1. Magento Open source 2.3.5-p2
    2. Magento multisite/multistore view configuration
    3. mc-magento2 v102.3.41
    4. Mailchimp module enabled ad Mailchimp general configuration enabled

### Steps to reproduce

    1. Subscribe to magento newsle

[2021-01-14 20:53] roberto-ebizmarts opened #1091 "Long delay loading 75 Mailchimp Stores"
## Long delay loading 75 Mailchimp Stores

Long delay (almost a minute) loading 75 Mailchimp Stores

## Issue Description

### Preconditions

    1. Magento CE 2.3.X
    2. Mailchimp extension version: 102.3.41
    3. Having at least 75 Mailchimp Stores created in Magento.

### Steps to reproduce

Open Mailchimp => Mailchimp Stores

### Actual and Expected result

    Expected result:
    Load 75

[2021-01-14 20:54] roberto-ebizmarts opened #1092 "Long delay loading 75 Mailchimp Stores"
## Long delay loading 75 Mailchimp Stores

## Issue Description

Long delay (almost a minute) loading 75 Mailchimp Stores

### Preconditions

    1. Magento CE 2.3.X
    2. Mailchimp extension version: 102.3.41
    3. Having at least 75 Mailchimp Stores created in Magento.

### Steps to reproduce

Open Mailchimp => Mailchimp Stores

### Actual and Expected result

    Expected result:
    Load 75

[2021-01-14 20:55] #1092 closed, assigned to nobody

[2021-01-20 15:13] cavalier79 opened #1093 "Ecommerce Sync throw a fatal error when First date is empty"
## Issue Description

the cron process cant proceed to sync the ecommerce when the first date (Mailchimp -> configuration -> Ecommerce Configuration -> First Date) is empty (first install ad example).

This cause to generate a query like this:

[code]

This query throw this error:

/* Errore SQL (1525): Incorrect DATETIME value: '' */

Because the field m4m.mailchimp_sync_delta is a DATETIME field

[2021-01-20 17:44] gonzaloebiz commented on #1093
Update the extension to the current version

Best

[2021-01-20 17:44] #1093 closed, assigned to nobody

[2021-01-21 09:03] cavalier79 commented on #1093
The issue is present in the current version.

   $collection->getSelect()->where("m4m.mailchimp_sync_delta IS null OR (m4m.mailchimp_sync_delta > **'".
            $this->_helper->getMCMinSyncDateFlag().
            "'** and m4m.mailchimp_sync_modified = 1)");
        $collection->getSelect()->limit(self::MAX);

Please check your code and read my entire issue text before closing.

[2021-01-26 01:39] ikhwanwahid opened #1094 "Hi isit possible to synch in ecommerce data from magento into analready populated list?"
# Issue reporting guidelines

To maintain an effective bugfix workflow and make sure issues will be solved in a timely manner we kindly ask reporters to follow some simple guidelines.

Before creating an issue, please do the following:

* Make sure the behavior you are reporting is really a bug, not a feature.
* Check the existing [issues](https://github.com/mailchimp/mc-magento2/issues) to make s

[2021-01-26 01:40] ikhwanwahid opened #1095 "Hi isit possible to synch in ecommerce data from magento into analready populated list, without having customer data from magento be synced into mailchimp? It is messing up with my mailchimp list as i have that created from a sugarcrm integration"
# Issue reporting guidelines

To maintain an effective bugfix workflow and make sure issues will be solved in a timely manner we kindly ask reporters to follow some simple guidelines.

Before creating an issue, please do the following:

* Make sure the behavior you are reporting is really a bug, not a feature.
* Check the existing [issues](https://github.com/mailchimp/mc-magento2/issues) to make s

[2021-01-26 13:16] SantiParagarino commented on #1095
Hello @ikhwanwahid
Please note you should add your information in the content in stead of the title.

About your problem:
You can decide what data is synced to Mailchimp with the "Customer fields mapping".
Please contact our support at mailchimp@ebizmarts-desk.zendesk.com for further information since this is not related to a problem with the extension's code.

Kind regards.

[2021-01-26 13:16] #1095 closed, assigned to nobody

[2021-01-28 02:12] gilbertsohal opened #1096 "Magento 2.3.6 - Locale AU - This MailChimp account is not connected to Magento."
# Issue reporting guidelines

To maintain an effective bugfix workflow and make sure issues will be solved in a timely manner we kindly ask reporters to follow some simple guidelines.

Before creating an issue, please do the following:

* Make sure the behavior you are reporting is really a bug, not a feature.
* Check the existing [issues](https://github.com/mailchimp/mc-magento2/issues) to make s

[2021-01-28 06:21] igormatkovic commented on #1093
Can you please tag a new version with this fix?

The latest tagged: 102.3.41 doesn't have this fix

Thanks

[2021-01-28 09:24] cavalier79 commented on #1093
Exactly what i said, probably i wrote in bad english or the MC team doesnt understand.

The issue is located HERE:

https://github.com/mailchimp/mc-magento2/blob/develop-2.3/Model/Api/Product.php

And obviously is presente also here:

https://github.com/mailchimp/mc-magento2/blob/102.3.41/Model/Api/Product.php

please someone REOPEN this issue and apply a fix.

[2021-01-29 06:07] PivitParkour94 opened #1097 "CSP Whitelist Support"
When running Magento 2.3.6 with the Magento_CSP module enabled the external resources break because there is no csp_whitelist.xml defined.

Is this something you are planning on adding support for?

Should be as simple as

[code]

Docs: https://devdocs.magento.com/guides/v2.4/extension-dev-guide/security/content-security-policies.html

I haven't extensively gone through the module and found all ex

[2021-02-01 11:54] gonzaloebiz commented on #1093
Take a look at https://github.com/mailchimp/mc-magento2/issues/1066.
This fix will be available in the next release.

Best

[2021-02-01 15:10] Garde85 commented on #1091
I thought to a possible solution about this issue.

My idea consist to avoid to truncate mailchimp_stores table and refill it every time admin users browse mailchimp_stores grid. Instead of it, my solution could remove only stores that are changed from last time users browsed listing. In this way loadStores function will be more light because the calls to mailchimp service will be executed only fo

[2021-02-01 15:59] igormatkovic commented on #1093
Yes, I can see that and my question was when will you tag the next release?

I see this fix has been in there for about 2.5 months.

Thanks

[2021-02-01 16:32] gonzaloebiz commented on #1093
We are testing the new release right now
No ETA, sorry

Best

[2021-02-02 18:44] gonzaloebiz commented on #1096
Hi @gilbertsohal

looks like you update the extension from an old version and you don't generate the static files ok.
Delete the pub/static directory (run rm -rf pub/static/*) and regenerate the static files
run
bin/magento -f setup:static-content:deploy
bin/magento cache:clean

best

[2021-02-02 18:44] #1096 closed, assigned to nobody

[2021-02-02 18:46] #1094 closed, assigned to nobody

[2021-02-09 13:49] gonzaloebiz opened #1102 "observer name that breaks Magento 2 DOM XML"
In etc/events.xml there is an apostrophe in "mailchimp_newsletter_subscriber_save_before"

[2021-02-10 14:26] aaronhuang1 commented on #1066
updated to version-102.3.42 https://prnt.sc/yz7xdo , still same issues https://prnt.sc/yz7uyq

[2021-02-10 15:11] gonzaloebiz commented on #1066
hi @aaronhuang1

this query is generated here, https://github.com/mailchimp/mc-magento2/blob/develop-2.3/Model/Api/Subscriber.php#L61-L73 specifically the datetime value is taken here https://github.com/mailchimp/mc-magento2/blob/develop-2.3/Model/Api/Subscriber.php#L72
If you look at here https://github.com/mailchimp/mc-magento2/blob/develop-2.3/Helper/Data.php#L662-L669 getMCMinSyncDateFlag the

[2021-02-11 12:06] aaronhuang1 commented on #1066
Hi

I have compared the file is the same, the cronjob sync failed
https://prnt.sc/z38ik4 due to the query error, I ran the query directly
from DB and also got a datetime error, hope you have a solution to fix this.

let me know if you need any additional information

Regards,

*Aaron Huang *General Manager | Mobileciti

_______________________________________________________
W: www.mobileciti.com.

[2021-02-11 15:44] gonzaloebiz commented on #1066
hi @aaronhuang1

i just try with some logs. modifying this part https://github.com/mailchimp/mc-magento2/blob/develop-2.3/Model/Api/Subscriber.php#L60-L74 with

[code]

and the function https://github.com/mailchimp/mc-magento2/blob/develop-2.3/Helper/Data.php#L662-L669 with this

[code]

and this is the result

[code]

Best

[2021-02-11 16:05] Damianbv opened #1103 "Allow more than 10 interest inside a group"
## Issue Description
If you create more than 10 interest in a group, only the first 10 are returned.

### Preconditions

    1. Magento CE 2.4.1
    2. mc-magento2 v102.3.42
    3. Interest groups enabled
    4. Have more than 10 interests inside a group in Mailchimp

### Steps to reproduce

    1. Create an interest group and add more than 10 interests
    2. Select the interest group in Stores->

[2021-02-12 04:44] aaronhuang1 commented on #1066
Hi Great

looks like the update query is working now, can you apply change to the
patch file

other question we got very large mailchimp_errors table, can i just empty
the table

[image: image.png]

******************

SELECT `main_table`.*, `m4m`.* FROM `newsletter_subscriber` AS `main_table`
 LEFT JOIN `mc-magento23`.`mailchimp_sync_ecommerce` AS `m4m` ON
m4m.related_id = main_table.subscriber_i

[2021-02-12 12:03] gonzaloebiz commented on #1066
No need to apply, the fix is already applied in the 10*.*.42
Yes, you can truncate the table

[2021-02-14 23:48] aaronhuang1 commented on #1066
Hi

thanks, indexing looks like working now, will let you know if I see any
issues, I will also update the comments

with error log build up quite quickly, already 83k log since 12-Feb

would be good to see below improvement

- Mailchimp errors (admin end not option to clear log)
https://prnt.sc/zj55m7
- Ecommerce configuration "Rest errors" not working https://prnt.sc/zj5fu3

Regards,

*Aaron Hua

[2021-02-16 13:57] #1102 closed, assigned to gonzaloebiz

[2021-02-22 20:43] jcarlosebizmarts opened #1106 "Problem with suscription"
Issue Description:

A Customer created and subscribed directly from Magento's Frontend appears as Blank under the Email Marketing Tab in the Mailchimp All Contacts.

Preconditions:

    1. Magento 2.4.2 with Sample Data Installed.
    2. mc-magento2 v102.3.42.
    3. M4M is Configured, Mailchimp and eCommerce are Enabled.

Steps to reproduce:

    1. Create an account on Frontend.
    2. Wait and

[2021-02-23 13:13] indykoning opened #1107 "Error table never getting cleaned up"
# Issue reporting guidelines

To maintain an effective bugfix workflow and make sure issues will be solved in a timely manner we kindly ask reporters to follow some simple guidelines.

Before creating an issue, please do the following:

* Make sure the behavior you are reporting is really a bug, not a feature.
* Check the existing [issues](https://github.com/mailchimp/mc-magento2/issues) to make s

[2021-02-23 18:03] jcarlosebizmarts opened #1108 "Error with option "Magento always manage emails" in Mailchimp configuration"
Issue Description:

Magento seems to always send the emails of confirmation and welcome ignoring if the "Magento always manage emails" setting is either on yes or no.

Preconditions:

    1. Magento 2.4.2 with sample data installed.
    2. mc-magento2 v102.3.42.
    3. Mailchimp and Magento are configured with Double-opt in.
    4. Mailchimp has the option "Send a final welcome email" checked in.

[2021-02-24 03:43] insiteful commented on #1090
We're seeing this too. We also notice that:

- We could not Edit a customer account with an email account matching a newsletter_subscriber database table entry but with a customer_id=0.
- These customers could also not log in, reset their password, or place an order.
- As an emergency workaround, we deleted the newsletter_subscriber entry for the customer. We could then create a customer account w

[2021-02-24 07:28] Garde85 commented on #1090
Hi,

I don't know if It could help you, but i resolve this problem applying
this patch:

Index: src/vendor/mailchimp/mc-magento2/etc/events.xml
IDEA additional info:
Subsystem: com.intellij.openapi.diff.impl.patch.CharsetEP
<+>UTF-8
===================================================================
diff --git a/src/vendor/mailchimp/mc-magento2/etc/events.xml b/src/vendor/mailchimp/mc-magento2/etc

[2021-02-24 09:05] Jeroenll opened #1109 "Filled in Interest groups not visible in admin area"
## Issue Description

### Preconditions
1. Magento CE 2.3.4.
2. mc-magento2 102.3.42.

### Steps to reproduce
1. Setup audience with interest group.
2. Create customer account, subscribe to newsletter and fill in interest group in my account section.
3. Open customer in admin area and open mailchimp tab.

### Actual and Expected result
#### Expected result:
Interest groups are shown with values se

[2021-02-26 08:33] JoostWan opened #1112 "Ecommerce order send loop"
Version: `102.3.42`

When a order is synced with a product that don't exist anymore there is an error. No problem, because product is removed from store so the error is no problem in this case.

But the order is synced every 5 minutes again with the same error. So the table `mailchimp_errors` is getting very big.

The function `_getModifiedOrders` must need a check for the amount in column `mailch

[2021-02-26 10:46] JoostWan opened #1113 "Wrong Website ID used because of different store id"
In our case the store_id is different than the website_id. In this code you set the website_id with the store_id and that's wrong.

https://github.com/mailchimp/mc-magento2/blob/develop-2.3/Helper/Data.php#L778

In the same function the customer is loaded. But with the wrong website_id. In our case the customer has country Germany. And that's not enabled for the wrong website_id.

https://github.c

[2021-02-26 10:55] JoostWan commented on #1084
We have (i think) the same issue; https://github.com/mailchimp/mc-magento2/issues/1113

[2021-02-26 11:51] #1113 closed, assigned to nobody

[2021-02-26 13:28] sedax90 commented on #1108
I think this problem could be related (and solved) with this: https://github.com/mailchimp/mc-magento2/issues/1089

[2021-02-27 11:53] insiteful commented on #1090
Garge85, this worked perfectly for us!
Thank you!

[2021-03-01 01:55] tschirmer opened #1114 "Installation error 102.3.41"
## Title

Installation error on Magento 2.3.6 @ Mailchimp module 102.3.41

## Issue Description

### Preconditions
1.  Magento CE 2.3.6 without sample data installed.
2. Composer install with 102.3.41
2. run install script:
[code]

### Steps to reproduce
This is quite buggy in reproduction. Something this works, and sometimes it doesn't, it appears like a race condition on the database.

our requi

[2021-03-01 12:46] gonzaloebiz commented on #1114
Hi @tschirmer

this is only possible if you a prior installation, thus is if you have an entry in the setup_module for the extension.
This way magento thinks you are updating the extension and not installing it.
So, be sure that you don't have an entry in setup_module

Best

[2021-03-01 12:46] #1114 closed, assigned to nobody

[2021-03-01 18:42] #1112 closed, assigned to gonzaloebiz

[2021-03-01 18:45] #1097 closed, assigned to gonzaloebiz

[2021-03-02 09:40] denis-zyk commented on #1089
Hi @sedax90,

I was wondering what is the plan on adding the changes mentioned here to a new module release?

[2021-03-02 15:36] shinesoftware commented on #1090
We can confirm the fix @Garde85
@roberto-ebizmarts please push it in the next release! thanks

[2021-03-02 16:08] jonathanribas commented on #1086
We are actually having 502 errors due to https://github.com/mailchimp/mc-magento2/pull/1080/files, we have disabled  `newsletter_subscriber_save_before` event.

[2021-03-03 05:28] tschirmer commented on #1114
Hey @gonzaloebiz

This was after a fresh database installation (drop database, create database).

Thanks,
Tony

[2021-03-03 14:06] gonzaloebiz commented on #1108
Please take a look at https://github.com/mailchimp/mc-magento2/issues/1089

[2021-03-03 14:06] #1108 closed, assigned to nobody

[2021-03-04 15:01] #1089 closed, assigned to gonzaloebiz

[2021-03-04 15:06] gonzaloebiz commented on #1106
Please take a look at https://github.com/mailchimp/mc-magento2/pull/1120

Best

[2021-03-04 15:06] #1106 closed, assigned to gonzaloebiz

[2021-03-04 17:23] #1103 closed, assigned to gonzaloebiz

[2021-03-05 15:36] #1107 closed, assigned to gonzaloebiz

[2021-03-09 18:27] artttj commented on #1089
Hi @gonzaloebiz,

I assume the issue with double opt-in (#1108) is resolved now, isn't it?
When to expect a new release?

[2021-03-09 18:32] gonzaloebiz commented on #1089
Hi @artttj

yes, the issue is solved.
We don't have an ETA for a new release, sorry

Best

[2021-03-10 16:47] artttj commented on #1089
Hi @gonzaloebiz,

We pulled the code straight from [develop-2.4](https://github.com/mailchimp/mc-magento2/tree/develop-2.4) branch (Magento 2.4.1 Commerce).

Now we receive a double opt-in email from Mailchimp, both during registration and via subscription form.
Which is great!

BUT then, once customer confirms their email (`Require Emails Confirmation` -> `Yes` in `Customer Configuration`, double

[2021-03-11 11:38] kkazadi opened #1129 "Subscibers List Import from CSV do not sync to Magento 2"
## Issue Description

### Preconditions
1. Magento CE 2.3.4
2. Mailchimp v102.3.42

### Steps to reproduce
1. Setup Mailchimp module in Magento backend with Stores and API keys
2. Setup Audience with tags.
3. Import subscriber list from CSV
4. Imported subscribers appear in Mailchimp audience list

### Expected result
Audience List to sync to Magento Newsletter list including imported subscribers

[2021-03-11 12:37] gonzaloebiz commented on #1129
Hi @kkazadi

thanks for your feedback.
Is your site public?  Keep in mind that the webhooks works only for public and not protected sites.
The best option is to delete the existing webhook in Mailchimp and create a new one from the extension configuration page, you have a button for this.
![image](https://user-images.githubusercontent.com/6222792/110788400-52e89900-824d-11eb-9ed3-0160ceac171e.png)

[2021-03-11 15:44] barryvdh commented on #962
Did you find an issue for this?

[2021-03-15 09:52] seansan opened #1130 "How does migration from M1 to M2 work? is there a guide? tips tricks?"
## Title

How does migration from M1 to M2 work? is there a guide? tips tricks?

Can you add this to the readme file?

## Issue Description

We dont know how to migrate from M1 to M2

### Preconditions

Magento 1.9.4.x

### Steps to reproduce

No steps yet, because this is the question?

[2021-03-15 11:52] gonzaloebiz commented on #1130
the extension doesn't support migration, you must re-sync all the data

Best

[2021-03-15 11:52] #1130 closed, assigned to nobody

[2021-03-15 11:57] seansan commented on #1130
There are no fields to migrate? UUID or?

And if we connect m2 to the same list will this work?

Sorry the answer is a little too short.

On Mon, 15 Mar 2021 at 12:52, Gonzalo Dominguez ***@***.***>
wrote:

[2021-03-15 12:17] gonzaloebiz commented on #1130
We don't recommend using the same audience
You must create a new Mailchimp store, because in Mailchimp the store contains the version of magento.
If you use the same audience for the Mailchimp store, all the subscribers will be rejected as already subscribed.

Best

[2021-03-15 12:19] seansan commented on #1130
Wow! this sounds rather dangerous

- MC may contain emails that M1 does not?
- and many flows have been set up in MC ... "just" making a new audience
for every store ... sounds like dangerous and a lot of work!

thanks, Sean

On Mon, Mar 15, 2021 at 1:17 PM Gonzalo Dominguez ***@***.***>
wrote:

[2021-03-15 12:22] gonzaloebiz commented on #1130
why dangerous?

[2021-03-15 12:25] seansan commented on #1130
What about recording the steps somewhere to avoid problems? I can only
assume that many have already migrated etc. and that knowledge on this
subject is available. Especially by Ebizmarts! ;)

On Mon, Mar 15, 2021 at 1:22 PM Gonzalo Dominguez ***@***.***>
wrote:

[2021-03-16 08:36] kkazadi commented on #1129
Hi @gonzaloebiz

Thank you for your prompt feedback.
The website is public and not protected,
I have deleted the existing webhook from MC and re-created it from Magento backend Mailchimp configuration as suggested but still not syncing imported subscribers from Mailchimp to Magento. Not sure what else to do here or if the imported subscribers are supported or expected to be synced back to Magneto?

[2021-03-17 12:10] gonzaloebiz commented on #1129
Please contact our support by email at mailchimp@ebizmarts-desk.zendesk.com to help you

[2021-03-17 12:10] #1129 closed, assigned to nobody

[2021-03-24 02:51] neulhoangtran opened #1131 "Mailchimp not sync after upgrade magento version"
Hi Team.
I got an issue after completed upgrading magento version from magento 2.3.3 to magento 2.4.2
it thrown errow in mailchimp log : https://prnt.sc/10tx8rl
and it can't sync: https://prnt.sc/10tx9mp
Can everybody tell me why it occur and how to fix it? Thanks alot!

[2021-03-24 11:09] gonzaloebiz commented on #1131
Hi @HoangTN96

thanks for choosing our extensions.
Please contact our support team.

Best

[2021-03-24 11:09] #1131 closed, assigned to nobody

[2021-03-25 14:10] Juan-ebizmarts opened #1132 "Missing 'type' property on response prevents ecommerce syncing"
There are cases in which the properties 'type' or 'title' are not included on the MailChimp response. For example:

{
    "title": "Member In Compliance State",
    "status": 400,
    "detail": "$email is already a list member in compliance state due to unsubscribe, bounce, or compliance review.",
    "instance": ""
}

That triggers the below error:

Error with a response: Notice: Undefined proper

[2021-03-25 17:20] neulhoangtran commented on #1131
Hi @gonzaloebiz
How i can contact with them ?
Awaiting your reply!

[2021-03-25 17:36] gonzaloebiz commented on #1131
Look at the home page of the extension

![image](https://user-images.githubusercontent.com/6222792/112517757-73e5d980-8d77-11eb-8d1a-951be2554b44.png)

[2021-03-26 12:13] gonzaloebiz opened #1134 "Only fetch specific columns from sales_order"
Select only the necessary fields in https://github.com/mailchimp/mc-magento2/blob/develop-2.3/Model/Api/Order.php#L562-L566
Look at https://github.com/mailchimp/mc-magento2/pull/1133

Thanks @mpchadwick

[2021-03-26 13:05] #1134 closed, assigned to gonzaloebiz

[2021-04-13 12:08] clinton-origin commented on #1090
I am sorry this is a massive issue that has caused my company many lost hours! It is absolutely shocking this hasn't been fixed yet after many months. I appreciate it's a free plugin but it is from a company we are PAYING to use!
Please get this patched ASAP as it' will take seconds!!

[2021-04-13 14:01] SantiParagarino opened #1140 "Ignore modified items when flagging store as synced"
### Preconditions

M4M2 release .42
Any Magento version.

### Steps to reproduce

1. Create a cron job that modifies items every 5 minutes
2. Start syncing the store

### Actual result

Store never ends initial sync

### Expected result

Initial sync finishes as soon as all the items are sent for the first time

[2021-04-13 14:26] #1140 closed, assigned to gonzaloebiz

[2021-04-13 14:52] #1090 closed, assigned to gonzaloebiz

[2021-04-13 15:46] #1132 closed, assigned to nobody

[2021-04-16 15:34] marcosebizmarts opened #1152 "errors in cron related to ebizmarts_webhooks"
## Title

errors in cron related to ebizmarts_webhooks

### Preconditions:

    1. Magento 2.3.2
    2. mc-magento2 102.3.42

### Steps to reproduce

"Not sure but seems like sometimes the field categories is not in Mailchimp request

### Actual and Expected result

Warning: Invalid argument supplied for foreach() in /home/bibentes/public_html/vendor/mailchimp/mc-magento2/Cron/Webhook.php on line

[2021-04-16 16:42] #1152 closed, assigned to SantiParagarino

[2021-04-29 20:27] jcarlosebizmarts opened #1157 "Issue with "Magento Always Manage Emails" when Unsubscribing from a Customer Account"
## Issue Description

When unsubscribing a Customer from the Frontend Account the email sent is always a Magento Email, even when disabling the "Magento Always Manages Emails" setting.

### Preconditions

    1. Magento 2.3.6-p1
    2. mc-magento2 develop-2.3 branch.
    3. Magento Always Manage Emails disabled

### Steps to reproduce

    1. Login to your Already Subscribed Magento Account
    2.

[2021-05-04 16:05] lamasfoker commented on #1086
I am digging in this but I think it is related with the way the unsubscription is handled. If the customer is deleted then it is not possible to re-add he/she with the API. See the [docu](https://mailchimp.com/help/delete-contacts/#Archive_vs._Remove) or [this](https://stackoverflow.com/questions/52198510/mailchimp-resubscribe-a-deleted-member-causes-the-api-to-return-a-400-bad-reques) answer.

[2021-05-04 19:15] #1157 closed, assigned to gonzaloebiz

[2021-05-05 18:21] blaurienti opened #1161 "Typo in events.xml"
I found an issue in app/etc/events.xml on line 27

<observer name="'mailchimp_newsletter_subscriber_save_before" instance="\Ebizmarts\MailChimp\Observer\Subscriber\SaveBefore" />

There's a single quote in the name attribute.

[2021-05-05 18:29] #1161 closed, assigned to nobody

[2021-05-05 18:30] gonzaloebiz commented on #1161
Take a look at https://github.com/mailchimp/mc-magento2/issues/1102

[2021-05-06 12:38] barryvdh opened #1162 "Missing indexes on mailchimp_errors"
There are no MySQL indexes on the mailchimp_errors table. Because the errors are loaded for each order, and the error are not cleared, this is a heave performance hit.

For example, this query is run for each order:

[code]

As you can see, no index is used on this table with 4 million records and the order page is very slow.

If you add an index on those fields:
[code]

The result is using the in

[2021-05-06 16:53] #1162 closed, assigned to gonzaloebiz

[2021-05-06 16:54] gonzaloebiz commented on #1162
Hi @barryvdh thanks for your contribution

Best

[2021-05-11 19:34] gonzaloebiz opened #1167 "Mark products as modified when use import products from the admin"
When using the import feature
![image](https://user-images.githubusercontent.com/6222792/117873893-ae97c880-b276-11eb-801f-ae25cc77f7de.png)
the product is not marked as modified in the e-commerce table

[2021-05-12 13:23] #1167 closed, assigned to gonzaloebiz

[2021-05-14 16:34] kestraly opened #1172 "Unsubscribed Customers Sent To Mailchimp"
Magento 2.3.6-p1
MC version - 102.3.42

**Expected Behaviour**
Customer places an order as a guest without subscribing to the newsletter. _no sync with MailChimp is performed._
Customer creates an account, but does not subscribe to newsletter. _no sync with MailChimp is performed._

**Current Behaviour**
Customer places an order as a guest without subscribing to the newsletter, _customer is syncro

[2021-05-14 17:41] gonzaloebiz commented on #1172
The customer is created in mailchimp as a customer (not as a subscriber)
All orders must be linked to a customer in Mailchimp, no matter if the customer is subscribed or not

Best

[2021-05-14 17:41] #1172 closed, assigned to nobody

[2021-05-14 18:05] #1084 closed, assigned to gonzaloebiz

[2021-05-14 18:53] stjohnkrog11 opened #1177 "Mailchimp not working"
I have downloaded the latest version from adobe and done a manual install, run setup:upgrade and i am getting the following:

Warning: DOMXPath::query(): Invalid predicate in /Users/stjohn/Projects/client/vendor/magento/framework/Config/Dom.php on line 336

I have tried multiply ways of fixing this and getting no where with it.

Any help or guidance would be amazing!

[2021-05-14 19:48] gonzaloebiz commented on #1177
Please use the issue format

[2021-05-14 19:48] #1177 closed, assigned to nobody

[2021-05-17 08:40] stjohnkrog11 commented on #1177
Thank you for the help. I will do it again.

[2021-05-19 17:26] gonzaloebiz opened #1179 "The product image url don't contain the secure url if Use Secure URLs on Storefront is ON"

[2021-05-19 18:09] #1179 closed, assigned to gonzaloebiz

[2021-05-26 20:10] gonzaloebiz opened #1184 "Add a button in the admin to resync all products"

[2021-05-27 13:58] #1184 closed, assigned to gonzaloebiz

[2021-05-28 13:08] Wutzl opened #1189 "Magento DOI confirmation mail sent although "Magento always manage emails" set to "no""
### Preconditions

    1. Magento CE 2.3.6-p1
    2. Mailchimp v102.3.41
    3. New Customers have to confirm their registration (Magento's "Require Emails Confirmation" at config section "Create New Account Options" is set to yes.)

### Steps to reproduce

"Magento always manage emails" is set to no in the magento backend configuration of the module, so that the email to confirm your newsletter s

[2021-05-31 18:11] gonzaloebiz commented on #1189
Hi @Wutzl

take a look at https://github.com/mailchimp/mc-magento2/issues/1106
For magento  2.3.6-p1 you must use the branch corresponding to 2.4

Best

[2021-05-31 18:11] #1189 closed, assigned to nobody

[2021-06-02 15:19] ryanpalmerweb opened #1190 "Magento 2.3 - Endless loop in latest version when creating new customer who is already subscribed to newsletters"
The latest release breaks when you subscribe a customer using the newsletter signup form, and then try and sign up as a customer using the same email query

The following query gets stuck in a loop and eventually causes a lock wait timeout

I can see that the Ebizmarts module calls the following function in vendor/mailchimp/mc-magento2/Observer/Subscriber/SaveBefore

`$subscriberOld = $factory->lo

[2021-06-02 18:43] gonzaloebiz commented on #1190
Please take a look at https://github.com/mailchimp/mc-magento2/issues/1090

Best

[2021-06-02 18:43] #1190 closed, assigned to nobody

[2021-06-02 21:31] gonzaloebiz opened #1191 "Exclude the bundle and grouped products for the product collection"
When makes the collection of products in the Api/Product class for new products, if the filter to exclude the grouped and bundle products doesn't exist, then a bubble effect happens the firsts products returned are not synced, and at some time only grouped and bundle products are returned.

[2021-06-02 21:33] gonzaloebiz opened #1192 "Change the low value for date sync to a valid one"

[2021-06-03 13:13] #1192 closed, assigned to gonzaloebiz

[2021-06-03 13:13] #1191 closed, assigned to gonzaloebiz

[2021-06-04 03:47] xeontcs opened #1204 "Error retrieving the response of a batch from mailchimp"
Magento 2.4.2
PHP 7.4.18
MailChimp latest version installed  "version": "103.4.43",

In the  MalChimp.log we have,

[2021-06-04 03:40:08] MailChimpLogger.INFO: Deprecated Functionality: Invalid characters passed for attempted conversion, these have been ignored in /var/www/vhosts/domain.tld/httpdocs/vendor/magento/framework/Archive/Tar.php on line 450
 [] []
[2021-06-04 03:40:08] MailChimpLogger.I

[2021-06-07 07:53] hostep opened #1205 "Confused about which version to install on Magento 2.3.7"
## Issue Description

Release https://github.com/mailchimp/mc-magento2/releases/tag/102.3.43 says:

However https://github.com/mailchimp/mc-magento2/releases/tag/103.4.43 says:

That's part one of the confusion.

Part two is that [103.4.x](https://github.com/mailchimp/mc-magento2/blob/103.4.43/composer.json#L27) has this constraint:

[code]

Which means it can't be installed on Magento 2.3.x

So t

[2021-06-07 13:44] gonzaloebiz commented on #1205
Hi @hostep

thanks for your feedback.
Take a look at the new release https://github.com/mailchimp/mc-magento2/releases/tag/103.4.43

Best

[2021-06-07 13:44] #1205 closed, assigned to nobody

[2021-06-07 15:25] hostep commented on #1205
Thanks @gonzaloebiz! I can install 103.4.43 on Magento 2.3.7 now!

But did you now just re-release 103.4.43 with different code then before? You can never do that!
People who already had installed the previous 103.4.43 version will get very confused why a "newer" version is suddenly released with different code but the same version. This new version should have been published as 103.4.44 I think!

[2021-06-07 15:30] hostep commented on #1205
And another big problem!

Running `bin/magento setup:di:compile` on Magento 2.3.7 with 103.4.43 of this module gives this error:

[code]

This class was introduced in Magento 2.4.0: https://github.com/magento/magento2/blob/2.4.0/lib/internal/Magento/Framework/View/Helper/SecureHtmlRenderer.php
And doesn't exist yet in Magento 2.3.7: https://github.com/magento/magento2/blob/2.3.7/lib/internal/Magen

[2021-06-08 01:26] FBXWEB opened #1207 "Magento 2.3 - Mailchimp is not savind Interest Group on Success Checkout Page"
### Preconditions

    1. Magento CE 2.3.2 without sample data is installed.
    2. mc-magento v102.3.43
    3. PHP 7.2
    4. Interest Group created on Mailchimp Dashboard, and is showed in Magento Admin (maichimp configurations)
    ...

### Steps to reproduce
1 - Install Mailchimp following the instructions on Mailchimp Releases Page to find the right version to Magento 2.3.2:
https://github.co

[2021-06-08 12:36] pascal-novatize opened #1208 "Unable to create a new Mailchimp Store in admin"
### Preconditions

1. Magento 2.3.5-p2
2. Module mc-magento2 102.3.42 (Should also be reproducible in other releases)
3. The base configuration of the mc-magento2 module has been done in Magento admin. This means enabling the module and putting your API key.

### Steps to reproduce

1. Login to Magento admin.
2. Navigate to "Mailchimp Stores" page.
3. In my case, I had no previous store created (I

[2021-06-08 15:22] gonzaloebiz commented on #1205
Hi @hostep

take a look at this version https://github.com/mailchimp/mc-magento2/releases/tag/103.2.43-p1

Best

[2021-06-08 17:40] gonzaloebiz commented on #1208
Hi @pascal-novatize

thanks for pointing that.
I've tested the use case and works ok for me. (in fact we have more than 650k installations and works ok)
No matter this, is interesting so i'm asking if the protected $_helper in the vendor/magento/module-backend/App/AbstractAction.php class and the protected $_helper in the https://github.com/mailchimp/mc-magento2/blob/develop-2.3/Controller/Adminht

[2021-06-08 18:13] pascal-novatize commented on #1208
Hi @gonzaloebiz

Thank you for taking the time to check my issue.

In the example given, both variables `$obj` and `$obj2` represents completely different and independent objects. It's normal that their properties have different values.
So I don't think your example reflects the situation I was describing.

The class `\Ebizmarts\MailChimp\Controller\Adminhtml\Stores` inherits the abstract class `\

[2021-06-08 19:59] gonzaloebiz commented on #1208
Weird, in my tests all work OK, even without any predefined store (and i already say, we have more than 650k installations, which is so weird) I'm not saying that your point is wrong, but I'm trying to understand if we have an issue and if this is the case why is working in 650k installations, I know that the easy way is to rename the variable but I'm trying to understand the problem.

What versio

[2021-06-08 20:03] hostep commented on #1205
Thanks @gonzaloebiz, I'll try it out later this week.

But your constraints are still very wrong because `102.0.6-p1||>=102.0.7` will allow version 999.999.999 as well, which is probably not desired?

[2021-06-09 12:16] pascal-novatize commented on #1208
I'm running on PHP 7.2.29, with nginx 1.16.1.

I agree with you that this is really weird. I'm able to reproduce my issue on my production server, but not on my local environment. One of the difference between those environnement is the Magento mode used. Maybe this issue can only reproduced using 'production' mode with Magento.

I'll have to try that later today.  I'll report back when I have mor

[2021-06-09 13:25] gonzaloebiz commented on #1208
Hi @pascal-novatize

i just try with production mode and works ok.
Also try with php 7.2.34 and works ok.
do you have some extra extension in your production server?

[2021-06-09 15:39] gonzaloebiz commented on #1207
Hi @FBXWEB

i just re-tested and works like a charm
You need to have the magento cron configured and running because the groups are synced by the cron.

Best

[2021-06-09 15:39] #1207 closed, assigned to nobody

[2021-06-09 18:38] sorwarh opened #1209 "Compatibility mc-magento2 103.4.43 with Slider Revolution Responsive Magento Extension 6.2.15"
## Compatibility  mc-magento2 103.4.43 with Slider Revolution Responsive Magento Extension 6.2.15
Hello

Slider Revolution Responsive Magento Extension is a magento 2 module that renders custom sliders.

Slider Revolution 6.2.15  works correctly  with mc-mailchimp 102.3.41

Updating the mc-mailchimp to 103.4.43 .
I get a JavaScript error that makes the Slider Revolution module not work correctly (

[2021-06-09 19:45] gonzaloebiz commented on #1209
Hi @sorwarh

thanks for choosing our extensions.
I don't see any error with our extension in your description, I see errors with setREVStartSize that I suppose is a variable from the other extension. I think you must contact the developers of the other extension.
Anyway, the extension is a paid one and I can't test it.
Really sorry. Let me know if you need some help at our end.

Best

[2021-06-10 04:30] gonzaloebiz commented on #1208
Hi @pascal-novatize

can you try installing the dev-Issue1208-2.3 version? run:

`composer require mailchimp/mc-magento2:dev-Issue1208-2.3
`
Let me know if this version works for you

Best

[2021-06-10 10:15] sorwarh commented on #1209
Hi @gonzaloebiz  how are you.

It could be an internal error of your plugin.

I have the Slider Revolution module in other Magento 2.4.2 with mc-mailchimp 102.3.41 and it works correctly but with mc-mailchimp 103.4.43 it doesn't work.

If I deactivate the mailchimp module, that JavaScript error no longer appears.

I can prepare an environment for you to review.
Waiting for your answer.

Kind regar

[2021-06-10 10:58] gonzaloebiz commented on #1209
Hi @sorwarh

we have only 1 js in the frontend, this js is this https://github.com/mailchimp/mc-magento2/blob/develop-2.4/view/frontend/web/js/campaigncatcher.js, and as you can see the last modification is from the 27 Aug 2020 related to this issue https://github.com/mailchimp/mc-magento2/issues/1034, this issue as you can see is included in version 10x.x.41 (the same version that you have and wo

[2021-06-10 11:40] pascal-novatize commented on #1208
Hi @gonzaloebiz

Sorry, I didn't had time yesterday to answer your previous question. Yes, we have many other extensions installed on our Magento. I don't think they would interfere with the admin Controllers of the Mailchimp module.

Thank you for the fix, I will install it on my production server later today and report back.

[2021-06-10 12:14] sorwarh commented on #1209
Because before updating the module, that JavaScript error does not appear.

I have checked the module, I have seen that you have changed **/view/frontend/templates/mailchimpjs.phtml** You instantiate the SecureHtmlRenderer in the Mailchimpjs block and make a call to a function that doesn't quite render correctly.

`echo $render->renderTag('script',['type'=>'text/javascript','src'=>$url],'',false);

[2021-06-10 12:49] pascal-novatize commented on #1208
Hi @gonzaloebiz

I was able to test your patched version, earlier than expected, on my production server. I can confirm that I was able to create a new Mailchimp store with your fix.

I'm still not sure why others don't have the same issue.

Thank you for the fix.

[2021-06-10 13:52] gonzaloebiz commented on #1209
Hi @sorwarh

can you send me an email to our support  mailchimp@ebizmarts-desk.zendesk.com mentioning the issue with your store URL to take a look?

Best

[2021-06-10 14:23] #1208 closed, assigned to nobody

[2021-06-10 14:32] gonzaloebiz commented on #1208
Thanks @pascal-novatize for your contribution

[2021-06-11 12:32] #1209 closed, assigned to gonzaloebiz

[2021-06-14 12:57] AfreenScarlet commented on #498
is there any patch available for this fix.

[2021-06-16 06:39] webkeonsanjeev opened #1215 "After install setup_version="103.4.43" show Impossible to process constructor argument Parameter #7 [ <required> Mailchimp $api ] of Ebizmarts\MailChimp\Helper\Data class"
Hi Team,

I am using magento version 2.4.2 and installed all files in app/code/Ebizmarts/MailChimp/ location when when I run php bin/magento setup:upgrade command it show below error.
Impossible to process constructor argument Parameter #7 [ <required> Mailchimp $api ] of Ebizmarts\MailChimp\Helper\Data class
![image](https://user-images.githubusercontent.com/6489135/122169991-afd29b80-ce9b-11eb-9

[2021-06-16 07:41] kerlama opened #1216 "Could not find package mailchimp/mc-magento2 in a version matching 102.3.43-p1"
I think the title is self explanatory.

[2021-06-16 11:37] gonzaloebiz commented on #1215
Hi @webkeonsanjeev

take a look at https://github.com/mailchimp/mc-magento2/blob/develop-2.4/composer.json#L28
You need to install the ebizmarts/mailchimp-lib

Best

[2021-06-16 11:37] #1215 closed, assigned to nobody

[2021-06-16 14:28] gonzaloebiz opened #1217 "Avoid duplicate entries in the stores grid"
If you set 2 or more apikeys for the same Mailchimp account, when you access the stores grid, duplicate stores are showed

[2021-06-16 14:56] #1217 closed, assigned to nobody

[2021-06-16 15:17] gonzaloebiz commented on #1216
Sorry but i don't understand, magento doesn't have a version 102.3.43

[2021-06-16 15:17] #1216 closed, assigned to nobody

[2021-06-17 08:03] kerlama commented on #1216
Not sure why you closed this ticket. I am talking about:
composer require mailchimp/mc-magento2:102.3.43-p1

when I do that, I am getting the message from the ticket title
http://prntscr.com/15oqd24

[2021-06-17 10:25] hostep commented on #1205
@gonzaloebiz: any thoughts on this constraint? Do you agree it's not correct and should be reworked in the next version?

[2021-06-17 12:07] gonzaloebiz commented on #1205
Hi @hostep

yes, we will fix it in the next version

Best

[2021-06-17 17:07] gonzaloebiz commented on #1216
can you try now?

[2021-06-22 11:23] KM-HM opened #1223 "Config Path leads to site wide Exception "A non well formed numeric value encountered""
# Issue Description

A config path stored in the Magento database table "core_config_data" leads to exception on admin and storefront right after cron job was run.

### Preconditions

    1. Magento CE 2.4.2-p1
    2. mailchimp/mc-magento2 version 103.4.43
    3. Single Store, **no** single store mode
    4. Existing Mail Chimp store with an id like "0daabac359722e58dba99ba5ba720bb3"

### Steps to

[2021-06-22 16:34] gonzaloebiz commented on #1223
Hi @kemexyz

i just try with Magento ver. 2.4.2-p1 version and Mailchimp v103.4.43 and work OK for me.
Modified the file vendor/magento/framework/App/Config/Scope/Converter.php and change the function

[code]
to see if the function fails and loads OK the path like mailchimp/general/issync/xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

What version of PHP are you using?

[2021-06-23 08:07] koenner01 opened #1224 "ImportAfter observer is throwing exceptions if the _store column is not present in the import data"
## Issue Description

When running a product import the \Ebizmarts\MailChimp\Observer\Adminhtml\Product\ImportAfter observer is assuming the "_store" column is always present in the data. This results in crashing the import due to the exception being thrown.

### Preconditions

1. CE 2.3.7
2. mc-magento2 102.3.43 (or up)

### Steps to reproduce

Run an import without the "_store" column in the pro

[2021-06-23 12:50] fabianaromagnoli opened #1225 "Self closing script tag breaks all pages rendering"
### Preconditions
1. Magento EE 2.4.2
2. mailchimp/mc-magento2 103.4.43
2. PHP 7.4
3. Chrome Version 91.0.4472.114

### Description
In `view/frontend/templates/mailchimpjs.phtml` you use the core method`\Magento\Framework\View\Helper\SecureHtmlRender\HtmlRenderer::renderTag`, but this method seems to always use self-closing if tag if there's no content, so that the script tag is rendered like this

[2021-06-23 15:02] minimit commented on #1225
There's a PR in magento https://github.com/magento/magento2/pull/33199

[2021-06-23 15:25] gonzaloebiz commented on #1225
Hi @fabianaromagnoli

take a look at this PR https://github.com/mailchimp/mc-magento2/commit/a80240f9a6abdf6a4c9979070a2965c27eeba774

Best

[2021-06-23 15:25] #1225 closed, assigned to nobody

[2021-06-24 10:10] KM-HM commented on #1223
Hi @gonzaloebiz,

thanks for checking. I have had this issue on PHP 7.3 with Magento 2.3 as well ass PHP 7.3 with Magento 2.4 (I just noticed I'm running the update on the wrong PHP Version, not really relevant as I had this with Magento 2.3.5 PHP7.3 as well).

I will check if there is any other setting that deviates from default.

[2021-06-24 11:07] leeroybrun opened #1226 "<script> tag in Block/Mailchimpjs rendered incorrectly since version 103.4 because of Magento bug"
## Issue description

Since installing the latest version of mc-magento2 for Magento 2.4 our website broke.

I've tracked the bug, and it seems to be linked to this Magento issue : https://github.com/magento/magento2/issues/32822

The change in mc-magento2 was introduced in this commit :

https://github.com/mailchimp/mc-magento2/commit/e19fa3f17dd9d14e1cc41f1b7afd8d4d10495fbc#diff-4e3812f9c7c55a0b

[2021-06-24 11:12] gonzaloebiz commented on #1226
Hi @leeroybrun

take a look at https://github.com/mailchimp/mc-magento2/commit/a80240f9a6abdf6a4c9979070a2965c27eeba774

Best

[2021-06-24 11:12] #1226 closed, assigned to nobody

[2021-06-24 11:18] leeroybrun commented on #1226
Hi @gonzaloebiz,

Great thank you !

In which composer version is it included?
I cannot seem to get this fix from composer.

[2021-06-24 11:21] gonzaloebiz commented on #1223
Perhaps if you can send me a ticket to our support email with all your magento configuration I can help you, I think some special store configuration is affecting you.

Best

[2021-06-24 11:24] gonzaloebiz commented on #1226
This fix will be available in the next version of the extension, we don't have an ETA for this but you always can install the develop version with compomer, run this command

composer require mailchimp/mc-magento2:dev-develop-2.4

Best

[2021-06-24 15:23] sijnc opened #1227 "Unable to composer require 102.3.43-p1"
Magento Community version 2.3.7
Composer version 2.1.3

# When running composer require mailchimp/mc-magento2:102.3.43-p1 the following message is displayed:
[code]

When running composer require mailchimp/mc-magento2 version 103.4.43 is installed, and according to the docs is not compatible with Magento 2.3.7

When running composer show mailchimp/mc-magento2 -a it returns the following available

[2021-06-24 17:01] gonzaloebiz commented on #1227
Hi @sijnc

as you can see in the image

![image](https://user-images.githubusercontent.com/6222792/123303722-7a116080-d4f4-11eb-98c0-dc74e9f671d2.png)

the package installs like a charm with composer 2.1.3 and magento 2.3.7

[2021-06-24 17:01] #1227 closed, assigned to nobody

[2021-06-25 15:10] gonzaloebiz opened #1228 "Change the echo with helper->log in https://github.com/mailchimp/mc-magento2/blob/develop-2.3/Observer/Adminhtml/Product/ImportAfter.php#L40"
https://github.com/mailchimp/mc-magento2/blob/develop-2.3/Observer/Adminhtml/Product/ImportAfter.php#L40 need to be changed with a helper->log()

[2021-06-25 19:46] #1228 closed, assigned to gonzaloebiz

[2021-06-29 16:38] onlyapproved opened #1234 "*Feature* - Avoid loading JS on frontend - Send order data by API for processing status"
This is a feature request.

for avoiding an overload of JS loaded on websites, it would be great to support a lighter implementation in M2.

even though the external JS is not large, it still causes external requests. my suggestion is to add functionality to e-commerce data is not tracked in real-time on the frontend, but instead sent by Cron post-order authoriize.

[2021-06-29 16:49] gonzaloebiz commented on #1234
What do you mean with "to add functionality to e-commerce data is not tracked in real-time on the frontend"?
The js p.e. display the popup that you define for your audience, so, we can't remove the js

[2021-06-30 12:29] gonzaloebiz commented on #1223
Closes the issue until have news

[2021-06-30 12:29] #1223 closed, assigned to gonzaloebiz

[2021-06-30 15:48] gonzaloebiz commented on #1224
Hi @koenner01

can you give us an example?

Best

[2021-06-30 16:02] hostep commented on #1224
@gonzaloebiz, some csv file like this probably:

[code]

[2021-06-30 17:08] gonzaloebiz commented on #1224
I'm just install a new magento 2.3.7 with sample data.
![image](https://user-images.githubusercontent.com/6222792/124001730-5003e680-d9ab-11eb-9367-25d69afd0493.png)

Install the version v102.3.43-p1 of the extension
![image](https://user-images.githubusercontent.com/6222792/124001890-7e81c180-d9ab-11eb-8d65-6993f9a42e1b.png)

The use this csv to import a product

sku,attribute_set_code,product_ty

[2021-06-30 17:45] hostep commented on #1224
Strange, we saw your extension failing on [this line](https://github.com/mailchimp/mc-magento2/blob/102.3.43-p1/Observer/Adminhtml/Product/ImportAfter.php#L33). So in your case, the `_store` key exists in the array at the time you are trying to replicate the problem even if it doesn't exists in the csv file?

If you can't reproduce, I'll ask my colleague @koenner01 to double check again when he fi

[2021-06-30 18:11] gonzaloebiz commented on #1224
Hi @hostep

i see the issue that you say, but the issue doesn't stop the import, the product is imported OK.
We will upload a fix soon
Thanks for pointing that

Best

[2021-06-30 18:44] #1224 closed, assigned to gonzaloebiz

[2021-06-30 18:54] hostep commented on #1224
Excellent, thanks @gonzaloebiz!

[2021-07-01 18:09] #1204 closed, assigned to gonzaloebiz

[2021-07-05 13:28] #1234 closed, assigned to nobody

[2021-07-08 13:13] barryvdh commented on #1226
You can install the patch with the composer-patches module; https://github.com/mailchimp/mc-magento2/commit/a80240f9a6abdf6a4c9979070a2965c27eeba774.diff
But a new release would be helpful. In this case it broke our autocomplete, but could be any script that comes after this.

[2021-07-09 12:15] akosglue opened #1241 "token parameter is incorrect in abandoned cart email in the cart url"
## Issue Description

### Preconditions

You have received an abanoed cart emial from mailchimp.
In the email you can find a link to the magento shop, that is something like:
www. .../mailchimp/cart/loadquote/id/.../token/...

### Actual and Expected result

The token parameter is in some cases incorrect. The id parameter is correct. Some users receive the url with the correct token, some user get

[2021-07-09 14:24] barryvdh opened #1242 "Deleting error records causes database lockup"
## Title
Deleting error records causes database lockup

## Issue Description

The mailchimp_error table is very big in our case (around 2 million records with recent errors). The deleting in the cron never finishes. This was especially a problem when the fix was applied to actually delete the records (see https://github.com/mailchimp/mc-magento2/issues/1107), with over 20 million records needed to

[2021-07-13 07:30] barryvdh commented on #1226
Can you please release a new version. This issue is breaking websites in a weird way, which makes it hard to track down.

[2021-07-14 12:23] leeroybrun commented on #1226
I also think that this is quite important to publish a new version with the fix soon... there are probably a lot of developers scratching their heads right now trying to figure out why their website is completely broken. In our case all of our Javascript was broken because of this and as @barryvdh said, it is quite hard to track down.

[2021-07-14 19:14] #1242 closed, assigned to gonzaloebiz

[2021-07-14 19:45] gonzaloebiz opened #1249 "Typo at https://github.com/mailchimp/mc-magento2/blob/develop-2.3/Model/Api/Order.php#L29"

[2021-07-15 12:42] #1249 closed, assigned to gonzaloebiz

[2021-07-15 13:55] #974 closed, assigned to nobody

[2021-07-19 20:02] JesseMaxwell opened #1255 "Javascript escaping too aggressive; prevents body attributes"
The recent security update in version 103.4.43 escapes the script tag too much in: `view/frontend/templates/mailchimpjs.phtml`. It causes a somewhat subtle problem where `<body/>` attributes are not correctly rendered in the DOM.

This is what the script looks like (ID's replaced with `1111111111`):
[code]

### Context:

* Magento 2.4.2-p1
* Module version: 103.4.43
* Problem introduced in commit:

[2021-07-19 20:41] JesseMaxwell commented on #1255
Patch in case it's helpful to someone (can be installed with `cweagans/composer-patches`):

[code]

[2021-07-20 15:42] matthewbrown62 commented on #1255
I am having this issue as well. Applied the patch and it solved the issue.

[2021-07-21 17:49] pioneerathletics opened #1261 "v103.4.43 Update Changes Photo Gallery and Category Page"
# Issue reporting guidelines

## Title – v103.4.43 Update Changes Photo Gallery and Category Page

## Issue Description

### Preconditions

    1. Magento CE 2.4.2-p1
    2. PHP 7.4
    3. MySQL 5.7
    2. Updated to v103.4.43 from v102.3.42

### Steps to reproduce

    1. Updated to v103.4.43 from v102.3.42

### Actual and Expected result

    Expected result:
  Product photo gallery and category

[2021-07-21 20:27] gonzaloebiz commented on #1261
Hi @pioneerathletics

please take a look at https://github.com/mailchimp/mc-magento2/issues/1209

Best

[2021-07-22 10:37] riccardofinkers commented on #1261
I can confirm the same issue.

The issue is that after the update de body HTML tag doesn't have the right attributes and body classes anymore so therefor CSS elements break that where made on those body classes.

[2021-07-22 10:55] riccardofinkers commented on #1261
@pioneerathletics the awnser is in ticket #1255 I have resolved this issue by editing the mailchimpjs.phtml :)

[2021-07-22 11:03] gonzaloebiz commented on #1255
Hi @JesseMaxwell

please take a look at https://github.com/mailchimp/mc-magento2/issues/1209
This fix will be available in the next release.

Best

[2021-07-22 11:03] #1255 closed, assigned to nobody

[2021-07-22 11:43] gonzaloebiz commented on #1261
Apply this fix https://github.com/mailchimp/mc-magento2/commit/a80240f9a6abdf6a4c9979070a2965c27eeba774
The fix will be available un the next release

Best

[2021-07-22 11:43] #1261 closed, assigned to nobody

[2021-07-26 08:42] marceldekoning opened #1262 "Body classes not set when URL is provided in mailchimpjs.phtml"
**Preconditions:**
Magento 2.4.2

**Steps to reproduce**
1. Make sure you have your Mailchimp backend credentials filled in.
2. Make sure your mailchimp/general/mailchimpjsurl configuration is filled with an URL like: https://chimpstatic.com/mcjs-connected/js/users/...
3. Go to the frontend (for example category page). In my case all the body classes are gone and the head has an extra tag

`<scrip

[2021-07-26 11:27] gonzaloebiz commented on #1262
Hi @marceldekoning

please take a look at https://github.com/mailchimp/mc-magento2/issues/1209

Best

[2021-07-26 11:27] #1262 closed, assigned to nobody

[2021-07-26 11:50] PascalBrouwers opened #1263 "No index on column original_id in table mailchimp_errors causes order grid to become unresponsive"
## Title
No index on column original_id in table mailchimp_errors causes order grid to become unresponsive

## Issue Description
No index on column original_id in table mailchimp_errors causes order grid to become unresponsive because when the table grows this query becomes very slow:
```SELECT `mailchimp_errors`.* FROM `mailchimp_errors` WHERE (store_id = :store_id AND regtype = :regtype AND orig

[2021-07-26 11:51] PascalBrouwers commented on #1263
Please fix by adding an index on the column mailchimp_errors.original_id

[2021-07-26 12:01] PascalBrouwers commented on #1263
Ah, I see it's fixed in the latest version.

[2021-07-26 12:01] #1263 closed, assigned to nobody

[2021-07-27 06:18] alpesh475 opened #1264 "ebizmarts_ecommerce cron getting too much time"
Hi,

mailchimp ecomerce cron taking too much time to load around 15 mnt and cron getting suspended.
Can you please provide me fix for this.

[2021-07-27 13:17] gonzaloebiz commented on #1264
Please use the issue format

[2021-07-27 13:17] #1264 closed, assigned to nobody

[2021-07-27 19:09] AndyJAllen opened #1265 "compile error 2.3.7: "Class Magento\Framework\View\Helper\SecureHtmlRenderer does not exist""
![image](https://user-images.githubusercontent.com/19735797/127210665-b4e2c54e-fee2-40f5-9952-0677d7d6bdeb.png)

It spawns from file:
`/vendor/mailchimp/mc-magento2/Block/Mailchimpjs.php`

Installed with lines:
`"ebizmarts/mailchimp-lib": "*",
"mailchimp/mc-magento2": "*"`

Removing mailchimp lets Magento 2.3.7 compile.

[2021-07-27 19:12] gonzaloebiz commented on #1265
Please follow the issue guidelines

[2021-07-27 19:12] #1265 closed, assigned to nobody

[2021-07-27 19:25] AndyJAllen commented on #1265
The issue being conveyed seems pertinent to me? The file, which is pointed out, is generating an error, which is pointed out, on the Magento version during compile, which is pointed out, using latest version of the mailchimp code, indicated by version *.

The file pointed out is using a class in the constructor that doesn't exist in 2.3.7.

I guess consider this ticket an FYI...do as you will.

[2021-07-27 19:28] gonzaloebiz commented on #1265
If you don't fill the issue guidelines we can't reproduce your issue and can't help you.
What is your magento version? What version of mc-magento2 are you trying? What version of php are you using? What're steps you follow to install the extension?

Best

[2021-07-27 19:40] gonzaloebiz commented on #1265
The documentation for each version is pretty clear

![image](https://user-images.githubusercontent.com/6222792/127217254-a6f5e0a9-79b9-4a93-af65-82ab2d83dc63.png)

[2021-07-27 19:58] AndyJAllen commented on #1265
Thank you. I was expecting composer to satisfy the requirements.

[2021-07-27 20:05] gonzaloebiz commented on #1265
You are welcome, the next time be less pushy, and keep in mind the rules are there to help you

[2021-07-27 20:07] AndyJAllen commented on #1265
I can confirm that version works from your screenshot.

[2021-07-29 12:48] gonzaloebiz opened #1266 "Popup doesn't work in magento 2.4"
![image](https://user-images.githubusercontent.com/6222792/127494269-2c5c65aa-7aaf-45fc-aa4f-e736a9d94aa9.png)

![image](https://user-images.githubusercontent.com/6222792/127494409-dd45b5ea-550b-4a2d-83af-f070304dfb4d.png)

[2021-07-29 13:38] #1266 closed, assigned to gonzaloebiz

[2021-07-30 11:46] gonzaloebiz commented on #1241
Hi @akosglue

i'm trying to replicate your issue with mailchimp 101.2.43 but works ok, can you please try with mailchimp 101.2.43 or be more specific on how to replicate it.

Best

[2021-07-30 11:46] #1241 closed, assigned to gonzaloebiz

[2021-08-09 12:19] gonzaloebiz opened #1272 "Modify order totals to $0 when order is cancelled"
Mailchimp API expects the order totals to be 0 when an order is cancelled.

[2021-08-10 13:19] #1272 closed, assigned to gonzaloebiz

[2021-08-11 14:20] jdereus87 opened #1278 "Weltpixel font loader gets inserted into mailchimp javascript tag"
**Conditions**
Magento 2.4.2-p1
Mailchimp: 103.4.43
Weltpixel/FrontendOptions: 1.10.11 (part of Weltpixel_Pearl theme).

**Visual**
![Selection_999(137)](https://user-images.githubusercontent.com/48788831/129045531-b92a4041-f82f-4836-9eb0-8cf12e006219.png)

**Problem**
The script that loads google fonts for the pearl theme gets inserted into the mailchimp js tag, causing it to not load the theme f

[2021-08-11 14:24] gonzaloebiz commented on #1278
Hi @jdereus87

try applying this pr https://github.com/mailchimp/mc-magento2/commit/9e89f0c6b5f42845941ac28984de22c2a601cff4

Best

[2021-08-11 14:32] jdereus87 commented on #1278
@gonzaloebiz ill give it a try and will let you know the result. thanks for the quick response

[2021-08-11 14:40] jdereus87 commented on #1278
@gonzaloebiz your fix worked. Fonts are loaded again. Thank you.

[2021-08-11 14:45] #1278 closed, assigned to nobody

[2021-08-16 13:08] gonzaloebiz opened #1279 "Add option in the error grid to link to the register with error"
Today the only option is to download the response

![image](https://user-images.githubusercontent.com/6222792/129568062-d4c26528-3efb-44ae-81f9-f360766fb7a0.png)

Need to have an option to edit the register with error for customer, orders and products

![image](https://user-images.githubusercontent.com/6222792/129568512-2e64a823-dcd0-4360-84b8-e008295c077f.png)